{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-名片录力{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div align="center"><iframe src="{{ url | raw }}" width="970px" height="680px"></iframe></div>
{% endblock %}