        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand("_gathering") href="javascript:void(0);">抱团大作战</A>
                </TD>
            </TR>
            <TR height=4>
                <TD></TD>
            </TR>
        </TABLE>
        <TABLE id=child_gathering style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('jili_backend_activitygathering_getordertotal') }}" target=main>当月淘宝购入件数</A></TD>
            </TR>
            <TR height=4>
                <TD colSpan=2></TD>
            </TR>
        </TABLE>
