{% extends "JiliBackendBundle::base.html.twig"%}

{% block title %}
Taobao订单数量-201501月活动-{{ parent() }}
{% endblock %}

{% block body %}

{% include("JiliBackendBundle::session_notification.html.twig") %}
<div align="center">
    <table>
        {% if total is null %}
        <a href="{{ path('jili_backend_activitygathering_createordertotal')  }}">新建</a>
        {% else %}
        <tr><td>当前订单数量</td><td>{{ total }}</td></tr>

        <tr><td>&nbsp;</td><td>
                <a href="{{ path('jili_backend_activitygathering_editordertotal')  }}">更新</a>
        </td></tr>
        {% endif %}
    </table>
</div>
{% endblock %}

