{% extends 'WenwenFrontendBundle:Advertisement:base.html.twig' %}
{% block title %}{{ parent() }}任务体验{% endblock %}
{% block meta %}
<meta name="keywords" content="任务体验，做任务赚钱，做任务返现金" />
<meta name="description" content="任务体验为用户提供了多种赚钱渠道，可以通过任务大厅一和二做任务赢现金，还可以参加商家活动和在商家列表中选择自己喜欢的商家进行购物获得返利。" />
<meta name="title" content="91问问调查网 - 任务体验" />
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
	<div class="container">
        <div class="main-con center-block">
			<div class="main-con-experience">
				{% include 'WenwenFrontendBundle:Advertisement:_hallNavs.html.twig' %} 
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="tabCon offer99 center-block">
							<iframe src='#' style='width:1000px;height:1140px;' scrolling='auto' frameborder='no' border='0' allowTransparency='true'></iframe>
							<input type="hidden" value="{{ offer99_com.pid }}" id="pid">
							<input type="hidden" value="{{ app.session.get('uid') }}" id="userid">
							<div class="maintenance">
								<img class="img-responsive center-block" src="{{ asset('assets/img/frontend/questionnaire/normalface.png') }}" alt=""><br>
								<div class="con">系统正在维护中...<br>非常抱歉给您带来了不便。</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}