<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title"><a href="{{ fulcrum_user_agreement.url }}" class="open-link" target="_blank">F市场调查项目邀请函<span></span></a></div>
    <div class="proCon clearfix">
        <div class="proRow">不到1分钟 完成后隔天能收到大量300分以上的问卷</div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
	<div class="rewardPoint pull-left"><i>1</i>积分</div>
	<div class="survey-btn"><a href="{{ fulcrum_user_agreement.url }}" class="open-link" target="_blank">可回答</a></div>
</div>
