<div class="survey-item">
    <div class="title">
        {% if profiling.title|length > 35 %}
            {{ profiling.title[:35] }}...
        {% else %}
            {{ profiling.title }}
        {% endif %}
    </div>
    <ul class="con clearfix">
        <li class="first">
            <span>问卷编号</span>
            <p>{{ profiling.name }}</p>
        </li>
        <li>
            <span>问卷类型</span>
            <p class="ltGreen2" title="用于判断您的基本属性，以便发送适合您的商业问卷">属性问卷</p>
        </li>
        <li>
            <span>回答期限</span>
            <p>--</p>
        </li>
        <li class="last">
            <p><strong>1</strong>积分</p>
        </li>
    </ul>
</div>
<div class="survey-btn"><a href="{{ profiling.url }}" class="open-link" target="_brank">可回答</a></div>