<div class="survey-item proItem col-m-12">
    <div class="title proTit">
        属性问卷<span class="proTag">重要</span>
    </div>
    <div class="proCon clearfix">
            <div class="proRow">问卷编号：<span class="proNum">{{ profiling.name }}</span>每小题<i>1积分</i>，最多可得<i>135积分</i></div>
            <div class="proRow proSec"><i></i>回答属性问卷可以帮助您收到更多的高积分问卷哦！您填写的属性越多，高积分问卷收到的频率就越高。中途关闭，之后再打开可以继续回答。属性问卷每年都会更新一次。</div>
    </div>
</div>
<div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_brank">完善资料</a></div>
<div class="topTip hiddenPhone hiddenTablet"><span>获取更多问卷</span></div>