<div class="survey-item proItem col-m-12">
    <div class="title proTit">
        <a href="{{ profiling.url }}" class="open-link" target="_brank">属性问卷<span></span></a><span class="proTag">重要</span>
    </div>
    <div class="proCon clearfix">
            <div class="proRow visibleDesktop visibleTablet hiddenPhone">问卷编号：<span class="proNum">{{ profiling.name }}</span>每小题<i>1积分</i>，最多可得<i>135积分</i></div>
            <div class="proRow visiblePhonePor visiblePhoneLan hiddenDesktop hiddenTablet">问卷编号：<span class="proNum">{{ profiling.name }}</span><br>每小题<i>1积分</i>，最多可得<i>135积分</i></div>
    </div>
</div>
<div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_brank">完善资料</a></div>
<div class="proSurPop hiddenPhone hiddenTablet" style="display: none;">
 	<p class="proText">回答属性问卷可以帮助您<span class="em">收到更多的高积分问卷</span>哦！您填写的属性越多，高积分问卷收到的频率就越高。属性问卷每人最多可回答135题，最少可回答60题，平均每人可以回答100题，因人而异！每小题1积分。中途关闭，之后再打开可以继续回答。属性问卷每年都会更新一次。</p>
 	<span class="proClose"></span>
 </div>
