<div class="survey-item proItem col-m-12">
    <div class="title proTit">
        <a href="{{ profiling.url }}" class="open-link" target="_brank">属性问卷<span></span></a>
    </div>
    <div class="proCon clearfix">
            <div class="proRow visibleDesktop visibleTablet hiddenPhone">问题编号：<span class="proNum">{{ profiling.name }}</span>每小题<i>1积分</i>，最多可得<i>135积分</i></div>
    </div>
    {% if answerableSurveyCount == 0 %}
    <div class="proNew visibleTablet hiddenPhone">
      <i class="fa fa-info-circle" aria-hidden="true"></i><span>请注意：认真回答此属性问卷，将会帮助您不断收到更多高积分问卷（每份问卷3元~10元不等）</span>
    </div>
    {% endif %} 
</div>
<div class="rewardPoint rewardPointNew"><i>135</i>积分</div>
<div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_brank">完善资料</a></div>
