<div class="survey-item">
    <div class="title">
        <a href="{{ path('wenwen_frontend_fulcrumprojectsurvey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_brank">海外调查问卷<span></span></a>
    </div>
    <ul class="con clearfix">
        <li class="first">
            问卷编号：f{{ fulcrum_research.survey_id }}
        </li>
        <li class="last">
            问卷类型：商业问卷
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ fulcrum_research.extra_info.point.complete }}</i>积分</div>
<div class="survey-btn"><a href="{{ path('wenwen_frontend_fulcrumprojectsurvey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_brank">可回答</a></div>