<div class="survey-item">
    <div class="title">
        {% if cint_research.is_answered == 1 %}
            海外调查问卷
        {% else %}
            <a href="{{ path('_cint_project_survey_information', {'cint_research': cint_research}) }}" class="open-link" target="_brank">海外调查问卷<span></span></a>
       {% endif %}    
    </div>
    <ul class="con clearfix">
        <li class="first">
            问卷编号：c{{ cint_research.survey_id }}
        </li>
        <li class="last">
            问卷类型：商业问卷
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ cint_research.extra_info.point.complete }}</i>积分</div>
<div class="survey-btn">
    {% if cint_research.is_answered == 1 %}
        <span class="disabled">回答完毕</span>
    {% else %}
        <a href="{{ path('_cint_project_survey_information', {'cint_research': cint_research}) }}" class="open-link" target="_brank">可回答</a>
    {% endif %}
</div>