<div class="surveyImg profileImg">Q</div>
<div class="survey-item">
    <div class="title proTit">
        <a href="{{ profiling.url }}" class="open-link" target="_brank">属性问卷</a><span class="proTag">重要</span>
    </div>
    <ul class="proCon clearfix">
    	<li class="first">
    	    <span>问卷编号</span>
    	    <p>{{ profiling.name }}</p>
    	</li>
    	<li>
    	    <span>问卷类型</span>
    	    <p title="">属性问卷</p>
    	</li>
    	<li>
    	    <span>回答期限</span>
    	    <p>--</p>
    	</li>
    	<li>
    	    <span>积分</span>
    	    <p class="point">最高<strong>135</strong></p>
    	</li>
    </ul>
</div>
<div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_brank">完善资料</a></div>
<div class="topTip"><span>获取更多问卷</span></div>