<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title">
        <a href="{{ profiling.url }}" class="open-link" target="_blank">关于您自己的调查<span></span></a>
    </div>
    <div class="proCon clearfix">
        <div class="proRow">
            <span class="label label-primary">自助调查</span>
            <span class="label label-primary">约30分钟</span>
            <span class="label label-primary">可中途退出</span>
        </div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
    <div class="rewardPoint pull-left">约<i>100</i>积分</div>
    <div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_blank">完善资料</a></div>
</div>
