<div class="survey-item">
    <div class="title"><a href="{{ cint_user_agreement.url }}" class="open-link" target="_brank">C市场调查项目邀请函<span></span></a></div>
    <ul class="con clearfix">
        <li class="first">
            参与所需时间：5 秒
        </li>
        <li class="last">
            参与难易程度：超级简单
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>1</i>积分</div>
<div class="survey-btn"><a href="{{ cint_user_agreement.url }}" class="open-link" target="_brank">可参与</a></div>