<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title">
        <a href="{{ profiling.url }}" class="open-link" target="_blank">属性问卷<span></span></a>
    </div>
    <div class="proCon clearfix">
        <div class="proRow">时长：约25分钟</div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
    <div class="rewardPoint pull-left"><i>约100</i>积分</div>
    <div class="survey-btn proBtn"><a href="{{ profiling.url }}" class="open-link" target="_blank">完善资料</a></div>
</div>
