<div class="survey-item">
    <div class="title"><a href="{{ path('_ssi_project_survey_cover', {'survey_id': ssi_surveys[0].ssiProjectId}) }}" target="_brank">海外调查问卷<span></span></a></div>
    <ul class="con clearfix">
        <li class="first">
            问卷编号：s{{ ssi_surveys[0].ssiProjectId }}
        </li>
        <li>
            问卷类型：商业问卷
        </li>
        <li class="last">
            奖励积分：<strong>{{ ssi_project_config.point }}</strong>
        </li>
    </ul>
</div>
<div class="survey-btn"><a href="{{ path('_ssi_project_survey_cover', {'survey_id': ssi_surveys[0].ssiProjectId}) }}" target="_brank">可回答</a></div>
