<div class="survey-item">
    <div class="title"><a href="{{ path('_ssi_project_survey_cover', {'survey_id': ssi_surveys[0].ssiProjectId}) }}" target="_brank">S市场调查项目<span></span></a></div>
    <ul class="con clearfix">
        <li class="first">
            调查所需时间：不定
        </li>
        <li class="first">
            内含问卷个数：{{ count }} 个
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ ssi_project_config.point * count }}</i>积分</div>
<div class="survey-btn"><a href="{{ path('_ssi_project_survey_cover', {'survey_id': ssi_surveys[0].ssiProjectId}) }}" target="_brank">可回答</a></div>
