<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title"><a href="{{ path('_ssi_partner_permission') }}" target="_blank">S市场调查项目邀请函<span></span></a></div>
    <div class="proCon clearfix">
        <div class="proRow">
	        <span class="label label-warning" style="width: 75px">商业调查邀请函</span>
	        <span class="label label-info">5秒钟</span>
	        <span>同意后隔天能收到大量300分以上的问卷</span>
        </div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
	<div class="rewardPoint pull-left"><i>{{ssi_project_config.agreement_point}}</i>积分</div>
	<div class="survey-btn"><a href="{{ path('_ssi_partner_permission') }}" target="_blank">可参与</a></div>
</div>
