<div class="survey-item">
    <div class="title"><a href="{{ path('_ssi_partner_permission') }}" target="_brank">申请参与SSI海外市场调查项目<span></span></a></div>
    <ul class="con clearfix">
        <li class="first">
            问卷编号：--
        </li>
        <li class="last">
            问卷类型：商业问卷
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>1</i>积分</div>
<div class="survey-btn"><a href="{{ path('_ssi_partner_permission') }}" target="_brank">可回答</a></div>
