<div class="survey-item">
    <div class="title"><a href="{{ path('_ssi_partner_permission') }}" target="_brank">S市场调查项目邀请函<span></span></a></div>
    <ul class="con clearfix">
        <li class="first">
            参与所需时间：2 分钟
        </li>
        <li class="last">
            参与难易程度：简单
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ssi_project_config.agreement_point}}</i>积分</div>
<div class="survey-btn"><a href="{{ path('_ssi_partner_permission') }}" target="_brank">可参与</a></div>
