<div class="main-help-banner">
	<div class="text w1000">
		<div class="title"><a href="{{ path('_default_support') }}"><img src="{{ asset('img/help/title.png') }}" alt="帮助中心"></a><img src="{{ asset('img/help/titleE.png') }}" alt="Help Center" class="titleE"></div>
	</div>
</div>