<div class="main-help-banner">
	<div class="text w1000">
		<div class="title"><a href="help.html"><img src="{{ asset('img/help/title.png') }}" alt="帮助中心"></a><img src="{{ asset('img/help/titleE.png') }}" alt="Help Center" class="titleE"></div>
		<div class="search"><input type="text" id="search" name="search"><label for="search">请输入关键字</label><div class="search-btn"></div></div>
	</div>
</div>