{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}业务合作{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/about.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="container top20">	
	<div class="main-about-con clearfix">
		<div class="row">
			{% include 'WenwenFrontendBundle:Help:_leftSidebar.html.twig' %}
			<div class="col-xs-9 col-sm-10">
				<div class="aboutR tabCon">
					<h2>业务合作</h2>
					<div class="friendLink clearfix con">
						<pre class="fontCommon">合作咨询</pre>
						<div class="email">
							请联系邮箱：<a href="mailto:china@d8aspring.com" class="contactEmail" disabled="disabled">china@d8aspring.com<b></b></a>
						</div>
						<div class="linkStep">
							<pre class="fontCommon">申请友情链接</pre>
							<div class="row">
					            <dt class="linkStepTit">申请步骤：</dt>
					            <dd>1.&nbsp;&nbsp;请先在贵网站做好91问问调查网的友情链接:</dd>
					            <div class="well">
						            <dd>链接文字：91问问调查网 </dd>
						            <dd>链接地址：<a href="http://www.91wenwen.net/">http://www.91wenwen.net/</a></dd>
						            <dd>LOGO尺寸：
						            <img height="55" width="150" alt="91问问调查网" src="{{ asset('img/about/logo150-55.gif')}}">大小: 150x55<img height="31" width="88" alt="91问问调查网" src="{{ asset('img/about/logo88-31.gif')}}">大小: 81x33</dd>
						        </div>
					        	<dd>2.&nbsp;&nbsp;做好链接后，请发邮件到：<a href="mailto:xiaojing.li@d8aspring.com">xiaojing.li@d8aspring.com</a>&lt;联系时请注明申请友情链接&gt;</dd>
					            <dd>3.&nbsp;&nbsp;已经开通我站友情链接且内容健康，符合本站友情链接要求的网站，经91问问管理员审核后，可以显示在此友情链接页面。</dd>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
