{% extends 'WenwenFrontendBundle:Help:base.html.twig' %}
{% block title %}{{ parent() }}联系客服{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="breadWrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ path('help_help') }}">帮助中心</a></li>
                  <li class="breadcrumb-item active">联系客服</li>
                </ol>
            </div>
        </div>
    </div>
</div>	
<div class="container top20">		
	<div class="main-help-con">
		<div class="main-help-feedback form">
			<h2>请填写完您的问题之后，点击提交按钮。有<b>*</b>的项目为必填项目。</h2>
			<form action="" id="feedback_form">
				<div class="form-group row">
					<label class="col-xs-12 col-sm-3" for="content"><em>*</em>您想咨询的内容：</label>
					<div class="col-xs-12 col-sm-9">
						<textarea id="content" name="content"></textarea>
						<span id="content_succeed"></span>
						<span id="content_error"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-12 col-sm-3" for="feedbackEmail"><em>*</em>91问问注册邮箱：</label>
					<div class="col-xs-12 col-sm-9">
						<input type="text" id="feedbackEmail" name="feedbackEmail">
						<span id="feedbackEmail_succeed"></span>
						<span id="feedbackEmail_error"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-xs-12 col-sm-3"></div>
					<div class="col-xs-12 col-sm-9"><div class="sys_error" id="sys_error"></div></div>
				</div>
				<div class="form-group row">
					<div class="col-xs-12 col-sm-3"></div>
					<div class="col-xs-12 col-sm-9"><div class="btn"><a href="javascript:void(0)" id="feedback_save">提交</a></div></div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/component/feedbackForm.js')}}"></script>
{% endblock %}