{% extends 'WenwenFrontendBundle:Help:base.html.twig' %}
{% block title %}{{ parent() }}帮助中心{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="container board-top-spacing">
	<div class="main-about-con clearfix">
		<div class="row">
		    {% include 'WenwenFrontendBundle:Help:_leftSidebar.html.twig' %}
		    <div class="col-xs-9 col-sm-10">
		    	<div class="container-fluid">
		    		<div class="aboutR row panel">
		    			<h2 class="hidden-xs">帮助中心</h2><hr class="hidden-xs"><br>
		    		    <ul class="helpIcons">
		    		    	<li class="col-xs-12 col-sm-6"><a href="{{ path('help_issue') }}"><p class="hIco hIco1"></p><p class="hTxt hTxt1">常见问题&nbsp;></p></a></li>
		    		    	<li class="col-xs-12 col-sm-6"><a href="{{ path('help_feedback') }}"><p class="hIco hIco2"></p><p class="hTxt hTxt2">联系客服&nbsp;></p></a></li>
		    		    	<li class="col-xs-12 col-sm-6"><a href="{{ path('help_newGuide') }}"><p class="hIco hIco3"></p><p class="hTxt hTxt3">新手上路&nbsp;></p></a></li>
		    		    </ul>
		    		</div>
		    	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
