{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} Test {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/helpSearch.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle::headerUser.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main">
	{% include 'WenwenFrontendBundle:Help:banner.html.twig' %}
	<div class="main-help-con w1000">
		<h2>这是关于<b>问卷</b>的搜索结果，请选择您想查看的内容。</h2>
		<div class="search-result">
			<dl>
				<dt>» 如何注册 </dt>
				<dd class="partCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人...<a href="javascript: void(0)" class="showAll">显示全部</a></dd>
				<dd class="allCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人。</dd>
				<dt>» 生日错误 </dt>
				<dd class="partCon">您输入的生日信息需要与您在注册91问问账户时填写的生日信息相同。在91问问调查网，生日是一个非常重要的信息，我们以此来判断一个用户的年龄，进而提供给他合适的问卷。如果您忘记了您的生日信息或者您当初填入了错误的日期，您可以提供您的身份证明或者您当初填入了错误的日期，您可以份证或者您当初填入了错误的日期，您可以提供您的身份证或者您当初填入了错误的日期，您身份证或其他可以证明您生日的证件），以邮件附件的形式提供给我们，会有客服人员帮您更新您的身份信息。...<a href="javascript: void(0)" class="showAll">显示全部</a></dd>
				<dd class="allCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人。</dd>
				<dt>» <b>问卷</b>频度 </dt>
				<dd>我们将会不定期的通过邮件向您发送新的问卷邀请。每7天能回答2份属性问卷。高分问卷无此限制。当您参加的问卷越多，填写的信息越齐全，您所收到调查问卷邀请也会越多。</dd>
				<dt>» 如何注册 </dt>
				<dd class="partCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人...<a href="javascript: void(0)" class="showAll">显示全部</a></dd>
				<dd class="allCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人。</dd>
				<dt>» 生日错误 </dt>
				<dd class="partCon">您输入的生日信息需要与您在注册91问问账户时填写的生日信息相同。在91问问调查网，生日是一个非常重要的信息，我们以此来判断一个用户的年龄，进而提供给他合适的问卷。如果您忘记了您的生日信息或者您当初填入了错误的日期，您可以提供您的身份证明或者您当初填入了错误的日期，您可以份证或者您当初填入了错误的日期，您可以提供您的身份证或者您当初填入了错误的日期，您身份证或其他可以证明您生日的证件），以邮件附件的形式提供给我们，会有客服人员帮您更新您的身份信息。...<a href="javascript: void(0)" class="showAll">显示全部</a></dd>
				<dd class="allCon">您可以通过以下链接完成注册程序。<br>
http://www.91wenwen.net/signup/<br>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人。</dd>
				<dt>» <b>问卷</b>频度 </dt>
				<dd>我们将会不定期的通过邮件向您发送新的问卷邀请。每7天能回答2份属性问卷。高分问卷无此限制。当您参加的问卷越多，填写的信息越齐全，您所收到调查问卷邀请也会越多。</dd>
			</dl>
			<div class="more-result"><a href="javascript: void(0)">更多</a></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/help/helpSearch')}}"></script>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle::footer.html.twig' %} 
{% endblock %}
