{% extends '::adminBase.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body%}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage|raw }}
    </div>
{% endfor %}

{#
 $params_1 = array('memberid'=>'80','point'=>'20','websiteid'=>'0','eventid'=>'asd45sd57s45d45s4d55g45k65ed89rg', 'immediate'=>'0');
#}

<form  method="POST" action="{{ path('jili_backend_analogofferwow_api')}}">

    <table align="center" width="1024">

        <tr>
            <td>memberid</td>
            <td><input name="memberid" type="text" /></td>
        </tr>
        <tr>
            <td>point</td>
            <td><input name="point" type="text" /></td>
        </tr>

        <tr>
            <td>immediate</td>
            <td><input name="immediate" type="text" /></td>
        </tr>

        <tr>
            <td>eventid</td>
            <td><input name="eventid" type="text" /></td>
        </tr>

    </table>
    <tr><td>&nbsp;</td><td><input type="submit" value='submit' /></td></tr>
</form>
{% endblock %}
