<ul class="ltab">
    {% for item in category %}
    <li {% if current_id == item.id %}  class="ui-tabs-active" {% endif %}><a href="{{ path('jili_frontend_taobao_category',{'id':item.id}) }}">{{item.categoryName}}</a></li>
    {% endfor %}
</ul>

<div class="tablist block" id="tabs-1">
    <div id="waterfall">
        {% for item in keywords %}
        <div class="cell">{{item.content}}</div>
        {% endfor %}
        <!--  <img src="{{ asset('images/taobao/items.jpg')}}"/> -->
    </div>
    <div id="more" class="more"><a href="/taobao/category?id=1&page=2"></a></div>
</div>
