<dl class="discover">
    <dt class="mt">发现<span class="corBO">好店</span></dt>
    <dd>
        <ul>
            {% for item in shops %}
            <li class="listGroup">{{item.content}}</div></li>
            {% endfor %}

            <li class="listGroup">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DuxBQSxmhYI8cQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMcwpGhu9WbVWxq3IhSJN6GSni5lBbADrc3xDqtQcjpsJPsM3HHzvybx284PIvSmbAtEew1By%2BI5k"
                   class="img" target="_blank"><img
                        src="http://logo.taobaocdn.com/shop-logo/63/a7/T1avvwFFRbXXartXjX.gif"></a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DuxBQSxmhYI8cQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMcwpGhu9WbVWxq3IhSJN6GSni5lBbADrc3xDqtQcjpsJPsM3HHzvybx284PIvSmbAtEew1By%2BI5k"
                   class="name" title="韩都衣舍旗舰店" target="_blank">韩都衣舍旗舰店</a>
            </li>
            <li class="listGroup">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dgl%2Fe5rCCjWkcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMefLBLI7VYcU5x%2BIUlGKNpWni5lBbADrc3xDqtQcjpsJPsM3HHzvybx98A8olPIj6AjEtJbkYGHm"
                   class="img" target="_blank"><img
                        src="http://logo.taobaocdn.com/shop-logo/01/39/T12apGFsdoXXb1upjX.jpg"></a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dgl%2Fe5rCCjWkcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMefLBLI7VYcU5x%2BIUlGKNpWni5lBbADrc3xDqtQcjpsJPsM3HHzvybx98A8olPIj6AjEtJbkYGHm"
                   class="name" title="伊芙丽官方旗舰店" target="_blank">伊芙丽官方旗舰店</a>
            </li>
            <li class="listGroup">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DfQJL8zTs6TIcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMctkSSJcOZhCRitN3%2FurF3yni5lBbADrc3xDqtQcjpsJPsM3HHzvybxmIGZ3z05CmlVuwQ5Jyifg"
                   class="img" target="_blank"><img
                        src="http://logo.taobaocdn.com/shop-logo/92/e1/T1vdyGXblyXXb1upjX.jpg"></a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DfQJL8zTs6TIcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMctkSSJcOZhCRitN3%2FurF3yni5lBbADrc3xDqtQcjpsJPsM3HHzvybxmIGZ3z05CmlVuwQ5Jyifg"
                   class="name" title="骆驼男装旗舰店" target="_blank">骆驼男装旗舰店</a>
            </li>
        </ul>
    </dd>
</dl>