/web/bundles/
#/app/bootstrap*
/app/cache/*
/app/sessions/*
/app/cache_data/*
/app/logs/*
/app/logs_data/*
/vendor/
/bin/
/app/config/parameters.ini
web\uploads/
dwsync.xml
.DS_Store
.gitignore 

src/Jili/*/Resources/config/doctrine/*.orm.xml
src/Jili/*/Resources/config/doctrine/metadata/orm/*.orm.xml

/config/
makefile
web/images/actionPic/1391840458_3367.jpeg
web/images/actionPic/1391840458_5171.jpeg
web/images/banner/1397133290_7671.jpeg

*.swp
.gitignore
*~
+/nbproject/project.xml
+/nbproject/project.properties
_compareTemp
