web/bundles/
web/js/fos_js_routes.js
#web/images/actionPic/
web/images/tb_products_pic/
web/images/taobao_products_picture/
#web/uploads/
app/cache/*
app/sessions/*
app/cache_data/*
app/logs/*
app/logs_data/*
app/config/config_dev.yml
app/config/config_test.yml
app/config/custom_parameters.yml
app/config/parameters.yml
^bin/
/bin/
app/config/parameters.ini
app/SymfonyRequirements.php
composer.lock

dwsync.xml
.DS_Store

src/Jili/*/Resources/config/doctrine/*.orm.xml
src/Jili/*/Resources/config/doctrine/metadata/orm/*.orm.xml

^config/
/config/
makefile
web/images/actionPic/1391840458_3367.jpeg
web/images/actionPic/1391840458_5171.jpeg
web/images/banner/1397133290_7671.jpeg

*.swp
.gitignore
*~
+/nbproject/project.xml
+/nbproject/project.properties
_compareTemp

# build
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
^build/*

.rsync_cache/
Capfile
app/config/deploy.rb

