{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷结束：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSurvey.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon qnEnd">
        <div class="qnEndTxt">
            {# ログインしていない場合 #}
            {% if errors.panelist_is_not_authenticated is defined and errors.panelist_is_not_authenticated %}
            <div class="txt"><h2>亲爱的用户！您好！</h2>请您先登陆您的账户再访问此页。</div>
            {# 既に回答済み・未配信などで 回答権利をもっていない場合  #}
            {% elseif errors.panelist_has_already_answered is defined and errors.panelist_has_already_answered %}
            <div class="txt"><h2>亲爱的用户！您好！</h2>您已经参加过本次调查活动，谢谢您的参加！</div>
            {# その他 #}
            {% elseif errors.custom_message is defined %}
            <div class="txt sad"><h2>亲爱的用户！您好！</h2>{{ errors.custom_message }}</div>
            {% endif %}
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}