
        <li>
            <a href="{{ path('jili_backend_gameseeker_buildpointstrategy') }}">
            重设宝箱奖分方案
            </a> | 
            <a href="{{path('jili_backend_gameseeker_managechest') }}">
            重设宝箱个数
            </a>
        </li>
