<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <a href="#">去购物</a>
    </div> 

    <div>
        <h3> 参加活动</h3>
        {{ render(controller("JiliApiBundle:MonthActivity:gatheringAddTaobaoOrder") ) }}
    </div>

</body>
</html>

<!--

anayltics
checkin form
add order form

-->
