{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}
    积粒网-{% if type == 'jili' %}兑换91问问积分
    {% elseif type =='amazon' %}兑换亚马逊礼品卡
    {% elseif type=='alipay' %}兑换支付宝
    {% elseif type=='mobile' %}兑换手机充值
    {% elseif type=='flow' %}兑换流量包
    {% else %}
    {% endif %}
{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div class="webArticle exchange">
  <h2><span class="font18 corLightRed crumbTit">兑换信息</span></h2>
  <aside>
    {% include 'JiliApiBundle:User:rightInfo.html.twig' %}
  </aside>
  <article>
  {% include 'JiliApiBundle:Exchange:' ~  type ~ 'Finish.html.twig' %}
  </article>
</div>
{% endblock %}

