<div class="wenwen">
  <div class="finish">
	    <div class="img"><img width="108" height="82" src="{{ asset('images/regFinish.jpg')}}"></div>
    <h2><img src="{{ asset('images/messageExchange.gif')}}" alt="我们已经收到您的手机费兑换申请！"></h2>
    <p>兑换会在三个工作日内完成（遇周末及节假日顺延），请关注您的<a href="{{ asset(path('_user_exchange',{'type':4,'exchangeType':1 }),'cdn1') }}" >兑换历史</a>，来及时了解兑换状态。</p>
    <hr />
    <p>※ 如果兑换失败，积分会自动返还到您的积粒网帐户。</p>
    <p><a href="{{ path('_default_index') }}">返回首页</a></p>
  </div>
</div>