<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">

</HEAD>
<BODY>
<form action="{{ path('_admin_awsDayCsc') }}" method="post" id="form1" enctype="multipart/form-data" >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>名片csv导入:
<input type="file" name="csv" /></td><td><input type="submit" name="add" value="提 交"/></td></tr>
{% if success %}
{% if success == 1 %}
 <center><font color='red'>数据获取成功</font></center>
 {% elseif success == 2 %}
  <center><font color='red'>请上传csv文件</font></center>
  {% elseif success == 3 %}
  <center><font color='red'>csv文件格式不对</font></center>
  {% elseif success == 4 %}
  <center><font color='red'>csv文件已经上传过</font></center>
  {% elseif success == 5 %}
  <center><font color='red'>csv文件时间为2天前</font></center>
 {% endif %}
{% endif %}
</table>
</form>
</BODY></HTML>