{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block body %}
<form method="post" action="{{ path('_admin_emergencyAnnouncement')}}">
<div class="container">
    <div class="row">
        <div class="col-md-2">紧急公告内容</div>
        <div class="col-md-10"><textarea id="content0" name="content0" cols="50" rows="10">{{ content }}</textarea></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2"><input class="btn btn-primary" type="button" value='清除' id="clearCon" ><input class="btn btn-primary" type="button" value='提交' id="submitCon"></div>
    </div>
</div>
</form>
{% endblock %} 

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    function sendContent() {
        $.ajax({
            url: "{{ path('_admin_saveEmergencyAnnouncement') }}?content=" + encodeURIComponent($("#content0").val()),
            type: "POST",
            success: function(data) {
                if (data == 1) {
                    alert('提交成功');
                    $("#content0").val("");
                } else {
                    alert('提交失败');
                }
            }
        });
    }
    $("#clearCon").on('click', function(){
        $("#content0").val("");
    });
    $("#submitCon").on('click', function(){
        sendContent();
    });
});
</script>
{% endblock %}
