{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block body %}
<form action="{{ path('_admin_exchangeIn') }}" method="post" id="form1" enctype="multipart/form-data">
<div class="tips">
    <label for="exchangeType">csv导入:</label>
    <select name="exchangeType" id="exchangeType">
        {% for item in exchangeType %}
        <option value="{{ item.id }}" {% if item.id==exType %} selected="selected" {% endif %}>{{ item.type }}</option>
        {% endfor %}
    </select>
    <input type="file" name="csv" />
    <input class="btn btn-primary" id="submit" type="submit" name="add" value="提 交" />
</div>
</form>
<div class="tips">
    {% if success == 1 %}
        <em class="tips-success">数据插入成功</em>
    {% elseif success == 2 %}
        <em class="tips-error">请上传csv文件</em>
    {% elseif success == 3 %}
        <em class="tips-error">csv文件格式不对</em>
    {% elseif success == 4 %}
        <em class="tips-error">csv文件内容不对</em>
        {% if error_info is defined %} 
            {% for error in error_info %}
                {{ error }}
            {% endfor %} 
        {% endif %} 
    {% endif %}
</div>
{% endblock %} 

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    function check() {
        alert("确认提交吗？")
        document.getElementById("submit").disabled = 'disabled';
        return false;
    }
    $("#form1").submit( function () {
        check();
    } );
});
</script>
{% endblock %}
