<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">

</HEAD>
<BODY>
<form action="{{ path('_admin_importCpsAdver') }}" method="post" id="form1" enctype="multipart/form-data" >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td><h3>导入cps数据:</h3></td><td>&nbsp;</td></tr>
<tr><td>csv文件:<input type="file" name="csv" /></td><td><input type="submit" name="add" value="提 交"/></td></tr>
</table>
<div class="tips">
<p>&nbsp;</p>
<p>cps-csv文件内容参考：</p>
<p>&nbsp;</p>
<p>"广告活动","网站","订单日期","'订单号'","订单金额","佣金","订单状态","'反馈标签1'","'反馈标签2'","认证日期","订单IP"</p>
<p>"携程旅行网","积粒网","2013-09-22 13:35:54","'130729K5EB8E'","200","15","已认证","'25'","'91'","2013-09-27 00:00:00","124.160.224.22"</p>
<p>&nbsp;</p>
</div>
{% if code %}
    {% for item in code %}
        <center><font color='red'>{{ item }}</font></center>
    {% endfor %}
{% else %}
    {% if success == 1 %}
         <center><font color='red'>数据插入成功 </font></center>
    {% endif %}
{% endif %}
</form>
</BODY></HTML>
