<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">

</HEAD>
<BODY>
<form action="{{ path('_admin_importAdver') }}" method="post" id="form1" enctype="multipart/form-data" >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td><h3>导入cpa数据:</h3></td><td>&nbsp;</td></tr>
<tr><td>csv文件:<input type="file" name="csv" /></td><td><input type="submit" name="add" value="提 交"/></td></tr>
</table>
<div class="tips">
<p>&nbsp;</p>
<p>cpa-csv文件内容参考：</p>
<p>&nbsp;</p>
<p>广告活动,网站,发生日期,原稿名称,CPA佣金,认证状态,认证日期,'反馈标签1','反馈标签2'</p>
<p>一号店,积粒网,2013-07-27 14:00:30,300*250,50,已认证,2013/7/27 15:05,'49','131'</p>
<p>注册申领白银投资宝典,积粒网,2013-07-26 11:20:34,300*250,40,已认证,2013/7/24 15:05,'21','93'</p>
<p>&nbsp;</p>
</div>
{% if code %}
    {% for item in code %}
        <center><font color='red'>{{ item }}</font></center>
    {% endfor %}
{% else %}
    {% if success == 1 %}
         <center><font color='red'>数据插入成功 </font></center>
    {% endif %}
{% endif %}
</form>

</BODY></HTML>

