<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">

</HEAD>
<BODY>
<form action="{{ path('_admin_importAdver') }}" method="post" id="form1" enctype="multipart/form-data" >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>csv文件:<input type="file" name="csv" /></td><td><input type="submit" name="add" value="提 交"/></td></tr>
</table>
</form>
</BODY></HTML>


