<!DOCTYPE html>
<html>

<head>
    <title>91问问管理登陆</title>
    <meta charset="UTF-8" />
    <meta http-equiv=Pragma content=no-cache>
    <meta http-equiv=Cache-Control content=no-cache>
    <meta http-equiv=Expires content=-1000>
</head>
<frameset border=0 frameSpacing=0 rows="60, *" frameBorder=0>
    <frame name=header src="{{ path('_admin_header')}}" frameBorder=0 noResize scrolling=no>
        <frameset cols="170, *">
            <frame name=menu src="{{ path('_admin_menu')}}" frameBorder=0 noResize>
                <frame name=main src="{{ path('_admin_main')}}" frameBorder=0 noResize scrolling=yes>
        </frameset>
</frameset>
<noframes>
</noframes>

</html>
