<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css">
    <style>
        .curPos{
            height: 28px;
            line-height: 28px;
            background-image: url('/assets/img/backend/title_bg1.jpg');
            background-repeat: repeat-x;
            border-bottom: 1px solid #b1ceef;
        }
        .welcome{
            padding-top: 20px;
            line-height: 35px;
            background-image: url('/assets/img/backend/shadow_bg.jpg');
            background-repeat: repeat-x;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row curPos">当前位置:</div>
    <div class="row welcome">
        <div class="col-md-2 text-center"><img width="90" height="100" src="{{ asset('assets/img/backend/admin_p.gif')}}"></div>
        <div class="col-md-10">当前时间：{{ "now" | date("Y-m-d H:i:s") }} <br> <b>admin</b><br>欢迎进入网站管理中心！</div>
    </div>
</div>
</body>

</html>
