<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<SCRIPT LANGUAGE="JavaScript">
function check() {
	alert("确认提交吗？")
	document.getElementById("submit").disabled='disabled';
return false;
}
</SCRIPT>
</HEAD>
<BODY>
<form action="{{ path('_admin_addPointManage') }}" method="post" id="form1" enctype="multipart/form-data"  name="myForm" onSubmit="check();">
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>csv导入:
<input type="file" name="csv" /></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td><input id="submit" type="submit" name="add" value="提 交"/></td><td>&nbsp;</td></tr>
<tr><td></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
</form>
<p>注：请上传csv格式，文件编码为utf-8的文件</p>
<p>&nbsp;</p>
<p>csv文件内容参考(email,point,category_type,task_name,task_type)：</p>
<p>&nbsp;</p>
<p>email,point,task_name,category_type,task_type</p>
<p>test@test.com.cn,50,活动送积分,90,4</p>
<p>test2@test.com.cn,60,购物返利送积分,21,4</p>
{% if code %}
    {% for item in code %}
        <center><font color='red'>{{ item }}</font></center>
    {% endfor %}
 {% else %}
    <center><font color='red'>{{ success }}</font></center>
{% endif %}
</BODY></HTML>