<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% block stylesheet %}
    <link href="{{ asset('css/free/survey/endpage.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <meta charset="UTF-8">
    <title>在线调查</title>
{% endblock %}

{% block body %}
    <div class="freeSurWrap">
        <div class="statusCon complete">
            {% if answer_status == 'complete' %}
            <i class="successIcon"></i>
            <div class="complete">亲，恭喜您完成本次的问卷调查，棒棒哒。</div>
            {% elseif answer_status == 'screenout' %}
            <i class="failIcon"></i>
            <div class="screenout">亲，非常抱歉，您不符合本次调查的要求。</div>
            {% elseif answer_status == 'quotafull' %}
            <i class="failIcon"></i>
            <div class="quotafull">亲，非常抱歉，您慢了一步，本次问卷调查名额已满。</div>
            {% elseif answer_status == 'error' %}
            <i class="failIcon"></i>
            <div class="error">亲，您似乎已经参与过这个问卷调查，欢迎下次再来。</div>
            {% else %}
            <i class="failIcon"></i>
            <div class="other">亲，现在没有问卷调查可参与哦，欢迎下次再来。</div>
            {% endif %}
        </div>
        <div class="recommend">
            <div class="txt">
                <p class="l1">我们为您推荐了更多问卷。</p>
                <p class="l2">点击右边进行注册就可以赚现金了哦！</p>
            </div> 
            <a class="btn" href="{{ path('_user_reg') }}">
                <div class="bWrap">
                    <span>点击这里</span>
                    <span class="arrow animated bounce"><img src="{{ asset('img/common/arrowRight.png') }}" alt=""></span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
