@charset "UTF-8";

@import "../../layout/global";
.main-con-exchange{
	padding: 1rem 2rem;
	h2{
		margin-top: 10px;
	}
}
.form{
	.main-con-exchangeInfo{
		span{
			&.error{
				padding: 0 5px;
			}
		}
	}
}
.main-con-exchangeInfo{
	.curVal,
	.modifyInput,
	.curMobileVal,
	.modifyMobileInput{
		display: none;
	}
	li{
		line-height: 34px;
		label{
		    text-align: right;
		    min-width: 100px;
		}
		select{
			height: 34px;
			line-height: 34px;
			border: 1px solid #e5e5e5;
			&:focus{
				border: $input-border-focus;
				outline: none;
			}
			&.input_error{
				border: $input-border-error;
			}
		}
		span{
			&.cur, &.option{
				@include dib();
			}
			&.option{
				position: relative;
				z-index: 1;
				margin-right: 8px;
				width: 70px;
				text-align: center;
				background: #f1f1f1;
				cursor: pointer;
				.points{
					position: absolute;
					z-index: 1000;
					top: 50%;
					left: 50%;
					width: 0;
					height: 0;
					font-size: 0;
					color: #fff;
					background: $button-blue;
					@include transition(all, 300ms);
				}
				&:hover, &.active{
					.points{
						top: 0;
						left: 0;
						font-size: 12px;
						width: 70px;
						height: 34px;
					}
				}
			}
			&.about{
				position: relative;
				z-index: 1;
				color: #9192a6;
				&>b{
					margin-right: 3px;
					font-size: 12px;
					@include tips();
				}
				.expand-con{
					position: absolute;
					z-index: 1000;
					top: 25px;
					left: 8px;
					width: 420px;
					padding-top: 10px;
					display: none;
					b.arrow{
						position: absolute;
						z-index: 1999;
						top: 2px;
						left: 0;
						width: 9px;
						height: 10px;
						background: url(../../../../img/frontend/exchange/icons_arrow.png) top left no-repeat;
						@include dib();
					}
				}
				p{
					padding: 10px 15px;
					line-height: 20px;
					color: #666;
					background: #fcf5eb;
					border: 1px solid #fdb558;
					border-radius: 3px;
				}
			}
		}
		a{
			margin-left: 10px;
			color: #1666d7;
		}
	}
	.detail, .btn{
		text-align: center;
	}
	.detail{
		line-height: 36px;
		.text{
			margin: 60px auto 0;
			width: 100%;
			color: #4d4d4d;
			font-size: 14px;
			border: 2px dashed #e8e8e8;
			padding: 24px 0;
		}
		strong{
			margin-right: 30px;
			color: $main-color;
			font-size: 18px;
		}
	}
	.backError{
		color: #ff0000;
		text-align: center;
		height: 50px;
		line-height: 50px;
		&.flowInfo, &.idCardError{
			text-align: left;
		}
	}
	.btn{
		width: 126px;
		line-height: 30px;
		font-size: 18px;
		@include btn();
		&.disabled{
			background: #888;
			border: 1px solid #888; 
			cursor: defalut;
		}
		&.return{
			margin-right: 10px;
			color: #404040;
			background: #f5f5f7;
			border: 1px solid #ededed;
		}
	}
	.tips{
		margin-top: 50px;
		padding: 20px 30px;
		background: #f5f5f6;
		h3{
			font-size: 14px;
			font-weight: bold;
		}
		p{
			margin-top: 5px;
			line-height: 20px;
			em{
				margin-right: 5px;
			}
		}
	}
	.alipay-tips{
		margin-bottom: 40px;
		line-height: 20px;
		background: #f6f6f6;
		em{
			color: #ccc;
			margin-right: 10px;
		}
	}
	.flow-tips{
		margin-top: 30px;
		padding-left: 200px;
		p{
			padding-left: 10px;
			line-height: 35px;
			background: #fcf5eb;
			border: 1px solid #fdb558;
			border-radius: 3px;
		}
	}
}
.main-con-finished{
	.con{
		padding: 40px 25px 100px;
		.checkIcon{
			font-size: 76px;
		    color: #0F9D58;
		}
		h2{
			line-height: 40px;
		}
		.prompt{
			margin-top: 20px;
			line-height: 24px;
			em{
				margin-right: 5px;
			}
			b{
				color: $main-color;
			}
			a{
				color: #0078b6;
			}
		}
	}
	.tips{
		margin-top: 50px;
		padding: 50px;
		background: #fafafa;
		p{
			text-align: center;
			color: #a6a6a6;
		}
	}
}
