{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-体验广告{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div style="text-align: center;padding: 100px 0;">
<img src="{{ asset('images/under_construction.jpg')}}">
<p style="position: absolute; width: 100%; padding-left: 110px; line-height: 200%; font-size: 14px; top: 230px;color:#e94d41;">更多体验广告正在导入中,<br />稍后就会上线。</p>
</div>
{% endblock %}
