<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <meta http-equiv=Pragma content=no-cache>
	    <meta http-equiv=Cache-Control content=no-cache>
	    <meta http-equiv=Expires content=-1000>
        <title>{% block title %}91问问管理后台{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block global_css %}
             <!-- global css -->
             <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css">
             {% stylesheets filter="cssrewrite, scssphp, uglifycss" output="dist/css/backend/base.css"
                "assets/scss/backend/admin.scss"
            %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block global_js %}
            <!-- global js -->
            {% javascripts filter="?uglifyjs2" output="dist/js/backend/base.js"
                "assets/js/common/lib/jquery-1.12.4.min.js"
                "assets/js/common/lib/bootstrap.min.js"
                "assets/js/common/plugin/bootbox.min.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
