@charset "UTF-8";

/* ==========================================================================
  Third party login
 ============================================================================ */

@import "../layout/global";
.login-btn-others {
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  opacity: 1\9;  /* For IE9 */
  @include animation(1s, 1s, fadeInUp);
  a {
    padding: 14px;
    cursor: pointer;
    @include border-radius(50%);
    @include dib();
    &:hover {
      @include transition(all, .5s);
    }
    i {
      width: 26px;
      height: 26px;
      color: #fff;
      font-size: 23px;
      &.fa-weixin {
        *width: 58px;
        *height: 58px;
        *background: transparent url(../../../img/frontend/user/weixinIco.png) no-repeat;
      }
      &.fa-qq {
        *width: 58px;
        *height: 58px;
        *background: transparent url(../../../img/frontend/user/QQIco.png) no-repeat;
      }
      &.fa-weibo {
        *width: 58px;
        *height: 58px;
        *background: transparent url(../../../img/frontend/user/weiboIco.png) no-repeat;
      }
    }
    &.weixin-login {
      background: #7cebd2;
      *background: none;
      &:hover {
        background: #77e0c8;
        *background: none;
      }
    }
    &.qq-login {
      background: #6bafe9;
      *background: none;
      &:hover {
        background: #65a4db;
        *background: none;
      }
    }
    &.weibo-login {
      background: #f57f87;
      *background: none;
      &:hover {
        background: #ed7b83;
        *background: none;
      }
    }
  }
  .othersLine {
    position: relative;
    margin: 0 auto;
    width: 285px;
    height: 31px;
    color: #fff;
    font-size: 14px;
    &:before,
    &:after {
      position: absolute;
      margin-top: 5px;
      width: 36%;
      height: 1px;
      content: "";
      background: rgba(255, 255, 255, 0.4);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .othersItem {
    margin: 0 auto;
    width: 285px;
  }
}
