<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}91问问调查网{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta %}{% endblock %}
    <meta name="baidu_union_verify" content="464e52f63986636f61f6710be25148b2" />
    <meta name="google-site-verification" content="tQLN1qXTHMAZep6bOz-OQitpEgSH8eMwLLFoEyoJbZY" />
    <meta property="wb:webmaster" content="4d0ebfac4033fbfb" />
    <meta property="qc:admins" content="2577654770611214163757" />
    <link href="{{ asset('img/common/favicon.ico') }} " rel="shortcut icon" type="image/x-icon" />
    <link href="{{ asset('css/base.css') }} " rel="stylesheet" type="text/css">
    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    <div {% if app.session.has('uid') %} class="main" {% else %}  class="main unlogin" {% endif %}>
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>