<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页:91问问调查网</title>
    <title>{% block title %}91问问调查网{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="就要问问,91wenwen,91问问,网络调查,问卷,赚钱,在线市场研究,在线市场调研,在线调研,在线调查软件,在线调查,体验广告，购物返利" />
    <meta name="description" content="每个人都是社会的决策者！欢迎来到Research Panel Asia旗下中国网站。现在注册会员，在线参加全球市场调查，轻轻松松赢取现金报酬，并用您的意见改变世界。另有体验广告让您乐赚不停。购物返利让你省得多，赚得也更多！" />
    <meta name="title" content="首页:91问问调查网" />
    <meta name="baidu_union_verify" content="464e52f63986636f61f6710be25148b2" />
    <meta name="google-site-verification" content="tQLN1qXTHMAZep6bOz-OQitpEgSH8eMwLLFoEyoJbZY" />
    <meta property="wb:webmaster" content="4d0ebfac4033fbfb" />
    <meta property="qc:admins" content="2577654770611214163757" />
    <link href="{{ asset('img/common/favicon.ico') }} " rel="shortcut icon" type="image/x-icon" />
    <link href="{{ asset('css/base.css') }} " rel="stylesheet" type="text/css">
    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>