<div class="mask">
  <ul>
    {% for item in recentPoint %}
    <li>
        <p><span>{{ item.0[:3] }}**</span>{{ item.3 }}{% if item.2 > 0 %}获得{% else %}兑换{% endif %}<em>{{ item.2|abs }}</em>米粒</p>
    </li>
    {% endfor %}
  </ul>
</div>