<div class="main-con-right right topRight col-m-12 col-t-12">
    <div class="leftPhone leftTablet col-m-12">{{ render(controller('JiliApiBundle:Top:callboard' ) ) }}</div>
    <div class="exchange-dynamics col-m-12 leftPhone leftTablet">
        <h2>最新动态</h2>
        {{ render(controller('JiliApiBundle:Top:event') ) }}
    </div>
    {{ render(controller('JiliFrontendBundle:Home:adExperience' ) ) }}
</div>