<div class="main-con-right right topRight visibleDesktop hiddenPhone hiddenTablet">
    {{ render(controller('JiliApiBundle:Top:callboard' ) ) }}
    <div class="exchange-dynamics">
        <h2>最新动态</h2>
        {{ render(controller('JiliApiBundle:Top:event') ) }}
    </div>
    {{ render(controller('WenwenFrontendBundle:Home:adExperience' ) ) }}
</div>