imports:
    - { resource: config.yml }

framework:
    router:   { resource: "%kernel.root_dir%/config/routing_dev.yml" }
    profiler: { only_exceptions: false }
    session:
        gc_maxlifetime:  60

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type:  stream
            path:  %kernel.logs_dir%/%kernel.environment%.log
            level: debug
        firephp:
            type:  firephp
            level: info
        chromephp:
            type:  chromephp
            level: info

assetic:
    use_controller: true

#swiftmailer:
#    delivery_address: me@example.com

parameters:
#91wenwen和91jili账号关联secret key
    91wewen_bind_secret_key: %91wewen_bind_secret_key_dev%
#流量包
    flow:
        url: http://59.83.33.14/
        prv_key: 5E703068E764D3DC
        custom_sn: %flow_custom_sn%
        file_path_flow_api_log: %flow_file_path_flow_api_log%
        mail_subject: %flow_mail_subject%
        alertTo_contacts: %flow_alertTo_contacts%

