parameters:
    database_driver:   pdo_mysql
    #database_host:     192.168.1.235
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     jili_db
    database_user:     root
    database_password: ecnavi
    mailer_transport:  smtp
    mailer_host:       smtp.exmail.qq.com
    mailer_user:       account@91jili.com
    mailer_password:   91jili

    locale:            zh_CN
    secret:            ThisTokenIsNotSoSecretChangeIt
    base_url:   ~

    router.request_context.host: www.91jili.com.vag.91jili.com
    router.request_context.scheme: https
    router.request_context.base_url: ~

    ssi_project_survey:
        title: "SSI海外调查"
        point: 180

    ssi_project_survey_code:
        api_key: dummy

#SOP
    sop_console_host: console.partners.surveyon.com.dev.researchpanelasia.com
    sop:
        partner_id: 1
        admin_host:   staff.surveyon.com.dev.researchpanelasia.com
        console_host: %sop_console_host%
        host: partners.surveyon.com.dev.researchpanelasia.com
        auth:
            app_id: 27
            app_secret: 1436424899-bd6982201fb7ea024d0926aa1b40d541badf9b4a
        point:
            profile: 1
        api_v1_1_surveys_research_participation_history: https://%sop_console_host%/api/v1_1/surveys/research/participation_history
        api_v1_1_fulcrum_surveys_research_participation_history: https://%sop_console_host%/api/v1_1/fulcrum/surveys/research/participation_history
        api_v1_1_fulcrum_user_agreement_participation_history: https://%sop_console_host%/api/v1_1/fulcrum/surveys/user_agreement/participation_history
        api_v1_1_cint_surveys_research_participation_history: https://%sop_console_host%/api/v1_1/cint/surveys/research/participation_history
        api_v1_1_surveys_research_additional_incentive: https://%sop_console_host%/api/v1_1/surveys/research/additional_incentive
        sop_point_type:
            11: 92  # 91wenwen.point.exec_types: 11, アンケート回答, questionnaire(cost)
            61: 93  # 91wenwen.point.exec_types: 61, アンケート回答（自社）, questionnaire(expense)
