parameters:
    database_driver:   pdo_mysql
    #database_host:     192.168.1.235
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     jili_db
    database_user:     root
    database_password: ecnavi
    mailer_transport:  smtp
    mailer_host:       smtp.exmail.qq.com
    mailer_user:       account@91jili.com
    mailer_password:   91jili

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    base_url:   ~
#91wenwen和91jili账号关联secret key
    91wewen_bind_secret_key_dev: 0b0c2b46e396714623dcd1f4c361918a0658e8131d70e3efc237079a0f26625a   #development
    91wewen_bind_secret_key_prod: 3b9a08811c66af715c71dacd8864cc1a301f7a03d97deb759ac8f9e270f8bb94   #production

#流量包
    flow_dev:
        url: http://59.83.33.14/   #接口url
        prv_key: 5E703068E764D3DC   #加密私钥
        custom_sn: B772AA94ABDC6BEE   #SN号码
    flow_prod:
        url: http://59.83.33.14/   #接口url
        prv_key: 5E703068E764D3DC   #加密私钥
        custom_sn: B772AA94ABDC6BEE   #SN号码

