<div id="signInFrame">
  <h5>再打开<span>2</span>个商城就可以得到<span>1</span>个米粒啦</h5>
    <a class="close">关闭</a>
    {% for item in arrList %}
    <ul>
      <li><a href="#"><img src="{{ asset(item.list_image) }}" width="200" height="130"><p>最高返利20%</p><div class="gray"></div><div class="goTo">点击前往</div><div class="finish">已打开</div></a></li>
    </ul>
    {% endfor %}
</div>