{% extends "::base.html.twig" %}

{% block title %}JiliFrontendBundle:Checkin:updateAutoCheckinList{% endblock %}

{% block body %}
<h1>Welcome to the Checkin:updateAutoCheckinList page</h1>
{% endblock %}
