.categorysFilter{ margin-bottom:15px;}
.categorysFilter li{  height:34px; line-height:34px; font-size:12px; color:#636363; border-top:1px dotted #D5E3E9; overflow:hidden; background-color:#F6F6F6;}
.categorysFilter li.first{ border-top:none;}
.categorysFilter li h4{background:url("../images140307/iconImage.png") no-repeat scroll 8px -646px #FFFFFF; padding-left:20px; cursor:pointer;}
.categorysFilter li.open{ height:auto;}
.categorysFilter li.open h4{border-bottom:1px dotted #D5E3E9; background-position:6px -685px;}
.categorysFilter li h4:hover{ color:#ff4400;}
.categorysFilter p{ padding:0 20px; position:relative;}
.categorysFilter p a{ color:#000;}
.categorysFilter p:hover,.categorysFilter p a:hover{ color:#ff4400;}
.categorysFilter p span{ background-color: #FFFFFF;border: 1px solid #DCDCDC;border-radius: 5px; display: inline-block;line-height: 100%;padding: 2px 5px;position: absolute;right: 10px;top: 9px;}