#signInFrame , #confirmAutoFrame{
    background: #fff url("../images/signInFrame.jpg") no-repeat bottom;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 483px;
	height: 485px;
    z-index: 9999;
}
#signInFrame h5 {
    font-size: 14px;
    font-weight: normal;
	text-align:left;
}
#signInFrame h5 span {
    color: #E94C1B;
}
#signInFrame a.close_checkin {
    background-image: url("../images/closeTag.gif");
    display: inline-block;
    font-size: 0;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
}
#signInFrame ul {
    margin-top: 20px;
	border: 1px dotted #dcdcdc;	
}
#signInFrame li {
    border-right: 1px dotted #DCDCDC;
    border-top: 1px dotted #DCDCDC;
    float: left;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 159px;
	margin:0;
}
#signInFrame li a:hover {
    text-decoration: none;
}
#signInFrame li.rbn {
    border-right: medium none;
}
#signInFrame li.tbn {
    border-top: medium none;
}
#signInFrame li a {
    color: #000;
}
#signInFrame li img {
    height: 80px;
    width: 120px;
}
#signInFrame li p {
    text-align: center;
    font-size: 14px;
}
#signInFrame li .gray {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
#signInFrame li .goTo {
    background-color: #5EB524;
    bottom: 0;
    color: #FFFFFF;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#signInFrame li .finish {
    background-color: #E0E2E2;
    bottom: 0;
    color: #BCBDBD;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#signInFrame li.finish .gray, #signInFrame li.finish .finish {
    display: block;
}
/*9-16, by wlt*/
.signInCon{
		margin-top: 20px;
		position: relative; 
		z-index: 1;
	}
	.signInCon p{
		text-align: left;
		line-height:35px;
	}
	.signInOptions{
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
	}
	.signInOptions span{
		width: 234px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		background-color: #e1e1e1;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		vertical-align: top;
	}
	.signInOptions span.active{
		color: #fff;
		background-color: #f75232;
	}
	.signInOptions span.active a{
		color: #fff;
	}
	.signInOptions span.autoSignIn{
		margin-left: 10px;
	}
	.signInOptions span a, .signInOptions p, .signInOptions p strong{
		text-align: left;
		color: #f75232;
		font-size: 12px;
		font-weight: normal;
	}
	.signInOptions p{
		right:0;
		top: 40px;
		position: absolute;
		z-index: 100;
		padding: 5px 10px;
		width: 188px;
		line-height: 20px;
		border: 1px solid #d6bc92;
		color: #834e00;
		background-color: #fff799;
		display: none;
		cursor: text;
	}
	.signInOptions span.autoSignIn a{
		right:10px;
		top: 15px;
		line-height: 15px;
		position: absolute;
		z-index: 100;
		background: url(../images1408/arrow.png) no-repeat right -16px;
		padding-right: 15px;
	}
	#confirmAutoFrame{
		width: auto;
		height: auto;
		background: #fff none;
	}
	#signInFrame .signInConfirmFrame{
		top: 50%;
		left: 100px;
		margin-top: -83px;
		position: absolute;
		z-index: 9999;
		background-color: #fff;
		padding: 40px 35px;
		width: 265px;
		display: none;
	}
	#confirmAutoFrame .signInConfirmFrame{
		background-color: #fff;
		padding: 40px 35px;
		width: 265px;
	}
	#signInFrame .setSuccess{
		top: 200px;
		left: 50%;
		margin-left: -75px;
		position: absolute;
		z-index: 9999;
		color: #333;
		background-color: #fff;
		width: 150px;
		text-align: center;
		line-height: 35px;
		font-size: 14px;
		font-weight: bold;
		font-family: "微软雅黑";
		display: none;
	}
	.signInConfirmFrame p{
		color: #000;
		line-height: 30px;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.signInConfirmFrame .btns{
		text-align: center;
		margin-top: 20px;
	}
	.signInConfirmFrame a{
		width: 60px;
		height: 25px;
		line-height: 25px;
		margin-right: 5px;
		color: #6b6b6b;
		border: 1px solid #d6d6d6;
		background-color: #fdfdfd;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
	.signInConfirmFrame a.active{
		color: #fff;
		background-color: #43a70d;
		border: 1px solid #35850b;
	}
	#signInFrame strong{
		color: #f75232;
		padding: 0 2px;
	}
	#signInFrame .mask{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.3;
		filter: alpha(opacity=30);
		*zoom: 1;
		background-color: #000;
		width: 100%;
		height: 100%;
		z-index: 9998;
		display: none;
	}
	#buffer{
		display: none;
	}