body{font: 12px/1.5 tahoma,'Hiragino Sans GB','microsoft yahei',sans-serif; font-size:12px; color:#333; background-color:#f4f4f4;}
.page{ width:1150px; margin:auto;}
.pageMain{ padding:15px 0;}
.fl{float:left;}
.fr{float:right;}
.tl{ text-align:left;}
.tr{ text-align:right;}
.w204{ width:204px;}
.w300{ width:300px;}
.w615{ width:615px; margin-left: 15px;}
.w748{ width:748px;}
.w834{ width:834px;}
.w930{ width:930px;}
.h340{ height:340px;}
.fontNormal{ font-weight:normal; font-size:12px;}
h5{font-size: 1.17em;font-weight: bold;}
strong, b{font-weight: bold;}
.corBlack{ color:#000;}
.corLightRed{ color:#ff6b4f;}
.corLightGray{ color:#999;}
.corDarkGray{ color:#333;}
.corGlobGray{ color:#333;}
.corGlobRed{ color:#FF3E17;}
.corGlobBlue{ color:#65b1ee;}
.corDarkBlue{ color:#1588e5;}
.corWhite{ color:#fff;}
.division{ margin:0 10px; color:#ccc;}
.module{ border:2px solid #ff6b4f;}
.curPt{ cursor:pointer;}
.marginT15{ margin-top:15px;}
.borderGlob{border:1px solid #e8e8e8;} 
.dispalyBlock{ display:block;}
.boxShadowGlobal{-moz-box-shadow:1px 1px 6px #ddd,1px -1px 6px #ddd;-webkit-box-shadow:1px 1px 6px #ddd,1px -1px 6px #ddd;box-shadow: 1px 1px 6px #ddd,1px -1px 6px #ddd;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ color:#666;}
#header{ width:100%;}
#topbar{ background-color:#F6F6F6; width:100%; height:30px; line-height:30px; color:#666;}
#userbar{ float:right; position:relative;}
#userbar li{ float:left; line-height: 28px;}	
#userbar li.split { background: none repeat scroll 0 0 #CCC; color: #CCC; height: 12px; margin: 9px; width: 1px; overflow:hidden;}
#userbar li a{ background:url(../images140307/iconImage.png) no-repeat; cursor:pointer;}
#userbar li a.message{ padding-left: 20px; background-position: left 3px;}
#userbar li a.personal{ background-position: 53px -23px; padding-right: 10px;}
#userbar  #userFrame {background-color: #FFFFFF;border: 1px solid #e0e0e0; display: none;left: 0;position: absolute;top: 30px; width: 100%; z-index: 8000;}
#userbar  #userFrame .userInfo { background:url("../images140307/iconImage.png") no-repeat scroll 10px -447px; border-bottom: 1px solid #EEEEEE; margin-bottom: 5px; padding: 5px 0 5px 33px;}
#userbar  #userFrame ul.menu li {line-height: 230%;float:none;}
#userbar  #userFrame ul.menu li a {color: #666666; display: block; text-indent: 15px; width: 100%;background:none;}
#userbar  #userFrame ul.menu li a:hover {background-color: #F0F0F0;text-decoration: none;}
#userbar  #userFrame ul.menu li.logOut { border-top: 1px solid #EEEEEE; line-height: 250%; margin-top: 5px;}
#headerContent{ padding:15px 0; background-color:#FFF;}
#headerContent #logo{ float:left;}

/* top search */
#headerContent #search {border: 4px solid #ff6b4f; border-radius: 3px;float: left;height: 36px;margin-left:180px; background-color:#FFF;}
#headerContent .searchMenu{background: url("../images140307/iconImage.png") no-repeat scroll 53px -94px #f7f7f7;float: left; width: 63px; height: 26px;line-height: 26px;padding: 5px 0 5px 16px; position: relative;  border-right:1px solid #f1f1f1;}
#headerContent .form{float:left;}
#headerContent #search .text {background-color: #FFFFFF;background-position: 0 -360px;background-repeat: repeat-x;color: #666;font-size: 14px;line-height: 30px;padding: 5px;border: none;width: 460px; float:left; height:26px;}
#headerContent #search .button {background: none repeat scroll 0 0 #FF6B4F;  letter-spacing: 5px; padding-left:8px; border: medium none;color: #FFFFFF;font-size: 16px;font-weight: 700;height: 36px; width: 68px;margin:0;float:left;}
#headerContent .searchMenu .dropWrap{ background:#f7f7f7;left: 0; position: absolute; top: 34px; width: 77px; z-index: 9999; border:1px solid #e7e7e7;}
#headerContent .searchMenu .dropWrap li{ padding-left: 15px;}
#headerContent .searchMenu .dropWrap li:first-child{ border-bottom:1px solid #e7e7e7;}
#headerContent .searchMenu .dropWrap li:hover{ color:#FF3E17; text-decoration:underline;}
/* top search/ */

#headerContent .otherInlet{ float:right; margin-top:10px; margin-right:70px;}
#headerContent .otherInlet .help{ font-size:16px; display:block; background:url("../images140307/iconImage.png") no-repeat scroll 0 -58px; padding-left:25px; color:#666;}
#nav{width:100%; height:40px; line-height:40px; background-color:#FF6B4F;}
#nav li{ float:left; font-size:16px; margin:0 22px; position:relative;}
#nav li.first{ margin-right:0;}
#nav li.second{ margin-left:0;}
#nav li.task{ width:204px; margin-left:0; background:url("../images140307/iconImage.png") no-repeat scroll 175px -193px #65B1EE; z-index:504;}
#nav li.task ul{ background-color:#F1F7FB; border:2px solid #65B1EE; border-top:none; position:absolute; top:40px; left:0; z-index:9999; display:none;}
#nav li.task ul li{font-size:12px; border-top:1px #D5E3E9 dotted; width:100%; margin:0;}
#nav li.task ul li a{font-size:12px; color:#666; padding-left: 15px; width: 185px; display:inline-block; position:relative;}
#nav li.task ul li:hover{ background:#fff;}
#nav li.task ul li a:hover{ color:#65b1ee; font-weight:bold;}
#nav li.task ul li span{ right:0; margin-right:15px; position:absolute; top:0;}
#nav li a{ color:#FFF;}
#nav li.task a.taskBtn{ background: url("../images140307/iconImage.png") no-repeat scroll 15px -157px; padding-left: 40px;}
#nav li.task em{background-color: #FFFFFF; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; color: #65B1EE; display: inline-block; font-size: 13px; font-weight:bold;line-height: 100%; margin: 0 8px; padding:2px 5px;}
#nav li.navSelectedBg{ background:#de4528; padding:0 30px;}

.main h1,.commodityList h1{ font-size:16px; line-height:40px;}
.main h1 span,.commodityList h1 span{ font-size:12px; margin-left:10px;}

.noResult{ width:100%; background:#fff; display:block; padding:25px 0; margin-bottom:20px; text-align:center;}
.noResult span.icon{width:65px; height:65px; background: url("../images140307/roleIcon.png") no-repeat; display:inline-block;}
.noResult span.text{ vertical-align:28px; margin-left: 10px;}

.blackBg { background-color: #000000; display: none; height: 100%; left: 0; opacity: 0.5; position: absolute; top: 0; width: 100%; z-index: 9998;}
