.recommend{ border:2px solid #F9CFC7; background-color:#FFF; position:relative; margin-bottom:15px;}
.recommend h2{ font-size:16px; line-height:40px; padding-left:15px;}
.recommend .shade{margin: 5px 0 15px 50px; overflow:hidden; width:840px; height:100px; position:relative; z-index:500;}
.recommend ul{ position:absolute; left:0; top:0; z-index:501;}
.recommend li{ float:left; width:240px; margin-right:40px;}
.recommend li dt, .recommend li dd{ float:left;}
.recommend li dt{ width:100px; margin-right:10px;}
.recommend li dd{ width:130px;}
.recommend li dd p.title{ height:40px; overflow:hidden;}
.recommend li dd p.price{color:#FF4300; font-size:18px; line-height:200%;}
.recommend li dd p.link a{ background-color:#ffa695; color:#FFF; display: inline-block; padding: 3px 10px;}
.recommend li dd p.link a:hover{ background-color:#ea4b11;}
.recommend .prevBtn, .recommend .nextBtn{ display:inline-block; position:absolute; background-image:url(../images140307/iconImage.png); width:15px; height:23px; top:85px; cursor:pointer;}
.recommend .prevBtn{ background-position:0 -300px; left:20px;}
.recommend .nextBtn{ background-position:0 -340px; right:20px;}