/*.screen{ margin:10px 0;}*/
.screen dt{ width:70px; line-height:23px; margin-bottom:10px;}
.screen dd{ padding-right:40px; position:relative; overflow:hidden; margin-bottom:5px;}
.screen dt.em{ font-size:18px; color:#e94d41;}
.screen dt.w90{ width:90px;}
.screen dd.w794{ width:794px;}
.screen dd.w704{ width:704px;}
.screen dd.w820{ width:820px;}
.screen dd.h28{ height:28px;}
.screen dd.h56{ height:56px;}
.screen dd li{ width:105px; float:left; list-style:none; margin-right:4px;margin-bottom:5px;}
.screen dd li a{ display:inline-block; padding:3px 10px; color:#000; }
.screen dd > a{ display:inline-block; margin-right:10px; padding:3px 10px; color:#000; margin-bottom:5px; border-radius:2px;}
.screen dd a.sort{ background-color:#FFF; border:1px solid #CCC;}
.screen dd a.sort.arrowUp{ background-image:url(../images140307/iconImage.png); background-repeat:no-repeat; background-position: 87px -533px; padding-right:20px;}
.screen dd a.sort.arrowDown{ background-image:url(../images140307/iconImage.png); background-repeat:no-repeat; background-position: 87px -493px; padding-right:20px;}
.screen dd a:hover ,.screen dd a.hover,.screen dd a.sort.active{ background-color:#e94d41; color:#FFF;}
.screen dd a.sort.arrowUp:hover{ background:url(../images140307/iconImage.png) no-repeat 87px -1013px #e94d41;}
.screen dd a.sort.arrowDown:hover{ background:url(../images140307/iconImage.png) no-repeat 87px -973px #e94d41;}
.screen dd a.sort.arrowUp.active{ background-position: 87px -1013px;}
.screen dd a.sort.arrowDown.active{ background-position: 87px -973px;}
.screen dd a.sort:hover,.screen dd a.sort.active,.screen dd a.sort.active{ border:1px solid #e94d41;}
.screen dd a.unfoldBtn{ position:absolute; padding:0; right:0; top:5px; font-size:0; width:14px; height:14px; background: url("../images140307/iconImage.png") repeat scroll 0 -380px; cursor:pointer;}
.screen dd a.unfoldBtn.already{ background-position:0 -420px;}
.screen dd div.price{ display:inline-block; background-color:#FFF; border:1px solid #CCC; padding:3px 9px; border-radius:2px; margin-right:3px;}
.screen dd div.price.mr0{ margin-right:0;}
.screen dd div.price .price-input{ border:none; width:30px;}
.screen dd .price-btn{ background-color:#F2F2F2; margin-right:10px; padding:3px 10px; color:#000; margin-bottom:5px; border-radius:2px; border: 1px solid #CCCCCC;}
