.searchShop h1{ font-size:16px; line-height:40px;}
.searchShop h1 span{ font-size:12px; margin-left:10px;}
.searchShop .classify{ margin:10px 0;}
.searchShop .classify dd{ width:794px; padding-right:40px; position:relative; height: 56px; overflow:hidden;}
.searchShop .classify dd li{ width:105px; float:left; list-style:none; margin-right:4px;margin-bottom:5px;}
.searchShop .classify dd a{ display:inline-block; padding:3px 10px; color:#000; }
.searchShop .classify dd a:hover ,.shopList .classify dd a.hover{ background-color:#ea4b11; color:#FFF;}
.searchShop .classify dd a.unfoldBtn{ position:absolute; padding:0; right:0; top:5px; font-size:0; line-height:0; width:14px; height:14px; background: url("../images140307/iconImage.png") repeat scroll 0 -380px; cursor:pointer;}
.searchShop .classifyShop dd a.unfoldBtn.already{ background-position:0 -420px;}

.searchShopUl li{ border:1px solid #DDD; background-color:#FFF; margin-bottom:15px; padding:20px 0px; line-height:200%;}
.searchShopUl .dt,.searchShopUl .dd,.searchShopUl .dc{ float:left; height:85px; color:#999;}
.searchShopUl .dt{ width:140px; text-align:center; padding: 0 15px;}
.searchShopUl .dd{ width:480px; padding: 0 20px 0 0;}
.searchShopUl .dd .title{ height: 50px; margin-bottom: 15px; overflow: hidden;}
.searchShopUl .dd .shopMore{ text-align:right;}
.searchShopUl .dd .shopMore a{ color:#000;}
.searchShopUl .dc{ border-left:1px solid #DDD; padding: 0 0 0 20px;}
.searchShopUl .rebate{ margin-top:5px;}
.searchShopUl .rebate em{ font-size:24px; color:#ff4400; margin:0 3px;}
.searchShopUl p.btn{ margin-top:10px;}
.searchShopUl a.buy{ background-color: #63B8F0;border-radius: 5px;color: #FFFFFF;display: inline-block;font-size: 14px;padding: 3px 10px;}