ul.shopListUl{ padding:0; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD;}
ul.shopListUl li{ background-color:#FFF; width:107.667px; height:103px; float:left; padding:15px 21px 15px 9px; position:relative;border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD;}
ul.shopListUl li dt{ width:120px; overflow:hidden; position:relative;}
ul.shopListUl li dt a.shop{ background-color: rgba(255, 255, 255, 0.75); bottom: 5px; color: #000000; display: inline-block; left: 5px; padding: 2px 5px; position: absolute; cursor:pointer;}
ul.shopListUl li dd{ margin:5px 0 0 0; width:100%; float:left;}
ul.shopListUl li dd p.title{ overflow:hidden; color:#666; width:100%; height:20px; text-align:center;}
ul.shopListUl li dd p.title a{ color:#666;}
ul.shopListUl li dd p.price{ color:#e94d41; font-size:15px; font-weight:bold; float:left;}
ul.shopListUl li dd p.rebate{ text-align:center; color:#999; white-space: nowrap;}
ul.shopListUl li dd p.rebate em{ color:#e94d41;}
ul.shopListUl li div.hover {
    background-color: #FFFCD9;
    border: 1px dashed #FB991A;
    display: none;
    height: 106px;
    left: 0;
    padding: 20px 0 5px;
    position: absolute;
    top: 0;
	width:136.6px;
}
ul.shopListUl li div.hover .tr {
    display: inline-block;
    margin: 5px 0;
    width: 100%;
}
ul.shopListUl li div.hover .img {
    display: block;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
    overflow: hidden;
    text-align: center;
    width: 60px;
}
ul.shopListUl li div.hover .text {
    overflow: hidden;
	float:left;
	text-align:left;
}
ul.shopListUl li div.hover .text em, ul.shopListUl li div.hover p em {
    color: #e94d41;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
ul.shopListUl li div.hover p {
    margin: 5px 0;
	text-align:center;
}
ul.shopListUl li div.hover p a.btnDetail {
    background-color: #F5602A;
    border-radius: 0 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
}
ul.shopListUl li div.hover p a.btnShopping {
    background-color: #46BAF0;
    border-radius: 0 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 5px;
}
.shopSearch {
	width: 200px;
	display: inline-block;
	*display:inline;
    *zoom:1;
	vertical-align: -7px;
	margin-bottom:10px;
}
.shopSearchInput {
	width: 130px;
	border: 1px solid #d1d1d1;
	padding: 3px;
	float: left;
}
.shopSearchSubmit {
	background: #d1d1d1;
	padding: 6px;
	float: left;
}
.shopSearchBtn {
	width: 12px;
	height: 12px;
	font-size: 0;
	border: none;
	background: url("../images140307/iconImage.png") no-repeat;
	background-position: 0 -740px;
}
