{% spaceless %}
<html> 
<head></head> 
<body>亲爱的{{ nick }}<br/>
<br/>感谢您注册成为“积粒网”会员！请点击<a href="{{ url }}" target="_blank">这里</a>，立即激活您的帐户！<br/>
<br/>
<br/>注：激活邮件有效期是14天，如果过期后不能激活，请到网站首页重新注册激活。<br/>
<br/>++++++++++++++++++++++++++++++++++<br/>积粒网，轻松积米粒，快乐换奖励！<br/>赚米粒，攒米粒，花米粒，一站搞定！</body>
</html>
{% endspaceless %}
