<div class="row">
	<div class="clearfix col-xs-12"><a href="{{ path('jili_frontend_vote_suggest') }}"><img class="img-responsive" src="{{asset('assets/img/frontend/vote/prize.jpg')}}" alt="有奖出题"></a></div>
</div>
<div class="exchange-dynamics panel panel-default hidden-xs board-top-spacing">
    <div class="panel-heading">
    	<h4>最新动态</h4>
    </div>
    <div class="panel-body">
        {% include 'WenwenFrontendBundle:Vote:_topEvent.html.twig' %}
    </div>
</div>
