<a href="{{ path('jili_frontend_vote_suggest') }}"><img class="img-responsive" src="{{asset('img/vote/prize.jpg')}}" alt="有奖出题"></a>
<div class="exchange-dynamics panel panel-default">
    <h2>最新动态</h2>
    {{ render(controller('JiliApiBundle:Top:event') ) }}
</div>
