.filter {
  font-size: 12px;
  color: #4d4d4d;
  line-height: 20px;
}
.filter label, .filter span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.filter input[type='text'] {
  margin: 0 5px;
  padding: 0 5px;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  vertical-align: middle;
}
.filter span {
  margin-left: 5px;
  width: 57px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff5500;
  border-radius: 3px;
  cursor: pointer;
}
