.main-help-banner {
  height: 104px;
  background: #f6660d url(../img/help/bannerBg.jpg) no-repeat center;
  -webkit-box-shadow: 0px 1px 5px #9b3502 inset;
  -moz-box-shadow: 0px 1px 5px #9b3502 inset;
  box-shadow: 0px 1px 5px #9b3502 inset;
}
.main-help-banner .text {
  position: relative;
  z-index: 1;
  height: 104px;
  line-height: 104px;
}
.main-help-banner .text img {
  vertical-align: middle;
}
.main-help-banner .text img.titleE {
  margin-left: 10px;
}
.main-help-banner .search {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 50%;
  margin-top: -19px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background: url(../img/help/searchBg.png) no-repeat;
}
.main-help-banner .search-btn {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1999;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  background: url(../img/help/searchBtn.png) no-repeat;
  cursor: pointer;
}
.main-help-banner input[type='text'] {
  position: relative;
  z-index: 2;
  padding-right: 20px;
  width: 140px;
  height: 38px;
  line-height: 38px;
  border: none;
  background: transparent;
  outline: none;
}
.main-help-banner label {
  position: absolute;
  z-index: 1000;
  left: 20px;
  top: 0;
  color: #b5b5b5;
}

.main-help-con {
  margin-top: 20px;
}
