.page-wrapper { padding: 30px; font-size: 0; }

<<<<<<< HEAD
.page { text-align: center; }
.page span { border: 1px solid #dbdbdb; color: #adadad; font-size: 12px; display: inline-block; *display: inline; *zoom: 1; height: 22px; text-center: center; line-height: 22px; margin-right: 5px; cursor: pointer; }
.page span:hover, .page span.active { border: 1px solid #ff6700; color: #ff6700; }
.page span:hover a, .page span.active a { color: #ff6700; }
.page a { color: #adadad; height: 22px; line-height: 22px; padding: 0px 8px; display: inline-block; *display: inline; *zoom: 1; }
.page a:hover, .page a.active { color: #ff6700; }
=======
.page {
  text-align: center; }
  .page span {
    border: 1px solid #dbdbdb;
    color: #adadad;
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    text-center: center;
    line-height: 22px;
    margin-right: 5px;
    cursor: pointer; }
    .page span:hover, .page span.active {
      border: 1px solid #ff6700;
      color: #ff6700; }
      .page span:hover a, .page span.active a {
        color: #ff6700; }
  .page a {
    color: #adadad;
    height: 22px;
    line-height: 22px;
    padding: 0px 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    .page a:hover, .page a.active {
      color: #ff6700; }
>>>>>>> dev-merge-ui
