/* quick login prompt Start*/
.quickLogWrap {
  position: relative;
  top: -500px; }

.quickLogPop {
  width: 406px;
  height: 235px;
  background: rgba(202, 202, 202, 0.4);
  position: absolute;
  z-index: 1;
  top: 355px;
  right: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.qlpR {
  top: 97px;
  right: 20px; }

.quickLCon {
  height: 212px;
  margin: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
  position: absolute;
  z-index: 2; }
  .quickLCon .wbTit {
    height: 40px;
    line-height: 40px;
    background: #ebebeb;
    padding-left: 20px;
    position: relative;
    color: #444; }
    .quickLCon .wbTit .wbIco, .quickLCon .wbTit .qqIco {
      width: 23px;
      height: 18px;
      display: inline-block;
      margin-right: 7px;
      vertical-align: -4px; }
    .quickLCon .wbTit .wbIco {
      background: url(../../img/common/sinaUnact.png) no-repeat; }
    .quickLCon .wbTit .qqIco {
      width: 19px;
      background: url(../../img/common/qqUnact.png) no-repeat; }
    .quickLCon .wbTit .closeBtn {
      width: 30px;
      height: 30px;
      background: url(../../img/common/closeBtn.png) no-repeat 6px 8px;
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 10px; }
  .quickLCon .wbText {
    padding: 22px 27px 28px; }
    .quickLCon .wbText .l1 {
      font-size: 16px;
      line-height: 22px;
      color: #444; }
      .quickLCon .wbText .l1 strong {
        color: #4ab6db; }
    .quickLCon .wbText .l2 {
      color: #999;
      line-height: 19px;
      margin-top: 7px; }
  .quickLCon .wbBtnArea {
    text-align: center; }
    .quickLCon .wbBtnArea .cancelBtn, .quickLCon .wbBtnArea .continueBtn {
      padding: 5px 30px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px; }
    .quickLCon .wbBtnArea .cancelBtn {
      background: #e4e4e4;
      border: 1px solid #dbdbdb;
      color: #000;
      margin-right: 20px;
      cursor: pointer; }
    .quickLCon .wbBtnArea .continueBtn {
      background: #50c5ee;
      border: 1px solid #49b3d9;
      color: #fff; }

#wbLogCon {
  height: 270px; }
  #wbLogCon .quickLCon {
    height: 247px; }

#qqLogCon .wbBtnArea {
  margin-top: 30px; }

/* quick login prompt End*/
