{% extends '::adminBase.html.twig' %}

{% block title %} 
{{ parent() }} - EDM 退订 添加
{% endblock %}

{% block body%}
<form action="{{ path('_edm_unsubscribe_add_confirm') }}" method="post" id="form1" >
    <div class="text-left search">
        <label for="email">邮箱:</label>
        <input type="text" id="email" name="email" value="{% if email is defined %}{{ email }}{% endif %}" size="40" />
        <input class="btn btn-primary" type="submit" value='提交' />
    </div>
</form>
<div class="tips">
{% if error_message is defined %}<em class="tips-error">{{ error_message }}</em>{% endif %}
</div>
{% endblock %}