
    <div class="hotShop borderGlob">
    {% if websites|length > 0 %}
          <h3>热门商家<a href="{{ path('jili_emar_websites_shoplist') }}" class="more">更多&gt;&gt;</a></h3>
          <ul class="clearfix">
    
            {% for row in websites %}
    
            <li>
              <p class="img">
                 <a href="{{  path('jili_emar_default_redirect') ~ '?m=' ~ row.webUrl|url_encode }}" rel="nofollow" target="_blank"><img width="75" height="37" src="{{ row.logoUrl }}"></a>
              </p>
              {% if row.commission > 0 %}
                  <p class="rebate">最高返<em>{{  row.commission }}%</em></p>
              {% else %}
              	  <p class="rebate">&nbsp;</p>
              {% endif %}
    
            </li>
            {% endfor %}
          </ul>
    {% else %}
    <!-- no hot shop yet. -->
    {% endif %}
    </div>
