<div class="shopSlider">
    <div class="shopSliderMask">
        <ul class="clearfix">
            {% for row in websites %}
            <li>
                <div class="shopLogo"><a class="toBuy" href="{{ path('jili_emar_default_redirect') ~ '?m=' ~ row.webUrl|url_encode  }}" target="_blank" title="直接购物"><img src="{{ row.logoUrl }}" width="76" height="40" alt="{{ row.webName }}"/></a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <bdo class="prevBtn"></bdo>
    <bdo class="nextBtn"></bdo>
</div>