
      <ul class="searchRecommend clearfix">
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li class="end">
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
      </ul> <!-- websites recommend on search page-->
