<div>

{{ include('JiliEmarBundle:Websites:form.html.twig', {'form': form}) }}
</div>

<div>

{% if websites is defined %}
  {{ include('JiliEmarBundle:Websites:pagination.html.twig', {'websites': websites } ) }}
{% else %}
   no found !
{% endif %}
</div>



