{% set wcatid_q = app.request.query.get('wcat','') %}
<ul class="tabnav">
            
    <li {% if wcatid_q is defined and wcatid_q is same as("0") %} class="active" {% endif %}><a href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'wcat':0,"q":"", "p":1,"t":"" })) }}">热门商家</a></li>

{% for wcatid,cat in categories %}

{% if wcatid_q is defined and wcatid_q == wcatid  %}
    <li class="active"><a href="#" onclick="javascript:return false;">{{ cat.name}}</a></li>
{% else %}
    <li><a href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'wcat':wcatid,"q":"", "p":1 ,"t":""})) }}">{{ cat.name}}</a></li>
{% endif %}

{% endfor %}

</ul>