{% set t = app.request.query.get('t','') %}
<div class="tit">
    <span class="globGray">按拼音首字母查找：</span>
    <a {% if t == 1 %} class="current" {% endif %} href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'t':1,'q':'','wcat':'-1','p':1})) }}">全部</a>
    <a {% if t == 2 %} class="current" {% endif %} href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'t':2,'q':'','wcat':'-1','p':1})) }}">0~9</a>
    {% for letter in letters%}
    <a {% if t == letter %} class="current" {% endif %} href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'t':letter,'q':'','wcat':'-1','p':1})) }}">{{letter}}</a>
    {% endfor %}
    
    <script type="application/javascript">
       $(function(){
          var tita = $(".shopR .tit a")
          tita.click(function(){
             $(this).addClass("current").siblings().removeClass("current");
          });
       });
   </script>
</div>