@charset "UTF-8";

/* ==========================================================================
  Website common header
 ============================================================================ */

@import "../global";
$header-logo-height: 46px;
$mobile-header-logo-height: 35px;
#top-header {
  margin-bottom: 20px;
  @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .12));
}

.ww-header{
  padding-top: 5px;
}

.navbar-header {
  a {
    .logo {
      margin-top: 3px;
      height: $header-logo-height;
    }
  }
}

.navbar-default {
  .navbar-nav {
    &>li {
      &>a{
        display: inline-block;
        padding-bottom: 20px;
        color: #333;
        font-size: 16px;
        &:hover{
          color: $orange-color;
        }
        &.active,
        &.active:focus,
        &.active:hover {
          border-bottom: 2px solid $orange-color;
          color: $orange-color;
        } 
        &.dropdown-toggle{
          font-size: 14px;
        } 
      }
      &.toLog {
        &:before {
          content: " ";
          height: 0;
          width: 0;
          pointer-events: none;
          border-left: 1px solid #ddd;
        }
        &>a {
          font-size: 12px;
          &.sign {
            color: $orange-color;
          }
        }
      }
    }
  }
}


/* Dropdown list
 ============================================================================ */

.dropdown {
  display: none\9; //IE8
}

:root .dropdown {
  display: inline-block\9; //IE9
}

.dropdown-menu {
  &>li {
    &>a {
      padding: 8px 0 8px 26px;
      font-size: 14px;
    }
  }
}


/* Mobile common header
 ============================================================================ */

@media only screen and (max-width: 767px) {
  .ww-header{
    padding-top: 0;
  }
  .navbar-header {
    a {
      .logo {
        margin-top: 5px;
        margin-left: 20px;
        height: $mobile-header-logo-height;
      }
    }
    .page-title {
      margin: -30px auto;
      width: 60%;
      text-align: center;
      font-size: 1.8rem;
      color: #7a8190;
    }
  }
  .navbar-default {
    .navbar-nav {
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      &>li {
        position: relative;
        padding: 0 23px 0 19px;
        line-height: 37px;
        &>a {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 47px;
          width: 100%;
          height: 100%;
          color: #536079;
          &.active,
          &.active:focus,
          &.active:hover {
            border-bottom: none;
          }
        }
        &.toLog {
          &>a {
            width: 50%;
            text-align: center;
            font-size: 14px;
            color: $orange-color;
            &.sign {
              left: 50%;
              border-left: 1px solid #e3e3e3;
            }
          }
        }
        i {
          margin-top: 10px;
          color: #9393ae;
          font-size: 16px;
          &.fa-chevron-right {
            color: #c5c5d3;
          }
        }
        &.toLog:before {
          border-left: none;
        }
      }
    }
    .navbar-collapse {
      border-top: 5px solid #d9dede;
    }
    .navbar-toggle {
      border: none;
      font-size: 20px;
      color: #9ba0a6;
      .icon-bar {
        background-color: #ef7a46;
      }
      &:hover {
        background: none;
      }
    }
  }
}
