@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/about";
.newGuide{
	padding: 10px 5% 20px;
	background: #fff;
	&.newGuideBox{
		padding: 50px 5%;
	}
}
.newGuide-item{
	padding: 30px 20px;
	text-align: center;
	dl{
		margin-top: 22px;
		width: 100%;
		dt{
		    color: $orange-color;
			font-size: 23px;
		}
		dd{
		    padding: 13px 22% 0;
		    line-height: 18px;
		    font-size: 12px;
		    color: #929292;
		    .more{
		    	font-size: 12px;
			    width: 100%;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    color: #545d63;
			    background-color: #ebedf3;
			    display: inline-block;
			    cursor: pointer;
			    &:hover{
			    	background: #e7e8ee;
			    }
		    }
		}
    }
    &.noBorder{
    	border: none;
    }
}
.newGuideDetail{
	display: none;
	position: relative;
	.back{
		position: absolute;
		right: 8px; 
		top: 17px;
	    padding: 8px 20px;
	    color: #666;
	    background: #fff;
	    border: 1px solid #ededf0;
	    border-radius: 3px;
	    display: inline-block;
	}
	h3{
		color: #b0b0b0;
		font-size: 36px;
		line-height: 85px;
		height: 85px;
	}
	dt{
		line-height: 40px;
		font-size: 16px;
		color: #333;
		strong{
			margin-right: 5px;
			color: #fa8611;
		}
	}
	dd{
		margin-bottom: 20px;
	}
}
@import "layout/footer";

@media only screen and (max-width: 767px)  {
	.newGuide.newGuideBox{
		padding: 32px 5%;
	}
}
