      <ul>
    {% for cid, cat in cats %}
        <li>{{ cat }}
          <div class="second">
        {% for scid, scat in sub_cats[cid] %}
            <dd>
               <a href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'q': '', 'cat':scid, "p":1, "pr":"" })) }}">{{ scat }}</a></dd>
        {% endfor %}
          </div>
         </li>
    {% endfor %}
    </ul>


