{% extends 'JiliEmarBundle::base.html.twig' %}

{% block title %}product list{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/jiliemar/css/product.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
<div>
List of porduct:
</div>    

<div class="filters">
{# filters #}
{{ include('JiliEmarBundle:Product:filters_by_wcat.html.twig', {'webs':webs,'wcats':wcats,'cats':cats}) }}

{# price range #}
{{ include('JiliEmarBundle:Product:price_range.html.twig' ) }}

</div>

<div class="list-prdt">
{% if products is defined %}
  {{ include('JiliEmarBundle:Product:pagination.html.twig', {'products': products , 'total': total } ) }}
{% else %}
   Nothing on shelf !
{% endif %}



</div>

{% endblock %}


