
{# TODO: add default , valid_range to config #}
{% set orderby_default = emar_api_orderby_default %}
{% set orderby_valid_range = emar_api_orderby_range %}

{% set request_orderby  =  app.request.query.getInt('o')  %}

{% set request_orderby = request_orderby not in orderby_valid_range  ?  orderby_default : request_orderby  %}

{% block body %}


排序:
<input class="orderby" id="orderby_related" name="o" type="radio" value="1"  />按相关度排序
<input class="orderby" id="orderby_price_asc" name="o" type="radio" value="2"  />价格从低到高排序
<input class="orderby" id="orderby_price_desc" name="o" type="radio" value="3"  />价格从高到低排序

<a href="{{ path( app.request.attributes.get('_route'),  app.request.query.all|merge({'o': '','p':1})) }}" id="orderby_confirm" >确定</a> <br />
<a href="{{ path( app.request.attributes.get('_route'),  app.request.query.all|merge({'o':  orderby_default,'p':1})) }}" id="orderby" >默认</a> <br />

<!-- radio box -->
{#
排序标识1为按相关度排序，2为价格从低到高排序，3为价格从高到低排序,默认值为1.
#}
<script type="text/javascript">

var updateOrderby = function() {
	var o = $("input:radio.orderby:checked").val();

	if ( - 1 != {{ orderby_valid_range | json_encode }}.indexOf(parseInt(o))) {

		var $elt = $("a#orderby_confirm");

		var href = $elt.attr("href");
		href = href.replace(/([&\?])o=\d*(&?.*?)$/, "$1o=" + o + "$2");
		$elt.attr("href", href);
        return true;
	}

	return false;
};

$(function() {
	$("input:radio.orderby[value=" + {{ request_orderby }} + "]").attr("checked", true);
	$('#orderby_confirm').click(updateOrderby);
});
</script>

{% endblock %}
