<p>价格区间</p>
{% set price_range = app.request.get('pr', '')|split(',')   %}

<input type="number" class="price min"  value = "{{ price_range|length == 2 ? price_range[0] : ""  }}" />
<input type="number" class="price max"  value = "{{ price_range|length == 2 ? price_range[1] : ""  }}" />

<a   href="{{ path( app.request.attributes.get('_route'),  app.request.query.all|merge({'pr': ''})) }}" id="price_range" >确定</a> <br />
<a href="{{ path( app.request.attributes.get('_route'),  app.request.query.all|merge({'pr': ''})) }}" id="price_range" >不限</a> <br />
<script type="text/javascript">

var updatePriceRange = function() {
	var min = $("input.min.price").val();
	var max = $("input.max.price").val();

	if (min.length == 0　|| ! parseInt(min) > 0) {
		min = "0";
	}
	if (max.length == 0 || ! parseInt(max) > 0) {
		max = "0";
	}

	if (parseInt(min)  < parseInt(max) && parseInt(max) > 0) {
		var href = $("#price_range").attr("href");
		href = href.replace(/([&\?])pr=.*?(&?.*?)$/, "$1pr=" + min + encodeURIComponent(",") + max + "$2");
        $("#price_range").attr("href", href);
    	return true;
	}
    return false;
}


$(function() {
	$("input.min.price").change(function() {
        $(this).attr('value',$(this).val()); 
        return false;
	});

	$("input.max.price").change(function() {
        $(this).attr('value',$(this).val()); 
        return false;
	});

    $('#price_range').click (updatePriceRange) ;
});
</script>
