<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="padding: 0; margin: 0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f0f1f4" style="margin:0 auto; padding-bottom: 60px;">
        <tbody>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td align="center">
                    <table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td width="100%" style=" background: #fff; padding: 44px 60px 10px; margin-top: 20px; margin-bottom: 20px;">
                                <table width="460" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td width="100%" style="padding-bottom: 15px; border-bottom: 1px solid #eeeeee;">
                                                <table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <a title="DMDlink 1" style=" vertical-align: -12px; margin-right: 10px;" href="http://www.91wenwen.net/" target="_blank"><img style="border: none;" src="common/logo.png" width="66" height="41" alt="91问问调查网"></a>
                                                            <span style="color: #939393; font-size: 12px;">每个人都是社会的决策者</span>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="margin-top: 10px;" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                                                    <tr>
                                                                        <td>
                                                                            <p style="font-weight: bold; font-size: 14px; text-align: left; color: #333333; margin-top: 28px;">亲爱的{{ nick }}：</p>
                                                                            <div style=" color: #663800; font-size: 14px; font-weight: bold; padding: 15px; background: #ffefc6; border-bottom: 3px solid #ffcc99; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-align: left; -moz-text-shadow: 1px 0 0 #fff; -webkit-text-shadow: 1px 0 0 #fff; text-shadow: 1px 0 0 #fff;">注意！您的积分即将失效清零！</div>
                                                                            <table cellpadding="5" cellspacing="5" border="0" align="center" style="width: 100%; padding: 8px 30px 0px; background: #f7f4eb;" cellpadding="0" cellspacing="0" border="0" align="center">
                                                                                <tr>
                                                                                    <td style="text-align: left; font-size:13px; color: #474238;">
                                                                                    <p style="color: #56524E; line-height: 22px; font-weight: bold;">
                                                                                    <ul>
                                                                                        <li style="color: #56524E; line-height: 22px; margin-bottom: 6px;">您的积分将在<strong style="color: #FB6609;">一周后</strong>失效清零。所以，请您每6个月至少获得1积分，就可以保证您的积分永久有效！现在，您只需花10秒钟参加快速问答，就可以获得1积分。</li>
                                                                                        <li style="color: #56524E; line-height: 22px;"><strong>感谢您一直以来热心参与91问问的调查问卷。我们始终坚持一个理念：每个人都是社会的决策者，您的意见可以改变我们的世界。</strong></li>
                                                                                    </ul>
                                                                                    </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr><td height="15"></td></tr>
                                                                            </table>
                                                                            <div style=" text-align: center; margin: 28px auto 35px;"><a title="DMDlink 2" href="http://www.91wenwen.net/vote/index" target="_blank" style="padding: 15px 25px; background: #fc7019; color: #fff; text-decoration: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-size: 14px; font-weight: bold;">立即去投票<em style=" vertical-align: -3px; margin-left: 10px;"><img style="border: none;" src="common/arrow.png" height="15" width="9" alt="立即去投票" /></em></a></div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%; border-top: 1px solid #eeeeee; padding: 10px; color: #949494; font-size: 12px; text-align: center;">请把<a title="DMDlink 3" style=" color: #949494;" href="mailto:cs@91wenwen.net">cs@91wenwen.net</a>加到您的邮箱联系人中，以确保能够正确接收此邮件。</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    
                    <div style="width: 100%; text-align: center; display: block; margin-top: 10px;"><a title="DMDlink 4" href="http://www.91wenwen.net" target="_blank" style="text-decoration: none;"><span style="color: #808080; font-size: 12px;">网站首页</span></a>  <span style="color: #C2C2C2; font-size: 12px;">|</span>  <a title="DMDlink 5" href="https://www.91wenwen.net/support" target="_blank" style="text-decoration: none;"><span style="color: #808080; font-size: 12px;">帮助中心</span></a>  <span style="color: #C2C2C2; font-size: 12px;">|</span>  <a title="DMDlink 6" href="https://www.91wenwen.net/about/map" target="_blank" style="text-decoration: none;"><span style="color: #808080; font-size: 12px;">网站地图</span></a></div>
                </td>
            </tr>
        </tbody>
</table>
</body>