<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="background-color: #F2F2F2; font-size: 12px; line-height: 200%; color: #666666; font-family: Verdana; text-align: left;">
<table style="width: 100%; background: #f2f2f2; margin: 0; padding: 0;">

    <tr>
        <td style="width: 650px; margin: 0 auto; display: block;">
            <table width="570" border="0" cellspacing="0" cellpadding="0" align="center">

                <tr>
                    <td style="font-size: 12px; color: #8b8b8b;" align="right">请将<a style="color: #666; text-decoration: underline;" href="mailto:cs@91wenwen.net" target="_blank">cs@91wenwen.net</a>添加进您的通讯录，以便您能正常收到我们的会员邮件</td>
                    <td width="5"></td>
                    <td align="left"><a style="background: #ed8809; padding: 4px 10px; color: #fff; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; filter: alpha(opacity=30);" title="DMDlink 2" href="https://www.91wenwen.net/feedback/" target="_blank">投诉</a></td>
                </tr>
                <tr>
                    <td colspan="4" height="5"></td>
                </tr>

            </table>
            <table>

                <tr>
                    <td style="width: 615px; margin: auto; border: 0px;">
                        <table style="width: 596px; border: 0px; background-image: url('http://www.91wenwen.net/img/mailings/points_cleanup/top_bg.jpg'); background-repeat: no-repeat; float: left; margin: 0; padding: 18px 10px 14px 48px; height: 73px; border-bottom: 1px solid #f2f2f2;" cellspacing="0" cellpadding="0">

                            <tr>
                                <td><img src="http://www.91wenwen.net/img/mailings/points_cleanup/logo.jpg" alt="91问问调查网" width="242" height="60" /></td>
                            </tr>

                        </table>
                        <div style="background-image: url('http://www.91wenwen.net/img/mailings/points_cleanup/main_bg.jpg'); padding: 0 45px 0 40px; margin: 0px; width: 530px; float: left;">
                            <h2 style="color: #000; font-weight: bold; font-size: 14px; text-decoration: none;">亲爱的{{ nick }}：</h2>
                            <div>
                                <p style="text-indent: 20px; margin: 8px 0; color: #666; font-size: 12px; text-align: left; word-break: break-all;">感谢您一直以来热心参与91问问的调查问卷。我们始终坚持一个理念：每个人都是社会的决策者，您的意见可以改变我们的世界。</p>
                                <h1><a style="text-decoration: none;" title="DMDlink 3" href="http://www.91wenwen.net" target="_blank"><img src="http://www.91wenwen.net/img/mailings/points_cleanup/warning2.jpg" alt="注意！您的积分将在一周后失效清零！" width="528" height="34" /></a></h1>
                                <p style="text-indent: 20px; margin: 8px 0; color: #666; font-size: 12px; text-align: left; word-break: break-all;">您的积分将在<strong style="color: #f8510b;">一周后</strong>失效清零。所以，请您每6个月至少获得1积分，就可以保证您的积分永久有效！现在，您只需花10秒钟参加快速问答，就可以获得1积分。</p>
                                <p style="text-align: center;"><a style="text-decoration: none; margin-right: 10px;" title="DMDlink 6" href="http://www.91wenwen.net/survey/index" target="_blank"><img src="http://www.91wenwen.net/img/mailings/points_cleanup/home_btn.jpg" alt="问卷列表" width="154" height="41" /></a> <a style="text-decoration: none;" title="DMDlink 7" href="http://www.91wenwen.net/vote/index" target="_blank"><img src="http://www.91wenwen.net/img/mailings/points_cleanup/vote_btn.jpg" alt="快速问答" width="154" height="41" /></a></p>
                            </div>
                        </div>
                        <div style="background-image: url('http://www.91wenwen.net/img/mailings/points_cleanup/bottom_bg.jpg'); float: left; height: 87px; margin: 0; padding: 18px 38px 0; text-align: center; width: 539px; color: #999999; font-size: 12px;">
                            <p style="text-align: center; margin: 0;">※如果您需要任何帮助，请点击这里<a style="text-decoration: none; color: #f8510b; font-weight: bold;" title="DMDlink 9" href="https://www.91wenwen.net/feedback" target="_blank">联系客服</a></p>
                            <p style="margin: 2px 0; width: 530px; color: #999;"><a style="color: #999; margin-right: 10px;" title="DMDlink 6" href="http://www.91wenwen.net" target="_blank">网站首页</a> <a style="color: #999; margin-right: 10px;" title="DMDlink 7" href="https://www.91wenwen.net/support" target="_blank">帮助中心</a> <a style="color: #999;" title="DMDlink 8" href="https://www.91wenwen.net/about/map" target="_blank">网站地图</a></p>
                        </div>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

</table>
</body>
</html>