<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="background-color: #F2F2F2; font-size: 12px; line-height: 200%; color: #666666; font-family: Verdana; text-align: left;">
<div>
    <table width="100%" border="0" cellspacing="0" bgcolor="#F2F2F2">

        <tr>
            <td>
                <div style="width: 615px; margin: auto; border: 0px;">
                    <div style="background-image: url('http://www.91wenwen.net/img/mailings/signup/top_bg.jpg'); background-repeat: no-repeat; float: left; margin: 0; padding: 18px 38px 0; _padding: 8px 38px 0; width: 539px; height: 73px;">
                        <div style="padding: 0 0 15px;"><img src="http://www.91wenwen.net/img/mailings/signup/logo.jpg" alt="91问问调查网" width="242" height="60" /></div>
                    </div>
                    <div style="background-image: url('http://www.91wenwen.net/img/mailings/signup/main_bg.jpg'); padding: 0 45px 0 40px; margin: 0px; width: 530px; float: left;">
                        <h2 style="color: #000; font-weight: bold; font-size: 14px;">亲爱的 {{ name }}</h2>
                        <p style="color: #666;">您的邮箱验证成功！并获得了<span style="color: #f8510b; font-weight: bold;">10积分奖励</span>！恭喜您完成了所有的注册步骤，现在就开始回答问卷，攒积分赚钱吧！</p>
                        <p style="text-align: center;"><a style="text-decoration: none;" title="DMDlink 2" href="http://www.91wenwen.net/survey/index" target="_blank"><img style="border: none;" src="http://www.91wenwen.net/img/mailings/signup/vote2_btn.jpg" alt="立即去做问卷" width="154" height="41" /></a></p>
                        <p style="border-top: 1px dotted #B9B9B9; color: #000; font-weight: bold; margin-top: 20px; padding-top: 10px;">关于回答问卷的说明：</p>
                        <ol>
                            <li style="color: #666;">我们已经发送了一定数量的属性问卷在您的问卷列表里；</li>
                            <li style="color: #666;">您可以选择一次性回答完，也可以分几次去完成；</li>
                            <li style="color: #666;">在您完成所有的属性问卷后，后期，您也将不定时继续收到不定数量的属性问卷，以便达到及时更新您的属性资料效果；</li>
                            <li style="color: #666;">在您申请参加海外调查项目并完成所有属性问卷后，您将获得收取高积分问卷的机会，后期只要您每天不断活跃您的账户，很快会有很多适合您的高积分问卷发送到您的账户。</li>
                        </ol></div>
                    <div style="background-image: url('http://www.91wenwen.net/img/mailings/signup/bottom_bg.jpg'); float: left; height: 87px; margin: 0; padding: 18px 38px 0; text-align: center; width: 539px; color: #666; font-size: 12px;">
                        <p style="margin: 5px 0; width: 530px;">请把<span>support@91wenwen.com</span>加到您的邮箱联系人中，以确保能够正确接收此邮件。</p>
                        <p style="margin: 5px 0; width: 530px; color: #666;"><a style="color: #666;" title="DMDlink 6" href="http://www.91wenwen.net" target="_blank">网站首页</a> <a style="color: #666;" title="DMDlink 7" href="http://www.91wenwen.net/support" target="_blank">帮助中心</a> <a style="color: #666;" title="DMDlink 8" href="http://www.91wenwen.net/about/map" target="_blank">网站地图</a></p>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
</body>
</html>