<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="padding: 0; margin: 0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f0f1f4" style="margin:0 auto; padding-bottom: 60px;">
        <tbody>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td align="center">
                    <table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td width="100%" style=" background: #fff; border: 1px solid #E6E6E6; padding: 44px 60px 10px; margin-top: 20px; margin-bottom: 20px;">
                                <table width="460" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td width="100%" style="padding-bottom: 15px;">
                                                <table width="640" cellpadding="0" cellspacing="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <a title="logo" style=" vertical-align: -12px; margin-right: 10px;" href="http://www.91wenwen.net/" target="_blank"><img style="border: none;" src="http://www.91wenwen.net/img/mailings/common/logo.png" width="66" height="41" alt="91问问调查网"></a>
                                                            <span style="color: #939393; font-size: 12px;">每个人都是社会的决策者</span>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="margin-top: 10px;" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                                                    <tr>
                                                                        <td>
                                                                            <div style=" color: #fff; font-size: 14px; font-weight: bold; padding: 15px; background: #7d8a91; border-bottom: 3px solid #657075; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-align: left; -moz-text-shadow: 1px 0 0 #3290c9; -webkit-text-shadow: 1px 0 0 #3290c9; text-shadow: 1px 0 0 #3290c9;">亲爱的{{ name1 }}：</div>
                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" style=" text-align: center;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><img src="http://www.91wenwen.net/img/mailings/delivery_notification/docIcon.png" width="114" height="115" alt="Icon" style="margin: 30px auto 18px;" /></td>
                                                                                    </tr>
                                                                                    <tr><td height="40" valign="top" style="color: #4f4f4f;">您的新问卷来了，这是一份高分值的“商业问卷”，名额有限请尽快回答。</td></tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; border-spacing: 9px 15px; background: #f3f3f3; border: 2px solid #dcdcdc; border-collapse: collapse;" cellpadding="20" cellspacing="0" border="0" align="center">
                                                                                <tr>
                                                                                    <td width='15%' height="30" style="text-align: right; font-size:13px; color: #383838; padding: 5px; border: 1px solid #dcdcdc;">标题：</td><td style="text-align: left; font-size:13px; color: #383838; padding: 5px 11px; border: 1px solid #dcdcdc; background: #fff;"><span style="color: #eb3825; font-weight: bold; font-size: 14px;">{{ survey_title }}</span></td>
                                                                                </tr>
                                                                                <tr>    
                                                                                    <td width='15%' height="30" style="text-align: right; font-size:13px; color: #383838; padding: 5px; border: 1px solid #dcdcdc;">奖励：</td><td style="text-align: left; font-size:13px; color: #383838; padding: 5px 11px; border: 1px solid #dcdcdc; background: #fff;"><span style="color: #eb3825; font-weight: bold; font-size: 14px;">{{ survey_point }}积分</span><span style="margin-left: 5px;">以上</span></td>
                                                                                </tr>
                                                                                <tr>    
                                                                                    <td width='15%' height="30" style="text-align: right; font-size:13px; color: #383838; vertical-align: top; line-height: 22px; padding: 10px 5px; border: 1px solid #dcdcdc; ">注意：</td><td style="text-align: left; font-size:13px; color: #383838; line-height: 22px; padding: 10px 11px; border: 1px solid #dcdcdc; background: #fff;">
                                                                                    <img src="www.91wenwen.net/img/mailings/common/markIcon.png" width="10" height="11" alt="icon" style=" margin-right: 8px;" />请仔细阅读问卷问题后再回答问卷。<br />
                                                                                    <img src="www.91wenwen.net/img/mailings/common/markIcon.png" width="10" height="11" alt="icon" style=" margin-right: 8px;" />回答问卷时一旦关闭浏览器，有可能无法再进入回答。<br />
                                                                                    <img src="www.91wenwen.net/img/mailings/common/markIcon.png" width="10" height="11" alt="icon" style=" margin-right: 8px;" />若在问卷出现问题时，请通过帮助中心来咨询我们。<br />
                                                                                    <img src="www.91wenwen.net/img/mailings/common/markIcon.png" width="10" height="11" alt="icon" style=" margin-right: 8px;" />如果你没有马上得到奖励积分，请不要着急，积分将会在调查期结束后累计。<br /></td>
                                                                                </tr>
                                                                            </table>
                                                                            <div style=" text-align: center; margin: 28px auto 35px;"><a title="GoSurvey" href="http://www.91wenwen.net/survey/index" target="_blank" style="padding: 15px 25px; background: #fc7019; color: #fff; text-decoration: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-size: 14px; font-weight: bold;">立即去做问卷<em style=" vertical-align: -3px; margin-left: 10px;"><img style="border: none;" src="http://www.91wenwen.net/img/mailings/common/arrowRight.gif" height="15" width="9" alt="我要做问卷" /></em></a></div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="width: 100%; text-align: center; display: block; margin-top: 17px; font-size: 12px; color: #6b6b6b;">请把<a title="csAddress" style=" color: #949494;" href="mailto:cs@91wenwen.net">cs@91wenwen.net</a>加到您的邮箱联系人中，以确保能够正确接收此邮件。</div>
                    <div style="width: 100%; text-align: center; display: block; margin-top: 10px;"><a title="homepage" href="http://www.91wenwen.net" target="_blank" style="text-decoration: none;"><span style="color: #419191; font-size: 12px; text-decoration: underline;">网站首页</span></a>  <span style="color: #C2C2C2; font-size: 12px;">|</span>  <a title="helpCenter" href="https://www.91wenwen.net/support" target="_blank" style="text-decoration: none;"><span style="color: #419191; font-size: 12px; text-decoration: underline;">帮助中心</span></a>  <span style="color: #C2C2C2; font-size: 12px;">|</span>  <a title="siteMap" href="https://www.91wenwen.net/about/map" target="_blank" style="text-decoration: none;"><span style="color: #419191; font-size: 12px; text-decoration: underline;">网站地图</span></a></div>
                </td>
            </tr>
        </tbody>
</table>
</body>