<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        无标题文档
    </title>
</head>
<body style="padding:0; margin:0;">
<table style="margin: 0; padding: 0 0 30px 0; background-color: #fcf5e1;" width="100%" cellspacing="0" cellpadding="10">

    <tr>
        <td style="background: #fff; text-align: center; font-size: 12px; padding: 0; line-height: 34px; color: #8b8b8b;" height="34">
            <table width="700" border="0" cellspacing="0" cellpadding="0" align="center">

                <tr>
                    <td style="font-size: 12px;" align="right">为了您能够正常收到来自91问问调查网的会员邮件，请将<a style="color: #eb7900; text-decoration: underline;" href="mailto:support@91wenwen.com" target="_blank">support@91wenwen.com</a>添加进您的通讯录</td>
                    <td width="5"></td>
                    <!-- <td align="left" width="73"><a style="height: 25px; display: inline-block;" title="DMDlink 1" href="#" target="_blank"><img src="http://www.91wenwen.net/img/mailings/delivery_notification/unsubBtn.gif" alt="退订" /></a></td> -->
                    <td align="left"><a style="height: 25px; display: inline-block;" title="DMDlink 8" href="http://www.91wenwen.net/feedback" target="_blank"><img src="http://www.91wenwen.net/img/mailings/delivery_notification/complaintBtn.gif" alt="投诉" /></a></td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="700" border="0" cellspacing="0" cellpadding="0" align="center">

                <tr>
                    <td style="color: #9ab; font: normal 11px helvetica, sans-serif; text-align: center;">
                        <table style="width: 100%; font: normal 11px helvetica, sans-serif; cell-padding: 0; cell-spacing: 0; margin-bottom: 10px;">

                            <tr>
                                <td align="left"><a title="DMDlink 2" href="http://91wenwen.net/" target="_blank"><img style="border: none;" src="http://www.91wenwen.net/img/mailings/delivery_notification/logo.gif" alt="logo" /></a></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 700px; height: 121px; background: url('http://www.91wenwen.net/img/mailings/delivery_notification/bg1.gif') no-repeat;" align="center" valign="top">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">

                            <tr>
                                <td colspan="2" height="16"></td>
                            </tr>
                            <tr>
                                <td width="100"></td>
                                <td style="color: #fff; font-size: 12px; line-height: 23px;" align="left"><span style="font-size: 14px; font-weight: bold;" data-mce-mark="1">亲爱的{{ name1 }}：</span><br /> 您的新问卷来了，这是一份高分值的“商业问卷”，名额有限请尽快回答。</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 700px; background: url('http://www.91wenwen.net/img/mailings/delivery_notification/bg2.png') no-repeat;" align="center">
                        <table style="width: 695px;" cellspacing="0" cellpadding="0">

                            <tr>
                                <td width="173"></td>
                                <td valign="top" width="370" height="120">
                                    <table style="width: 100%;" cellspacing="0" cellpadding="0">

                                        <tr>
                                            <td colspan="2" height="6"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; font-size: 14px; color: #333;" align="left" width="120" height="37">标题</td>
                                            <td style="color: #333; font-size: 12px;" align="left" height="37">{{ survey_title }}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; font-size: 14px; color: #333;" align="left" width="120" height="37">奖励</td>
                                            <td align="left" height="37"><span style="color: #ff0400; font-size: 18px; font-family: Microsoft Yahei,SimHei,Tahoma; font-weight: bold;" data-mce-mark="1">{{ survey_point }}积分以上</span><span style="font-size: 12px;" data-mce-mark="1">（完成问卷）</span></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; font-size: 14px; color: #333;" align="left" width="120" height="55">注意</td>
                                            <td style="color: #333; font-size: 12px; line-height: 20px;" align="left" valign="middle" height="55">※因为商业问卷需要数据审核周期，积分通常在 <span style="color: #ff5100;" data-mce-mark="1">一个月左右</span>累积到您的账户</td>
                                        </tr>

                                    </table>
                                </td>
                                <td width="138"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="8"></td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="top" height="60"><a style="text-decoration: none;" title="DMDlink 4" href="http://www.91wenwen.net/survey/index" target="_blank"><img style="border: none;" src="http://www.91wenwen.net/img/mailings/delivery_notification/goBtn.gif" alt="免费答问卷，赚积分" /></a></td>
                            </tr>
                            <tr>
                                <td style="color: #999; font-size: 12px; line-height: 20px; text-align: center; padding: 0 0 0 135px; height: 60px;" colspan="2" width="600">友情提示：属性问卷是我们判定用户情况，发送相应的高积分商业问卷的标准，请尽快回答您的属性问卷，以免失去更多回答高积分问卷的机会！</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="top" height="30"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20"></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: center; color: #999; font-size: 12px;"><a style="color: #999; text-decoration: none;" title="DMDlink 6" href="http://www.91wenwen.net" target="_blank">网站首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a style="text-decoration: none; color: #999;" title="DMDlink 7" href="http://www.91wenwen.net/support" target="_blank">帮助中心</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a style="color: #999; text-decoration: none;" title="DMDlink 8" href="http://www.91wenwen.net/about/map" target="_blank">网站地图</a></p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

</table>
</body>
</html>