{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷结束：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSurvey.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon qnEnd">
        <div class="qnEndTxt">
            <div class="txt"><h2>亲爱的用户！</h2>
              感谢您参加本次的问卷调查。<br>
              积分会在调查结束后的第2天自动累计。
            </div>
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}

