<div id="end">
  <div id="finish" class="clearfix">
    <p class="client_complete">
      <span class="text text_compose">
        亲爱的用户！感谢您参加本次的问卷调查。<br>
        积分会在调查结束后的<span>第2天</span>自动累计。
      </span>
    </p>
  </div>
</div>
