@charset "UTF-8";

@import "global";
.w1000{ 
	width: $page-width; 
	margin: 0 auto;
}
.left{ 
	float: left;
}
.right{ 
	float: right;
}
.hide{
	display: none;
}
body{ 
	font-family: $font-family;
	font-size: $font-size;
	background: $bg-body-color;
	color: $font-color;
}
.main{
    margin-top: 2px;
    &.unlogin{
    	margin-top: 0px;
    }
}
.main-con-left>div, .main-con-right>div{
	margin-top: 20px;
	background: $block-bg-color;
	border: $block-border;
}
.main-con-left>div{
	padding: 10px 25px;
}
.main-con-left{
	width: 75%;
}
.main-con-right{
	width: 23%;
	h2{
		padding: 13px 15px 0;
		line-height: 50px;
		color: #000;
		font-size: 14px;
		font-weight: bold;
		border-bottom: $block-inner-border;
	}
	.weibo{
		height: 550px;
		overflow: hidden;
	}
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}