@charset "UTF-8";

@import "global";

.footer{
	width: 100%;
	margin-top: 50px;
	padding: 48px 0 0;
	line-height: 24px;
	background: #3D4751;
	color: #9EADB7;
	.footer-con{
		padding-bottom: 30px;
	}
	.footer-nav-group{
		float: left;
		width: 154px;
		span{
			color: #66AEC7;
			font-size: 14px;
			font-weight: bold;
			padding: 8px 0;
			display: inline-block;
		}
		li{
			a{
				color: #9EADB7;
			}
			span{
				font-size: 12px;
				font-weight: normal;
				padding: 0;
			}
		}
	}
	.special{
		margin-top: 16px;
		.img-link img{
			margin-left: 2px;
			margin-top: 3px;
			display: inline-block;
		}
	}
	.copyright{
		text-align: center;
		margin-top: 20px;
		background: #323B43;
		padding: 10px 0;
		p{
			line-height: 30px;
			color: #7A8894;
		}
	}
	.footer-con-right{
		position: relative;
		.goTop{
			width: 60px;
		    height: 56px;
		    line-height: 56px;
		    background: #f5f6f8;
		    cursor: pointer;
		    font-size: 0;
		    display: block;
		    overflow: hidden;
		    background: url(../img/common/icons_common.png) no-repeat 0 -100px;
		    position: absolute;
		    bottom: 206px;
		    right: -86px;
			&:hover{
				text-align: center;
			    font-size: 14px;
			    background: #b8bbbf;
			    height: 46px;
			    line-height: 17px;
			    padding-top: 10px;
			    color: #fff;
			}
		}
		.QRcode{
			span{
				width: 100px;
				text-align: center;
				display: inline-block;
				&.wb{
					margin-right: 30px;
				}
				img{
					margin-bottom: 10px;
				}
			}
		}
	}
}
