@charset "UTF-8";

@import "global";
$header-height: 92px;
.header{
	background: #fff;
	height: $header-height;
	border-bottom: 3px solid #f26f21;
	@include box-shadow(0px 1px 5px #d8d8d8);
	.logo{
		a{
			padding: 15px 20px 15px 0;
			vertical-align: middle;
			@include dib();
		}
		span{
			padding: 0 20px;
			line-height: 35px;
			font-size: 26px;
			color: #595654;
			border-left: 1px solid #ddd;
			vertical-align: middle;
			@include dib();
			b{
				color: #f26f21;
			}
		}
	}
	p{
		color: #a0a0a0;
		font-size: 14px;
		height: 92px;
		line-height: 92px;
		a{
			color: #007ec2;
			font-weight: bold;
		}
	}
}
