@charset "UTF-8";

@import "global";
$header-height: 110px;
.header{
	height: $header-height;
	box-shadow: 0px 1px 5px #d8d8d8;
	li{
		float: left;
	}
	&.header-show{
		@include animation(0%, 500ms, (0.190, 1.000, 0.220, 1.000));
	}
	&.header-hide{
		@include animation(-100%, 300ms, (0.550, 0.055, 0.675, 0.190));
	}
	&.unlogin{
		height: 80px;
	}
}
$top-font-color: #828285;
$top-bg-color: #36363c;
.header-top{
	background: $top-bg-color;
	color: $top-font-color;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #bcbdc2;
	a{
		color: $top-font-color;
		font-size: 12px;
		&:hover{
			color: #fff;
		}
		&.mailLink{
			@include dib();
		} 
	}
}
.header-top-con{
	a{
		padding: 0 15px;
		border-right: 1px solid #77777a;
		&.first{
			padding-left: 0;
		}
		&.last{
			border-right: none;
		}
	}
	em{
		width: 20px;
		height: 15px;
		line-height: 15px;
		margin-left: 15px;
		margin-top: -3px;
		background: url(../img/common/icons_common.png) no-repeat 0 0;
		vertical-align: middle;
		@include dib();
		&.tool{
			width: 12px;
			height: 16px;
			line-height: 16px;
			background-position: 0 -38px;
		}
		&.mail{
			margin-top: 1px;
			margin-left: 0;
			background-position: 0 -20px;
			position: relative;
			z-index: 1;
			cursor: pointer;
			*margin-top: 8px;
		}
		.mark{
			position: absolute;
			z-index: 1000;
			top: -3px;
			right: -3px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: url(../img/common/icons_common.png) no-repeat 0 -58px;
		}
	}
	span{
		vertical-align: top;
		&.special{
			color: #fff;
			position: relative;
			z-index: 10;
			@include dib();
		}
		.expand-title{
			padding: 1px 20px 1px 0;
		}
		b{
			position: absolute;
			z-index: 1000;
			top: 14px;
			right: 0;
			margin-left: 5px;
			@include arrow(bottom, 5px, $top-font-color);
			transition:transform .1s ease-in 0s;
			-webkit-transition:-webkit-transform .1s ease-in 0s;
		}
	}
	span:hover{
		b{
			transform:rotate(180deg);
			-webkit-transform:rotate(180deg)
		}
	}
	.personal{
		position: absolute;
		z-index: 9999;
		top: 30px;
		right: 0;
		border: 1px solid #e0e0e0;  
		background: $block-bg-color;
		width: 194px;
		display: none;
		@include box-shadow(1px 2px 3px rgba(0,0,0,0.2));
		li{
			float: none;
			border-top: $block-border;
			line-height: 35px;
			padding: 3px 20px;
			a{
				width: 100%;
				border-right: none;
				color: #333;
				@include dib();
				font-size: 14px;
			}
			&:hover{
				background: #ededed;
				a{
					color: $main-color;
				}
			}
		}
		ul{
			border-top: 6px solid #ebebeb;
		}	
	}
	.personal-con{
		padding: 15px;
		border-bottom: 1px solid #dbdbdb;
		.faceTop{
			img{
				border: 1px solid #d6d6d6;
			    border-radius: 50%;
			    padding: 4px;
			}
		}
		span{
			padding: 0;
			@include dib();
			vertical-align: top;
			color: #4d4d4d;
			&.face{
				border-radius: 50%;
			}
			&.txt{
				font-size: 12px;
				line-height: 20px;
				margin-left: 5px;
				.nickname{
					margin-bottom: 5px;
					width: 70px;
					height: 30px;
					line-height: 30px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
				}
			}
			strong{
				font-size: 16px;
				color: $main-color;
			}
			img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
		}
	}
}

$nav-font-color: #404040;
$nav-font-size: 16px;
$header-nav-height: 80px;
.header-nav{
	background: $block-bg-color;
	height: $header-nav-height;
	line-height: $header-nav-height;
	span{
		color: #f5eeeb;
		padding: 0 15px;
	}
	img{
		vertical-align: middle;
	}
	.logo{
		margin-right: 80px;
		a{
			padding-right: 20px;
		}
		span{
			height: 28px;
			line-height: 28px;
			border-left: 1px solid #ddd;
			vertical-align: middle;
			@include dib();
		}
	}
	.nav{
		font-size: 0;
		height: $header-nav-height;
		// overflow: hidden;
		position: relative;
		z-index: 2;
		.logFirst{
		    height: 50px;
		    line-height: 20px;
		    display: inline-block;
		    color: #fff;
		    background: rgba(0,0,0,.8);
		    *background: #333;
		    background: #333\0;
		    font-size: 12px;
			position: absolute;
		    z-index: 9999999;
		    left: 93px;
		    top: 60px;
		    padding-top: 9px;
		    text-align: center;
		    @include border-radius(3px);
		    display: none;
		    em{
		    	position: absolute;
		    	top: -5px;
		    	left: 75px;
		    	@include arrow(top, 5px, rgba(0,0,0,.8));
		    }
		}
		.border{
			position: absolute;
			z-index: 1000;
			left: 0;
			bottom: 0;
			height: 6px;
			width: 115px;
			background: $main-color;
			display: none;
		}
		a{
			width: 115px;
			text-align: center;
			font-size: $nav-font-size;
			color: $nav-font-color;
			@include dib();
			overflow: hidden;
			cursor: pointer;
			&:hover, &.active{
				color: $main-color;
			}
		}
	}
	.login-btn{
		a{
			margin-left: 5px;
			padding: 0 10px;
			color: #888;
			&:hover{
				color: #ff652b;
			}
		}
		a.sign{
			color: #ff652b;
			border-left: 1px solid #d0d1d1;
			padding-left: 40px;
		}

	}
}
