@charset "UTF-8";

@import "global";
#top-header{
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.12));
    margin-bottom: 20px;
}
.navbar-header{
	a{
		.logo{
			margin: 10px 5px -2px 10px;
		}
	}
}
.nav-item{
	&.open{
		.nav-link{
			&, &:focus, &:hover{
				color: #ef7a46;
				border-bottom: 2px solid #ef7a46;
				padding-bottom: 15px;
			}
		}
	}
}
.nav-link{
	&.active, &.active:focus, &.active:hover{
		color: #ef7a46;
		border-bottom: 2px solid #ef7a46;
		padding-bottom: 15px;	
	}
}
.nav{
	.nav-item{
		a{
			font-size: 16px;
		}
	}
}
.navbar-default{
    .navbar-nav{
        &>li{
            .active{
                color: #ef7a46;
            }
            &.toLog{
                &:before{
                    content: " ";
                    height: 0;
                    width: 0;
                    pointer-events: none;
                    border-left: 1px solid #ddd; 
                }
               &>a{
                font-size: 12px; 
                &.sign{
                    color: $orange-color;
                }
               }
            }
            &>a{
              display: inline-block;
              color: #333;
              padding-top: 20px; 
              &:hover{
                color: $orange-color;
              }
            }
            &.exchangeIt{
              position: relative;
              .popover{
                position: absolute;
                top: 37px;
                left: 5px;
                white-space: nowrap;
              }
            }
        }
    }
}
.pointExp{
	display: inline-block;
	position: absolute;
    right: 14px;
    top: -3px;
    *top: 60px;
    span{
    	position: relative;
    	background: #fffbed;
    	border: 1px solid #d6cfb4;
		color: #3e3e3e;
	    font-size: 12px;
	    line-height: 24px;
	    padding: 1px 12px;
	    @include border-radius(3px);
    	&:after, &:before {
    		bottom: 100%;
    		left: 78%;
    		border: solid transparent;
    		content: " ";
    		height: 0;
    		width: 0;
    		position: absolute;
    		pointer-events: none;
    	}
    	&:after {
    		border-color: rgba(136, 183, 213, 0);
    		border-bottom-color: #fffbed;
    		border-width: 7px;
    		    margin-left: -30px;
    	}
    	&:before {
    		border-color: rgba(194, 225, 245, 0);
    		border-bottom-color: #d6cfb4;
    		border-width: 9px;
    		    margin-left: -32px;
    	}
    	i{
    		color: #ff0000;
    		font-weight: bold;
    	}
    }
}
.popover{
  display: block;
  font-size: 12px;
  line-height: 0.5;
  text-align: center;
  position: relative;
  top: -16px;
  margin-bottom: -11px;
  &>.arrow{
  	border-width: 8px;
  }
  &.bottom>.arrow{
  	top: -9px;
  }
}
.popover-content {
    padding: 7px 9px;
}
.nav{
    .dropdown{
        .dropdown-toggle, .dropdown-menu li a{
           font-size: 14px;     
        }
    }
} 
.dropdown{
    .dropdown-toggle{
        i{
            display: inline-block;
        }
    }
}
.dropdown-menu{
    &>li{
        &>a{
            padding: 6px 20px;
        }
    }
}
@media only screen and (max-width: 768px)  {
    .navbar-default .navbar-nav>li{
        .active{
            width: 100%;
        }
    }
}