/* CSS Document */
.mainCon{
	width: 720px;
	padding-bottom: 30px;
}
.main h2{
	font-size: 14px;
	font-weight: bold;
    height: 40px;
	line-height: 40px;
}
a.more{
	color: #999;
	font-size: 12px;
	font-weight: normal;
    line-height: 40px;
	font-family: \5b8b\4f53;
}
.focusPic{
	padding-left: 200px;
}
.adTop{ width:516px; height:112px; border:1px solid #e6e6e6; background:#fff; margin-left: 200px; margin-top: 5px; overflow:hidden;}
.adTop ul li{ float:left; margin: 10px 4px 0 10px;}
.adTop ul li.ad1{width:113px;}
.adTop ul li.ad2{ width:94px;}
.adTop ul li .pointNum{height: 24px;line-height: 24px;}
.slider{
    position: relative;
    z-index: 1;
}
.sliderBtns{
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 7px;
}
.sliderBtns b{
    height: 8px;
    width: 25px;
    margin-left: 3px;
    background-color: rgb(0, 0, 0);
    opacity: .5;
    filter: alpha(opacity = 50);
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.sliderBtns b.active{
    background-color: #f75232;
    opacity: .9;
    filter: alpha(opacity = 90);
}
.sliderMask{
    width: 518px;
    height: 191px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.sliderMask ul{
    width: 1000%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.sliderMask li{
    float: left;
}
.hotShops{
	width: 978px;
	padding: 10px;
	border: 1px solid #eaeae8;
	background-color: #fff;
	margin-top: 10px;
}
.shopSlider{
	position: relative;
	z-index: 1;
}
.shopSlider bdo{
	width: 14px;
	height: 24px;
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -12px;
    cursor: pointer;
}
.shopSlider bdo.prevBtn{
	left: -40px;
	background:url(../images1408/icons.png) no-repeat 0 -40px;
}
.shopSlider bdo.nextBtn{
	right: -40px;
	background:url(../images1408/icons.png) no-repeat -19px -40px;
}
.shopSlider li{
	float: left;
	width: 121px;
	text-align: center;
	border-right: 1px solid #f2f2f2;
	position: relative;
	z-index: 1;
}
.shopSliderMask{
	margin: 0 auto;
	width: 975px;
	height: 74px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.shopSliderMask ul{
	width: 1000%;
	position: absolute;
	z-index: 100;
}
.shopSlider .shopLogo{
	width: 125px;
	height: 42px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.shopSlider p{
	color: #999;
	line-height:28px;
}
.shopActive{
	position: absolute;
	z-index: 100;
	width: 120px;
	height: 70px;
	left: 0;
	bottom: 0;
	display:none;
}
.shopActive .shopMask{
	width: 119px;
	height: 70px;
    opacity: .8;
    filter: alpha(opacity = 80);
	border:1px solid #fab627;
}
.shopActive .shopBtns{
	width: 100%;
	height: 22px;
	overflow: hidden;
	position: absolute;
	bottom: -2px;
	left:0;
}
.shopActive .shopBtns a, .shopActInfo .linkBtn a, span.arrow, a.register{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.shopActive .shopBtns a{
	width: 60px;
	text-align: center;
	line-height: 22px;
	float: left;
	color: #fff;
	background-color: #fab627;
	cursor: pointer;
	position: relative;
	z-index: 9999;
}
.shopActive .shopBtns a.toMore{ background:#9ccc3d;}
.shopActive .shopBtns a.toBuy{ background:#f9b036;}
.shopSlider li.active .shopActive{
	display: block;
}
.shopAct{
	padding: 0 20px;
	background-color: #fff;
	margin-top:10px;
}
.shopActList{ margin-top:5px;}
.shopActList a.more{ color:#999;}
.shopActItem{
	height: 168px;
	font: 12px/26px 'microsoft yahei',simhei;
}
.shopActImg{
	float: left;
	margin-right: 10px;
}
.shopActInfo{
	float: right;
	width: 245px;
	height: 167px;
	border-bottom: 1px solid #f2f2f2;
	position:relative;
}
.shopActInfo .tit .tt{
	color: #f75232;
	font-size:17px;
	max-width: 85px;
	*+max-width:80px;
	_width:expression(document.body.clientWidth > 140 ? "140px" : "auto"); /*针对ie6*/
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*padding-right: 5px;
	margin-right:5px;
}
.shopActInfo .tit{
	max-height: 50px;
	height: 30px;
	overflow: hidden;
}

.shopActInfo .businessName{ 
	max-height: 30px;
	height: auto;
	overflow: hidden;
	width: 155px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.shopActInfo .businessName a{ 
	color:#101010; 
	font-weight: bold;
	font: 17px/26px 'microsoft yahei',simhei;
}
.shopActInfo .businessName a:hover{ 
	text-decoration:underline;
}
.shopActInfo .dis{
	font-size: 12px;
	color: #999;
	max-height: 60px;
	height:auto;
	line-height: 20px;
	overflow:hidden;
	margin-top:1px;
}
.shopActInfo .shopActDetail{
	margin-top: 35px;
	position:absolute;
	right: 0;
	bottom: 10px;
	width:100%;
}
.shopActInfo .shopActDetail .dl{ 
	display:inline-block;
	*+display:inline;
	*+float:left;
}
.shopActInfo .shopActDetail .dl .rebate{ 
	border:1px solid #fd6244; 
	background:#fd6244; 
	color:#fff;
	height: 17px;
	line-height: 17px;
}
.shopActInfo .shopActDetail .dl .rebate .num{ 
	background:#fff; 
	display:inline-block;
	height: 17px;
	-moz-border-radius: 0 3px 3px 0; 
	-webkit-border-radius: 0 3px 3px 0; 
	border-radius: 0 3px 3px 0;
}
.shopActInfo .linkBtn{
	text-align: right;
	margin-top: 4px;
	float:right;
}
.shopActInfo .linkBtn a{
	width: 77px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #4c94ff;
	-webkit-box-shadow: #276fdb 0px 2px 0;
	-moz-box-shadow: #276fdb 0px 2px 0;
	box-shadow: #276fdb 0px 2px 0;	
}
.shopActInfo .linkBtn a:hover{
	background:#488bf0;
}
.shopActInfo .publicAttention{ 
	float:left; 
	font-size:12px; 
	color:#999; 
	font-weight:normal; 
	background: url(../images1408/icons.png) no-repeat 0 -263px; 
	padding-left: 15px;
}
.rightSider{
	width:270px;
}
.rightSider>div{
	padding: 0 13px 10px;
	background-color: #fff;
}
div.loginArea{
	padding-top: 24px;
	padding-bottom: 13px;
	height: 124px;
	border-right:1px solid #e6e6e6;
}
.loginArea p{
	color: #999;
	line-height: 40px;
}
.loginArea p span{
	color: #f2f2f2;
}
.loginArea p a{
	font-size: 14px;
	color: #4a8ef3;	
}
a.register{
	width: 240px;
	height: 55px;
	line-height: 55px;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #4a8ef3;	
}
div.personInfo{
	padding: 13px;
	padding-bottom: 24px;
	border-right:1px solid #e6e6e6;
}
.userExtra{ padding:10px; margin-top: 14px; background:#fafafa; border-radius: 2px 2px; border:1px solid #ececec;}
.headPort{
    float: left;
	width: 46px;
	height: 46px;
	margin-right: 10px;
	background: url(../images1408/headPortBg.jpg) no-repeat;
}
.welcome{
    float: left;
	line-height: 23px;
}
.signBtn,.btnHascheckin{
    float: right;
	width: 100px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background-color:#4a8ef3;
	-moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius: 2px;
	cursor: pointer;
}
.autoCheckinBtn{
	width: 105px;
}
span.signIcon, .quickQInfo p span, .countDown span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
span.signIcon{
	width: 26px;
	height: 16px;
	background: url(../images1408/icons.png) no-repeat 0 -134px;
	vertical-align: middle;
}
.btnHascheckin{ background:#ccc; color:#fff;}
.personInfo li{
	width:48%;
	background-color: #f7f7f7;
	text-align:center;
	display: inline-block;
	color:#999;
	*display:inline;
	*zoom:1;
}
.personInfo li.first{border-right:1px solid #e8e8e8;}
.personInfo li span{
	color: #6b6b6b;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	display:block;
}
div.quickQ{
	margin-top: 3px;
	padding-bottom:15px;
}
div.quickQ .quickQCon .fnLeft{ border: 1px solid #f0f0f0;}
.quickQInfo{
	width: 141px;
}
.quickQInfo div.textTit{line-height: 21px;}
.quickQInfo .quickWrap{ float:left;margin-bottom: 10px; line-height: 22px; width: 141px; min-height: 42px;}
.quickQInfo .quickWrap span{
	width: 15px;
	height: 21px;
}
.quickQInfo .quickWrap span.quotesR{ display:inline-block;
margin-top: -17px;}
.quickQInfo div span.quotesL{
	background: url(../images1408/icons.png) no-repeat 0 -174px;
	float:left;
	margin-right: 3px;
}
.quickQInfo div span.quotesR{
	background: url(../images1408/icons.png) no-repeat -13px -169px;
}
.countDown{
	margin-top: 15px;
	color: #999;
}
.countDown strong{width:6px; margin-right:5px; display:inline-block;}
.countDown strong, .countDown span{
	color: #333;
	font-weight: bold;
	font-family:'Microsoft YaHei',sans-serif;
}
.countDown span{
	width: 29px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	background: url(../images1408/timeBg.jpg) no-repeat center;
}
.timeline{padding-bottom: 10px;}
.timeline li{
	border-top: 1px solid #f2f2f2;
    height: 36px;
	line-height: 36px;
}

.timeline li span{
	padding-right: 8px;
}
.timeline li em{
	padding-left: 8px;
}
.timeline .mask{
	height: 220px;
	overflow: hidden;
}
.timeline .mask ul{ padding:0 10px;}
.mask{
    position: relative;
    z-index: 1;
    width: 244px;
    overflow: hidden;
}
.all{
    width: 1000%;
    position: absolute;
    z-index: 100;
    left: 0;
}
.all ul{
    float: left;
    width: 244px;
    overflow: hidden;
}
div.notice, div.rank{
	position: relative;
	z-index: 1;
	padding-bottom: 13px;
}
div.notice{ 
	margin-top: 117px;
	padding: 5px 0 28px 15px;
}
.notice .mask{
    height: 72px;
}
.notice li{
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	list-style: disc inside;
    width: 232px;
}
.notice li a:hover{
    color: #ea4c11;
    text-decoration: none;
}
.notice .pageNumber,div.rank .menu{
	position: absolute;
	z-index: 50;
	top: 10px;
	right: 9px;
}
.notice .pageNumber{
	top: 14px;
	right: 14px;
}
.notice .pageNumber span{
	padding: 0 5px;
	color:#999;
}
.notice .pageNumber a{
	width: 4px;
	height: 8px;
	background: url(../images1408/icons.png) no-repeat 0 -155px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
    cursor: pointer;
}
.notice .pageNumber a.nextBtn{
	background: url(../images1408/icons.png) no-repeat -4px -155px;
}
.rank .mask{
	height: 179px;
}
.rank li{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dotted #e0e0e0;
    *margin-top: -2px;
}
.rank li em, .rank li dd{
	float: left;
}
.rank li dt{
	float: right;
}
.rank li em{
	color: #fff;
	font-size: 12px;
	width: 12px;
	height: 15px;
	line-height: 12px;
	text-align: center;
	margin: 10px;
	background: url(../images1408/icons.png) no-repeat 0 -20px;
}
.rank li em.redBg{
	background: url(../images1408/icons.png) no-repeat 0 0;
}
.menu span{
	padding: 0 10px 7px;
    cursor: pointer;
}
.menu span.active{
	color: #fff;
    background: url(../images1408/rankBg.png) no-repeat;
}