.inlineBlock{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}
.borderGray{
	border: 1px solid #e5e5e5;
	background-color: #fff;
}
.helpL{
	width: 190px;
	font-size: 14px;
	z-index: 100;
	position: relative;
}
.helpL h1{
	height: 50px;
	line-height: 50px;
	color: #666;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-right: 25px;
	background: #fafafa url(../images1408/help/helpicon.png) no-repeat 130px 15px;
}
.helpNavs li{
	height: 45px;
	line-height: 45px;
	padding-left: 40px;
	margin-top: -1px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	cursor: pointer;
}
.helpNavs li.active{
	width: 148px;
	margin-right: -1px;
	color: #fd6244;
	font-weight: bold;
	border-left: 2px solid #fd6244;
	border-right: none;
}
.askQuestion{
	margin-top: 15px;
	font-size: 12px;
}
.askQuestionDetail, .tips{
	padding: 10px 5px;
	background-color: #fafafa;
}
.askQuestionDetail p, .askQuestionDetail .contact{
	position: relative;
	z-index: 1;
}
.askQuestionDetail span{
	position: absolute;
	z-index: 100;
	left: 5px;
	top: 3px;
	font-size: 12px;
	color: #bdbdbd;
}
.askQuestion h2{
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
	padding-left: 40px;
	background-color: #fd6244;
	border-radius: 3px;
	cursor: pointer;
}
.askQuestion h2 span{
	margin-top: 18px;
	padding-right: 15px;
	width: 15px;
	height: 15px;
	background: url(../images1408/help/arrow.png) no-repeat 0 0px;
}
.helpL div.active h2 span{
	background: url(../images1408/help/arrow.png) no-repeat 0 -18px;
}
.askQuestion textarea, .askQuestion input{
	padding: 2px 3px;
	height: 20px;
	line-height:20px;
	width: 170px;
}
.askQuestion textarea{
	height: 80px;
	overflow-x: hidden;
}
.askQuestionBtn .submitQuestion{
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 70px;
	height: 24px;
	line-height: 22px;
	border: none;
	background-color: #cccaca;
	border-radius: 3px;
	cursor: pointer;
}

.helpR{
	width: 749px;
	margin-left: -1px;
	padding: 5px 30px 20px;
	background-color: #fff;
	font-size: 14px;
	min-height: 650px;
}
.helpR h2{
	height: 45px;
	line-height: 45px;
	color: #fd6244;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px dotted #c9c9c9;
}
.newGuide{
	padding: 0 30px;
}
.newGuide li{
	float: left;
	width: 50%;
	padding: 50px 0;
	height: 100px;
	overflow: hidden;
}
.newGuide li p{
	float: left;
	margin-right: 10px;
}
.newGuide li dl{
	float: left;
	width: 185px;
}
.newGuide li dt{
	color: #333;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 18px;
}
.newGuide li dd{
	font-size: 12px;
	padding-top: 13px;
	color: #666;
}
.newGuide li dd span{
	font-size: 14px;
	width: 100px; 
	height: 22px; 
	line-height: 22px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #f6f6f6;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	cursor: pointer;
}
.newGuideDetail h3{
	margin-top: 10px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}
.newGuideDetail li{
	color: #000;
	font-size: 12px;
	margin-top: 15px;
}
.newGuideDetail li p{
	line-height: 22px;
}
.newGuideDetail li strong{
	color: #fd6244;
	margin-right: 10px;
}
.newGuideDetail li a{
	color: #4c94ff;
}
.newGuideDetail li .guideImg{
	margin-top: 5px;
}
.questions{
	padding: 20px 0;
	display: none;
}
.questions li{
	font-size: 0;
}
.questions li .question{
	font-size: 14px;
	padding-left: 20px;
	height: 45px;
	line-height: 45px;
	background-color: #f5f5f5;
	margin-bottom: 2px;
	cursor: pointer;
}
.questions li .question em, .questions li .question span{
	margin-right: 15px;
	float: left;
}
.questions li .question span.icons{
	float: right;
	margin-top: 15px;
	padding-right: 20px;
	width: 15px;
	height: 15px;
	background: url(../images1408/help/arrow.png) no-repeat 0 -35px;
}
.questions li.active .question span.icons, .questions li.on .question span.icons{
	padding-right: 23px;
	background: url(../images1408/help/arrow.png) no-repeat 0 -55px;
}
.questions li.active .question, .questions li.on .question{
	color: #ff350d;
	background-color: #ffe5e0;
}
.questions li p{
	line-height: 20px;
	font-size: 12px;
	margin: 15px 0;
	padding-left: 40px;
	padding-right: 20px;
	display: none;
}
.questions li p strong{
	color: #eb411f;
	font-weight: normal;
}
.questions li p a{
	color: #4c94ff;
}