/* CSS Document */
body{
    font:12px/150% Arial,Verdana,"宋体";
	color: #333;
	background-color: #f4f4f4;
	text-align:center;
}
a{ color: #333;}
strong,b{ font-weight:bold;}
.globRed{ color:#f75232;}
.globRed2{color:#fd6244;}
.lightGray{ color:#999;}
.clearfix:after{
	clear:both;
	visibility:hidden;
	display:block;
	font-size:0;
	content:'.';
	height:0;
}
.clearfix{
	zoom: 1;
}
.fnHide{
	display:none;
}
.fnLeft, .fnRight{
	display:inline;
}
.fnLeft{
	float:left;
}
.fnRight{
	float:right;
}
.w1000{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top:15px;
}
.mt20{
	margin-top:20px;
}
.ml5{ 
	margin-left:5px;
}
.mt5{
	margin-top:5px;
}
.mb15{
	margin-bottom:15px;
}
.pl5{ 
	padding-left:5px;
}
.pr5{ 
	padding-right:5px;
}
.br3{
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
}
/*header&footer*/
.topNavs{
	text-align:right;
	height:30px;
	line-height:30px;
	*+position:relative;
}
.headerConWrapper{
	background-color:#fff;
	height:115px;
	border-bottom: 1px #eaeae8 solid;
	box-shadow: 1px 1px 1px rgb(234, 234, 232);
}
.headerCon{
	position: relative;
	z-index: 1;
}
.headerConUp{
	height: 45px;
	padding: 15px 0;
}
.search{
	position: relative;
	z-index: 1;
	width: 521px;
	padding: 10px 0;
}
.search input{
	width: 420px;
	height: 22px;
	line-height: 22px;
	padding: 5px 10px;
	border: 3px solid #eaeae8;
	color: #999;
}
.search .searchBtn, .search .helpBtn{
	position: absolute; 
	z-index: 20;
	top: 10px;
	width: 38px;
	height: 38px;
	background-color: #eb411f;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.search .searchBtn{
	left: 443px;
	cursor: pointer;
}
.search .helpBtn{
	left: 482px;
}
span.searchBtn:hover, a.helpBtn:hover{
    background-color: #d43a1b;
}
.mainNavs{
	padding-left: 220px;
}
.mainNavs li{
	float: left;
	height: 40px;
	line-height:40px;
	padding: 0 19px;
}
.mainNavs li.active a{
	color:#c84126;
}
.mainNavs a{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.mainNavs a:hover{
	color: #c84126;
    text-decoration: none;
}
.mainNavs li a.navTB{
	color:#f75232;
	display: inline-block;
	width: 100px;
}
.mainNavs li .iconTB{
	width:24px;
	height:19px;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 4px;
	background:url(../images1408/icons.png) no-repeat 0 -290px;
}
.dailyQuest{
	position: absolute;
	z-index:1000;
	left: 0;
	top: 75px;
	width: 190px;
	color: #fff;
	background-color: #f75232;
}
.dailyQuest a{
	color: #fff;
}
.dailyQuest a:hover{ text-decoration:underline!important;}
.dailyQuest h3{
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding-left:20px;
	background-color: #eb411f;
	cursor:pointer;
}
.dailyQuest span, .dailyQuest em{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
span.expandIcon{
	margin-left: 60px;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images1408/icons.png) no-repeat 0 -165px;
}
.dailyQuest li{
	height: 43px;
	padding: 10px 20px;
	line-height: 22px;
	overflow: hidden; 
	position: relative;
	z-index: 1;
	border-bottom:1px solid #f86545;
}
.dailyQuest li.done{ background:#f86447; border-bottom:1px solid #f9765a;}
.dailyQuest li:hover, .dailyQuest li.active{
	background-color: #d43a1b;
	cursor:pointer;
}
.dailyQuest em{
	width: 31px;
	height: 31px;
	overflow: hidden;
}
em.signIcon{
	background: url(../images1408/taskIcons.png) no-repeat 0 0;
}
em.taskHallIcon{
	background: url(../images1408/taskIcons.png) no-repeat 0 -35px;
}
em.shoppingIcon{
	background: url(../images1408/taskIcons.png) no-repeat 0 -70px;
}
em.quickQIcon{
	background: url(../images1408/taskIcons.png) no-repeat 0 -105px;
}
em.chickenIcon{
	background: url(../images1408/taskIcons.png) no-repeat 0 -140px;
}
.dailyQuest li span{
	padding-left: 15px;
}
.dailyQuest span.mark,.dailyQuest span.hasMark{
	width: 35px;
	height: 28px;
	padding: 0;
	background:url(../images1408/icons.png) no-repeat 0 -69px;
	position: absolute;
	z-index: 50;
	top: 0;
	right: 0;
}
.dailyQuest span.hasMark{
	background:url(../images1408/icons.png) no-repeat 0 -200px;
	right: -7px;
}
.dailyQuest li.shopping{
	height: 32px;
	padding: 16px 20px;
}
.dailyQuest li.shopping span{
	height: 28px;
	line-height: 28px;
	vertical-align: top;
	overflow: hidden;
}
.footer{
	padding: 20px 0 60px;
	background-color: #ededed;
}
.footer p{
	line-height: 30px;
}
span.recordInfo{
	padding-left: 20px;
}
span.aboutUs{
	padding-right: 20px;
}
a.sina{
	background: url(../images1408/sinaIcon.jpg) no-repeat left center;
	padding-left: 20px;
	padding-right: 20px;
}
a.tencent{
	background: url(../images1408/txweiboIcon.jpg) no-repeat left center;
	padding-left: 20px;
}	

.webArticle {
	width: 1000px;
	margin: auto;
	padding:0 0 140px 0;
	display:table;
	position: relative;
	z-index:auto;
}
.webArticle .errorMessage{
    color: #FF0000;
    padding-bottom: 50px
}
.webArticle .error{
    font-size: 16px;
    padding-top: 100px;
    text-align: center;
}

/* top notice */
.topNotice{ 
	height:22px; 
	line-height:22px; 
	text-align:center; 
	color:#4d4d4d; 
	background:#fffbe2; 
	border-bottom:1px solid #f4e8ca;
}
/* top notice / */

/* top banner */
.indexTopbannerWrap{
	background: #ffd400; 
	border-top: 1px solid #eaeae8;
}
.indexTopbanner{
	width:100%;
	height: 51px;
	position: relative;
	z-index:2;
}
.indexTopbanner a{
	display: block;
}
.indexTopbanner a.allPointer{
	width: 100%;
	height: 51px;
	background: url(../images1408/baoXiangBanner.jpg) no-repeat center;
}
.indexTopbanner .rule{
	width: 1000px;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 50%;
	margin-left: -500px;
}
.ruleCon{ position: relative; z-index: 1; float: right; height: 45px;}
.indexTopbanner .rule a.rulePic{
	width: 69px;
	height: 45px;
	background: url(../images1408/baoXiangRule.png) no-repeat top center;
}
.indexTopbanner .ruleDetail{
	position: absolute;
	z-index: 9999;
	top: 43px;
	right: 0;
	width: 240px;
	padding: 10px 15px;
	background-color: #fffae3; 
	color: #333;
	border-radius: 3px;
	display: none;	
}
.indexTopbanner .ruleDetail .textLink, .indexTopbanner .ruleDetail .tips{
	color: #f23b1b;
}
.indexTopbanner .ruleDetail .textLink{
	display: inline;
	text-decoration: underline;
}
.indexTopbanner .ruleDetail p{
	line-height: 25px;
}
.indexTopbanner .ruleDetail .tips{
	text-align: left;
	padding-left: 5px;
}
.indexTopbanner .ruleDetail li{
	float: left;
	width: 115px;
	padding-left: 5px;
	text-align: left;
	line-height: 20px;
}
.indexTopbannerFold,.indexTopbannerUnfold {
	width: 17px;
	height: 38px;
	line-height: 16px;
	overflow: hidden;
	padding-top: 2px;
	color: #FFF;
	position: absolute;
	right: 21px;
	cursor: pointer;
	top: 0;
	display: block;
	text-align: center;
	background: #666;
}
.indexTopbannerFold s {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	border-style: solid dashed dashed dashed;
	border-color: #FFF transparent transparent transparent;
	border-width: 4px;
	left: 4px;
	bottom: -2px;
}
.indexTopbannerUnfold s {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	border-width: 4px;
	left: 4px;
	border-style: dashed dashed solid dashed;
	border-color: transparent transparent #FFF transparent;
	bottom: 2px;
}
/* top banner /*/
.rightSider div.topiTaobao{ 
	padding: 0;
}
.l834Taobao{ width:834px; height:90px; background:#fff; margin-bottom:10px;}

