.header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  box-shadow: 0px 1px 5px #d8d8d8;
}
.header li {
  float: left;
}
.header.header-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.header.header-hide {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.header.unlogin {
  height: 80px;
}

.header-top {
  background: #36363c;
  color: #9a9a9b;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bcbdc2;
}
.header-top a {
  color: #9a9a9b;
  font-size: 12px;
}
.header-top a:hover {
  color: #fff;
}
.header-top a.mailLink {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.header-top-con a {
  padding: 0 15px;
  border-right: 1px solid #77777a;
}
.header-top-con a.first {
  padding-left: 0;
}
.header-top-con a.last {
  border-right: none;
}
.header-top-con em {
  width: 20px;
  height: 15px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: -3px;
  background: url(../img/common/icons_common.png) no-repeat 0 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con em.tool {
  width: 12px;
  height: 16px;
  line-height: 16px;
  background-position: 0 -38px;
}
.header-top-con em.mail {
  margin-top: 1px;
  margin-left: 0;
  background-position: 0 -20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  *margin-top: 8px;
}
.header-top-con em .mark {
  position: absolute;
  z-index: 1000;
  top: -3px;
  right: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: url(../img/common/icons_common.png) no-repeat 0 -58px;
}
.header-top-con span {
  vertical-align: top;
}
.header-top-con span.special {
  color: #fff;
  position: relative;
  z-index: 10;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con span .expand-title {
  padding: 1px 20px 1px 0;
}
.header-top-con span b {
  position: absolute;
  z-index: 1000;
  top: 14px;
  right: 0;
  margin-left: 5px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #9a9a9b transparent transparent transparent;
  border-bottom: none;
  transition: transform .1s ease-in 0s;
  -webkit-transition: -webkit-transform .1s ease-in 0s;
}
.header-top-con span:hover b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.header-top-con .personal {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 0;
  border: 1px solid #eee;
  background: #fff;
  width: 186px;
  display: none;
}
.header-top-con .personal li {
  float: none;
  border-top: 1px solid #eee;
  line-height: 35px;
  padding: 0 20px;
}
.header-top-con .personal li a {
  border-right: none;
  color: #4d4d4d;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con .personal li:hover {
  background: #fafafa;
}
.header-top-con .personal-con {
  padding: 15px 20px;
}
.header-top-con .personal-con span {
  padding: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  color: #4d4d4d;
}
.header-top-con .personal-con span.face {
  border-radius: 50%;
}
.header-top-con .personal-con span.txt {
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
}
.header-top-con .personal-con span.txt .nickname {
  margin-bottom: 5px;
}
.header-top-con .personal-con span strong {
  font-size: 16px;
  color: #ff6700;
}

.header-nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
}
.header-nav span {
  color: #f5eeeb;
  padding: 0 15px;
}
.header-nav img {
  vertical-align: middle;
}
.header-nav .logo {
  margin-right: 80px;
}
.header-nav .logo a {
  padding-right: 20px;
}
.header-nav .logo span {
  height: 28px;
  line-height: 28px;
  border-left: 1px solid #ddd;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-nav .nav {
  font-size: 0;
  height: 80px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.header-nav .nav .border {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 115px;
  background: #ff6700;
  display: none;
}
.header-nav .nav a {
  width: 115px;
  text-align: center;
  font-size: 16px;
  color: #404040;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
}
.header-nav .nav a:hover, .header-nav .nav a.active {
  color: #ff6700;
}
.header-nav .login-btn a {
  margin-left: 5px;
  padding: 5px 10px;
  color: #88878e;
  border: 1px solid #dedfe3;
  border-radius: 3px;
}
.header-nav .login-btn a:hover {
  color: #fff;
  background: #ff6700;
  border: 1px solid #ff6700;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
}
