aside {
    width:225px;
}
aside.offowAside{
	width:380px;
	margin-top:40px;
}
.adList{
	margin-top:15px;
}
.adList article{
	width: 723px;
	_margin-right: -15px;
	float: left;
	display: inline-block;
	position:relative;
}
.adList article h2{
	height:30px;
	line-height:30px;
}
.adList article .explain {
	bottom: 15px;
    position: absolute;
    right: 40px;
}
.adList article .explain a.explainBtn{
    background-image: url("../images/upArrow.gif");
    background-position: 64px 12px;
    background-repeat: no-repeat;
    bottom: -4px;
    color: #770316;
    display: inline-block;
    font-weight: bold;
    padding: 6px 20px 5px 10px;
    position: absolute;
    right: 0;
    width: 53px;
    z-index: 802;
}
.adList article .explain a.explainBtn:hover{
	background-color:#FFF;
	border-color: #FFFFFF #bd0221 #bd0221;
    border-image: none;
    border-right: 1px solid #bd0221;
    border-style: solid;
    border-width: 1px;
	text-decoration:none;
	right: -1px;
	bottom: -5px;
}
.adList article .explain div.explainMore{
	background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    bottom: 25px;
    padding: 5px 10px 0 10px;
    position: absolute;
    right: -1px;
	display:none;
    width: 400px;
	border:1px solid #bd0221;
	z-index:801;
}
.adList article .explain div.explainMore p{
	border-bottom: 1px solid #EEEEEE;
    margin: 5px 0;
    padding: 4px 0 8px;
}
.cpaMain{
	background-color:#770316;
	border-radius:10px 10px 0 0;
	padding-top:17px;
	width:380x;
	border-bottom: 3px solid #E6E6E6;
}
.cpaMain .cpaAll{
	background-color:#FFF;
	border-radius:10px 10px 0 0;
	padding:0px 20px 4px;
}
.cpaMain .cpaAll .cpa{
	height:111px;
	border-bottom:1px solid #cccccc;
	padding: 11px 0 30px;
	font-size:15px;
}
.cpaMain .cpaAll .cpa.last{
	border:none;
}
.cpaMain .cpaAll .cpa dd{
	width:200px;
	float:left;
	margin-right:10px;
}
.cpaMain .cpaAll .cpa dt{
	width:127px;
	text-align:center;
	color:#ee691e;
	font-weight:bold;
	padding-top:15px;
	display: inline-block;
}
.cpaMain .cpaAll .cpa dt .title{ font-weight:normal; text-align:left;}
.cpaMain .cpaAll .cpa dt .joinBtn{
	background-color: #FDCE6F;
    border-radius: 5px;
    color: #EA4B11;
    display: inline-block;
    font-size: 13px;
    margin-top: 3px;
    padding: 10px 37px;
}
.cpaMain .cpaAll .cpa dt .joinBtn:hover{
	text-decoration:none;
}
.cpaMain .cpaAll .cpa .title{
	display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.offwowSubnav{ width:960px;}
.offwowSubnav .subnavList{ position:relative; height:40px; line-height:40px; font-size:14px;}
.offwowSubnav .subnavList .subnavItem{ float:left; padding:0 30px 0 0;}
.offwowSubnav .subnavList .first a{ border-right:1px solid #ccc; padding-right:30px;}
.offwowSubnav .subnavList a{ color:#333;}
.offwowSubnav .subnavList a:hover,.offwowSubnav .subnavList a.now{ color:#ea4b11;}
.navNew{ position:absolute; top: -5px; left: 173px; z-index: 99999;}
