.adMore{
	margin-top:30px;
}
.adMore article{
	/*width: 1150px;*/
	display: inline-block;
	background-image:url(../images/adMoreBg_repeat.jpg);
}
.adInfo article{ width:1150px;}
.adMore article .top{
	background-image: url("../images/adMoreBg_top.jpg");
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100%;
}
.adMore article .bottom{
	background-image: url("../images/adMoreBg_bottom.jpg");
    background-repeat: no-repeat;
    height: 25px;
    margin-top: 30px;
    width: 100%;
}
.adMore article div.actionTitle{
	width:80%;
	margin:0px auto 20px;
	/*height:100px;*/
	position:relative;
}
.adMore article div.rule, .adMore article div.explain{
	background-color: #F7F5F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #CCCCCC inset;
    margin: 15px auto;
    padding: 0 0 20px;
    width: 80%;
	text-align:center;
}
.adMore article div.rule h2, .adMore article div.explain h2{
	border-bottom: 1px solid #EDE4DF;
    color: #e94d41;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 10px;
    width: 90%;
	text-align:left;
}
.adMore article div.rule .article, .adMore article div.explain .article{
	border-top: 1px solid #FFFFFF;
    margin: 0 auto;
    width: 90%;
	padding: 10px 0 0;
	display:inline-block;
	text-align:left;
	line-height:200%;
	font-size:14px;
}
.adMore article div.rule .article h3{
	font-size:14px;
	font-weight:bold;
	color:#666;
	line-height:200%;
	margin:5px 0;
}
.adMore article div.rule .article p, .adMore article div.explain p{
	font-size:14px;
	color:#666;
	line-height:200%;
}
.adMore article div.explain div.img{
	float: left;
    margin: 0 20px 0 0;
}
.actionTitle h1{
	color: #E87400;
    font-size: 24px;
    margin-bottom: 30px;
	line-height:24px;
	font-family:""
}
.actionTitle p{
	color: #E87400;
    font-size: 14px;
    margin: 10px 0;
}
.actionTitle p span{
	font-weight:bold;
	color:#666666;
}
.actionTitle p.prompt{ 
	line-height:26px; 
	padding:5px 0 5px 10px; 
	background:#fffceb; 
	border:1px solid #e6d181;
	
}
.actionTitle p.prompt span{
	background:url(../images/adv_prompt_icon.png) left no-repeat;
	display:block;
	padding: 0 0 0 44px;
	color:#dba400;
	font-size:12px;
	font-weight:normal;
}
.actionTitle .getBtn{
	text-align: center;
    display: inline-block;
    height: 73px;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 213px;
}
.actionTitle a.getBtn:hover img{
	opacity: .8;
	Filter:alpha(opacity=80);
}
