#reward {
    line-height: 200%;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
}
#reward p{
	margin:20px 0;
}
#reward .cardDiv{
	float: left;
    margin: 0 3%;
    text-align: left;
    width: 44%;
    font-size: 12px;
}
#reward .cardDiv img{
	margin-bottom: 20px;
}
#reward .codeReward{
	color: #ff7300;
    display: inline-block;
    font-size: 26px;
    line-height: 100%;
    margin: 0 10px;
    vertical-align: middle;
    font-family: 'Lucida Console';
}
#reward .codeReward.blue{
	color:#0099cc;
}
a.amazonHref{
	margin-left: 3%;
}
.codeflag{
	color:#EE472C;
	margin-left: 205px;
}
.amazon #getPoint{
	position: absolute;
	top: 100px;
	left: 290px;
}
.amazon #amazonEmpty {
    margin: 60px 0 120px;
    text-align: center;
}
.amazon #hasReward{
	position: absolute;
	top: 100px;
	left: 290px;
}
.regTitle{
	border-bottom: 1px dashed #CCCCCC;
    left: 60px;
    padding-bottom: 10px;
    position: absolute;
    top: 10px;
    width: 750px;
}
.amazon{
	background-color: #FFFFFF;
    background-image: url("../images/amazonBanner.jpg");
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    left: 0;
    margin: auto;
    padding-top: 200px;
    position: absolute;
    right: 0;
    top: 100px;
    width: 864px;
    z-index: 9999;
    box-shadow: 0 0 5px #333333;
}
.blackBg{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background-color: #000;
	opacity: .5;
	z-index: 9998;
}
.amazon #update{
    position: relative;
}
.amazon .closeBtn{
	position: absolute;
	right: 7px;
	top:5px;
}
.amazon .info ul li dt input.infoFinish{
	border: 0;
	width: 181px;
	height: 54px;
	font-size: 0px;
	background-image: url("../images/amazonBtn.jpg");
	cursor: pointer;
}
.amazon .info ul li dt input.rewardInfoFinish{
	border: 0;
	width: 181px;
	height: 54px;
	font-size: 0px;
	background-image: url("../images/rewardBtn.jpg");
	cursor: pointer;
}
.submitDt{
	padding-left: 175px;
}