#reward {
    line-height: 200%;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
    background-color: #FFFFFF;
}
#reward p{
	margin:20px 0;
	line-height: 180%;
}
#reward .cardDiv{
	float: left;
    margin: 0 3%;
    text-align: left;
    width: 44%;
    font-size: 12px;
}
#reward .cardDiv img{
	margin-bottom: 20px;
}
#reward .codeReward{
	color: #ff7300;
    display: inline-block;
    font-size: 26px;
    line-height: 100%;
    margin: 0 10px;
    vertical-align: middle;
    font-family: 'Lucida Console';
}
#reward .codeReward.blue{
	color:#0099cc;
}
.amazonAct{
	margin: 40px auto 0;
    padding-bottom: 120px;
    width: 864px;
}
.amazonAct .banner{
	height:209px;
}
#amazonEmpty{
	background-color: #FFF;
	padding: 100px 20px;
}
a.amazonHref{
	margin-left: 3%;
}
.codeflag{
	color:#EE472C;
	margin-left: 205px;
}
.amazon #getPoint{
	position: absolute;
	display: none;
	top: 100px;
	left: 290px;
}
.amazon #amazonEmpty {
	display: none;
    padding: 60px 0;
    text-align: center;
    background-image: url("../images/userInfoBg.png");
}
.amazon #hasReward{
	position: absolute;
	top: 100px;
	left: 290px;
}
.regTitle{
	border-bottom: 1px dashed #CCCCCC;
    left: 60px;
    padding-bottom: 10px;
    position: absolute;
    top: 10px;
    width: 750px;
}
.amazon{
    font-size: 14px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
    width: 861px;
    z-index: 9999;
    display: none;
}
.amazon .banner{
	height:124px;
}
.amazon .bottom{
	height:15px;
}
.amazon .closeDiv{
	margin-top: 20px;
}
.blackBg{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background-color: #000;
	opacity: .5;
	Filter:alpha(opacity=50);
	z-index: 9998;
}
.amazon #update{
    position: relative;
    display: none;
}
.amazon .closeBtn{
	position: absolute;
    right: 20px;
    top: 25px;
}
.amazon .info{
	background-image: url("../images/userInfoBg.png");
}
.amazon .info ul li dt input.infoFinish{
	border: 0;
	width: 121px;
	height: 54px;
	font-size: 0px;
	background-image: url("../images/finishBtn.jpg");
	cursor: pointer;
}
.amazon .info ul li dt input.rewardInfoFinish{
	border: 0;
	width: 181px;
	height: 54px;
	font-size: 0px;
	background-image: url("../images/rewardBtn.jpg");
	cursor: pointer;
}
.submitDt{
	padding-left: 185px;
}