aside {
	float:right;
	width: 237px;
	margin-top: 30px;
}
aside section {
	border: 1px solid #ececec;
	background-color: #FFF;
	margin: 0 0 15px 0;
}

aside h2 {
    height: 30px;
    line-height: 30px;
}
aside section h4 {
	border-bottom: 1px solid #ECECEC;
    color: #333333;
    font-size: 14px;
    height: 20px;
    padding: 12px 5px 5px 10px;
    position: relative;
}
aside section h4 a.more {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 12px;
	color:#666666;
	font-weight:normal;
}
aside section ul {
	width: 90%;
	overflow: hidden;
	margin: auto;
}
aside section ul.news a span {
	color: #ec4920;
}
aside section ul.news a {
	color: #666666;
}
aside section ul.news a:hover{
	text-decoration:none;
}
aside section ul.timeline a {
	color: #ec4920;
	margin-right: 5px;
}
aside section ul.timeline font {
	color: #54b9e8;
	margin: 0 5px;
}
aside section ul.help {
	list-style:inside;
	color: #CCCCCC;
}
aside section .flow {
	text-align:center;
	padding:10px;
}
aside section li {
	height:30px;
	line-height: 30px;
	border-bottom: 1px solid #ececec;
}
aside section li.last{
	border-bottom: none;
}