<<<<<<< HEAD
﻿.w1000{width:1000px;margin:0 auto}.left{float:left}.right{float:right}.hide{display:none}body{font-family:"Microsoft YaHei",Tohoma,Arial;font-size:12px;background:#f2f3f5;color:#333}.main{margin-top:2px}.main.unlogin{margin-top:0px}.main-con-left>div,.main-con-right>div{margin-top:20px;background:#fff;border:1px solid #ebedf2}.main-con-left>div{padding:10px 25px}.main-con-left{width:75%}.main-con-right{width:23%}.main-con-right h2{padding:13px 15px 0;line-height:50px;color:#000;font-size:14px;font-weight:bold;border-bottom:1px solid #f6f6f6}.main-con-right .weibo{height:550px;overflow:hidden}.clearfix{zoom:1}.clearfix:after{content:"";display:table;clear:both}.login-wrapper{position:absolute;z-index:1000;right:-61px;top:100px;background:url(../img/home/loginBg.png) no-repeat center bottom;padding:0 70px 5px}.login{width:405px;height:460px;color:#757982;font-size:16px;background:#efeff4;border-radius:5px;overflow:hidden}.login .login-con{padding:40px 38px}.login .login-con p{font-size:12px}.login h2{height:64px;line-height:64px;color:#fff;font-size:24px;background:#313035;padding:0 38px}.login li{margin-bottom:20px;position:relative;z-index:1}.login li img{vertical-align:middle}.login li span{vertical-align:middle;display:none}.login li span.authcodeInput{display:inline-block;*display:inline;*zoom:1}.login li span .change{height:13px;font-size:12px;padding:0  10px 0 25px;margin:10px 0 0 10px;cursor:pointer;background:url(../img/home/change.png) 0 0 no-repeat}.login li span .change:hover{color:#6f93da;background:url(../img/home/change.png) 0 -13px no-repeat}.login li span.succeed{color:#3bc570;display:inline-block;*display:inline;*zoom:1;background:url(../img/user/succeedIcon.png) no-repeat 2px 5px;font-size:0}.login li span.focus{border:1px solid #e7e7e7;background:#fafafa;color:#898989;vertical-align:top}.login li span.error,.login li span strong{position:absolute;z-index:1000;right:0;top:0;color:#c80000;background:#fff;font-size:12px;height:35px;line-height:35px;padding:0 10px;border:1px solid #c80000;border-radius:3px;display:inline-block;*display:inline;*zoom:1;vertical-align:top}.login li span.fade{display:none}.login li label{width:65px;line-height:35px;color:#525e78;display:inline-block;*display:inline;*zoom:1;vertical-align:middle}.login li input[type="text"],.login li input[type="password"]{width:252px;height:36px;line-height:34px;padding:0 5px;color:#555;font-size:14px;border:1px solid #e4e4eb;background:#fff;outline:none;border-radius:3px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;vertical-align:middle}.login li input[type="text"]:focus,.login li input[type="text"].active,.login li input[type="password"]:focus,.login li input[type="password"].active{border:1px solid #3bc570;box-shadow:0 0 5px #3bc570}.login li input[type="text"]#authcode,.login li input[type="password"]#authcode{width:90px;margin-left:10px}.login li input[type="checkbox"]{vertical-align:middle}.login .login-btn{margin-top:25px;width:100%;line-height:40px;color:#fff;font-size:20px;font-family:"微软雅黑";background:#e85015;border:1px solid #e85015;border-radius:5px;text-align:center;display:block;cursor:pointer;transition:all 0.4s;-moz-transition:all 0.4s;-webkit-transition:all 0.4s;-o-transition:all 0.4s}.login .login-btn:hover{background:#d34216;border:1px solid #d34216}.login .login-btn a{color:#fff}.login p{line-height:55px}.login p a{color:#1ca3db}.login p a.spec{color:#757982}.login .login-btn-others{margin-top:40px}.login .login-btn-others span{margin-left:-10px}.login .login-btn-others a{margin-left:10px;padding-left:36px;width:123px;height:40px;line-height:40px;text-align:center;color:#a3a3a3;font-size:14px;background:#fff url(../img/home/sinaUnact.png) no-repeat 32px 12px;cursor:pointer;display:inline-block;*display:inline;*zoom:1;border-radius:5px}.login .login-btn-others a:hover{background:#fff url(../img/home/sina.png) no-repeat 32px 12px;color:#ff7f58;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s}.login .login-btn-others a.qq-login{background:#fff url(../img/home/qqUnact.png) no-repeat 38px 11px}.login .login-btn-others a.qq-login:hover{background:#fff url(../img/home/qq.png) no-repeat 38px 11px;color:#6f93da;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s}.quickLogWrap{position:relative;top:-500px}.quickLogPop{width:406px;height:235px;background:rgba(202,202,202,0.4);position:absolute;z-index:1;top:355px;right:8px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}.qlpR{top:145px;right:200px}.quickLCon{height:212px;margin:10px;border:1px solid #bdbdbd;background:#fff;position:absolute;z-index:2}.quickLCon .wbTit{height:40px;line-height:40px;background:#ebebeb;padding-left:20px;position:relative;color:#444}.quickLCon .wbTit .wbIco,.quickLCon .wbTit .qqIco{width:23px;height:18px;display:inline-block;margin-right:7px;vertical-align:-4px}.quickLCon .wbTit .wbIco{background:url(../../img/common/sinaUnact.png) no-repeat}.quickLCon .wbTit .qqIco{width:19px;background:url(../../img/common/qqUnact.png) no-repeat}.quickLCon .wbTit .closeBtn{width:30px;height:30px;background:url(../../img/common/closeBtn.png) no-repeat 6px 8px;display:inline-block;position:absolute;top:4px;right:10px}.quickLCon .wbText{padding:22px 27px 28px}.quickLCon .wbText .l1{font-size:16px;line-height:22px;color:#444}.quickLCon .wbText .l1 strong{color:#4ab6db}.quickLCon .wbText .l2{color:#999;line-height:19px;margin-top:7px}.quickLCon .wbText .wbBtnArea{text-align:center;margin-top:30px}.quickLCon .wbText .wbBtnArea .cancelBtn{padding:5px 30px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;background:#50c5ee;border:1px solid #49b3d9;color:#fff;margin-right:20px;cursor:pointer}body{background:#f7f7f7}.loadingFrame{position:fixed;top:40%;left:46%;margin:-14px 0 0 -42px;padding:10px;text-align:center}.loadingDot{float:left;width:7px;width:0/0;width:0/9;_width:0;height:7px;margin:3px 4px;background:rgba(0,0,0,0.5);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;opacity:0;-webkit-animation:loadingFade 1s infinite;-moz-animation:loadingFade 1s infinite;animation:loadingFade 1s infinite}.loadingDotWrap{height:10px;float:left;margin-top:16px}.loadingDot:nth-child(1){-webkit-animation-delay:0s;-moz-animation-delay:0s;animation-delay:0s}.loadingDot:nth-child(2){-webkit-animation-delay:0.1s;-moz-animation-delay:0.1s;animation-delay:0.1s}.loadingDot:nth-child(3){-webkit-animation-delay:0.2s;-moz-animation-delay:0.2s;animation-delay:0.2s}.loadingDot:nth-child(4){-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s;animation-delay:0.3s}@-webkit-keyframes loadingFade{0%{opacity:0}50%{opacity:0.8}100%{opacity:0}}@-moz-keyframes loadingFade{0%{opacity:0}50%{opacity:0.8}100%{opacity:0}}@keyframes loadingFade{0%{opacity:0}50%{opacity:0.8}100%{opacity:0}}#loginFrame{position:relative;z-index:1;width:545px;height:500px;display:none}.login-wrapper{top:0;left:0;right:0}.login .login-btn-others{margin-top:20px}.directGo{margin-top:25px;font-size:14px;width:100%;text-align:right}.directGo a{color:#1ca3db}.quickLogPop{position:relative;z-index:1}
=======
@charset "UTF-8";
.w1000 {
  width: 1000px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f2f3f5;
  color: #333; }

.main {
  margin-top: 2px; }
  .main.unlogin {
    margin-top: 0px; }

.main-con-left > div, .main-con-right > div {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ebedf2; }

.main-con-left > div {
  padding: 10px 25px; }

.main-con-left {
  width: 75%; }

.main-con-right {
  width: 23%; }
  .main-con-right h2 {
    padding: 13px 15px 0;
    line-height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6; }
  .main-con-right .weibo {
    height: 550px;
    overflow: hidden; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.login-wrapper {
  position: absolute;
  z-index: 1000;
  right: -61px;
  top: 100px;
  background: url(../img/home/loginBg.png) no-repeat center bottom;
  padding: 0 70px 5px; }

.login {
  width: 405px;
  height: 460px;
  color: #757982;
  font-size: 16px;
  background: #efeff4;
  border-radius: 5px;
  overflow: hidden; }
  .login .login-con {
    padding: 40px 38px; }
    .login .login-con p {
      font-size: 12px; }
  .login h2 {
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: 24px;
    background: #313035;
    padding: 0 38px; }
  .login li {
    margin-bottom: 20px;
    position: relative;
    z-index: 1; }
    .login li img {
      vertical-align: middle; }
    .login li span {
      vertical-align: middle;
      display: none; }
      .login li span.authcodeInput {
        display: inline-block;
        *display: inline;
        *zoom: 1; }
      .login li span .change {
        height: 13px;
        font-size: 12px;
        padding: 0  10px 0 25px;
        margin: 10px 0 0 10px;
        cursor: pointer;
        background: url(../img/home/change.png) 0 0 no-repeat; }
        .login li span .change:hover {
          color: #6f93da;
          background: url(../img/home/change.png) 0 -13px no-repeat; }
      .login li span.succeed {
        color: #3bc570;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        background: url(../img/user/succeedIcon.png) no-repeat 2px 5px;
        font-size: 0; }
      .login li span.focus {
        border: 1px solid #e7e7e7;
        background: #fafafa;
        color: #898989;
        vertical-align: top; }
      .login li span.error, .login li span strong {
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 0;
        color: #c80000;
        background: #fff;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        border: 1px solid #c80000;
        border-radius: 3px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top; }
      .login li span.fade {
        display: none; }
    .login li label {
      width: 65px;
      line-height: 35px;
      color: #525e78;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle; }
    .login li input[type="text"], .login li input[type="password"] {
      width: 252px;
      height: 36px;
      line-height: 34px;
      padding: 0 5px;
      color: #555;
      font-size: 14px;
      border: 1px solid #e4e4eb;
      background: #fff;
      outline: none;
      border-radius: 3px;
      transition: all 0.3s;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      vertical-align: middle; }
      .login li input[type="text"]:focus, .login li input[type="text"].active, .login li input[type="password"]:focus, .login li input[type="password"].active {
        border: 1px solid #3bc570;
        box-shadow: 0 0 5px #3bc570; }
      .login li input[type="text"]#authcode, .login li input[type="password"]#authcode {
        width: 90px;
        margin-left: 10px; }
    .login li input[type="checkbox"] {
      vertical-align: middle; }
  .login .login-btn {
    margin-top: 25px;
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-family: "微软雅黑";
    background: #e85015;
    border: 1px solid #e85015;
    border-radius: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s; }
    .login .login-btn:hover {
      background: #d34216;
      border: 1px solid #d34216; }
    .login .login-btn a {
      color: #fff; }
  .login p {
    line-height: 55px; }
    .login p a {
      color: #1ca3db; }
      .login p a.spec {
        color: #757982; }
  .login .login-btn-others {
    margin-top: 40px; }
    .login .login-btn-others span {
      margin-left: -10px; }
    .login .login-btn-others a {
      margin-left: 10px;
      padding-left: 36px;
      width: 123px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #a3a3a3;
      font-size: 14px;
      background: #fff url(../img/home/sinaUnact.png) no-repeat 32px 12px;
      cursor: pointer;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      border-radius: 5px; }
      .login .login-btn-others a:hover {
        background: #fff url(../img/home/sina.png) no-repeat 32px 12px;
        color: #ff7f58;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s; }
      .login .login-btn-others a.qq-login {
        background: #fff url(../img/home/qqUnact.png) no-repeat 38px 11px; }
        .login .login-btn-others a.qq-login:hover {
          background: #fff url(../img/home/qq.png) no-repeat 38px 11px;
          color: #6f93da;
          transition: all 0.5s;
          -moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s; }

/* quick login prompt Start*/
.quickLogWrap {
  position: relative;
  top: -500px; }

.quickLogPop {
  width: 406px;
  height: 235px;
  background: rgba(202, 202, 202, 0.4);
  position: absolute;
  z-index: 1;
  top: 355px;
  right: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

.qlpR {
  top: 145px;
  right: 200px; }

.quickLCon {
  height: 212px;
  margin: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
  position: absolute;
  z-index: 2; }
  .quickLCon .wbTit {
    height: 40px;
    line-height: 40px;
    background: #ebebeb;
    padding-left: 20px;
    position: relative;
    color: #444; }
    .quickLCon .wbTit .wbIco, .quickLCon .wbTit .qqIco {
      width: 23px;
      height: 18px;
      display: inline-block;
      margin-right: 7px;
      vertical-align: -4px; }
    .quickLCon .wbTit .wbIco {
      background: url(../../img/common/sinaUnact.png) no-repeat; }
    .quickLCon .wbTit .qqIco {
      width: 19px;
      background: url(../../img/common/qqUnact.png) no-repeat; }
    .quickLCon .wbTit .closeBtn {
      width: 30px;
      height: 30px;
      background: url(../../img/common/closeBtn.png) no-repeat 6px 8px;
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 10px; }
  .quickLCon .wbText {
    padding: 22px 27px 28px; }
    .quickLCon .wbText .l1 {
      font-size: 16px;
      line-height: 22px;
      color: #444; }
      .quickLCon .wbText .l1 strong {
        color: #4ab6db; }
    .quickLCon .wbText .l2 {
      color: #999;
      line-height: 19px;
      margin-top: 7px; }
    .quickLCon .wbText .wbBtnArea {
      text-align: center;
      margin-top: 30px; }
      .quickLCon .wbText .wbBtnArea .cancelBtn {
        padding: 5px 30px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background: #50c5ee;
        border: 1px solid #49b3d9;
        color: #fff;
        margin-right: 20px;
        cursor: pointer; }

/* quick login prompt End*/
body {
  background: #f7f7f7; }

.loadingFrame {
  position: fixed;
  top: 40%;
  left: 46%;
  margin: -14px 0 0 -42px;
  padding: 10px;
  text-align: center; }

.loadingDot {
  float: left;
  width: 7px;
  width: 0/0;
  width: 0/9;
  _width: 0;
  height: 7px;
  margin: 3px 4px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite; }

.loadingDotWrap {
  height: 10px;
  float: left;
  margin-top: 16px; }

.loadingDot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s; }

.loadingDot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.loadingDot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.loadingDot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
@-moz-keyframes loadingFade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
@keyframes loadingFade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
#loginFrame {
  position: relative;
  z-index: 1;
  width: 545px;
  height: 500px;
  display: none; }

.login-wrapper {
  top: 0;
  left: 0;
  right: 0; }

.login .login-btn-others {
  margin-top: 20px; }

.directGo {
  margin-top: 25px;
  font-size: 14px;
  width: 100%;
  text-align: right; }
  .directGo a {
    color: #1ca3db; }

.quickLogPop {
  position: relative;
  z-index: 1; }
>>>>>>> d4ead9e15673a91aea279f0e6a0f6baa8035a706
