.comingSoon{
	
}
.comingSoon article{
	background-image: url("../images/comingSoon.jpg");
    height: 103px;
    margin: 100px auto;
    padding: 105px 0 0 250px;
    width: 317px;
}
.comingSoon article a{
	color:#EA4B11;
}