@charset "UTF-8";
/* CSS Document */

/* ++++++++++++++++++++++++++++++++++++++++++++
　■container
++++++++++++++++++++++++++++++++++++++++++++ */
div#container{
    margin: 20px auto 0;
    width: 1000px;
    font-size: 100%;
    color: #555;
    padding-bottom: 120px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++
　■ポイント
++++++++++++++++++++++++++++++++++++++++++++ */
div#header{
    width: 100%;
    margin-bottom: 5px;
}
div#rule{
    margin-bottom: 5px;
}
 