@charset "utf-8";
/* CSS Document */
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, table, tr, td, fieldset, .pr, .pc, span {
	margin: 0;
	padding: 0;
}
td {
	font-size: 12px;
}
.main {
	width: 100%;
	float: left;
	background: url(../images/bg.jpg) repeat;
}
.main_wrap {
	width: 960px;
	margin: 0 auto;
}
.login{
	width:397px;
	height:273px;
	margin: 23px 0 0 80px;
	padding: 24px 0 32px 16px;
	float: left;	
	background: url(../images/login_wrap.gif) no-repeat;	
}
.login_wrap {
	width:397px;
	height:223px;
}
.login_wrap tr {
	height: 22px;
}
.login_wrap td {
	height: 22px;
	line-height: 22px;
}
.login_wrap td .frame1 {
	width: 236px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ebe2da;
}
.login_wrap .form_l {
	text-align: right;
	color: #333;
}
.login_wrap .form_l .nickname {
	width: 100px;
}
/*footer stard*/
div.footer{
	color: #666666;
    font-size: 12px;
    margin: 0 auto;
    width: 960px;
}
div.footer div.section{
	margin: 0 auto;
    padding: 20px 40px 10px 40px;
    position: relative;
    text-align: center;
    width: 960px;
}
div.footer div.section p{
	margin:5px 0;
}
div.footer div.section a, div.footer div.section span{
	margin:10px;
	color:#666;
}
div.footer div.section span.footAbout{
	height:16px;
	display:inline-block;
}
div.footer div.section a.sina{
	background-image: url("../images/sinaIcon.jpg");
    background-repeat: no-repeat;
    padding-left: 20px;
	height:16px;
	display:inline-block;
}
div.footer div.section a.tencent{
	background-image:url("../images/txweiboIcon.jpg");
	background-repeat:no-repeat;
	padding-left: 20px;
	height:16px;
	display:inline-block;
}
div.footer div.section a.weixin{
	background-image:url("../images/weixinIcon.jpg");
	background-repeat:no-repeat;
	padding-left: 20px;
	height:16px;
	display:inline-block;
}
div.footer div.section a:hover{
	text-decoration:none;
	color:#000;
}
/*footer end*/
