/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
	background-color:#f5f5f5;
	line-height:150%;
	position:relative;
}
body, input, button, select, textarea, table {
    font: 12px/1.5 tahoma,'Hiragino Sans GB','microsoft yahei',sans-serif; 
	font-size:12px; 
	color:#333; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
h1, h2, h3, h4, h5, h6, small, sub, sup {
	font-size: 100%;
}
a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
}
ul {
	list-style: none outside none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0 none;
}
input, textarea {
	border: medium none;
	outline: 0 none;
	resize: none;
	vertical-align: middle;
}
.clear{
	clear:both;
}
header {
	background-color:#EA4B11;
}
header section{
	width:960px;
	height:70px;
	margin:auto;
	position:relative;
	z-index:7998;
}
header #logo {
	width: 164px;
	height: 45px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-image:url(../images/logo_bg.gif);
	text-align:center;
	padding-top:12px;
}
header nav#menu {
	margin-left:180px;
	padding-top: 31px;
	float:left;
}
header nav#menu ul li{
	float:left;
	height: 38px;
	line-height:38px;
	position: relative;
}
header nav#menu ul li.navSelectedBg {
    background: none repeat scroll 0 0 #CC380C;
}
header nav#menu ul li:hover{
	background-color:#DE3900;
	
}
header nav#menu ul li.last a{
	border-right:none;
}
header nav#menu ul li span.new{
	background-image: url("../images/newTag.gif");
	height: 18px;
	position: absolute;
	right: 6px;
	top: -9px;
	width: 29px;
}
header nav#menu ul li a{
	color:#FFF;
	font-size:16px;
	padding:0 25px;
	display:inline;
}
header nav#menu ul li a:hover{
	text-decoration:none;
	display:inline;
}
header nav#user {
	background-color: #C33E0E;
    border-radius: 0 0 5px 5px;
    padding: 3px 12px 5px;
    position: absolute;
    right: 0;
    top: 0;
	z-index:7999;
}
header nav#user a{
	color:#FFF;
	display:inline-block;
	background-repeat:no-repeat;
}
header nav#user a.newms{
	background-image: url("../images/newMs.gif");
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
header nav#user a span#countMessage{
	color: #FFE75E;
    font-weight: bold;
    margin: 0px;
}
header nav#user a.log{
	background-image:url(../images/log_ico.gif);
	background-position:0px 4px;
	text-indent:15px;
}
header nav#user a.reg{
	background-image:url(../images/sign_ico.gif);
	background-position:0px 3px;
	text-indent:15px;
}
header nav#user span.division{
	background-image: url("../images/division.jpg");
    display: inline-block;
    height: 11px;
    margin: 0 10px;
    vertical-align: middle;
    width: 2px;
}
header nav#user a.personalMenu{
	background-image: url("../images/personalIcon.gif");
    background-position: right center;
    padding-right: 12px;
    text-indent: 0;
}
header nav#user a:hover{
	text-decoration:none;
}
header #userFrame{
	background-color: #FFFFFF;
    border: 1px solid #EA4B11;
    left: 0;
    position: absolute;
    top: 24px;
    width: 100%;
    z-index: 8000;
	display:none;
	display:none;
}
header nav#user .helpBtn {
    background-image: url("../images/QPoint.gif");
    background-position: 0 3px;
    left: -75px;
    position: absolute;
    text-indent: 15px;
    top: 3px;
}
header #userFrame .userInfo{
	background-image: url("../images/newUserIco.jpg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0 5px 33px;
	margin-bottom:5px;
}
header #userFrame .userInfo p.coin{
	color:#ea4b11;
}
header #userFrame ul.menu{
}
header #userFrame ul.menu li{
	line-height:230%;
}
header #userFrame ul.menu li a{
	color:#666;
	width:100%;
	display:block;
	text-indent:15px;
}
header #userFrame ul.menu li a:hover{
	background-color:#f0f0f0;
	text-decoration:none;
}
header #userFrame ul.menu li.logOut{
	border-top:1px solid #EEE;
	line-height:250%;
	margin-top:5px;
}
footer{
	background-color:#ececec;
	color:#666;
	margin:0;
	width: 100%;
	bottom: 0;
	display:block;
}
footer section{
	margin: 0 auto;
    padding: 20px 40px 10px 40px;
    position: relative;
    text-align: center;
    width: 1150px;
}
footer section p{
	margin:5px 0;
}
footer section a, footer section span{
	margin:10px;
	color:#666;
}
footer section span.footAbout{
	height:16px;
	display:inline-block;
}
footer section a.sina{
	background-image: url("../images/sinaIcon.jpg");
    background-repeat: no-repeat;
    padding-left: 20px;
	height:16px;
	display:inline-block;
}
footer section a.tencent{
	background-image:url("../images/txweiboIcon.jpg");
	background-repeat:no-repeat;
	padding-left: 20px;
	height:16px;
	display:inline-block;
}
footer section a.weixin{
	background-image:url("../images/weixinIcon.jpg");
	background-repeat:no-repeat;
	padding-left: 20px;
	height:16px;
	display:inline-block;
}
footer section a:hover{
	text-decoration:none;
	color:#000;
}
.webArticle {
	width: 1150px;
	margin: auto;
	padding:0 0 140px 0;
	display:table;
	position: relative;
	z-index:auto;
}
#loginFrame{
	background-color: #FFF;
    border-radius: 5px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 430px;
    z-index: 10010;
	display:none;
}
#loginFrame h2{
	background-color: #EA4B11;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 220%;
    padding-left: 20px;
	font-weight:normal;
}
#loginFrame h2 a.close{
	color: #FFFFFF;
    font-family: Verdana;
    position: absolute;
    right: 15px;
	top:0;
}
#loginFrame .loginForm{
	margin: 20px 30px;
}
#loginFrame .loginForm li{
	list-style:none;
	margin: 20px 0 0;
	display:inline-block;
}
#loginFrame .loginForm li.error {
    width: 100%;
    color: red;
}
#loginFrame .loginForm li dd{
	float:left;
	width:60px;
	line-height:28px;
	font-size: 14px;
}
#loginFrame .loginForm li dt{
	float:left;
}
#loginFrame .loginForm li dt input.name,#loginFrame .loginForm li dt input.password{
	border: 1px solid #DDDDDD;
    height: 25px;
    margin-right: 10px;
    padding: 0 5px;
    width: 200px;
}
#loginFrame .loginForm li dt a.loginBtn{
	background-color: #55B9E8;
    border: 1px solid #309ACB;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px 14px;
    text-align: center;
	vertical-align:middle;
}
#loginFrame .loginForm li dt a.forget{
	color:#54b9e8;
}
#loginFrame .loginForm li dt a.regBtn{
	color:#54b9e8;
	font-weight:bold;
	margin:0 10px;
}
#loginFrame .directGo{
	border-top: 1px dotted #DEDEDE;
    font-size: 16px;
    line-height: 300%;
    padding: 0 0 0 100px;
}
#loginFrame .directGo a.directGoBtn{
	color:#54b9e8;
	margin:0 10px;
}
.blackLayer{
	background-color:#000;
	opacity:.5;
	Filter:alpha(opacity=50);
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	z-index:10009;
}
.crumbTit{padding-bottom: 10px;height: 20px;display: inline-block; font-weight:normal;}

.webArticle .errorMessage{
    color: #FF0000;
    padding-bottom: 50px
}
.webArticle .error{
    font-size: 16px;
    padding-top: 100px;
    text-align: center;
}