.exchange {
    margin-top: 30px;
}
.exchange .about{
	text-align:center;
	position:relative;
}
.exchange .about .historyExchange{
	background-image: url("../images/goExchangeHistory.gif");
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 165px;
    width: 169px;
}
.exchange .about a.exchangeBtn{
	background-image: url("../images/exchange_91ww_btn.gif");
    background-position: 0 0;
    display: inline-block;
    height: 36px;
    width: 112px;
	font-size: 0;
	position:absolute;
}
.exchange .about a.exchangeBtn:hover{
	background-position:0px 36px;
}
.exchange .about a.await{
	background-image:url(../images/exchange_mobile_unavailable_btn.gif);
	background-position: 0 0;
    display: inline-block;
    height: 36px;
    width: 112px;
	font-size: 0;
	position:absolute;
}
.exchange .about a.mobileBtn{
    left: 186px;
    top: 590px;
}
.exchange .about a.close{
	background-color: #999999;
    background-position: 0 0;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    width: 112px;
}

.exchange .about a.alipayBtn{
    right: 141px;
    top: 728px;
}
.exchange .about .amazonBtn{
	right: 142px;
    top: 484px;
}
.exchange .about a.wenwen{
	left: 185px;
    top: 357px;
}
.exchange .about a.mobiel{
	left: 247px;
    top: 578px;
}
.exchange .btnArea{
	text-align:center;
	margin:30px 0 0 0;
}
.exchange h2{
	font-size:18px;
	font-weight:bold;
	border-bottom:3px solid #eaeaea;
	padding:5px 0;
}
.exchange h2 span{
	color:#ff7114;
	border-bottom:3px solid #ff7114;
	padding:5px 0;
}
.exchange article{
	background-color: #FFFFFF;
    box-shadow: 0 0 3px #CCCCCC;
    float: right;
    margin: 20px 0 0;
    padding: 10px;
    width: 710px;
	font-size:14px;
	text-align:center;
}
.exchange article .warn{
	background-image: url("../images/warn.gif");
    background-position: 0 5px;
    background-repeat: no-repeat;
    color: #FF0000;
    line-height: 180%;
    margin-bottom: 10px;
    padding-left: 60px;
    text-align: left;
    width: 500px;
}
.exchange article .wenwen{
	padding:20px 50px;
}

.exchange article .wenwen div.desCon{
	 margin-top: 50px;
	  font-size: 16px;
}

.exchange article .wenwen div.identity{
	 margin: 50px 50px 100px;

}
.exchange article .wenwen div.form{
	display:inline-block;
	text-align:left;
	width:100%;
	margin:10px 0;
	line-height:200%;
}

.exchange article .wenwen span.error{
	
}

.exchange article .wenwen div.identity dt input[type="text"]{
	border:1px solid #cccccc;
	padding:5px;
	width:200px;
	box-shadow:inset 1px 1px 2px #eee;
	margin:0 5px 0 0;
}
.exchange article .wenwen div.identity dt{
	margin: 10px -55px;
    width: 460px;
}
.exchange article .wenwen div.identity dd{
	float: left;
    margin: 5px 0 0 60px;
    width: 120px;
}


.exchange article .wenwen div.form dd{
	float: left;
    margin: 10px 0;
    padding-right: 20px;
    text-align: right;
    width: 120px;
}
.exchange article .wenwen div.form dt{
	float:left;
	width:460px;
	margin: 10px 0;
}
.exchange article .wenwen div.form dt span.warn{
	color:#F00;
	font-size:12px;
	font-weight:normal;
}
.exchange article .wenwen div.form dt span.info{
	font-size:12px;
	font-weight:normal;
}
.exchange article .wenwen div.form dt span.info a{
	margin: 0 3px;
	text-decoration: underline;
}
.exchange article .wenwen div.form dt span.account{
	color:#999;
	font-size:14px;
	font-weight:normal;
}
.exchange article .wenwen div.form dt a{
	color:#8abf0f;
}
.exchange article .wenwen div.form dt a.otherUser{
	font-size: 12px;
	color: #EA4B11;
}
.exchange article .wenwen div.form dt img, .exchange article div.wenwen div dt input{
	vertical-align:middle;
}
.exchange article .wenwen div.form dt input[type="text"]{
	border:1px solid #cccccc;
	padding:5px;
	width:200px;
	box-shadow:inset 1px 1px 2px #eee;
	margin:0 5px 0 0;
}
.exchange article .wenwen div.changePoint{
	border: 2px dotted #EEEEEE;
    display: block;
    margin: 10px 0 10px 120px;
    padding: 10px;
    text-align: center;
    width: 350px;
}
.exchange article .wenwen div.changePoint span, .exchange article .wenwen div dt span{
	color: #FF7114;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.exchange article .wenwen div.btnArea{
	text-align:center;
	margin:10px 0;
}
.exchange article .wenwen div.btnArea #active{
	cursor: pointer;
}
.exchange .btnArea a:hover img, .exchange article .wenwen div.btnArea #active:hover{
	opacity:.8;
	Filter:alpha(opacity=80);
}
.exchange article .wenwen div.mt50{
	margin-top:50px;
}

.exchange article .finish{
	font-size:14px;
	line-height:200%;
	display:inline-block;
	text-align:left;
	margin:50px 0px;
	width:580px;
}
.exchange article .finish p{
	margin:10px 0;
}
.exchange article .finish hr{
	height:0;
	line-height:0;
	border:none;
	border-bottom:1px solid #eee;
}
.exchange article .finish .img{
	float:left;
	margin:0px 20px;
	width:auto;
	height:180px;
}
.exchange article .finish h2{
	font-size:24px;
	border:none;
	font-weight:bold;
}
.exchange article .finish a{
	color:#146096;
}