.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f5f5f7;
  color: #333;
}

.main {
  margin-top: 111px;
}
.main.unlogin {
  margin-top: 81px;
}

.main-con-left > div, .main-con-right > div {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #eee;
}

.main-con-left > div {
  padding: 10px 25px;
}

.main-con-left {
  width: 75%;
}

.main-con-right {
  width: 23%;
}
.main-con-right h2 {
  padding: 0 15px;
  line-height: 35px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #f6f6f6;
}
.main-con-right .weibo {
  height: 550px;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  box-shadow: 0px 1px 5px #d8d8d8;
}
.header li {
  float: left;
}
.header.header-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.header.header-hide {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.header.unlogin {
  height: 80px;
}

.header-top {
  background: #36363c;
  color: #9a9a9b;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bcbdc2;
}
.header-top a {
  color: #9a9a9b;
  font-size: 12px;
}
.header-top a:hover {
  color: #fff;
}
.header-top a.mailLink {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.header-top-con a {
  padding: 0 15px;
  border-right: 1px solid #77777a;
}
.header-top-con a.first {
  padding-left: 0;
}
.header-top-con a.last {
  border-right: none;
}
.header-top-con em {
  width: 20px;
  height: 15px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: -3px;
  background: url(../img/common/icons_common.png) no-repeat 0 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con em.tool {
  width: 12px;
  height: 16px;
  line-height: 16px;
  background-position: 0 -38px;
}
.header-top-con em.mail {
  margin-top: 1px;
  margin-left: 0;
  background-position: 0 -20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  *margin-top: 8px;
}
.header-top-con em .mark {
  position: absolute;
  z-index: 1000;
  top: -3px;
  right: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: url(../img/common/icons_common.png) no-repeat 0 -58px;
}
.header-top-con span {
  vertical-align: top;
}
.header-top-con span.special {
  color: #fff;
  position: relative;
  z-index: 10;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con span .expand-title {
  padding: 1px 20px 1px 0;
}
.header-top-con span b {
  position: absolute;
  z-index: 1000;
  top: 14px;
  right: 0;
  margin-left: 5px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #9a9a9b transparent transparent transparent;
  border-bottom: none;
  transition: transform .1s ease-in 0s;
  -webkit-transition: -webkit-transform .1s ease-in 0s;
}
.header-top-con span:hover b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.header-top-con .personal {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 0;
  border: 1px solid #eee;
  background: #fff;
  width: 186px;
  display: none;
}
.header-top-con .personal li {
  float: none;
  border-top: 1px solid #eee;
  line-height: 35px;
  padding: 0 20px;
}
.header-top-con .personal li a {
  border-right: none;
  color: #4d4d4d;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-top-con .personal li:hover {
  background: #fafafa;
}
.header-top-con .personal-con {
  padding: 15px 20px;
}
.header-top-con .personal-con span {
  padding: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  color: #4d4d4d;
}
.header-top-con .personal-con span.face {
  border-radius: 50%;
}
.header-top-con .personal-con span.txt {
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
}
.header-top-con .personal-con span.txt .nickname {
  margin-bottom: 5px;
}
.header-top-con .personal-con span strong {
  font-size: 16px;
  color: #ff5500;
}

.header-nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
}
.header-nav span {
  color: #f5eeeb;
  padding: 0 15px;
}
.header-nav img {
  vertical-align: middle;
}
.header-nav .logo {
  margin-right: 80px;
}
.header-nav .logo a {
  padding-right: 20px;
}
.header-nav .logo span {
  height: 28px;
  line-height: 28px;
  border-left: 1px solid #ddd;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header-nav .nav {
  font-size: 0;
  height: 80px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.header-nav .nav .border {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 115px;
  background: #ff5500;
  display: none;
}
.header-nav .nav a {
  width: 115px;
  text-align: center;
  font-size: 16px;
  color: #404040;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
}
.header-nav .nav a:hover, .header-nav .nav a.active {
  color: #ff5500;
}
.header-nav .login-btn a {
  margin-left: 5px;
  padding: 5px 10px;
  color: #88878e;
  border: 1px solid #dedfe3;
  border-radius: 3px;
}
.header-nav .login-btn a:hover {
  color: #fff;
  background: #ff5500;
  border: 1px solid #ff5500;
}

body {
  background: #fafafc;
}

.main-con {
  background: #fff;
}
.main-con .gadgetBanner {
  height: 324px;
  background: url(../img/gadget/gadgetBgx.png) repeat-x;
}
.main-con .gadgetBanner .bg {
  height: 351px;
  margin: 0 auto;
  background: url(../img/gadget/gadgetBgPic.png) no-repeat center;
  position: relative;
  z-index: 1;
}
.main-con .gadgetBanner .txt {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 100px;
  margin-left: 70px;
}
.main-con .gadgetBtn {
  margin-top: 63px;
  margin-bottom: 30px;
}
.main-con .gadgetBtn li {
  width: 33.33333%;
  float: left;
  text-align: center;
}
.main-con .gadgetBtn li .btn {
  width: 117px;
  height: 79px;
  margin: 0 auto;
  padding-top: 38px;
  background: url(../img/gadget/gadgetIcon.png) no-repeat;
  cursor: pointer;
}
.main-con .gadgetBtn li .btn:hover a, .main-con .gadgetBtn li .btn.active a {
  height: 0px;
}
.main-con .gadgetBtn li .btn:hover a.hover, .main-con .gadgetBtn li .btn.active a.hover {
  height: 42px;
}
.main-con .gadgetBtn li .btn a {
  margin: 0 auto;
  background: url(../img/gadget/gadgetIcon.png) no-repeat;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  display: block;
}
.main-con .gadgetBtn li .btn a.hover {
  width: 42px;
  height: 0px;
  background-position: -123px 0;
  transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
}
.main-con .gadgetBtn li .deskIco {
  background-position: 0 -243px;
}
.main-con .gadgetBtn li .deskIco a {
  width: 48px;
  height: 45px;
  background-position: 0 0;
}
.main-con .gadgetBtn li .iPhoneIco {
  background-position: -117px -243px;
}
.main-con .gadgetBtn li .iPhoneIco a {
  width: 30px;
  height: 48px;
  background-position: -49px 0;
}
.main-con .gadgetBtn li .AndroidIco {
  background-position: -234px -243px;
}
.main-con .gadgetBtn li .AndroidIco a {
  width: 42px;
  height: 45px;
  background-position: -80px 0;
}
.main-con .gadgetBtn li .txt {
  font-size: 20px;
  color: #707070;
  margin-top: 23px;
  display: inline-block;
}
.main-con .slideDown {
  height: 218px;
  background: url(../img/gadget/slideBgx.png) repeat-x;
  display: none;
}
.main-con .slideDown .slideCon {
  position: relative;
  z-index: 1;
  height: 100%;
}
.main-con .slideDown .slideCon .con {
  height: 100%;
}
.main-con .slideDown .slideCon .deskCon .txtL #divInstaller {
  margin-left: -75px;
  margin-top: 46px;
}
.main-con .slideDown .slideCon .deskCon .txtL p {
  font-size: 14px;
  line-height: 23px;
  margin-left: 54px;
}
.main-con .slideDown .slideCon .deskCon .txtL p a {
  color: #0078b6;
}
.main-con .slideDown .slideCon .deskCon .txtR {
  width: 466px;
  height: 125px;
  margin-top: 45px;
  background: url(../img/gadget/gadgetIcon.png) repeat-x 0 -367px;
}
.main-con .slideDown .slideCon .deskCon .txtR p {
  font-size: 14px;
  line-height: 22px;
  padding: 6px 0 0 48px;
}
.main-con .slideDown .slideCon .iPhoneCon, .main-con .slideDown .slideCon .AndroidCon {
  padding-top: 70px;
  text-align: center;
}
.main-con .slideDown .slideCon .iPhoneCon .iPhoneBtn, .main-con .slideDown .slideCon .iPhoneCon .AndroidBtn, .main-con .slideDown .slideCon .AndroidCon .iPhoneBtn, .main-con .slideDown .slideCon .AndroidCon .AndroidBtn {
  padding: 18px 68px;
  background: #1466d6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0 3px 0 #0650b8;
  -moz-box-shadow: 0 3px 0 #0650b8;
  box-shadow: 0 3px 0 #0650b8;
  color: #fff;
  font-size: 16px;
}
.main-con .slideDown .slideCon .iPhoneCon p, .main-con .slideDown .slideCon .AndroidCon p {
  margin-top: 40px;
  font-size: 14px;
}
.main-con .slideDown .slideCon .arrowUp {
  width: 15px;
  height: 16px;
  background: url(../img/gadget/gadgetIcon.png) repeat-x -101px -214px;
  position: absolute;
  z-index: 1000;
  left: 156px;
  top: -12px;
  transition: left 1s;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
}
.main-con .slideDown .slideCon .arrowUp.second {
  left: 492px;
}
.main-con .slideDown .slideCon .arrowUp.third {
  left: 818px;
}
.main-con .slideDown .slideCon .closeTag {
  width: 95px;
  height: 31px;
  background: url(../img/gadget/gadgetIcon.png) repeat-x 0 -196px;
  position: absolute;
  z-index: 1000;
  bottom: -16px;
  left: 45%;
}
.main-con .gadgetList {
  background: #fafafc;
}
.main-con .gadgetList ul {
  padding-top: 60px;
}
.main-con .gadgetList ul li {
  padding-left: 60px;
  margin-right: 20px;
  height: 177px;
  float: left;
}
.main-con .gadgetList ul li .icon {
  width: 61px;
  height: 66px;
  background: url(../img/gadget/gadgetIcon.png) repeat-x;
}
.main-con .gadgetList ul li .i1 {
  background-position: 0 -51px;
}
.main-con .gadgetList ul li .i2 {
  background-position: -68px -51px;
}
.main-con .gadgetList ul li .i3 {
  background-position: 0 -124px;
}
.main-con .gadgetList ul li .i4 {
  background-position: -75px -123px;
}
.main-con .gadgetList ul li .text {
  width: 283px;
  padding-left: 40px;
}
.main-con .gadgetList ul li .text h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 18px;
}
.main-con .gadgetList ul li .text p {
  font-size: 14px;
  line-height: 23px;
}

.footer {
  margin-top: 50px;
  border-top: 3px solid #bebebe;
  padding: 30px 0;
  line-height: 24px;
  background: #f8f8f8;
  color: #535353;
}
.footer .footer-nav-group {
  float: left;
  margin-right: 80px;
}
.footer .footer-nav-group span {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0;
  display: inline-block;
}
.footer .footer-nav-group li span {
  color: inherit;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
}
.footer .special {
  margin-top: 16px;
}
.footer .special .img-link img {
  margin-left: 2px;
  margin-top: 3px;
  display: inline-block;
}
.footer .copyright {
  text-align: center;
  margin-top: 20px;
}
.footer .copyright p {
  line-height: 30px;
  color: #989898;
}
