.w1000 {
  width: 1000px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f2f3f5;
  color: #333; }

.main {
  margin-top: 2px; }
  .main.unlogin {
    margin-top: 0px; }

.main-con-left > div, .main-con-right > div {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ebedf2; }

.main-con-left > div {
  padding: 10px 25px; }

.main-con-left {
  width: 75%; }

.main-con-right {
  width: 23%; }
  .main-con-right h2 {
    padding: 13px 15px 0;
    line-height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6; }
  .main-con-right .weibo {
    height: 550px;
    overflow: hidden; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  height: 110px;
  box-shadow: 0px 1px 5px #d8d8d8; }
  .header li {
    float: left; }
  .header.header-show {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
  .header.header-hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .header.unlogin {
    height: 80px; }

.header-top {
  background: #36363c;
  color: #828285;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bcbdc2; }
  .header-top a {
    color: #828285;
    font-size: 12px; }
    .header-top a:hover {
      color: #fff; }
    .header-top a.mailLink {
      display: inline-block;
      *display: inline;
      *zoom: 1; }

.header-top-con a {
  padding: 0 15px;
  border-right: 1px solid #77777a; }
  .header-top-con a.first {
    padding-left: 0; }
  .header-top-con a.last {
    border-right: none; }
.header-top-con em {
  width: 20px;
  height: 15px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: -3px;
  background: url(../img/common/icons_common.png) no-repeat 0 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .header-top-con em.tool {
    width: 12px;
    height: 16px;
    line-height: 16px;
    background-position: 0 -38px; }
  .header-top-con em.mail {
    margin-top: 1px;
    margin-left: 0;
    background-position: 0 -20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    *margin-top: 8px; }
  .header-top-con em .mark {
    position: absolute;
    z-index: 1000;
    top: -3px;
    right: -3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: url(../img/common/icons_common.png) no-repeat 0 -58px; }
.header-top-con span {
  vertical-align: top; }
  .header-top-con span.special {
    color: #fff;
    position: relative;
    z-index: 10;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .header-top-con span .expand-title {
    padding: 1px 20px 1px 0; }
  .header-top-con span b {
    position: absolute;
    z-index: 1000;
    top: 14px;
    right: 0;
    margin-left: 5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    cursor: pointer;
    border-style: solid dashed dashed dashed;
    border-color: #828285 transparent transparent transparent;
    border-bottom: none;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s; }
.header-top-con span:hover b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }
.header-top-con .personal {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 0;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 194px;
  display: none;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); }
  .header-top-con .personal li {
    float: none;
    border-top: 1px solid #ebedf2;
    line-height: 35px;
    padding: 3px 20px; }
    .header-top-con .personal li a {
      width: 100%;
      border-right: none;
      color: #333;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-size: 14px; }
    .header-top-con .personal li:hover {
      background: #ededed; }
      .header-top-con .personal li:hover a {
        color: #ff6700; }
  .header-top-con .personal ul {
    border-top: 6px solid #ebebeb; }
.header-top-con .personal-con {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb; }
  .header-top-con .personal-con .faceTop img {
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    padding: 4px; }
  .header-top-con .personal-con span {
    padding: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    color: #4d4d4d; }
    .header-top-con .personal-con span.face {
      border-radius: 50%; }
    .header-top-con .personal-con span.txt {
      font-size: 12px;
      line-height: 20px;
      margin-left: 5px; }
      .header-top-con .personal-con span.txt .nickname {
        margin-bottom: 5px;
        width: 70px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold; }
    .header-top-con .personal-con span strong {
      font-size: 16px;
      color: #ff6700; }
    .header-top-con .personal-con span img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }

.header-nav {
  background: #fff;
  height: 80px;
  line-height: 80px; }
  .header-nav span {
    color: #f5eeeb;
    padding: 0 15px; }
  .header-nav img {
    vertical-align: middle; }
  .header-nav .logo {
    margin-right: 80px; }
    .header-nav .logo a {
      padding-right: 20px; }
    .header-nav .logo span {
      height: 28px;
      line-height: 28px;
      border-left: 1px solid #ddd;
      vertical-align: middle;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
  .header-nav .nav {
    font-size: 0;
    height: 80px;
    position: relative;
    z-index: 2; }
    .header-nav .nav .logFirst {
      height: 50px;
      line-height: 20px;
      display: inline-block;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
      *background: #333;
      background: #333 \0;
      font-size: 12px;
      position: absolute;
      z-index: 9999999;
      left: 93px;
      top: 60px;
      padding-top: 9px;
      text-align: center;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      display: none; }
      .header-nav .nav .logFirst em {
        position: absolute;
        top: -5px;
        left: 75px;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
        border-width: 5px;
        cursor: pointer;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
        border-top: none; }
    .header-nav .nav .border {
      position: absolute;
      z-index: 1000;
      left: 0;
      bottom: 0;
      height: 6px;
      width: 115px;
      background: #ff6700;
      display: none; }
    .header-nav .nav a {
      width: 115px;
      text-align: center;
      font-size: 16px;
      color: #404040;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      overflow: hidden;
      cursor: pointer; }
      .header-nav .nav a:hover, .header-nav .nav a.active {
        color: #ff6700; }
  .header-nav .login-btn a {
    margin-left: 5px;
    padding: 0 10px;
    color: #888; }
    .header-nav .login-btn a:hover {
      color: #ff652b; }
  .header-nav .login-btn a.sign {
    color: #ff652b;
    border-left: 1px solid #d0d1d1;
    padding-left: 40px; }

.main-help-banner {
  height: 104px;
  margin-bottom: 20px;
  background: #3a4858 url(../img/common/seamless-noise-bg.png) repeat;
  -webkit-box-shadow: 0px 1px 5px #2a3033 inset;
  -moz-box-shadow: 0px 1px 5px #2a3033 inset;
  box-shadow: 0px 1px 5px #2a3033 inset; }
  .main-help-banner .text {
    background: url(../img/help/bannerBg.png) no-repeat center;
    position: relative;
    z-index: 1;
    height: 104px;
    line-height: 104px; }
    .main-help-banner .text .title {
      *font-size: 84px; }
    .main-help-banner .text img {
      vertical-align: middle; }
      .main-help-banner .text img.titleE {
        margin-left: 10px; }
  .main-help-banner .search {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 50%;
    margin-top: -19px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    background: url(../img/help/searchBg.png) no-repeat; }
  .main-help-banner .search-btn {
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1999;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    background: url(../img/help/searchBtn.png) no-repeat;
    cursor: pointer; }
  .main-help-banner input[type='text'] {
    position: relative;
    z-index: 2;
    padding-right: 20px;
    width: 140px;
    height: 38px;
    line-height: 38px;
    border: none;
    background: transparent;
    color: #b5b5b5;
    outline: none; }
  .main-help-banner label {
    position: absolute;
    z-index: 1000;
    left: 20px;
    top: 0;
    color: #b5b5b5; }

.main-help-con {
  margin-top: 20px; }

body {
  background: #fff; }

.main-help-con h2 {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-left: 6px solid #ff6700; }
  .main-help-con h2 b {
    color: #ff6700; }
.main-help-con .search-result {
  margin-top: 20px;
  padding: 10px 30px 50px;
  border-top: 1px solid #ebedf2; }
  .main-help-con .search-result dt {
    line-height: 55px;
    color: #0078b6;
    font-size: 15px;
    font-weight: bold; }
    .main-help-con .search-result dt b {
      color: #ff6700; }
  .main-help-con .search-result dd {
    padding-bottom: 20px;
    line-height: 20px;
    border-bottom: 1px solid #f6f6f6; }
    .main-help-con .search-result dd.allCon {
      display: none; }
    .main-help-con .search-result dd a {
      color: #0078b6; }
.main-help-con .more-result {
  padding: 40px 0 0; }
  .main-help-con .more-result a {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(to bottom, #f7f7f8, #e6e6e8);
    background-image: linear-gradient(to bottom, #f7f7f8, #e6e6e8);
    background-color: #f7f7f8;
    display: inline-block;
    *display: inline;
    *zoom: 1; }

.backTop {
  position: fixed;
  z-index: 1000;
  bottom: 150px;
  left: 50%;
  margin-left: 540px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #d6d6d6;
  cursor: pointer; }

.footer {
  width: 100%;
  margin-top: 50px;
  border-top: 3px solid #d6d9df;
  padding: 30px 0;
  line-height: 24px;
  background: #edeff2;
  color: #535353; }
  .footer .footer-nav-group {
    float: left;
    margin-right: 80px; }
    .footer .footer-nav-group span {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 0;
      display: inline-block; }
    .footer .footer-nav-group li span {
      color: inherit;
      font-size: 12px;
      font-weight: normal;
      padding: 0; }
  .footer .special {
    margin-top: 16px; }
    .footer .special .img-link img {
      margin-left: 2px;
      margin-top: 3px;
      display: inline-block; }
  .footer .copyright {
    text-align: center;
    margin-top: 20px; }
    .footer .copyright p {
      line-height: 30px;
      color: #989898; }
  .footer .footer-con-right {
    position: relative; }
    .footer .footer-con-right .goTop {
      width: 60px;
      height: 56px;
      line-height: 56px;
      background: #f5f6f8;
      cursor: pointer;
      font-size: 0;
      display: block;
      overflow: hidden;
      background: url(../img/common/icons_common.png) no-repeat 0 -100px; }
      .footer .footer-con-right .goTop:hover {
        text-align: center;
        font-size: 14px;
        background: #b8bbbf;
        height: 46px;
        line-height: 17px;
        padding-top: 10px;
        color: #fff; }
