.history {
    margin-top: 30px;
}
.web_click_bg .cardNumberArea .copy{
	background-color: #EA4B11;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 0 10px;
    padding: 5px;
}
.history .exscreen{
	margin: 0 0 10px 0;
	z-index: 1001;
	text-align: left;
}
.history .exscreen a{
	display:inline-block;
	padding: 5px 15px;
	font-size:14px;
	background-color: #FFF;
	border: 1px solid #E9E9E9;
	color:#999;
}
.history .exscreen a.hoverCb{
    left: 00px;
}
.history .exscreen a.hoverMs{
    left: 70px;
}
.history .exscreen a:hover , .history .exscreen a.hover{
	background-color: #EA4B11;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.history .about{
	text-align:center;
}
.history .btnArea{
	text-align:center;
	margin:50px 0 0 0;
}
.history h2{
	font-size:18px;
	font-weight:bold;
	border-bottom:3px solid #eaeaea;
	padding:5px 0;
}
.history h2 span{
	color:#ff7114;
	border-bottom:3px solid #ff7114;
	padding:5px 0;
}
.history article {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #CCCCCC;
    float: right;
    font-size: 14px;
    margin: 20px 0 0;
    padding: 10px;
    text-align: center;
    width: 912px;
    position: relative;
}
.history article .screen{
	padding: 10px;
    /*position: absolute;*/
    right: 0;
    text-align: right;
    top: 5px;
}
.history article .screen a{
	display:inline-block;
	padding:2px 8px;
	font-size:12px;
	margin:0 2px;
	border-radius:3px;
}
.history article .screen a:hover{
	text-decoration:none;
	color:#54b9e8;
}
.history article .screen a.hover{
	color:#FFF;
	background-color:#54b9e8;
}
.history article table{
	width:100%;
	border:1px solid #f0f0f0;
	border-right:none;
	border-bottom:none;
	font-size:12px;
}
.history article table th{
	background-color:#fafafa;
	text-align:center;
	padding:10px 2px;
	border:1px solid #f0f0f0;
	border-left:none;
	border-top:none;
}
.history article table td{
	border:1px solid #f0f0f0;
	border-left:none;
	border-top:none;
	padding:10px 2px;
	text-align:center;
}
.history .screen .prompt {
    /*background: url("../images/adv_prompt_icon.png") no-repeat scroll left center transparent;*/
    color: #EE472C;
    display: block;
    font-weight: normal;
    font-size:12px;
    /*line-height: 30px;*/
    position: absolute;
	left:12px;
    /*top: 5px;*/
    /*left: 10px;*/
}
.history .screen .lookMore{
	background-color: #EA4B11;
    background-image: url("../images/moreBtn.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    padding-left: 3px;
    text-decoration: none;
    width: 40px;
}

.web_click_bg{
	background-color: #FFFFFF;
    border: 3px solid #EA4B11;
    border-radius: 3px 3px 3px 3px;
    left: 650px;
    position: fixed;
    top: 190px;
    width: 380px;
    z-index: 1000;
}
.web_click_bg h3{
	background-color: #EA4B11;
	background-image: -moz-linear-gradient(top, #FD7B19, #EC4E11); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FD7B19), color-stop(1, #EC4E11)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FD7B19', endColorstr='#EC4E11', GradientType='0'); /* IE*/
    color: #FFFFFF;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
}
.web_click_bg h3 a.close{
	background-image: url("../images/amazon_click_close.gif");
    display: inline-block;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 18px;
}
.web_click_bg .cardNumberArea{
	padding:15px;
	font-size:18px;
	line-height: 200%;
	text-align: center;
}
.web_click_bg .cardNumberArea p{

}