.index section,.index aside {
	margin: 20px 0 0px 0;
	display: inline-block;
	position: relative;
}

.index section {
	width: 708px;
	float: left;
}

.index aside {
	float: right;
	width: 237px;
}

.index .frame {
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #e5e5e5;
	margin-bottom: 16px;
}

.index .frame.wam {
	background: url("../images/horn.gif") no-repeat scroll 10px center #FFEDB8;
    border: 1px solid #EECC95;
    color: #000000;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
}
.index .frame.wam p {
	 left: 35px;
	 padding-right: 10px;
	 position: absolute;
	 top: 0px;
}

.index section .frame #indexBanner {
	position: relative;
	height: 236px;
	background-color: black;
}

.index section .frame #indexBanner a {
	position: absolute;
	border:none;
}

.index section .frame #indexBanner a.indexBanner1 {
	top: 0;
	left: 0;
}

.index section .frame #indexBanner a.indexBanner2 {
	left: 267px;
	top: 118px;
}

.index section .frame #indexBanner a.indexBanner3 {
	top: 0px;
	right: 185px;
}

.index section .frame #indexBanner a.indexBanner4 {
	left: 0;
	top: 118px;
}
.index section .frame #indexBanner a.indexBanner4 em{
	color: #FFFF00;
    font-style: normal;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 20px;
    width: 100px;
}
.index section .frame #indexBanner a.indexBanner5 {
	top: 0px;
	right: 0px;
}

.index section .frame #marketActivity {
	position: relative;
	width: 676px;
	height: 144px;
}

.index section .frame #marketActivity .mask {
	overflow: hidden;
	position: relative;
	width: 676px;
}

.index section .frame #marketActivity ul {
	overflow: hidden;
	position: relative;
}

.index section .frame #marketActivity a.move {
	background-image: url("../images/marketActivityBtn.png");
	width: 12px;
	height: 17px;
	position: absolute;
	top: 64px;
}

.index section .frame #marketActivity a.move.prev {
	background-position: left top;
	left: -13px;
}

.index section .frame #marketActivity a.move.next {
	background-position: right top;
	right: -13px;
}

.index section .frame #marketActivity a.move.prev:hover {
	background-position: left bottom;
}

.index section .frame #marketActivity a.move.next:hover {
	background-position: right bottom;
}

.index section .frame #marketActivity ul li {
	float: left;
	position: relative;
	width: 338px;
	height: 144px;
}

.index section .frame #marketActivity ul li img {
	width: 338px;
	height: 144px;
}

.index section .frame #marketActivity ul li .more {
	background-color: rgb(0,0,0);
	background-color: rgba(0, 0, 0, 0.5);
	bottom: -30px;
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}

.index section .frame #marketActivity ul li .more h4 {
	font-size: 12px;
	color: #FFF;
	margin: 8px 10px;
	font-weight: normal;
}

.index section .frame #marketActivity ul li .more a.moreBtn {
	background-color: #e94d41;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	padding: 2px 5px;
	position: absolute;
	right: 5px;
	top: 4px;
	text-decoration: none;
}

.index section .frame #recommended {
	position: relative;
}

.index section .frame #recommended .mask {
	height: 169px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 676px;
}

.index section .frame #recommended ul {
	display: inline-block;
	margin: 10px 0 0;
	overflow: hidden;
	position: absolute;
}

.index section .frame #recommended ul li {
	height: 169px;
	background-color: #442f2f;
	width: 169px;
	float: left;
	position: relative;
}

.index section .frame #recommended ul li img {
	width: 169px;
	height: 169px;
}

.index section .frame #recommended ul li .more {
	height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	padding-top: 15px;
	position: absolute;
	color: #FFF;
	text-align: center;
	line-height: 200%;
	display: none;
}

.index section .frame #recommended ul li .more span {
	font-weight: bold;
	color: #ff7024;
}

.index section .frame #recommended div.number {
	position: absolute;
	right: 0px;
	top: 0px;
}

.index section .frame #recommended div.number a {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	line-height: 0px;
	color: #ee472c;
	background-color: #B3B3B3;
	margin-left: 5px;
	font-size: 0;
}
.index section .frame #recommended div.number a:hover, .index section .frame #recommended div.number a.hover{
	color:#FFF;
	background-color:#ee6f41;
	text-decoration:none;
}

.index section .frame #market {
	position: relative;
	width: 676px;
	display: inline-block;
}

.index section .frame #market ul {
	position: relative;
	display: inline-block;
}

.index section .frame #market ul li {
	float: left;
	position: relative;
	width: 224px;
	height: 95px;
}

.index section .frame #market ul li img {
	width: 224px;
	height: 95px;
}

.index section .frame #market .more {
	text-align: right;
	padding: 0 10px;
	line-height: 25px;
}

.index section .frame #market .more a {
	color: #999999;
	text-decoration: none;
}

.index section .frame #mainHotMarket ul {
	position: relative;
	display: inline-block;
}

.index section .frame #mainHotMarket ul li {
	border-top: 1px dashed #DCDCDC;
	float: left;
	height: 105px;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	width: 135px;
}

.index section .frame #mainHotMarket ul li.tbn {
	border-top: none;
}

.index section .frame #mainHotMarket ul li img {
	width: 120px;
	height: 78px;
}

.index aside #task ul li .signInExplain {
	background-image: url("../images/signInExplain.gif");
	height: 40px;
	left: 8px;
	line-height: 40px;
	padding-top: 5px;
	position: absolute;
	text-align: center;
	top: 38px;
	width: 193px;
	z-index: 9997;
}

.index aside #task ul li .signInExplain span {
	color: #f75232;
}

#signInFrame {
	background-image: url("../images/signInFrame.jpg");
	height: 264px;
	left: 0;
	position: fixed;
	top: 0;
	width: 483px;
	padding: 20px 30px;
	z-index: 9999;
}

#signInFrame h5 {
	font-weight: normal;
	font-size: 14px;
}

#signInFrame h5 span {
	color: #e94c1b;
}

#signInFrame a.close {
	background-image: url("../images/closeTag.gif");
	display: inline-block;
	font-size: 0;
	height: 13px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 14px;
}

#signInFrame ul {
	margin-top: 10px;
}

#signInFrame li {
	float: left;
	width: 160px;
	border-top: 1px dotted #dcdcdc;
	border-right: 1px dotted #dcdcdc;
	text-align: center;
	padding: 5px 0;
	position: relative;
}
#signInFrame li a:hover{
	text-decoration: none;
	display:block;
}
#signInFrame li.rbn {
	border-right: none;
}

#signInFrame li.tbn {
	border-top: none;
}

#signInFrame li img {
	width: 120px;
	height: auto;
}

#signInFrame li p {
	text-align: center;
}

#signInFrame li .gray {
	background-color: #000;
	opacity: .5;
	Filter:alpha(opacity=50);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#signInFrame li .goTo {
	text-align: center;
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #5eb524;
	display: none;
}

#signInFrame li .finish {
	text-align: center;
	color: #bcbdbd;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #e0e2e2;
	display: none;
}

#signInFrame li.finish .gray,#signInFrame li.finish .finish {
	display: block;
}

#glideAd{
	display: none;
    height: 215px;
    margin-top: 20px;
    width: 960px;
	position:relative;
}
#glideAd .close{
	position:absolute;
	right:10px;
	top:10px;
	background-image:url(../images/glideCloseBtn.png);
	width:23px;
	height:23px;
	display:inline-block;
	font-size:0;
}

#signRemind {
    display: none;
    left: 261px;
    position: absolute;
    top: 173px;
    z-index: 10001;
}
