.index section,.index aside {
	margin: 20px 0 0px 0;
	display: inline-block;
	position: relative;
}

.index section {
	width: 708px;
	float: left;
}

.index aside {
	float: right;
	width: 237px;
}

.index .frame {
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #e5e5e5;
	margin-bottom: 16px;
}

.index .frame.wam {
	background: url("../images/horn.gif") no-repeat scroll 10px center #FFEDB8;
    border: 1px solid #EECC95;
    color: #000000;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
}
.index .frame.wam p {
	 left: 35px;
	 padding-right: 10px;
	 position: absolute;
	 top: 0px;
}

.index section .frame #indexBanner {
	position: relative;
	height: 236px;
	background-color: black;
}

.index section .frame #indexBanner a {
	position: absolute;
	border:none;
}

.index section .frame #indexBanner a.indexBanner1 {
	top: 0;
	left: 0;
}

.index section .frame #indexBanner a.indexBanner2 {
	left: 267px;
	top: 118px;
}

.index section .frame #indexBanner a.indexBanner3 {
	top: 0px;
	right: 185px;
}

.index section .frame #indexBanner a.indexBanner4 {
	left: 0;
	top: 118px;
}
.index section .frame #indexBanner a.indexBanner4 em{
	color: #FFFF00;
    font-style: normal;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 20px;
    width: 100px;
}
.index section .frame #indexBanner a.indexBanner5 {
	top: 0px;
	right: 0px;
}

.index section .frame #marketActivity {
	position: relative;
	width: 676px;
	height: 144px;
}

.index section .frame #marketActivity .mask {
	overflow: hidden;
	position: relative;
	width: 676px;
}

.index section .frame #marketActivity ul {
	overflow: hidden;
	position: relative;
}

.index section .frame #marketActivity a.move {
	background-image: url("../images/marketActivityBtn.png");
	width: 12px;
	height: 17px;
	position: absolute;
	top: 64px;
}

.index section .frame #marketActivity a.move.prev {
	background-position: left top;
	left: -13px;
}

.index section .frame #marketActivity a.move.next {
	background-position: right top;
	right: -13px;
}

.index section .frame #marketActivity a.move.prev:hover {
	background-position: left bottom;
}

.index section .frame #marketActivity a.move.next:hover {
	background-position: right bottom;
}

.index section .frame #marketActivity ul li {
	float: left;
	position: relative;
	width: 338px;
	height: 144px;
}

.index section .frame #marketActivity ul li img {
	width: 338px;
	height: 144px;
}

.index section .frame #marketActivity ul li .more {
	background-color: rgb(0,0,0);
	background-color: rgba(0, 0, 0, 0.5);
	bottom: -30px;
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}

.index section .frame #marketActivity ul li .more h4 {
	font-size: 12px;
	color: #FFF;
	margin: 8px 10px;
	font-weight: normal;
}

.index section .frame #marketActivity ul li .more a.moreBtn {
	background-color: #EA4B11;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	padding: 2px 5px;
	position: absolute;
	right: 5px;
	top: 4px;
	text-decoration: none;
}

/*.index section .frame #timeLine .mask {
	height: 155px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 676px;
}

.index section .frame #timeLine ul {
	display: inline-block;
	margin: -11px 0 0;
	overflow: hidden;
	position: absolute;
}

.index section .frame #timeLine ul li {
	border-right: 1px dashed #dcdcdc;
	border-top: 1px dashed #dcdcdc;
	padding: 12px 20px 10px;
	width: 184px;
	height: 60px;
	overflow: hidden;
	float: left;
}

.index section .frame #timeLine ul li.rbn {
	border-right: none;
}

.index section .frame #timeLine ul li dd {
	float: left;
	margin-right: 10px;
	height: 50px;
}

.index section .frame #timeLine ul li dt h4 {
	float: left;
	margin-right: 5px;
	color: #e0542d;
	font-weight: normal;
}

.index section .frame #timeLine ul li dt span {
	
	font-size: 10px;
	
}*/

.index section .frame #recommended {
	position: relative;
}

.index section .frame #recommended .mask {
	height: 169px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 676px;
}

.index section .frame #recommended ul {
	display: inline-block;
	margin: 10px 0 0;
	overflow: hidden;
	position: absolute;
}

.index section .frame #recommended ul li {
	height: 169px;
	background-color: #442f2f;
	width: 169px;
	float: left;
	position: relative;
}

.index section .frame #recommended ul li img {
	width: 169px;
	height: 169px;
}

.index section .frame #recommended ul li .more {
	height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	padding-top: 15px;
	position: absolute;
	color: #FFF;
	text-align: center;
	line-height: 200%;
	display: none;
}

.index section .frame #recommended ul li .more span {
	font-weight: bold;
	color: #ff7024;
}

.index section .frame #recommended div.number {
	position: absolute;
	right: 0px;
	top: 0px;
}

.index section .frame #recommended div.number a {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	line-height: 0px;
	color: #ee472c;
	background-color: #B3B3B3;
	margin-left: 5px;
	font-size: 0;
}
.index section .frame #recommended div.number a:hover, .index section .frame #recommended div.number a.hover{
	color:#FFF;
	background-color:#ee6f41;
	text-decoration:none;
}

.index section .frame #market {
	position: relative;
	width: 676px;
	display: inline-block;
}

.index section .frame #market ul {
	position: relative;
	display: inline-block;
}

.index section .frame #market ul li {
	float: left;
	position: relative;
	width: 224px;
	height: 95px;
}

.index section .frame #market ul li img {
	width: 224px;
	height: 95px;
}

.index section .frame #market .more {
	text-align: right;
	padding: 0 10px;
	line-height: 25px;
}

.index section .frame #market .more a {
	color: #999999;
	text-decoration: none;
}

.index section .frame #mainHotMarket ul {
	position: relative;
	display: inline-block;
}

.index section .frame #mainHotMarket ul li {
	border-top: 1px dashed #DCDCDC;
	float: left;
	height: 105px;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	width: 135px;
}

.index section .frame #mainHotMarket ul li.tbn {
	border-top: none;
}

.index section .frame #mainHotMarket ul li img {
	width: 120px;
	height: 78px;
}

.index aside #banner {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 166px;
	margin-bottom: 15px;
}

.index aside #banner ul.bannerImg {
	position: absolute;
}

.index aside #banner ul.bannerImg li img {
	width: 237px;
	height: 166px;
}

.index aside #banner div.bannerNumber {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.index aside #banner div.bannerNumber a{
	width:10px;
	height:10px;
	display:inline-block;
	text-align:center;
	line-height:20px;
	color:#ee472c;
	background-color:#FFF;
	margin-left:5px;
	opacity: .8;
	border-radius: 10px;
	font-size: 0;
}
.index aside #banner div.bannerNumber a:hover, .index aside #banner div.bannerNumber a.hover{
	color:#FFF;
	background-color:#fd662f;
	opacity: .8;
	text-decoration:none;
}

.index aside #task {
	background-image: url("../images/taskFrame.jpg");
	margin-bottom: 15px;
	position: relative;
}

.index aside #task .mask {
	overflow: hidden;
	width: 207px;
	position:relative;
	margin: 0 15px;
}

.index aside #task h3 {
	background-image: url("../images/taskFrameTop.jpg");
	color: #FFFFFF;
	font-weight: normal;
	height: 34px;
	line-height: 35px;
	padding-left: 67px;
}

.index aside #task ul {
	text-align: center;
	margin: 5px 0px;
	width: 207px;
	float: left;
}

.index aside #task ul li {
	background-image: url("../images/taskIcon.gif");
	background-position: 3px -137px;
	background-repeat: no-repeat;
	border-bottom: 1px dashed #DCDCDC;
	display: inline-block;
	float: left;
	height: 30px;
	line-height: 200%;
	padding-left: 12%;
	padding-top: 8px;
	width: 88%;
}
.index aside #task ul li.advertiserment dt{
	color: #EA4C11;
}
.index aside #task ul li.signs {
	background-color: #58B5E1;
    background-position: 57px -27px;
    border-bottom: medium none;
    height: 34px;
    width: 205px;
	padding:0;
	font-size:14px;
    margin-top:5px;
}
.index aside #task ul li.signs a{
	display: inline-block;
    height: 30px;
    padding-top: 4px;
    width: 205px;
}
.index aside #task ul li.signs a dd{
	color: #FFFFFF;
	margin-left:80px;
}
.index aside #task ul li.signs dt{
	display:none;
}
.index aside #task ul li.vote {
	background-position: 3px -65px;
}

.index aside #task ul li.game {
	background-position: 3px 11px;
}

.index aside #task ul li.cps {
	background-position: 3px -103px;
}

.index aside #task ul li.end {
	border-bottom: none;
}

.index aside #task ul li:hover {
	background-color: #f4f4f4;
}
.index aside #task ul li.signs:hover{
	background-color: #79c4e7;
}
.index aside #task ul li:hover a,.index aside #task ul li:hover dd,.index aside #task ul li:hover dt{
	color:#ea4c11;
}

.index aside #task ul li dd {
	float: left;
	color: #666;
}

.index aside #task ul li dt {
	float: right;
	color: #999;
	margin-right: 3px;
}

.index aside #task ul li dt span {
	color: #ea4c11;
	margin-right: 3px;
}
.index aside #task ul li a:hover{
	text-decoration:none;
}
.index aside #task h3 span {
	background-color: #CF4E1F;
	border-radius: 4px;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	line-height: 110%;
	margin: 0 0 0 7px;
	padding: 2px 6px;
}

.index aside #task .pageNumber {
	position: absolute;
	top: 6px;
	right: 6px;
}

.index aside #task .pageNumber a {
	background-image: url("../images/taskBtnBg.jpg");
	height: 7px;
	width: 5px;
	display: inline-block;
	margin: 0 5px;
}

.index aside #task .pageNumber a.prev {
	background-position: left top;
}

.index aside #task .pageNumber a.next {
	background-position: right top;
}

.index aside #task .bottom {
	background-image: url("../images/taskFrameBottom.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	height: 7px;
	width: 237px;
}

.index aside .frame #news {
	position: relative;
}

.index aside .frame #news .mask {
	overflow: hidden;
	height:90px;
	width: 207px;
	position:relative;
}
.index aside .frame #news .all{
	height:90px;
	position:relative;
}

.index aside .frame #news ul {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	float: left;
	width: 207px;
}

.index aside .frame #news ul li {
	position: relative;
	list-style: disc outside none;
	margin-left: 15px;
	line-height: 220%;
}
.index aside .frame #news ul li a{
	color:#333;
}
.index aside .frame #news ul li a:hover{
	text-decoration:none;
	color:#EA4C11;
}
.index aside .frame #news .pageNumber{
	position: absolute;
	top: 0px;
	right: 0px;
}

.index aside .frame #news .pageNumber span {
	margin: 0 10px;
}

.index aside .frame #news .pageNumber a {
	background-image: url("../images/newsBtnBg.jpg");
	height: 8px;
	width: 4px;
	display: inline-block;
}

.index aside .frame #news .pageNumber a.prev {
	background-position: left top;
}

.index aside .frame #news .pageNumber a.next {
	background-position: right top;
}

.index aside .frame #hotMarket {
	position: relative;
}

.index aside .frame #hotMarket ul {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.index aside .frame #hotMarket ul li {
	float: left;
	position: relative;
	width: 49.9%;
	text-align: center;
	margin-bottom: 10px;
}

.index aside .frame #hotMarket ul li img {
	width: 80px;
	height: 52px;
}

.index aside .frame #aboutJili {
	position: relative;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px dashed #DCDCDC;
}

.index aside .frame #aboutJili ul {
	position: relative;
	display: inline-block;
	margin-top: 5px;
}

.index aside .frame #aboutJili ul li {
	position: relative;
	list-style: disc outside none;
	margin-left: 15px;
	line-height: 200%;
}

.index aside #userInformation {
	border: 0px;
	border-left: none;
	position: relative;
}

.index aside #userInformation p {
	margin: 0px 0 12px 0;
}
.index aside #userInformation p.error {
	color: #F00;
}
.index aside #userInformation a.reg {
	background-image: url(../images/regBtn.jpg);
	width: 185px;
	height: 53px;
	text-indent: -9999px;
	display: block;
}

.index aside #userInformation a.reg:hover {
	opacity: .8;
	Filter: alpha(opacity = 80);
}
.index aside #userInformation input.text, .index aside #userInformation input.password{
	border:1px solid #cacaca;
	width:163px;
	height:35px;
	background-repeat:no-repeat;
	display:inline-block;
	padding:0 5px 0 35px;
	color:#c5c5c5;
	line-height:35px;
}
.index aside #userInformation input.text, .index aside #userInformation input.password{
	border:1px solid #e4e4e4;
	width:163px;
	height:35px;
	background-repeat:no-repeat;
	display:inline-block;
	padding:0 5px 0 35px;
	color:#c5c5c5;
	line-height:35px;
}
.index aside #userInformation input.text:focus, .index aside #userInformation input.password:focus{
	color:#666;
	border:1px solid #7FCAF1;
}

.index aside #userInformation input.text {
	background-image: url(../images/inputUserIcon.jpg);
	background-position: 8px;
}

.index aside #userInformation input.password {
	background-image: url(../images/inputPasswordIcon.jpg);
	background-position: 10px;
}

.index aside #userInformation input.image {
	vertical-align: middle;
	margin-right: 5px;
}

.index aside #userInformation input.image:hover {
	opacity: .8;
	Filter: alpha(opacity = 80);
}

.index aside #userInformation a.forget {
	color: #54b9e8;
}

/*.index aside .frame #ranking {
	position: relative;
}

.index aside .frame #ranking .menu {
	position: absolute;
	right: 0;
	top: -2px;
}

.index aside .frame #ranking .menu a {
	display: inline-block;
	height: 23px;
	padding-top: 3px;
	text-align: center;
	text-decoration: none;
	width: 46px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 1px;
}
.index aside .frame #ranking .menu a.hover,.index aside .frame #ranking .menu a:hover{
	background-image: url("../images/rankMenuHover.jpg");
	color: #FFF;
	font-weight: bold;
}

.index aside .frame #ranking .mask {
	position: relative;
	overflow: hidden;
	width: 207px;
}

.index aside .frame #ranking .all {
	display: inline-block;
	position: relative;
	width: 621px;
}

.index aside .frame #ranking ul {
	position: relative;
	float: left;
	width: 207px;
	margin-top: 5px;
}

.index aside .frame #ranking ul li {
	position: relative;
	list-style: none;
	line-height: 40px;
	border-top: 1px dashed #CCC;
	background-repeat: no-repeat;
	width: 100%;
	height: 40px;
	background-position: 0 12px;
}

.index aside .frame #ranking ul li.rank1 {
	background-image: url("../images140307/iconImage2.png") 0 -330px;
	height: 50px;
	border-top: none;
	line-height: 50px;
}

.index aside .frame #ranking ul li.rank2 {
	background-image: url("../images140307/iconImage2.png") 0 -360px;
}

.index aside .frame #ranking ul li.rank3 {
	background-image: url("../images140307/iconImage2.png") 0 -390px;
}

.index aside .frame #ranking ul li.rank4 {
	background-image: url("../images140307/iconImage2.png") 0 -420px;
}

.index aside .frame #ranking ul li.rank5 {
	background-image: url("../images140307/iconImage2.png") 0 -450px;
}

.index aside .frame #ranking ul li dd {
	float: left;
	margin-left: 30px;
}

.index aside .frame #ranking ul li dt {
	float: right;
}

.index aside .frame #ranking ul li dt span {
	margin: 0 3px;
	color: #E0542D;
}
*/
.index aside #task ul li .signInExplain {
	background-image: url("../images/signInExplain.gif");
	height: 40px;
	left: 8px;
	line-height: 40px;
	padding-top: 5px;
	position: absolute;
	text-align: center;
	top: 38px;
	width: 193px;
	z-index: 9997;
}

.index aside #task ul li .signInExplain span {
	color: #ff7114;
}

#signInFrame {
	background-image: url("../images/signInFrame.jpg");
	height: 264px;
	left: 0;
	position: fixed;
	top: 0;
	width: 483px;
	padding: 20px 30px;
	z-index: 9999;
}

#signInFrame h5 {
	font-weight: normal;
	font-size: 14px;
}

#signInFrame h5 span {
	color: #e94c1b;
}

#signInFrame a.close {
	background-image: url("../images/closeTag.gif");
	display: inline-block;
	font-size: 0;
	height: 13px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 14px;
}

#signInFrame ul {
	margin-top: 10px;
}

#signInFrame li {
	float: left;
	width: 160px;
	border-top: 1px dotted #dcdcdc;
	border-right: 1px dotted #dcdcdc;
	text-align: center;
	padding: 5px 0;
	position: relative;
}
#signInFrame li a:hover{
	text-decoration: none;
	display:block;
}
#signInFrame li.rbn {
	border-right: none;
}

#signInFrame li.tbn {
	border-top: none;
}

#signInFrame li img {
	width: 120px;
	height: auto;
}

#signInFrame li p {
	text-align: center;
}

#signInFrame li .gray {
	background-color: #000;
	opacity: .5;
	Filter:alpha(opacity=50);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#signInFrame li .goTo {
	text-align: center;
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #5eb524;
	display: none;
}

#signInFrame li .finish {
	text-align: center;
	color: #bcbdbd;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #e0e2e2;
	display: none;
}

#signInFrame li.finish .gray,#signInFrame li.finish .finish {
	display: block;
}

#glideAd{
	display: none;
    height: 215px;
    margin-top: 20px;
    width: 960px;
	position:relative;
}
#glideAd .close{
	position:absolute;
	right:10px;
	top:10px;
	background-image:url(../images/glideCloseBtn.png);
	width:23px;
	height:23px;
	display:inline-block;
	font-size:0;
}

#signRemind {
    display: none;
    left: 261px;
    position: absolute;
    top: 173px;
    z-index: 10001;
}
