/* CSS Document */
body, div,h2, h3, form, ul, li, p, a, img, input, label, span, b, strong{	margin:0; padding:0; outline:none;}
ul, li{ list-style:none;}
input{ border:none;}
img{ border:0; vertical-align:bottom;}
.clearfix:after{clear:both;	content:'.';height:0;display:block;	overflow:hidden;}
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
body{font-size:12px;color: #333;font-family:'微软雅黑', Arial, Helvetica, sans-serif;}
a{text-decoration:none;color:#3399ff;}
.hide{ display: none;}
.topCon, .mainTopCon, .con{ width: 990px; margin: 0 auto;}
.topCon{ height: 50px; overflow: hidden; margin-top: 5px;}
.userInfo{ height: 50px; line-height: 50px; font-family: "宋体";}
.main{ background-color: #dd1f1f;}
.mainTop{ background: #df221e url(../images/january/bannerBg.jpg) no-repeat center; }
.mainTopCon{ height: 542px; overflow: hidden;}
.splitLv{ height: 542px; background: url(../images/january/bannerBg.png) no-repeat;}
.splitLvCon{ position: relative; z-index: 1; width: 614px; padding-top: 155px; margin: 0 auto;}
.splitLvImg{ text-align: center;}
.splitLvTxt{ position: absolute; z-index: 1000; bottom: 113px; width: 100%; text-align: center; line-height: 45px; font-size: 15px; font-weight: bold;}
.splitLvTxt b, .splitLvTxt span, .splitLvTxt strong{ display: inline-block; *display: inline; *zoom: 1; vertical-align: middle;}
.splitLvTxt b{ position: relative; z-index: 1; width: 22px; height: 33px; line-height: 33px; margin-right: 1px; margin-top: -2px; background-color: #000; border-radius: 3px; overflow: hidden;}
.splitLvTxt b span{ position: absolute; z-index: 1000; top: 0; left: 0; width: 22px; height: 330px; background: url(../images/january/num.png) no-repeat;}
.splitLvTxt strong{ color: #e00000; line-height: 37px;}
.splitLv2Txt{ bottom: 183px;}
.splitLv3Txt{ bottom: 253px;}
.mainCon{ height: 667px; padding-top: 50px; background: #fbb51f url(../images/january/conBg.jpg) no-repeat top center;}
.shoppingForm li{ position: relative; z-index: 1; line-height:30px;}
.shoppingForm li.tips{ font-family: "宋体"; font-size: 12px; color: #ff0000; height: 18px; line-height: 18px;}
.shoppingForm li .clearTxt{ border: 1px solid #e3e3e3; width: 170px; height: 24px; padding: 2px 5px;}
.shoppingForm li .defaultTxt{ position: absolute; z-index: 100; top: 0px; left: 90px; color: #e3e3e3;}
.activityIntro{ text-align: center; margin-top: 40px;}
.noDone{ width: 760px; height: 222px; margin: 0 auto; font-size: 14px; background: url(../images/january/orderBg.png) no-repeat;}
.noDone h2{ height: 70px; line-height: 70px; color: #fff; font-size: 26px; font-weight: bold; padding-left: 80px;}
.noDone .taobao{ width: 330px; margin-right: 95px;}
.noDone .shopping{ width: 187px; margin-left: 13px; padding-top: 10px; padding-left: 67px; line-height: 30px; background-color: #fff;}
.hasDone{ text-align: center; line-height: 35px; padding-bottom: 50px;}
.hasDone .shoppingInfo{ color: #a14b00; text-decoration: underline; margin-left: 15px;}
.btnWrapper{ text-align: center; padding-top: 5px;}
.shopping a.shoppingInfo{ font-family: "宋体"; font-size: 12px; color: #ff0000; text-decoration: underline;}
.shopping a.shoppingBtn, .orderCon .submitBtn{ width: 141px; height: 51px; display: inline-block; *display: inlien; *zoom: 1;}
.orderCon{ padding: 5px 0px 10px 35px; line-height: 28px; }
.shopping a.shoppingBtn{ background: url(../images/january/taobaoBtn.png) no-repeat;}
.orderCon .submitBtn{ background: url(../images/january/submitBtn.png) no-repeat; cursor: pointer;}
.shopping .btnWrapper{ padding-top: 12px;}