.login{
	margin-top:30px;
	text-align:center;
}
.login .img{
	float:left;
	width: 436px;
	margin: 80px 30px 50px 30px;
}
.login article{
    background-image: url("../images/loginFrameBg.jpg");
    display: inline-block;
    float: right;
    height: 457px;
    margin: 50px 30px;
    text-align: left;
    width: 377px;
   	_margin:50px 30px 50px 0;
	padding:0 2px;
}
.login article .loginForm{
	padding: 40px 50px 10px;
	border-bottom: 1px dashed #DDDDDD;
}
.login article .loginForm h2{
	color: #F9840D;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
}
.login article .loginForm li{
	width:100%;
	margin:5px 0;
	color:#666;
	font-size:12px;
	padding:5px 0;
}
.login article .loginForm li.error{
	color:#F00;
}
.login article .loginForm li input.text,.login article .loginForm li input.password{
	border:1px solid #DDD;
	font-size:14px;
	padding:10px 5px 10px 30px;
	vertical-align:middle;
	width:235px;
	margin:1px;
	height:15px;
	line-height:15px;
	background-repeat:no-repeat;
}
.login article .loginForm li input.text{
	background-image: url("../images/inputUserIcon.jpg")!important;
    background-position: 8px center;
}
.login article .loginForm li input.password{
	background-image: url("../images/inputPasswordIcon.jpg")!important;
    background-position: 10px center;
}
.login article .loginForm li input.text:hover, .login article .loginForm li input.text:focus, .login article .loginForm li input.password:hover, .login article .loginForm li input.password:focus{
	border:2px solid #7fcaf1;
	margin:0px;
}
.login article .loginForm li.loginBtn{
	margin-top:0px;
	margin-top:30px\9;
	margin-top:0px\0;
	_margin-top:30px;
}
.login article .loginForm li.loginBtn .forget{
	font-size:12px;
    color:#666;
}
.login article .loginForm li.otherLogin{
	margin-top:10px;
}
.login article .loginForm li.forget a{
	color:#4a8ef3;
}
.login article .loginForm li.loginBtn input.submit{
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	width:134px;
	height:44px;
	margin-right:10px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
	cursor: pointer;
	background-color:#ff8f4b;
	background-image: url("../images/logBtn.png");
}
.login article .loginForm li.loginBtn input.submit:hover{
	opacity: .8;
	Filter:alpha(opacity=80);
}
.login article .loginForm li.otherLogin a{
	display: inline-block;
    height: 16px;
    margin: 0 0 0 10px;
    vertical-align: text-top;
    width: 18px;
}
.login article .loginForm li.otherLogin a.weibo{
	background:url(../images/icons.png) no-repeat 0 -421px;
}
.login article .loginForm li.otherLogin a.qq{
	background:url(../images/icons.png) no-repeat 0 -311px;
}
.login article .regArea{
	text-align:center;
	padding:20px 0;
}
.login article .regArea a.reg{
	color:#dd621f;
	font-weight:bold;
	font-size:18px;
	width:135px;
	height:46px;
	line-height:45px;
	width:276px;
	margin-right:10px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
	background-color:#ececec;
	background-image: url("../images/signBtn.png")
}
.login article .regArea a.reg:hover{
	opacity: .8;
	Filter:alpha(opacity=80);
}