.login{
	margin-top:30px;
	text-align:center;
}
.login .img{
	float:left;
	width: 436px;
	margin: 50px 30px;
}
.login article{
    background-image: url("../images/loginFrameBg.jpg");
    display: inline-block;
    float: right;
    height: 457px;
    margin: 50px 30px;
    text-align: left;
    width: 377px;
	padding:0 2px;
}
.login article .loginForm{
	padding: 40px 50px 10px;
	border-bottom: 1px dashed #DDDDDD;
}
.login article .loginForm h2{
	color: #F9840D;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto 10px;
}
.login article .loginForm li{
	width:100%;
	margin:5px 0;
	color:#000;
	font-size:14px;
	padding:5px 0;
}
.login article .loginForm li.error{
	color:#F00;
}
.login article .loginForm li input[type="text"],.login article .loginForm li input[type="password"]{
	border:1px solid #DDD;
	font-size:14px;
	padding:5px;
	vertical-align:middle;
	width:260px;
	box-shadow:1px 1px 3px #CCC inset;
	margin:1px;
	height:25px;
}
.login article .loginForm li input[type="text"]:hover, .login article .loginForm li input[type="text"]:focus, .login article .loginForm li input[type="password"]:hover, .login article .loginForm li input[type="password"]:focus{
	border:2px solid #7fcaf1;
	margin:0px;
}
.login article .loginForm li.loginBtn{
	margin-top:0px;
	margin-top:30px\9;
	margin-top:0px\0;
	_margin-top:30px;
}
.login article .loginForm li.otherLogin{
	margin-top:10px;
}
.login article .loginForm li.forget a{
	color:#54b9e8;
}
.login article .loginForm li.loginBtn input[type="button"]{
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	width:135px;
	height:45px;
	margin-right:10px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
	border:1px solid #fb742c;
	background-color:#ff8f4b;
	background-image: -moz-linear-gradient(top, #ff8f4b, #fb742c); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8f4b), color-stop(1, #fb742c)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8f4b', endColorstr='#fb742c', GradientType='0'); /* IE*/
}
.login article .loginForm li.otherLogin a{
	display: inline-block;
    height: 16px;
    margin: 0 0 0 10px;
    vertical-align: text-top;
    width: 16px;
}
.login article .loginForm li.otherLogin a.weibo{
	background-image:url(../images/weiboIcon.jpg);
}
.login article .loginForm li.otherLogin a.qq{
	background-image:url(../images/qqIcon.jpg);
}
.login article .regArea{
	text-align:center;
	padding:20px 0;
}
.login article .regArea a.reg{
	color:#dd621f;
	font-weight:bold;
	font-size:18px;
	width:135px;
	height:45px;
	line-height:45px;
	width:270px;
	margin-right:10px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
	border:1px solid #dadada;
	background-color:#ececec;
	background-image: -moz-linear-gradient(top, #f5f5f5, #ececec); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #ececec)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ececec', GradientType='0'); /* IE*/
}