.w1000 {
  width: 1000px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f2f3f5;
  color: #333; }

.main {
  margin-top: 2px; }
  .main.unlogin {
    margin-top: 0px; }

.main-con-left > div, .main-con-right > div {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ebedf2; }

.main-con-left > div {
  padding: 10px 25px; }

.main-con-left {
  width: 75%; }

.main-con-right {
  width: 23%; }
  .main-con-right h2 {
    padding: 13px 15px 0;
    line-height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6; }
  .main-con-right .weibo {
    height: 550px;
    overflow: hidden; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  height: 110px;
  box-shadow: 0px 1px 5px #d8d8d8; }
  .header li {
    float: left; }
  .header.header-show {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
  .header.header-hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .header.unlogin {
    height: 80px; }

.header-top {
  background: #36363c;
  color: #828285;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bcbdc2; }
  .header-top a {
    color: #828285;
    font-size: 12px; }
    .header-top a:hover {
      color: #fff; }
    .header-top a.mailLink {
      display: inline-block;
      *display: inline;
      *zoom: 1; }

.header-top-con a {
  padding: 0 15px;
  border-right: 1px solid #77777a; }
  .header-top-con a.first {
    padding-left: 0; }
  .header-top-con a.last {
    border-right: none; }
.header-top-con em {
  width: 20px;
  height: 15px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: -3px;
  background: url(../img/common/icons_common.png) no-repeat 0 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .header-top-con em.tool {
    width: 12px;
    height: 16px;
    line-height: 16px;
    background-position: 0 -38px; }
  .header-top-con em.mail {
    margin-top: 1px;
    margin-left: 0;
    background-position: 0 -20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    *margin-top: 8px; }
  .header-top-con em .mark {
    position: absolute;
    z-index: 1000;
    top: -3px;
    right: -3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: url(../img/common/icons_common.png) no-repeat 0 -58px; }
.header-top-con span {
  vertical-align: top; }
  .header-top-con span.special {
    color: #fff;
    position: relative;
    z-index: 10;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .header-top-con span .expand-title {
    padding: 1px 20px 1px 0; }
  .header-top-con span b {
    position: absolute;
    z-index: 1000;
    top: 14px;
    right: 0;
    margin-left: 5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    cursor: pointer;
    border-style: solid dashed dashed dashed;
    border-color: #828285 transparent transparent transparent;
    border-bottom: none;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s; }
.header-top-con span:hover b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }
.header-top-con .personal {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 0;
  border: 1px solid #ebedf2;
  background: #fff;
  width: 186px;
  display: none; }
  .header-top-con .personal li {
    float: none;
    border-top: 1px solid #ebedf2;
    line-height: 35px;
    padding: 0 20px; }
    .header-top-con .personal li a {
      border-right: none;
      color: #4d4d4d;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
    .header-top-con .personal li:hover {
      background: #fafafa; }
.header-top-con .personal-con {
  padding: 15px 20px; }
  .header-top-con .personal-con span {
    padding: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    color: #4d4d4d; }
    .header-top-con .personal-con span.face {
      border-radius: 50%; }
    .header-top-con .personal-con span.txt {
      font-size: 12px;
      line-height: 20px;
      margin-left: 5px; }
      .header-top-con .personal-con span.txt .nickname {
        margin-bottom: 5px;
        width: 70px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .header-top-con .personal-con span strong {
      font-size: 16px;
      color: #ff6700; }
    .header-top-con .personal-con span img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }

.header-nav {
  background: #fff;
  height: 80px;
  line-height: 80px; }
  .header-nav span {
    color: #f5eeeb;
    padding: 0 15px; }
  .header-nav img {
    vertical-align: middle; }
  .header-nav .logo {
    margin-right: 80px; }
    .header-nav .logo a {
      padding-right: 20px; }
    .header-nav .logo span {
      height: 28px;
      line-height: 28px;
      border-left: 1px solid #ddd;
      vertical-align: middle;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
  .header-nav .nav {
    font-size: 0;
    height: 80px;
    overflow: hidden;
    position: relative;
    z-index: 2; }
    .header-nav .nav .border {
      position: absolute;
      z-index: 1000;
      left: 0;
      bottom: 0;
      height: 6px;
      width: 115px;
      background: #ff6700;
      display: none; }
    .header-nav .nav a {
      width: 115px;
      text-align: center;
      font-size: 16px;
      color: #404040;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      overflow: hidden; }
      .header-nav .nav a:hover, .header-nav .nav a.active {
        color: #ff6700; }
  .header-nav .login-btn a {
    margin-left: 5px;
    padding: 0 10px;
    color: #888; }
    .header-nav .login-btn a:hover {
      color: #ff652b; }
  .header-nav .login-btn a.sign {
    color: #ff652b;
    border-left: 1px solid #d0d1d1;
    padding-left: 40px; }

.main-personal {
  padding: 20px 0 0 5px; }

h1 {
  padding-left: 3px;
  font-size: 20px;
  height: 55px;
  line-height: 55px; }

.main-personal-left {
  width: 135px;
  margin-right: 15px;
  padding-left: 15px;
  padding-top: 27px; }
  .main-personal-left em {
    margin-right: 10px;
    width: 18px;
    height: 20px;
    background: url(../img/personal/icons.png) no-repeat 0 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
    .main-personal-left em.icon2 {
      background-position: 0 -47px; }
    .main-personal-left em.icon3 {
      background-position: 0 -94px; }
    .main-personal-left em.icon4 {
      background-position: 0 -142px; }
    .main-personal-left em.icon5 {
      background-position: 0 -191px; }
  .main-personal-left li {
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px; }
    .main-personal-left li.active em, .main-personal-left li:hover em {
      background-position: -24px 2px; }
      .main-personal-left li.active em.icon2, .main-personal-left li:hover em.icon2 {
        background-position: -24px -47px; }
      .main-personal-left li.active em.icon3, .main-personal-left li:hover em.icon3 {
        background-position: -24px -94px; }
      .main-personal-left li.active em.icon4, .main-personal-left li:hover em.icon4 {
        background-position: -24px -142px; }
      .main-personal-left li.active em.icon5, .main-personal-left li:hover em.icon5 {
        background-position: -24px -191px; }
    .main-personal-left li.active a, .main-personal-left li:hover a {
      color: #ff6700; }

.main-personal-right {
  width: 830px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: #fff;
  border: 1px solid #ebedf2; }
  .main-personal-right h2 {
    margin-top: 36px;
    padding-left: 38px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #757575; }
    .main-personal-right h2 > div {
      float: right;
      padding-right: 30px; }
      .main-personal-right h2 > div label {
        font-size: 12px;
        color: #333;
        display: inline-block;
        *display: inline;
        *zoom: 1; }
  .main-personal-right .page-wrapper {
    padding: 30px 0;
    text-align: right; }

.main-personal-message {
  padding: 10px 40px; }
  .main-personal-message span {
    height: 45px;
    line-height: 45px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .main-personal-message .btn {
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #e6e6e6; }
    .main-personal-message .btn a {
      height: 45px;
      line-height: 45px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 110px;
      text-align: center;
      font-size: 16px;
      font-weight: bold; }
      .main-personal-message .btn a.active, .main-personal-message .btn a:hover {
        color: #ff6700; }
    .main-personal-message .btn .border {
      position: absolute;
      z-index: 1000;
      bottom: -2px;
      left: 0;
      height: 2px;
      width: 110px;
      background: #ff6700; }
  .main-personal-message ul {
    margin-top: 20px; }
  .main-personal-message li {
    line-height: 50px;
    border-bottom: 1px solid #f6f6f6;
    color: #555; }
    .main-personal-message li a {
      margin-left: 40px;
      color: #666;
      font-size: 13px;
      font-weight: bold; }
    .main-personal-message li strong {
      margin-left: 40px; }
    .main-personal-message li span {
      float: right;
      width: 180px; }
    .main-personal-message li.title {
      font-weight: bold;
      background: #fbfbfb;
      line-height: 45px;
      border: none; }
    .main-personal-message li.new a {
      color: #0078b6; }
    .main-personal-message li p {
      padding: 15px 40px;
      line-height: 22px;
      color: #333;
      background: #fbfbfb;
      border: 1px solid #ebebeb;
      display: none; }
      .main-personal-message li p a {
        margin-left: 0;
        color: #ff6700; }
    .main-personal-message li.active {
      border: none; }

.page-wrapper {
  padding: 30px;
  font-size: 0; }

.page {
  text-align: center; }
  .page span {
    border: 1px solid #dbdbdb;
    color: #adadad;
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    text-center: center;
    line-height: 22px;
    margin-right: 5px;
    cursor: pointer; }
    .page span:hover, .page span.active {
      border: 1px solid #ff6700;
      color: #ff6700; }
      .page span:hover a, .page span.active a {
        color: #ff6700; }
  .page a {
    color: #adadad;
    height: 22px;
    line-height: 22px;
    padding: 0px 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    .page a:hover, .page a.active {
      color: #ff6700; }

.footer {
  margin-top: 50px;
  border-top: 3px solid #d6d9df;
  padding: 30px 0;
  line-height: 24px;
  background: #edeff2;
  color: #535353; }
  .footer .footer-nav-group {
    float: left;
    margin-right: 80px; }
    .footer .footer-nav-group span {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 0;
      display: inline-block; }
    .footer .footer-nav-group li span {
      color: inherit;
      font-size: 12px;
      font-weight: normal;
      padding: 0; }
  .footer .special {
    margin-top: 16px; }
    .footer .special .img-link img {
      margin-left: 2px;
      margin-top: 3px;
      display: inline-block; }
  .footer .copyright {
    text-align: center;
    margin-top: 20px; }
    .footer .copyright p {
      line-height: 30px;
      color: #989898; }
  .footer .footer-con-right {
    position: relative; }
    .footer .footer-con-right .goTop {
      width: 60px;
      height: 56px;
      line-height: 56px;
      background: #f5f6f8;
      cursor: pointer;
      font-size: 0;
      display: block;
      overflow: hidden;
      background: url(../img/common/icons_common.png) no-repeat 0 -100px; }
      .footer .footer-con-right .goTop:hover {
        text-align: center;
        font-size: 14px;
        background: #b8bbbf;
        height: 46px;
        line-height: 17px;
        padding-top: 10px;
        color: #fff; }
