body {
  background: url(../img/404/seamless-noise-bg.png) repeat; }

.JLNotWrap {
  height: 772px;
  background: url(../img/404/oldJiliNotice.png) no-repeat center center;
  margin: 30px auto;
  position: relative; }
  .JLNotWrap .JLNotCon {
    width: 570px;
    height: 470px;
    padding: 146px 0 0 0;
    text-align: center;
    margin: 0 auto; }
    .JLNotWrap .JLNotCon .title {
      font-size: 34px; }
    .JLNotWrap .JLNotCon .text1 {
      font-size: 18px;
      color: #333;
      margin-top: 180px; }
      .JLNotWrap .JLNotCon .text1 em {
        color: #ff724f; }
    .JLNotWrap .JLNotCon .text2 {
      color: #808080;
      text-align: left;
      line-height: 22px;
      margin-top: 160px;
      font-size: 12px; }
    .JLNotWrap .JLNotCon .link {
      width: 262px;
      height: 100px;
      position: absolute;
      left: 547px;
      top: 409px; }
