.password {
	margin-top: 30px;
	text-align: center;
}
.password article {
	width: 595px;
	text-align: left;
	display: inline-block;
	margin: 100px 0;
}
.password article .form {
	background-color: #FFF;
	border: 1px solid #ececec;
	padding: 0 50px 20px 50px;
	position: relative;
}
.password article .form h2 {
	border-bottom: 1px solid #DDDDDD;
	color: #F5875F;
	font-size: 20px;
	font-weight: bold;
	left: 0;
	line-height: 300%;
	padding-top: 10px;
	margin: 0 0 30px;
	top: 0;
	width: 100%;
}
.password article .form h2 span {
	color: #999;
}
.password article .message {
	border-bottom: 1px dotted #DDDDDD;
	color: #abcb38;
	font-size: 14px;
	margin: 0 0 30px;
	padding: 0 0 20px;
	text-align: left;
	width: 100%;
}
.password article .message img {
	vertical-align: middle;
	margin: 0 10px 0 100px;
}
.password article p {
	text-align: center;
	font-size: 18px;
	margin: 30px 0;
}
.password article p.prompt{
	font-size:14px;
}
.password article p.prompt span{
	color:red;
}
.password article p input.text, .password article p input.password {
	border: 1px solid #CCC;
	font-size: 16px;
	padding: 5px;
	vertical-align: middle;
	width: 250px;
	margin: 1px;
}
.password article p input.text:hover, .password article p input.text:focus, .password article p input.password:hover, .password article p input.password:focus {
	border: 2px solid #7fcaf1;
	margin: 0px;
}
.password article p a {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	display: inline-block;
	border: 1px solid #6dbade;
	background-color: #7acaef;
	background-image: -moz-linear-gradient(top, #8cd2f3, #7acaef); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8cd2f3), color-stop(1, #7acaef)); /* Saf4+, Chrome */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cd2f3', endColorstr='#7acaef', GradientType='0'); /* IE*/
}
.password article p a:hover {
	text-decoration: none;
}
.password article p a.disabled{
	border: 1px solid #808080;
	background-color: #9a9a9a;
	background-image: -moz-linear-gradient(top, #b1b1b1, #9a9a9a); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1b1b1), color-stop(1, #9a9a9a)); /* Saf4+, Chrome */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1b1b1', endColorstr='#9a9a9a', GradientType='0'); /* IE*/
}
.password article ul {
	float: left;
	width: 500px;
	border-right: 1px dotted #EEEEEE;
	margin-left: -30px;
}
.password article ul.activate {
	border-right: none;
	float: none;
	margin: auto;
}
.password article ul li {
	display: inline-block;
	width: 100%;
	margin: 0;
	color: #000;
	font-size: 14px;
}
.password article ul li dd {
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	line-height: 35px;
	height: 35px;
	display: inline-block;
}
.password article ul li dt {
	float: left;
	line-height: 35px;
}
.password article ul li dt input.text, .password article ul li dt input.password {
	border: 1px solid #CCC;
	font-size: 14px;
	padding: 5px;
	vertical-align: middle;
	width: 230px;
	margin: 1px;
	text-align:left;
}
.password article ul li dt input.text:hover, .password article ul li dt input.text:focus, .password article ul li dt input.password:hover, .password article ul li dt input.password:focus {
	border: 2px solid #7fcaf1;
	margin: 0px;
}
.password article ul li dt span {
	display: inline-block;
	color: #999;
}
.password article ul li dt font {
	display: inline-block;
}
.password article ul li dt.succeed input.text, .password article ul li dt.succeed input.password {
	border: 1px solid #77a735;
	margin: 1px;
}
.password article ul li dt.succeed font {
	background-image: url("../images/succeedIcon.jpg");
	background-position: 0 12px;
	background-repeat: no-repeat;
	margin: 0 0 0 5px;
	text-indent: 20px;
}
.password article ul li dt.error input.text, .password article ul li dt.error input.password {
	border: 1px solid #f4784a;
	margin: 1px;
}
.password article ul li dt.error font {
	background-image: url("../images/errorIcon.jpg");
	background-position: 0 12px;
	background-repeat: no-repeat;
	margin: 0 0 0 5px;
	text-indent: 20px;
}
.password article ul li dt.error span {
	color: #F00;
}
.password article ul li dt .saveBtn {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	height: 33px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #6dbade;
	background-color: #7acaef;
	background-image: -moz-linear-gradient(top, #8cd2f3, #7acaef); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8cd2f3), color-stop(1, #7acaef)); /* Saf4+, Chrome */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cd2f3', endColorstr='#7acaef', GradientType='0'); /* IE*/
}
.password article ul li dt .saveBtn:hover {
	text-decoration: none;
}
