.score .screen{
	position: relative;
	margin-left: -20px;
}
.score .screen a{
	display:inline-block;
	padding: 5px 15px;
	font-size:14px;
	position: absolute;
	background-color: #FFF;
	border: 1px solid #E9E9E9;
	color:#999;
	margin-bottom: 8px;
}
.score .screen a.hoverCb{
	bottom: 0px;
    left: 20px;
}
.score .screen a.hoverMs{
	bottom: 0px;
    left: 87px;
}
.score .screen a:hover , .score .screen a.hover{
	background-color: #EA4B11;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.resDiv{
	margin-top: 20px;
	float: left;
	margin-left: 10px;
	display: none;
}
.resImg{
	width:100px;
	height:100px;
	overflow:hidden;
	display:inline-block;
}
.resizeSubmit{
	margin-top: 10px;
}
.resBut{
	width:100px;
	padding:5px 0;
	color: #FFF;
	background-color: #54b9e8;
	cursor: pointer;
}
.cancerBut{
	width:100px;
	padding:5px 0;
	margin-top: 10px;
	color: #7f7f7f;
	background-color: #dcdcdc;
	cursor: pointer;
}
.personal {
	margin: auto;
	width: 960px;
	padding: 45px 0 140px 0;
	font-size: 14px;
}
.infoReset{

}
.personal section {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	width: 100%;
	margin-bottom: 2px
}
.personal section h3 {
	font-size: 18px;
	color: #666666;
	padding: 20px;
	position: relative;
}
.personal section .content{	
	border-top: 1px #e0e0e0 dashed;
}
.personal section.line{ 
	padding:1px 0 0 0;
}
.personal section h3.line{ 
	border-top: 1px solid #e0e0e0;
}
.personal section h3 a.close {
	background-image: url(../images/upIcon.jpg);
	width: 100%;
	height: 58px;
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: 920px center;
}
.personal section h3 a.open {
	background-image: url(../images/downIcon.jpg);
	width: 100%;
	height: 58px;
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: 920px center;
}
.photo{
	padding: 20px 50px;
}
.photo .img{
	background-image: url("../images/photoBg");
    height: 100px;
    padding: 18px 15px 0;
    width: 80px;
	float:left;
	margin: 0 20px;
}
.photo .img img{
	width:80px;
	height:80px;
}
.photo p{
	margin:20px 0;
}
.photo p span{
	color:#ee472c;
}
.photo a.upload{
	height:32px;
	background-image:url(../images/uploadBg);
	font-size:16px;
	font-weight:bold;
	color:#666666;
	padding:0 40px;
	display:inline-block;
	border:1px solid #bbbbbb;
	line-height:32px;
	border-radius:5px;
}
.photo a.upload:hover{
	opacity: .8;
	Filter:alpha(opacity=80);
	text-decoration:none;
}
.info, .ad, .score{
	position:relative;
}

.lookMore{
	background-color: #EA4B11;
    background-image: url("../images/moreBtn.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    padding-left: 3px;
    text-decoration: none;
    width: 40px;
}

.ad p.prompt {
   /* background: url("../images/adv_prompt_icon.png") no-repeat scroll left center transparent;*/
    color: #EE472C;
    display: block;
    font-weight: normal;
    line-height: 30px;
    position: absolute;
    top: 15px;
	font-size:13px;
	left: 65px;
}
.info a.edit, .ad a.more, .score a.more{
	position:absolute;
	right:60px;
	top:20px;
	color:#54b9e8;
	text-decoration:none;
}
.personal .photo a.passwordEdit{
	background-image: url("../images/password.jpg");
	background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    margin-right: 50px;
}
.personal .photo a.message{
	background-image: url("../images/message.jpg");
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    margin-right: 50px;
}
.personal .photo img.mili{
	margin-right: 5px;
	vertical-align: middle;
}
.info ul {
	padding: 20px 0;
	display: inline-block;
}
.info ul li {
	display: inline-block;
	width: 100%;
	line-height: 25px;
	margin: 10px 0;
	float: left;
}
.info ul li dd {
	float: left;
	text-align: right;
	width: 150px;
	padding-right: 10px;
}
.info ul li dt {
	float: left;
}
.info ul li dt input[type="text"] {
	height: 25px;
	width: 205px;
	border: 1px solid #c9c9c9;
	vertical-align: middle;
	padding: 0 5px;
}
.info ul li dt textarea {
	border: 1px solid #c9c9c9;
	padding: 5px;
	width: 360px;
}
.info ul li dt input.infoFinish {
	background-color: #54B9E8;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 0;
    width: 60px;
}
.info ul li dt input.infoReset {
	background-color: #DCDCDC;
    color: #7F7F7F;
    cursor: pointer;
    padding: 5px 0;
    width: 60px;
}
.ad .selectTable{
	border: 1px solid #b8d4e0;
	border-bottom: none;
	height:46px;
	background-image:url(../images/tableSelectBg.jpg);
	padding-left:20px;
}
.ad .selectTable a{
	color:#54b9e8;
	display:inline-block;
	margin: 10px;
    padding: 3px 20px;
}
.ad .selectTable a:hover ,.ad .selectTable a.hover{
	background-color: #7BC6E8;
    border: 1px solid #5FB2D9;
    border-radius: 30px 30px 30px 30px;
    color: #FFFFFF;
	text-decoration:none;
}
.ad, .score {
	width: 850px;
	margin: auto;
	padding: 50px 55px;
}
.ad table, .score table {
	border: 1px solid #F0F0F0;
	border-bottom: none;
	border-right: none;
}
.ad th, .ad td, .score th, .score td {
	border: 1px solid #F0F0F0;
	border-top: none;
	border-left: none;
	text-align: center;
}
.ad th, .score th {
	height: 40px;
	background: #FAFAFA;
	/*background-image: url(../images/adTableThBg.jpg);*/
}
.ad td, .score td {
	padding: 10px 0;
}
.expand{
	padding:20px 50px;
}

.web_click_bg{
	background-color: #FFFFFF;
    border: 3px solid #EA4B11;
    border-radius: 3px 3px 3px 3px;
    left: 650px;
    position: fixed;
    top: 190px;
    width: 380px;
    z-index: 1000;
}
.web_click_bg h3{
	background-color: #EA4B11;
	background-image: -moz-linear-gradient(top, #FD7B19, #EC4E11); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FD7B19), color-stop(1, #EC4E11)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FD7B19', endColorstr='#EC4E11', GradientType='0'); /* IE*/
    color: #FFFFFF;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
}
.web_click_bg h3 a.amClose{
	background-image: url("../images/amazon_click_close.gif");
    display: inline-block;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 18px;
}
.web_click_bg .cardNumberArea{
	padding:15px;
	font-size:18px;
	line-height: 200%;
	text-align: center;
}
.web_click_bg .cardNumberArea p{

}
.web_click_bg .cardNumberArea .copy{
	background-color: #EA4B11;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 0 10px;
    padding: 5px;
}