.w100 {
  width: 100%;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f2f3f5;
  color: #333;
}

.main {
  margin-top: 20px;
}

.main-con {
  background: #fff;
  border: 1px solid #ebedf2;
}

.header {
  background: #fff;
  height: 92px;
  border-bottom: 3px solid #f26f21;
  -webkit-box-shadow: 0px 1px 5px #d8d8d8;
  -moz-box-shadow: 0px 1px 5px #d8d8d8;
  box-shadow: 0px 1px 5px #d8d8d8;
}
.header .logo a {
  padding: 15px 20px 15px 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header .logo span {
  padding: 0 20px;
  line-height: 35px;
  font-size: 26px;
  color: #595654;
  border-left: 1px solid #ddd;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header .logo span b {
  color: #f26f21;
}
.header p {
  color: #a0a0a0;
  font-size: 14px;
  height: 92px;
  line-height: 92px;
}
.header p a {
  color: #007ec2;
  font-weight: bold;
}

.form li {
  margin-top: 10px;
}
.form li label {
  width: 100px;
  text-align: right;
  font-size: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.form input[type='text'], .form input[type='password'] {
  padding: 0 5px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #e5e5e5;
  outline: none;
}
.form input[type='text']:focus, .form input[type='text'].input_focus, .form input[type='password']:focus, .form input[type='password'].input_focus {
  border: 1px solid #3bc570;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: all 0.075s;
  -moz-transition: all 0.075s;
  -webkit-transition: all 0.075s;
  -o-transition: all 0.075s;
}
.form input[type='text'].input_error, .form input[type='password'].input_error {
  border: 1px solid #ff0000;
}
.form input[type='text'] {
  width: 255px;
}
.form span {
  display: none;
  text-align: left;
  line-height: 34px;
}
.form span.succeed {
  color: #3bc570;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(../img/user/succeedIcon.png) no-repeat 2px 5px;
  font-size: 0;
}
.form span.focus {
  border: 1px solid #e7e7e7;
  background: #fafafa;
  color: #898989;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.form span.error, .form span strong {
  border: 1px solid #ffbdbe;
  background: #ffebeb;
  color: #ff0000;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.form span b {
  font-size: 20px;
}
.form span a {
  display: block;
  font-size: 16px;
  color: #319dfa;
}
.form span a.more {
  font-size: 12px;
  display: inline;
}
.form .btn span {
  width: 74px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #ff6700;
  border: 1px solid #ff6700;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.form .btn span:hover {
  background: #f25807;
  border: 1px solid #f25807;
}

#pwdStrength {
  padding: 0;
  margin-right: 4px;
}
#pwdStrength b {
  margin-right: 1px;
  width: 45px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  color: #fff;
  background: #b9b9b9;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#pwdStrength b.c1 {
  background: #ff8b3d;
}

.main-con {
  width: 740px;
}

.main-resetPwd {
  padding: 48px 70px;
}
.main-resetPwd .steps span {
  width: 170px;
  padding-left: 30px;
  height: 36px;
  line-height: 36px;
  color: #969696;
  background: #efefef url(../img/user/barBg.png) no-repeat right -94px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.main-resetPwd .steps span.active {
  color: #fff;
  background: #63b8ef url(../img/user/barBg.png) no-repeat right 0;
}
.main-resetPwd .steps span.pass {
  background-position: right -47px;
}
.main-resetPwd .steps span.last {
  background-position: right -141px;
}
.main-resetPwd .steps span.last.active {
  background-position: right -188px;
}
.main-resetPwd .step2 .prompt {
  text-align: left;
  padding-left: 165px;
}
.main-resetPwd .step3 .main-resetPwd-con span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.main-resetPwd-con {
  padding: 50px;
  text-align: center;
  color: #333;
}
.main-resetPwd-con .title {
  font-size: 18px;
  line-height: 55px;
}
.main-resetPwd-con input[type='text'], .main-resetPwd-con input[type='password'] {
  width: 348px;
  height: 40px;
  line-height: 40px;
}
.main-resetPwd-con input[type='password'] {
  width: 256px;
}
.main-resetPwd-con span {
  line-height: 24px;
}
.main-resetPwd-con span.focus, .main-resetPwd-con span.error {
  border: none;
  background: transparent;
}
.main-resetPwd-con span.error, .main-resetPwd-con span strong {
  color: #ff0000;
}
.main-resetPwd-con span strong#second {
  border: none;
  background: none;
}
.main-resetPwd-con span.btn {
  margin-top: 30px;
  width: 180px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #319cfa;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 0 #0a7fe6;
  -moz-box-shadow: 0 2px 0 #0a7fe6;
  box-shadow: 0 2px 0 #0a7fe6;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.main-resetPwd-con span.btn.disabled {
  color: #333;
  background: #f6f6f6;
  -webkit-box-shadow: 0 2px 0 #eee;
  -moz-box-shadow: 0 2px 0 #eee;
  box-shadow: 0 2px 0 #eee;
  cursor: default;
}
.main-resetPwd-con span .activeEmail {
  font-size: 12px;
  color: #0078b6;
  display: inline;
}

.footer {
  padding: 20px 0;
  line-height: 24px;
  color: #535353;
}
.footer .copyright {
  text-align: center;
}
.footer .copyright p {
  line-height: 30px;
  color: #989898;
}
