ul,li{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none;}
.corBO{ color:#ff340b;}
.taobaoWrap{ width:1001px; margin:0px auto; text-align: left;}
.itemL{ width:737px; float:left;}
.itemL .taobaoSearch,.itemL .tablist,.itemR .discover dd{ border-right:1px solid #e2e2e2; border-bottom:2px solid #e2e2e2;}
.itemL .taobaoSearch{ height:85px; padding:20px 0 0 34px; background:#fff;}
.itemL .taobaoNotice{ color:#333; background:#fef7cd; border:1px solid #e6b31c; padding:7px 15px; font-size:12px; margin-bottom:10px;}
.itemL .taobaoNotice em{ width:15px; vertical-align: -2px; height: 12px; margin-right: 5px; display: inline-block; background:url(../images/taobao/notice_icon.gif) no-repeat;}
.itemL .ltab{ width: 100%; padding:0;margin: 10px 0; }
.itemL .ltab li{ float: left; height: 26px; margin-top:3px; font-size: 14px; line-height: 25px; cursor:pointer; font-family:Microsoft Yahei,SimHei,Tahoma; }
.itemL .ltab li.ui-tabs-active{ background:#ff4526; border-radius:3px;}
.itemL .ltab li a{ color:#333; padding: 0px 12px;}
.itemL .ltab li.ui-tabs-active a{ color:#fff;}
.itemL .tablist{ display: none; background-color: #fff;}
.itemL .block{ display: block;}
.itemL .tablist .cell{ margin-bottom: -1px; width: 730px; height: 220px; background: #fff;}
.itemR{ width:248px; float:right;}
.itemR .discover .pt{ background:url(../images/taobao/lovedx.jpg) no-repeat 0 4px; padding-left: 20px;}
.itemR .discover dt{ font-family:Microsoft Yahei,SimHei,Tahoma; font-size: 16px; margin-bottom:10px; color:#333;}
.itemR .discover dd{ background:#fff; margin:0;}
.itemR .discover .mt{ background:url(../images/taobao/lovedp.jpg) no-repeat 0 4px; padding-left: 20px;}
.itemR .rPt .discover{width:248px; margin-top: 8px;}
.itemR .rPt .discover .pl ul li{margin: 5px auto; width: 230px;}
.itemR .rMall{ margin-top: 15px;}
.itemR .rMall .discover dd{ padding:20px;}
.itemR .rMall .discover .listGroup .img{ float:left; margin-right: 10px;}
.itemR .rMall .discover .listGroup .img img{ width:70px; height:70px;}
.itemR .rMall .discover .listGroup .name{ color:#999; font-size:12px; vertical-align: -10px;}
#infscr-loading{ text-align: center;}
/*2014-11-19, by wlt*/
.taobaoCon{ position: relative; z-index: 1; background-color: #fff; padding-top: 5px; padding-left: 5px;}
.treasure{ position: absolute; z-index: 1000; background: transparent; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}
.mask, .taoNewGuideMask{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9000; opacity: .6; filter: alpha(opacity=60); background-color: #000;}
.winLayer{ position: fixed; left: 50%; margin-left: -516px; top: 5px; background: url(../images/taobao/bg.png) no-repeat; width: 1033px; height: 646px; z-index: 9099;}
.winLayer .winCon{ position: relative; left: 50%; margin-left: -201px; top: 330px; width: 402px; height: 203px; z-index: 9998;}
.winLayer .winCon .winResult, .winLayer .winCon .failResult{ position: absolute; top: 78px; left: 60px; z-index: 9999; font-size: 18px; font-weight: bold; color: #ac1b00; font-family: Microsoft Yahei,SimHei,Tahoma; background: url(../images/taobao/winAnimation.gif) no-repeat 0 0; padding: 25px 0 18px 100px; line-height: 45px;}
.winLayer .winCon .failResult{ background: url(../images140307/roleIcon.png) no-repeat 0 0; padding: 10px 0 10px 60px; top: 90px; left: 65px;}
.winLayer .winCon .winResult strong{ color: #ff1e00;}
.winLayer .close{ position: fixed; top: 5px; right: 50%; margin-right: -500px; color: #fff; width: 27px; height: 27px; cursor: pointer; z-index: 9999; background: url(../images/taobao/close.png) no-repeat;}
/*2014-11-26, by wlt*/
.itemL .tablist .loadimg{ background: url(../images/taobao/loadingImg.gif) no-repeat center;}
.tips{ font-size: 14px; font-family: "微软雅黑"; width: 200px; height: 45px; text-align: center; line-height: 45px; background-color: #fff; position: absolute; top: 450px; left: 50%; margin-left: -100px; z-index: 9999;}
.taoNewGuide{ position: absolute; z-index: 9998; top: 220px; left: 50%; width: 1000px; height: 756px; margin-left: -500px; background: url(../images/taobao/newGuide.png) no-repeat top center; display: none;}
.guideGif{ position: absolute; z-index: 9999; top:158px; left: -18px; width: 774px; height: 262px; background: url(../images/taobao/find.gif) no-repeat center;}
.guideClose{ position: absolute; top: 5px; right: 250px; color: #fff; width: 27px; height: 27px; cursor: pointer; z-index: 9999; background: url(../images/taobao/close.png) no-repeat;}
.iKnow{ position: absolute; bottom: 95px; left: 248px; color: #fff; width: 185px; height: 95px; cursor: pointer; z-index: 9999; background: url(../images/taobao/iKnow.png) no-repeat;}
.taoNewGuideMask{ display: none;}
.toTop{width:65px; height:66px; position: fixed; right: 30px; bottom: 120px; cursor:pointer; display:none;}
/*2015-1-16, by wlt*/
.itemL .taobaoNotice a, .itemL .taobaoNotice strong{ color: #ff340b; font-size: 14px; font-weight: bold; padding: 0 2px;}