@charset "UTF-8";
.w100 {
  width: 100%; }

.w1000 {
  width: 1000px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

body {
  font-family: "Microsoft YaHei", Tohoma, Arial;
  font-size: 12px;
  background: #f2f3f5;
  color: #333; }

.main {
  margin-top: 20px; }

.main-con {
  background: #fff;
  border: 1px solid #ebedf2; }

.header {
  background: #fff;
  height: 92px;
  border-bottom: 3px solid #f26f21;
  -webkit-box-shadow: 0px 1px 5px #d8d8d8;
  -moz-box-shadow: 0px 1px 5px #d8d8d8;
  box-shadow: 0px 1px 5px #d8d8d8; }
  .header .logo a {
    padding: 15px 20px 15px 0;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .header .logo span {
    padding: 0 20px;
    line-height: 35px;
    font-size: 26px;
    color: #595654;
    border-left: 1px solid #ddd;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    .header .logo span b {
      color: #f26f21; }
  .header p {
    color: #a0a0a0;
    font-size: 14px;
    height: 92px;
    line-height: 92px; }
    .header p a {
      color: #007ec2;
      font-weight: bold; }

.form li {
  margin-top: 10px; }
  .form li label {
    width: 100px;
    text-align: right;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.form input[type='text'], .form input[type='password'], .form input[type='email'] {
  padding: 0 5px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #e5e5e5;
  outline: none; }
  .form input[type='text']:focus, .form input[type='text'].input_focus, .form input[type='password']:focus, .form input[type='password'].input_focus, .form input[type='email']:focus, .form input[type='email'].input_focus {
    border: 1px solid #3bc570;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: all 0.075s;
    -moz-transition: all 0.075s;
    -webkit-transition: all 0.075s;
    -o-transition: all 0.075s; }
  .form input[type='text'].input_error, .form input[type='password'].input_error, .form input[type='email'].input_error {
    border: 1px solid #ff0000; }
.form input[type='text'] {
  width: 255px; }
.form span {
  display: none;
  text-align: left;
  line-height: 34px; }
  .form span.succeed {
    color: #3bc570;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(../img/user/succeedIcon.png) no-repeat 2px 12px;
    font-size: 0; }
  .form span.focus {
    border: 1px solid #e7e7e7;
    background: #fafafa;
    color: #898989;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .form span.error, .form span strong {
    border: 1px solid #ffbdbe;
    background: #ffebeb;
    color: #ff0000;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .form span b {
    font-size: 20px; }
  .form span a {
    display: block;
    font-size: 16px;
    color: #319dfa; }
    .form span a.more {
      font-size: 12px;
      display: inline; }
.form .btn span {
  width: 74px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #ff652b;
  border: 1px solid #ff652b;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }
  .form .btn span:hover {
    background: #f05218;
    border: 1px solid #f05218; }

#pwdStrength {
  padding: 0;
  margin-right: 4px; }
  #pwdStrength b {
    margin-right: 1px;
    width: 45px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    background: #b9b9b9;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    #pwdStrength b.c1 {
      background: #ff8b3d; }

#signup_email_error ul li {
  max-width: 280px;
  line-height: 21px;
  padding: 8px 0; }

.main-register {
  position: relative;
  z-index: 1;
  padding: 35px 60px 50px; }
  .main-register li {
    margin-top: 5px;
    color: #a1a1a1; }
    .main-register li label {
      line-height: 30px;
      text-align: left;
      color: #575757; }
    .main-register li input[type='text'], .main-register li input[type='password'] {
      width: 205px;
      border: 1px solid #ebedf2;
      border-radius: 2px; }
      .main-register li input[type='text']#authcode, .main-register li input[type='password']#authcode {
        width: 70px; }
    .main-register li img {
      vertical-align: middle; }
    .main-register li span {
      margin-left: 5px;
      line-height: 34px;
      padding: 0 15px;
      border-radius: 3px; }
  .main-register .basicInfo {
    margin-top: 20px;
    background: #fafafa;
    padding: 5px 20px 10px;
    line-height: 24px; }
    .main-register .basicInfo h4 {
      line-height: 35px;
      font-size: 16px;
      border-bottom: 1px solid #eee; }
    .main-register .basicInfo .con {
      margin-top: 10px; }
      .main-register .basicInfo .con .tx {
        line-height: 50px; }
  .main-register .welcome {
    font-size: 14px;
    padding-bottom: 5px; }
  .main-register .icon {
    position: absolute;
    z-index: 1999;
    left: 0;
    top: 31px;
    width: 5px;
    height: 20px;
    background: #fb7920; }

.otherRegForm {
  position: relative;
  z-index: 1;
  margin-top: 50px; }
  .otherRegForm .submitBtn {
    margin-top: 10px;
    margin-left: 0px;
    width: 65px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #fb7920;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .otherRegForm .tabs {
    height: 50px; }
    .otherRegForm .tabs span {
      margin-right: 5px;
      width: 200px;
      text-align: center;
      height: 45px;
      line-height: 45px;
      background: #eeeeee;
      font-size: 18px;
      border: 2px solid #eee;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      cursor: pointer; }
      .otherRegForm .tabs span.active {
        color: #fc6e0d;
        border: 2px solid #fc6e0d; }
  .otherRegForm > div {
    margin-top: 40px; }
  .otherRegForm .con {
    display: none; }
    .otherRegForm .con .errorMsg {
      margin-top: 10px;
      color: #ff0000; }
  .otherRegForm .bdingImg {
    position: absolute;
    z-index: 100;
    right: 5px;
    bottom: 50px; }
  .otherRegForm .corGlobBlue {
    margin-left: 20px;
    color: #007ec2; }

/* 微博/QQ快捷登录错误返回页面 Start*/
.mtText {
  width: 396px;
  text-align: center;
  margin: 100px auto 180px; }
  .mtText em {
    width: 77px;
    height: 77px;
    background: url(../img/common/ErrorIcon.png) no-repeat;
    display: inline-block;
    margin-bottom: 17px; }
  .mtText h2 {
    font-size: 26px;
    line-height: 53px; }
  .mtText p {
    line-height: 20px;
    color: #757575; }

/* 微博/QQ快捷登录错误返回页面 End*/
.footer {
  padding: 20px 0;
  line-height: 24px;
  color: #535353; }
  .footer .copyright {
    text-align: center; }
    .footer .copyright p {
      line-height: 30px;
      color: #989898; }
