<div class="userFoot">
	<ul class="links">
    	<li><a href="{{ path('_default_about') }}" target="_blank">关于积粒网</a></li>
        <li>|</li>
        <li><a href="{{ path('_user_agreement') }}" target="_blank">服务条款</a></li>
        <li>|</li>
        <li><a href="{{ asset(path('_default_support'),'cdn1')  }}">帮助中心</a></li>
        <li>|</li>
        <li class="copyright"><span><a href="http://www.miibeian.gov.cn/" target="_blank">ICP证号：沪ICP备10212377号-2</a></span></li>
	</ul>
</div>