<div class="aboutL left">
	<h2>关于我们</h2>
	<ul class="tabNav">
		<li><a href="index">集团介绍</a></li>
		<li><a href="ww">问问介绍</a></li>
		<li><a class="active" href="regulations">会员协议</a></li>
		<li><a href="map">网站地图</a></li>
		<li><a href="links">友情链接</a></li>
	</ul>
</div>