{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷结束：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSimpleQ.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon qnEnd">
        <div class="qnEndTxt">
            <div class="txt"><h2>亲爱的用户！</h2>
                感谢您的参与，您已经成功获得了<b>1积分</b>。<br>
                您可以关闭浏览器窗口，稍后您可以在‘任务历史’ 确认积分的累积。
            </div>
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Questionnaire:_footer.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}