{% extends 'WenwenFrontendBundle:ProjectSurvey:base.html.twig' %}
{% block title %}{{ parent() }}回答完成{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
	    <div class="row">
	        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
	            <div class="main-con"> 		
					<div class="qnWrap">
					    <div class="qnCon qnEnd">
					        <div class="qnEndTxt">
					            <div class="txt">
					            	<img src="{{ asset('assets/img/frontend/questionnaire/normalface.png') }}">
					            	<h2>亲爱的用户！</h2>
					            	<p>感谢您的参与，您已经成功获得了<b>10积分</b>。<br>
					                您可以关闭浏览器窗口，稍后您可以在‘任务历史’ 确认积分的累积。<a class="backBtn" href="{{ path('_homepage') }}">返回首页</a></p>
					            </div>
					        </div>
					    </div>
					    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
					</div>
			 	</div> 
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}