

<div align="right">
<h4>Menu</h4>
<a href="{{ path('jili_backend_admintaobao_listpromotionselfproduct') }}">浏览</a> <br />
<a href="{{ path('jili_backend_admintaobao_newpromotionselfproduct') }}">新建</a>
</div>
