{% extends "::adminBase.html.twig" %}

{% block title %}
{% if title is defined %}
{{ title }} - 
{% endif %}
创建积分策略
{% endblock %}

{% block stylesheets %}
{{parent() }}
{% endblock %}

{% block body %}
<div class="autoCenter">
<h1>
{% if title is defined %}
{{ title }} - 
{% endif %}
创建积分策略
</h1>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-error">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="mt10">
<p>格式要求:</p>
<pre>
分发频率1:分值1
分发频率2:分值2
...
</pre>
</div>
{# form here #}
</div>
{% endblock %}

