@charset "UTF-8";

@import "../layout/global";
body{
	background: url(../../../img/frontend/common/seamless-noise-bg.png) repeat;
	background-color:rgba(255, 255, 255, 0.5);
}
.main-error-con{
	.errorCon{
		.errorText{
			.txt{
				font-size: 14px;
				line-height: 24px;
				h2{
					font-size: 18px;
				}
			}
			.btn{
				margin-top: 31px;
				a{
					padding: 6px 15px;
					background: #f5f5f5;
					border: 1px solid #ccd1d2;
					margin-right: 10px;
					@include border-radius(3px);
				}
			}
		}
	}
}
.footer{
	display: none;
}

//91问问、积粒网正在改版维护中
.mtWrap{
	width: 894px;
    height: 407px;
    margin: 100px auto;
	background: url(../../../img/frontend/404/91wwInMt.png) no-repeat center;
	.text{
		width: 300px;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		padding: 187px 0 0 300px;
		b{
			color: #f57400;
		}
	}
}
.mtWrapJL{
	background: url(../../../img/frontend/404/91jlInMt.png) no-repeat center;
}