body, div, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, span, img, a, bdo, label, input, button, em, b, form, strong{
    margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size: 12px;
}
body{
    text-align: center;
    font-family: 12px/1.5 tahoma, "Hiragino Sans GB", "microsoft yahei", sans-serif;
    background-color: #fff;
    color: #6c6c6c;
    font-size: 12px;
}
ol, ul, li, dl, dt, dd{
    list-style-type: none;
}
img{
    border: none;
}
b, strong{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #6c6c6c;
    font-size: 12px;
}
em{
    font-style: normal;
}
input{
    height: 20px;
    line-height: 20px;
    padding: 2px 3px;
}
.clearfix:after{
    clear: both;
    content: ".";
    overflow: hidden;
    height: 0;
    display: block;
}
.clearfix{
    *zoom:1;
}
.container{
    width: 1150px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    padding: 10px;
}