<div class="footer footer-bottom">
    <div class="container">
        <p class="text-center text-muted">Copyright ©2009-2017 网曦信息科技（上海）有限公司<a href="http://www.miitbeian.gov.cn" target="_blank" class="icp hidden-xs hidden-sm">沪ICP备10212377号-1</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502002074" target="_blank" class="hidden-xs hidden-sm"><img src="{{ asset('assets/img/frontend/common/gwab_icon.png') }}" alt="沪公网安备" class="gwab_img">沪公网安备 31010502002074号</a></p>
    </div>
</div>
<input type="hidden" value="{{app.environment}}" id="env">
<!--/.footer-bottom--> 
