<a href="{{ path('_homepage') }}" title="91问问调查网logo">
  <!--[if !IE]><!-->
  <img class="logo" src="{{ asset('assets/img/frontend/common/logo.svg') }}" alt="91问问调查网logo">
  <!--<![endif]-->
  <!--[if IE]>
    <img src="{{ asset('assets/img/frontend/common/logo.png') }}" alt="91问问"></a>
  <![endif]-->
</a>
   