<nav id="top-header" class="navbar-default " role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      {% include "WenwenFrontendBundle:Components:_headerLogo.html.twig" %}
      {% if theme is defined %}<span class="nav-title">{{ theme }}</span>{% else %}<span class="nav-title">用户<b>注册</b></span>{% endif %}
    </div>
    <p class="nav pull-right hidden-xs hidden-sm"><span>已有91问问账号？</span><a href="{{ path('_user_login') }}">马上登录</a></p>
  </div>
</nav>
