<div class="header">
    <div class="header-nav-con clearfix">
        <div class="logo left clearfix">
            <a href="{{ path('_homepage') }}" title="91问问调查网logo">
                <!--[if !IE]><!-->
                    <img class="logo" src="{{ asset('img/common/logo.svg') }}" alt="91问问调查网logo">
                <!--<![endif]-->
                <!--[if IE]>
                    <img src="{{ asset('img/common/logo.png') }}" alt="91问问"></a>
                <![endif]-->
            </a>
            {% if theme is defined  %}
            <span>
                {% set router_current = app.request.attributes.get('_route') %}
                {% if router_current == '_user_reg' %}用户注册
                {% elseif router_current == '_user_regActive'%}激活邮箱
                {% elseif router_current == '_user_resetPwd'%}重置密码
                {% endif %}
            </span>
            {% endif %}
        </div>
        <p class="nav right{#  hiddenTablet #}"><span>已有91问问账号？</span><a href="{{ path('_user_login') }}">马上登录</a></p>
    </div>
</div>