<nav id="top-header" {% if app.session.has('uid') %} class="navbar-default" {% else %}  class="navbar-default unlogin" {% endif %} role="navigation">
    {% include "WenwenFrontendBundle:Components:_headerNav.html.twig" %}
</nav>
 