aside {
	float:left;
	width: 200px;
	margin:20px 0 0 0 ;
}
aside section {
	background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 0 3px #CCCCCC;
    margin: 0 0 15px;
    padding: 10px;
}
aside section p.name{
	padding:15px 0;
	color:#666666;
	border-bottom:1px solid #ececec;
	margin-bottom:15px;
}
aside section p.point{
	color:#999;
	line-height:256%;
}
aside section p.point span{
	color:#f75232;
	font-weight:bold;
	font-size:36px;
	word-wrap: break-word;
}
aside section.menu{
	padding:5px 0;
	text-align: center;
}
aside section.menu ul li a{
	background-color: #FFFFFF;
    background-image: url("../images/userAsideMenuArrow.gif");
    background-position: 175px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-align: left;
    text-decoration: none;
    width: 168px;
    font-size: 14px;
    color: #666;
}
aside section.menu ul li a:hover{
	background-color: #EEE;
}