@charset "UTF-8";

@import "../layout/global";

@media only screen and (max-width: 1024px)  {
    /* For Phone&Tablet: */
    *{
        box-sizing: border-box;
    }
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        font-size: 1rem!important;
    }
    h1 {
      font-size: 1.6rem!important;
    }
    h2 {
      font-size: 1.4rem!important;
    }
    h3 {
      font-size: 1.2rem!important;
    }
    .w1000{
        width: auto; 
    }
    .header-nav{
        .logo{
            span{
                display: none;
            }
        } 
    } 
    .main{
        &.unlogin{
            margin-top: 0;
        }
        .login{
            width: 270px;
            height: 321px;
            .login-btn{
                font-size: initial!important;
                margin-top: 17px;
            }
            .login-btn-others{
                display: none;
            }
            h2{
                font-size: 1.3rem!important;
                padding: 0 28px;
            }
            li{
                margin-bottom: 6px;
                span{
                    &.error, & strong{
                        top: 26px;
                        font-size: .7rem!important;
                        height: 30px;
                        line-height: 30px;
                    }
                }
                input[type="text"],input[type="password"]{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                }
                label{
                    line-height: 26px;
                }
            }
            .login-con{
                padding: 14px 28px;
                p,p a{
                    font-size: .7rem!important;
                }
            }
        }
    }
    .main-adv{
        width: 100%;
        height: 371px;
        .login-wrapper{
            top: 20px;
            right: -52px;
            background-position: 4px bottom;
        }
        .more-btn{
            display: none;
        }
    }
    .main-con-left{
        width: 100%;
        margin-top: 15px;
        &>div{
            padding: 0;
            margin-top: 0;
        } 
        h1{
            padding: 4px 0 0 5%;
        }
    }

    .header{
        height: 52px;
        position: initial;
        &.unlogin{
            height: 51px;
        }
        .logo{
            a{
                padding: 0;
            }
        }
    }
    
    /* footer */
    .footer{
        padding-top: 20px;
        background: #EBEBEB;
        text-align: center;
        .footer-con{
            padding-bottom: 0;
        }
        .footerMini{
            background: #313036;
            padding: 14px 0;
            a{
                text-align: center;
                width: 49%;
                display: inline-block;
                color: rgba(255,255,255,.5);
            }
        }
        .copyright{
            background: #fff;
            padding: 10px 0;
            margin: initial;
        }
        .footer-nav-group span{
            text-align: center;
        }
        .footer-con-left{
            text-align: center;
            float: none;
            margin: 0 auto;
        }
        .copyright{
            p{
                font-size: .7rem!important;
                line-height: 1.4rem;
                color: #909498;
            }
        }
    }
   
    /* homepage */
    .vote-img{
        width: auto;
    }
    .homeBr{
        height: 70px;
        padding-top: 27px;
        .left {
            margin-top: -7px;
        }
        .right{
            display: none;
        }
        .faceWapper img{
            width: 40px;
            height: 40px;
        }
    }
    .survey{
        .survey-btn{
            right: 0;
            top: 10px;
            a{
                width: 82px;
                height: 26px;
                line-height: 26px;
            }
        }
        .survey-item{
            width: 100%;
            .proRow{
                width: 100%;
            }
            li{
                width: 25%;
            }
            li.last p{
                white-space: nowrap;
            }
        }
    } 
    .vote-txt{
        width: 100%;
    }
    .header-nav{
        height: 100%;
        line-height: 51px;
        .header-nav-con{
            overflow: hidden;
            height: 100%;
       }
        .login-btn{
            margin-right: 20px;   
            a{
                font-size: .7rem!important;
                vertical-align: 2px;
            }
        }
        img{
            height: 32px;
            margin: 8px 0 0 15px;
            vertical-align: initial;
        }
        .navTit{
            text-align: center;
            width: 60%;
            margin: 0 auto;
            font-size: 1.2rem!important;
            color: $sub-con-color;
        }
    }
    .header{
        p{
            height: 52px;
            line-height: 52px;
        }
    }
    .vote li:after{
        width: 100%;
        left: 0;
    }

    /* index page */
    .main-con-process{
        background: #fff;
        height: initial;
        .topTit{
            margin: 24px 22px;
            text-align: left;
            span{
                display: none;
            }
        }
    }
    .coinBack{
        background: none;
    }
    .topTit{
        margin: 44px 0;
        text-align: center;
    }
    .procDisc{
        margin-top: -17px;
        li{
            width: 100%;
            margin-bottom: 20px;
            padding: 0 100px;
            p{
                width: 100%;
            }
            &.first, &.second, &.third{
              text-align: center;
              p{
                  margin-left: initial;
                  margin-bottom: 5px!important;
                  &.pdc{
                    font-size: .7rem!important;
                  }
              }  
            }
            &.first{
                
                &:before{
                    content: '';
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    background: url(../../img/home/adProcess.png) no-repeat 0 0;
                    background-size: cover;
                }
            }
            &.second{
                &:before{
                    content: '';
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    background: url(../../img/home/adProcess.png) no-repeat -349px 0;
                    background-size: cover;
                }
                
            }
            &.third{
                &:before{
                    content: '';
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    background: url(../../img/home/adProcess.png) no-repeat -348px 0;
                    background-size: cover;
                }
            }
        }
    }
    .main-con-reward{
        padding-bottom: 0;
        .topTit{
            text-align: left;
            margin: 0 0 10px 22px;
            span{
                font-size: .7rem!important;
            }
        }
    }
    .rewardlist{
        background: none;
        @include box-shadow(1px 2px 4px rgba(255,255,255,0));
        li{
            width: 80%;
            height: 176px;
            background: #fff;
            margin: 12px 10%;
            float: none;
            display: inline-block;
            .rMes{
                margin: 34px auto 0;
                .rTit{
                    margin-top: 18px;
                }
                .rBtn{
                    display: none;
                }
                .rPic1{
                    width: 50px;
                    height: 73px;
                    background-size: cover;
                    background-position: -93px -4px;
                }
                .rPic2{
                    width: 90px;
                    height: 73px;
                    background-size: cover;
                    background-position: -216px -4px;
                }
                .rPic3{
                    width: 130px;
                    height: 73px;
                    background-size: cover;
                    background-position: -343px -4px;
                }
            }
            .rTag{
                font-size: .7rem!important;
                right: -27px;
                top: -17px;
            }
        }
        .rLine{
            border: none!important;
        }
    }
    .main-con-action{
        height: auto;
        padding: 22px 0 0;
        h1{
            font-size: 1.2rem!important;
            width: 76%;
            margin: 0 auto 10px;
            line-height: 2rem;
        }
        p{
            line-height: 20px;
            font-size: .7rem!important;
        }
        .button{
            margin: 20px auto;
        }
    }

    /* feedback page */
    .main-help-feedback{
        padding: 30px;
        li{
            margin-top: 0!important;
            label{
                text-align: left;
            }
        }
        .btn{
            padding: initial!important;
        } 
    }
    .main-help-feedback li textarea,.main-help-feedback li input{
        width: 100%!important;
    }

    /* vote page */
    .vote{
        li{
            padding: 1rem 0;
            &:after{
                top: -2px;
            }
        }
    }
    .vote-sub {
        .title{
            line-height: 27px;
            height: 30px;
        }
        ul{
            padding: 0 5%;
        }
        .vote-txt{
            width: 72%;
            .con{
                color: $sub-con-color;
            }
            .con,.con span{
                font-size: .7rem!important;
                margin-top: 0!important;
                line-height: 1.5rem!important;
            }
            .title{
                a{
                    font-size: 1.2rem!important;
                }
            }
        }
        h1{
            margin: 0 0 2px 0;
        }
        .relate{  
            padding: 20px!important;
            margin: 0 0 0 7px!important;
            img{
                display: none;
            }
            span{
                font-size: .7rem!important;
            }
        }
        .relateVlist{
            padding: 0!important;
            margin: 0;
            white-space: nowrap;
        }
        .options {
            padding: 0 35px;
            dt{
                margin-top: 0;
            }
            dd{
                width: 100%!important;
                margin-top: 2px;
                margin-bottom: 14px;
            }
            .weiboshare{
                margin-top: 10px;
            }
        }
        .relateText{
            .description{
                margin: 14px 0 0;
                div{
                    font-size: 0.7rem !important;
                }
            }
            h1{
                margin: initial;
                padding: initial;
            }
        }
        .backLink{
            margin-top: 24px!important;
        } 
    }

    /* register page */
    .main-register{
        padding: 30px 38px 50px;
        width: 100%;
        li{
            span,& > div,& #protocol{
                // margin: 5px 0 0 0;
                font-size: .7rem!important;
            }
            input[type='text'],input[type='password'],input[type='email']{
                width: 100%;
            }
        }
        .subscribe{
            .tips>b{
                display: none;
            }
        }
    }
    .login-others{
        display: none;
    }

    /* resetPwd page */
    .main-resetPwd{
        padding: initial;
        .steps{
            display: none;
        }
        .main-resetPwd-con{
            padding: 50px 20px;
            input[type='text'],input[type='password']{
                width: 100%;
            }
        }
    }
    .form{
        span{
            &.error,span{
                font-size: .7rem!important;
            }
            &.succeed{
                background: none!important;
            }
        }
        input[type='text'],input[type='password'],input[type='email']{
            height: 30px!important;
            line-height: 30px!important;
        }
    }

    /* exchange page */
    .main-con-exchange{
        ul{
            margin-right: initial;
            margin-bottom: 20px;
        }
        li{
            margin: 0 5%;
        }
        dt{
            font-size: 1.4rem!important;
            margin-top: 12px;
        }
        dd.text{
            height: initial;
        }
    }

    /* regulations page */
    .aboutL{
        display: none;
    }
    .aboutR{
        width: 100%!important;
        .w732{
            width: 100%!important;
        }
        h2{
            margin: initial!important;
        }
        ul{
            li{
                p{
                    line-height: 2rem;
                    padding: initial;
                }
            }
        }
    }

    /* register page */
    .main-register{
        li{
            margin-top: 0;
            span{
                line-height: 28px;
                padding: 0 5px;
            }
        }
        span{
            &.succeed{
                height: 24px;
            }
        }
    }
    form{
        li{ 
            margin-top: 0;
        }
    } 
}
@import "rpPersonal";
@import "rpDesktop";
@import "rpTablet";
@import "rpPhone";
