@charset "UTF-8";

@import "../layout/global";
@media only screen and (max-width: 667px) { 
    /* For mobile phones: */
    .col-m-1 {width: 8.33%!important;}
    .col-m-2 {width: 16.66%!important;}
    .col-m-3 {width: 25%!important;}
    .col-m-4 {width: 33.33%!important;}
    .col-m-5 {width: 41.66%!important;}
    .col-m-6 {width: 50%!important;}
    .col-m-7 {width: 58.33%!important;}
    .col-m-8 {width: 66.66%!important;}
    .col-m-9 {width: 75%!important;}
    .col-m-10 {width: 83.33%!important;}
    .col-m-11 {width: 91.66%!important;}
    .col-m-12 {width: 100%!important;}

    html{
        font-size: 14px!important;
    }
    .visiblePhone{
        display: inherit!important;
    }
    .hiddenPhone{
        display: none!important;
    }
    .leftPhone{ 
        float: left;
    }

    /* header */
    .nav{
        display: none;
    }
    .header-nav{
        .login-btn{
            display: none;
        }
    } 
    .header-nav-con{
        position: relative;
    }
    .navCollapsed{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px 10px 6px;
        margin: 13px 15px 8px 0;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        @include box-shadow(0px 0px 6px rgba(0,0,0,0.35));
        .iconBar{
            background-color: #ff781e;
            display: block;
            height: 3px;
            border-radius: 4px;
            margin-top: 4px;
            padding: 0 10px;
        }
    }

    /* footer */
    .footerMini{
        background: #E3E3E3;
        padding: 20px 0;
        a{
            text-align: center; 
            width: 50%;
        }
    }

    /* index page */
    .main-adv-con-text{
        display: none;
        left: 20px;
        top: 70px;
        .digits{
            .pst{
                display: block;
                margin-bottom: 10px;
            }
        }
        .moreText{
            margin-top: 17px;
            font-size: .6rem!important;
        }
    }

    /* exchange page */
    .main-con-exchange{
        .pic{
            margin: initial;
        }
        li{
            margin-top: 20px;
            padding: 28px 23px;
            float: initial;
            & > div{
                margin: 0 auto;
                // width: 50%;
                text-align: center;
            }
            & .pic, & dl{
                width: initial;
                float: initial;
            }
        }
        dl{
            width: initial;
        }
    }
}

@media only screen and (max-width: 667px) and (orientation: portrait) {
    .survey .survey-btn{
        display: none; 
    }
    .vote .vote-btn{
        display: none;
    }

    .login-wrapper{
        width: 88%;
        position: initial;
        margin: 6%;
        padding: initial;
        .login{
            width: 100%;
        }
    }
    .main-register{
        li{
            span{
                margin-left: 0;
            }
        }
    }
    .main-register-btn{
        span{
            margin-bottom: 12px;
        }
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .rewardlist{
        width: 100%;
        float: left;
        li{
            width: 28%;
            height: 166px;
            float: left;
            margin: 12px 17px;
        }
    }
    .main-adv-con-text{
        display: inherit;
        left: 30px;
        top: 54px;
        h1{
            font-size: 2rem!important;
            font-weight: bold; 
        }
    }
    /* vote page */
    .vote{
        .vote-btn{
            top: 40px;
        }
    }

}

@media only screen and (max-width: 360px){
    .vote-sub{
        .vote-txt {
            width: 66%;
        }
        .relateVlist{
            white-space: normal;
        }
    } 
}
