@charset "UTF-8";

@import "../layout/global";
@media only screen and (max-width: 667px) { 
    /* For mobile phones: */
    .col-m-1 {width: 8.33%!important;}
    .col-m-2 {width: 16.66%!important;}
    .col-m-3 {width: 25%!important;}
    .col-m-4 {width: 33.33%!important;}
    .col-m-5 {width: 41.66%!important;}
    .col-m-6 {width: 50%!important;}
    .col-m-7 {width: 58.33%!important;}
    .col-m-8 {width: 66.66%!important;}
    .col-m-9 {width: 75%!important;}
    .col-m-10 {width: 83.33%!important;}
    .col-m-11 {width: 91.66%!important;}
    .col-m-12 {width: 100%!important;}

    html{
        font-size: 10px;
    }
    .visiblePhone{
        display: inherit!important;
    }
    .hiddenPhone{
        display: none!important;
    }
    .leftPhone{ 
        float: left;
    }

    /* header */
    .header{
        position: relative;
        z-index: 2;
    }
    .nav{
        display: none;
    }
    .header-nav-con{
        position: relative;
    }
    .navCollapsed{
        position: absolute;
        right: 0;
        padding: 0px 10px 6px;
        margin: 13px 15px 8px 0;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        @include box-shadow(0px 0px 6px rgba(0,0,0,0.35));
        .iconBar{
            background-color: #ff781e;
            display: block;
            height: 3px;
            border-radius: 4px;
            margin-top: 4px;
            padding: 0 10px;
        }
    }

    /*navLayer*/
    .navLayerBg, .navLayer{
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        display: none;
    } 
    .navbarUn{
        .navLayerBg, .navLayer{
            top: 51px;
            padding-top: 10px;
            border-top: 1px solid #EBECEE;
        } 
    }
    .navLayerBg{
        z-index: 19998;
        top: 54px;
        bottom: 0;
        filter:alpha(opacity=60);     
        opacity: .6;
        background: #000;
        
    } 
    .navLayer{
        z-index: 19999;
        background: #EBECEE;
        overflow-y: scroll;
        overflow-x: hidden;
        a{
            display: block;
            margin-bottom: 1px;
            padding: 0 10px;
            background: #fff;
            color: #424D63;
            height: 55px;;
            line-height: 55px;
        }
        span{
            float: right;
            margin-top: 19px;
            width: 20px;
            height: 20px;
            background: url(../../img/common/rightArrow.png) no-repeat 0 0;
            background-size: contain;
        }
        em{
            display: inline-block;
            vertical-align: top;
            margin-top: 17px;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            &.icons1{
                background: url(../../img/common/navIcons1.png) no-repeat 0 0;
                background-size: contain;
            }
            &.icons2{
                background: url(../../img/common/navIcons2.png) no-repeat 0 0;
                background-size: contain;
            }
            &.icons3{
                background: url(../../img/common/navIcons3.png) no-repeat 0 0;
                background-size: contain;
            }
            &.icons4{
                background: url(../../img/common/navIcons4.png) no-repeat 0 0;
                background-size: contain;
            }
            &.icons5{
                background: url(../../img/common/navIcons5.png) no-repeat 0 0;
                background-size: contain;
            }
            &.icons6{
                background: url(../../img/common/navIcons6.png) no-repeat 0 0;
                background-size: contain;
            }
        }
    }
    .navs{
        margin-bottom: 10px;
    }
    .navbarUn{
        .navs{
            margin-bottom: 0;   
        }
    } 
    .shortcutButtons{
        margin-bottom: 10px;
        margin-right: -1px;
        a{
            display: inline-block;
            vertical-align: middle;
            padding: 15px 0 10px;
            width: 50%;
            height: 150px;
            text-align: center;
            color: #FF7C2F;
            &.regBtn{
                width: 49%;
                border-right: 1px solid #EBECEE;
            }
        }
        .regBg, .loginBg{
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            margin: 0 auto;
            background: #F4D468;
            border-radius: 50%;
            img{
                margin: 0;
                width: 50px;
                height: 47px;
                vertical-align: middle;
            }     
        }
        .loginBg{
            background: #6EE7DE;
            img{
                width: 48px;
                height: 44px;
            }
        } 
    } 


    /* footer */
    .footerMini{
        background: #E3E3E3;
        padding: 20px 0;
        a{
            text-align: center; 
            width: 50%;
        }
    }

    /* index page */
    .main-adv-con-text{
        display: none;
        left: 20px;
        top: 70px;
        .digits{
            .pst{
                display: block;
                margin-bottom: 10px;
            }
        }
        .moreText{
            margin-top: 17px;
            font-size: .6rem!important;
        }
    }
}

@media only screen and (max-width: 667px) and (orientation: portrait) {
    .survey .survey-btn{
        display: none; 
    }
    .vote .vote-btn{
        display: none;
    }

    .login-wrapper{
        width: 87%;
        position: initial;
        margin: 20px auto 10px;
        padding: initial;
        .login{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .rewardlist{
        width: 100%;
        float: left;
        li{
            width: 28%;
            height: 166px;
            float: left;
            margin: 12px 17px;
        }
    }
    .main-adv-con-text{
        display: inherit;
    }
}

