@charset "UTF-8";

@import "../layout/global";
@media only screen and (min-width: 668px) and (max-width: 1024px)  {
	/* For Tablet: */ 
	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}

	html{
	    font-size: 16px!important;
	}
	.visibleTablet{ 
	    display: inherit!important;
	}
	.hiddenTablet{
	    display: none!important; 
	}
	.leftTablet{
	    float: left;
	}
	.topRight{
	    & > div{
	        width: 48%;
	    }
	}
	.main-con-right .exchange-dynamics{
	    margin-left: 2%;
	}

    /* header */
    .header-nav{
        padding: 0 5%;
        img{
            margin: 12px 0 0 0;
        }
        .header-nav-con{
            .logo{
                width: 10%;
            }
            .navR{
                width: 85%;
                text-align: right;
                .tabletQuit{
                    font-size: .8rem!important;
                    margin-left: 30px;
                    padding-left: 30px;
                    display: inline-block!important;
                    height: 14px;
                    line-height: 14px;
                    border-left: 1px solid #ccc;
                    color: #A7ABAF;
                }
            }
        }
        .nav{
            width: 100%;
            a{
                width: 94px;
                &.tabletProfile{
                    display: inline-block!important;
                }
            }
        }
        .headSimCon{
            p{
                margin-right: 0;
            }
        }
        .login-btn{
            display: none;
        }
    }

    /* index page */
    .main-adv-con-text{
        left: 50px;
        top: 60px;
        h1{
            font-size: 2rem!important;
            font-weight: bold; 
        }
        .digits{
            .pst{
                display: block;
                margin-bottom: 10px;
            }
        }
        .moreText{
            margin-top: 17px;
            font-size: .6rem!important;
            p{
            	line-height: 1.5rem;
            	font-size: .8rem!important;
            }
        }
    }
    .rewardlist{
        width: 100%;
        float: left;
        li{
            width: 28%;
            height: 166px;
            float: left;
            margin: 12px 17px;
        }
    }
	.main-con-action{
		h1{
			white-space: nowrap;
		}
	}
    
    /* home page */
    .survey{
      .survey-item{
          .proRow{
              line-height: 28px;
          }
      }  
    }
    .homeBr{
        .infoText{
            .l1{
               .nk{
                max-width: 320px;
               } 
            }
        }  
    }

    /* exchange page */
    .main-con-exchange{
    	.pic, dl{
    		width: 100%;
    		float: initial;
    		text-align: center;
    	}
    	li{
    		padding: 30px 0;
		    width: 44%;
		    margin-left: 4%;
		    margin-top: 30px;
		    margin-right: initial;
    		dd, dd strong, dd.exchangeBtn a{
    			font-size: .6rem!important;	
    		}
    		dd.text{
    			padding: 0 40px;
    		}
    	}
    }

    /* vote page */
    .vote{
    	.vote-btn{
    		top: 37px;
    		right: 0;
    		font-size: .8rem!important;
    	}
    }
    .vote-sub{
    	.vote-txt{
            width: 80%;
    	} 
    } 
    
}