JILI_DB_USER=
JILI_DB_PWD=
JILI_DB_HOST=
JILI_DB_NAME=

WW_DB_USER=
WW_DB_PWD=
WW_DB_HOST=
WW_DB_NAME=

LOC_DB_USER=${JILI_DB_USER}
LOC_DB_PWD=${JILI_DB_PWD}
LOC_DB_HOST=${JILI_DB_HOST}
LOC_DB_NAME={JILI_DB_NAME}

