{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-广告服务{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/comingSoon.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="webArticle comingSoon">
  <article>
  	如果您有任何疑问，请发邮件至<a href="mailto:91jili@hotmail.com">cs@91jili.com</a>
  </article>
</div>
{% endblock %}

