@charset "UTF-8";

@import "../layout/global";
.main-about-con{
	padding-top: 20px;
	.aboutL{
		@include box-shadow(1px 1px 3px rgba(0,0,0,0.1));
		background: $block-bg-color;
		border: $block-border;
		padding-bottom: 16px;
		h2{
			height: 75px;
			line-height: 75px;
			text-align: center;
			font: {
				size: 24px;
				weight: bold;
			}
		}
		.tabNav{
			li{
				height: 50px;
				line-height: 50px;
				margin-bottom: -1px;
				cursor: pointer;
				font-size: 14px;
				a{
					padding-left: 20px;
  					display: block; 
  					&.active, &:hover{
					padding-left: 20px;
					color: $orange-color;
					font-weight: bold;
					background: $block-line-color;
					border-left: {
						width: 3px;
						style: solid;
						color: $orange-color;
					}
					}
				}
			} 
		}
	}
	.aboutR{
		margin-left: -1px;
		padding: 10px 30px 20px;
		background: $block-bg-color;
		border: $block-border;
		font-size: 14px;
		min-height: 645px;
		h2{
			height: 45px;
			line-height: 45px;
			font-size: 22px;
			border-bottom: $block-border;
			margin-bottom: 30px;
		}
		.w732{
			width: 732px;
		}
		.con{
			p{
				line-height: 26px;
				padding: 0 8px;
			}
		}
	}	
}

/* old component help.scss */
.main-help-banner{
	height: 104px;
	margin-bottom: 20px;
	background: #3a4858 url(../img/common/seamless-noise-bg.png) repeat;
	@include box-shadow(0px 1px 5px #2a3033 inset);
	.text{
		background: url(../img/help/bannerBg.png) no-repeat center;
		position: relative;
		z-index: 1;
		height: 104px;
		line-height: 104px;
		.title{
			*font-size: 84px;
		}
		img{
			vertical-align: middle;
			&.titleE{
				margin-left: 10px;
			}
		}
	}
	.search{
		position: absolute;
		z-index: 1000;
		right: 0;
		top: 50%;
		margin-top: -19px;
		height: 38px;
		line-height: 38px;
		padding: 0 20px;
		background: url(../img/help/searchBg.png) no-repeat;
	}
	.search-btn{
		width: 18px;
		height: 18px;
		position: absolute;
		z-index: 1999;
		right: 20px;
		top: 50%;
		margin-top: -9px;
		background: url(../img/help/searchBtn.png) no-repeat;
		cursor: pointer;
	}
	input[type='text']{
		position: relative;
		z-index: 2;
		padding-right: 20px;
		width: 140px;
		height: 38px;
		line-height: 38px;
		border: none;
		background: transparent;
		color: #b5b5b5;
		outline: none;
	}
	label{
		position: absolute;
		z-index: 1000;
		left: 20px;
		top: 0;
		color: #b5b5b5;
	}
}
.main-help-con{
	margin-top: 20px;
	.direct{
		line-height: 12px;
		height: 30px;
		a{
			color: #496f8c;
			&:hover{
				color: #498fc4;
			}
		}
	}
}


