@charset "UTF-8";

@import "../layout/global";
.main-about-con{
	padding-top: 20px;
	.aboutL{
		@include box-shadow(1px 1px 3px rgba(0,0,0,0.1));
		width: 190px;
		background: $block-bg-color;
		border: $block-border;
		h2{
			height: 75px;
			line-height: 75px;
			text-align: center;
			font: {
				size: 24px;
				weight: bold;
			}
		}
		.tabNav{
			li{
				height: 50px;
				line-height: 50px;
				margin-bottom: -1px;
				cursor: pointer;
				font-size: 14px;
				a{
					padding-left: 74px;
  					display: block; 
  					&.active, &:hover{
					color: $orange-color;
					font-weight: bold;
					background: $block-line-color;
					border-left: {
						width: 3px;
						style: solid;
						color: $orange-color;
					}
					}
				}
				// &.last{
				// 	height: 122px;
				// 	border-top: 7px solid #e9eded;
				// 	.contactTit{
				// 		margin-left: 58px;
				// 	    margin-bottom: -11px;
				// 	    margin-top: 33px;
				// 		color: $orange-color;
				// 	}
				// 	.contactEmail{
				// 		padding-left: 25px;
				// 		color: #757575;
				// 		font-size: 12px;
				// 		&:hover{
				// 			background: none;
				// 			border: none;
				// 			color: initial;
				// 			font-weight: normal;
				// 		}
				// 		b{
				// 			width: 9px;
				// 			height: 9px;
				// 			background: url(../img/common/icons_common.png?v000011) no-repeat -21px 0;
				// 			display: inline-block;
				// 			margin-left: 5px;
				// 		}
				// 	}
				// }
				
			} 
		}
	}
	.aboutR{
		width: 729px;
		margin-left: -1px;
		padding: 10px 30px 20px;
		background: $block-bg-color;
		border: $block-border;
		font-size: 14px;
		min-height: 645px;
		h2{
			height: 45px;
			line-height: 45px;
			font-size: 22px;
			border-bottom: $block-border;
			margin-bottom: 30px;
		}
		.w732{
			width: 732px;
		}
	}	
}
