@charset "UTF-8";

@import "../layout/global";
.login-wrapper{
	position: absolute;
	z-index: 1000;
	right: -61px;
	top: 100px;
	background: url(../img/home/loginBg.png) no-repeat center bottom;
	padding: 0 70px 5px;
}
.login{
	width: 80%;
	height: 360px;
	overflow: hidden;
	background: none;
	position: absolute;
	z-index: 6;
	top: 28%;
	margin: 0 10%;
	padding-right: 142px;
	color: #757982;
	form{
	    width: 285px;
	    margin: 0 auto;
	    ul{
	    	background: #fff;
	    	// border-top-left-radius: 5px;
	    	// border-top-right-radius: 5px;
	    }
	}
	.login-con{
		padding: 40px 38px;
		
	}
	.error{
		ul{
			text-align: left;
			li{
				height: 30px;
				color: #a94442;
				background-color: #f2dede;
				border: 1px solid #ebccd1;
				line-height: 30px;
				margin: 9px 2px 10px 13px;
				padding: 0 5px;
				display: inline-block;
				@include border-radius(3px);
			}
		}
	}
	.errorReg{
		position: absolute;
		right: 6px;
		top: -2px;
		ul{
			background: none;
		}
	}
	// .errorSub{
	// 	position: inherit;
	// 	margin-bottom: 10px;
	// }
	.login-btn{
		width: 100%;
		line-height: 40px;
		margin-top: 15px;
		background: #17b5e5;
		border: none;
		color: #fff;
		font-size: 20px;
		font-family: "微软雅黑";
		@include btn();
		background: #17b5e5;
		border: 1px solid #17b5e5;
		&:hover{
			background: #11aad9;
			border: 1px solid #11aad9;
		}
	}
	h2{
		height: 64px;
		line-height: 64px;
		color: #fff;
		font-size: 24px;
		background: #313035;
		padding: 0 38px;
	}
	li{
		position: relative;
		z-index: 2;
		margin-bottom: 0;
		&.liner{
			border-bottom: 1px solid #e3e3e3;	
		}
		img{
			vertical-align: middle;
			display: inherit;
			margin-left: 18px;
			margin-bottom: 7px;
		}
		label{
			width: 65px;
			line-height: 45px;
			vertical-align: middle;
			position: absolute;
			z-index: 2;
			left: 15px;
			display: block;
			color: #a0a0a0;
			font-size: 14px;
			text-align: left;
		}
		input[type="text"], input[type="email"], input[type="password"]{
			width: 90%;
			height: 45px; 
			line-height: 45px;
			border: none;
			padding: 0 5%;
			font-size: 14px;
			display: block;
			&:focus, &.active{
				border: none;
				box-shadow: none;
				outline: none;
			}
		}
	}
	p{
		&.subCon{
			text-align: center;
			color: $weak-color;
			margin: 20px auto 30px;
			a{
				&.spec{
					color: #fff;
					font-size: 14px;	
				}
			}
		}
	}	
	.login-btn-others{
		margin-top: 40px;

		margin-top: 20px;
		*text-align: center;
		span{
			margin-left: -10px;
		}
		a{
			width: 100px;
			height: 40px;
			line-height: 40px;
			margin-left: 10px;
			padding-left: 36px;
			font-size: 14px;
			cursor: pointer;
			color: #fff;
			background: rgba(173,138,118, .3) url(../img/home/sinaUnact.png) no-repeat 24px 12px;
			border-radius: 5px;
			@include dib(); 
			&:hover{
				@include transition(all, .5s);
				color: #ff7f58;
				background: rgba(255, 255, 255, 1) url(../img/home/sina.png) no-repeat 24px 12px;
			}
			&.qq-login{
				background: rgba(173,138,118, .3) url(../img/home/qqUnact.png) no-repeat 24px 10px; 
				&:hover{
					color: #6f93da;
					background: rgba(255,255,255, 1) url(../img/home/qq.png) no-repeat 24px 10px; 
				}
			}
		}
	}
}
/*-----------rewrite reg style------------*/
.register{
	height: 450px;
	top: 20%;
	form{
		ul{
			padding-bottom: 15px;
		}
	}
	li{
		&.subscribe{
			text-align: left;
			padding: 2px 10px;
			font-size: 12px;
			label{
				left: 35px;
				width: auto;
				line-height: 20px;
				@include dib();
			}
			&>div{
				width: 100%;
				text-align: left;
				height: 22px;
				line-height: 22px;
			}
		}
		input[type="text"], input[type="email"], input[type="password"]{
		 	*height: 20px; 
		 	*line-height: 10px;
		}
	}
	.login-btn{
		span{
			width: 100%;
			height: 46px;
			line-height: 46px;
			display: inline-block;
			outline: none;
		}
	}
	#protocol_error{
		display: none;
		position: static;
		margin-left: 24px;
		&.error{
			display: inline-block;
		}
	}
}
#vcode{
	font-size: 12px;
	margin-bottom: 5px;
	.vcodeImg{
		&>div{
			position: relative;
			z-index: 3;
			height: 56px;	
		}
	}
	.captcha_reload{
		position: absolute;
		z-index: 5;
	    top: 61px;
	    right: 58px;
	    background: url(../img/user/change.png) no-repeat;
	    padding-left: 20px;
	    height: 14px;
	}
}	
/*-----------rewrite login style------------*/	
.mask{
	position: fixed;
	z-index: 1999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #888;
	background: rgba(0, 0, 0, .7);
	display: none;
}
.quickLogPop{
	top: 0;
	left: 50%;
	margin-left: -203px;
	z-index: 2000;
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease 30ms;
	&.active{
		top: 35%;
		opacity: 1;
		visibility: visible;
	}
	&.unActive{
		top: 0;
		opacity: 0;
		visibility: hidden;
	}
}