@charset "UTF-8";

@import "../layout/global";
.login-wrapper{
	position: absolute;
	z-index: 1000;
	right: -70px;
	top: 50px;
	background: url(../img/home/loginBg.png) no-repeat center bottom;
	padding: 0 70px 5px;
}
.login{
	width: 405px;
	height: 460px;
	color: #757982;
	font-size: 16px;
	background: #efeff4;
	border-radius: 5px;
	overflow: hidden;
	.login-con{
		padding: 35px 38px;
		p{
			font-size: 12px;
		}
	}
	h2{
		height: 64px;
		line-height: 64px;
		color: #fff;
		font-size: 24px;
		background: #313035;
		padding: 0 38px;
	}
	li{
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
		&.remember{
			font-size: 14px;
			height: 24px;
			line-height: 24px;
		}
		img{
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
			display: none;
			&.authcodeInput{
				@include dib();
			}
			.change{
				height: 13px;
				font-size: 12px;
				padding: 0  10px 0 25px;
				margin: 10px 0 0 10px;
				cursor: pointer;
				background: url(../img/home/change.png) 0 0 no-repeat;	
				&:hover{
					color: #6f93da;
					background: url(../img/home/change.png) 0 -13px no-repeat;
				}
			}
			&.succeed{
				color: #3bc570;
				@include dib();
				background: url(../img/user/succeedIcon.png) no-repeat 2px 5px;
				font-size: 0;
			}
			&.focus{
				border: $normal-border;
				background: $normal-bg-color;
				color: $normal-color;
				vertical-align: top;
			}
			&.error, strong{
				position: absolute;
				z-index: 1000;
				right: 0;
				top: 0;
				color: #c80000;
				background: #fff;
				font-size: 12px;
				height: 32px;
				line-height: 32px;
				padding: 0 10px;
				border: 1px solid #c80000;
				border-radius: 3px;
				@include dib();
				vertical-align: top;
			}
			&.fade{
				display: none;
			}
		}
		label{
			width: 65px;
			line-height: 35px;
			color: #525e78;
			@include dib();
			vertical-align: middle;
		}
		input[type="text"], input[type="password"]{
			width: 252px;
			height: 32px;
			line-height: 30px;
			padding: 0 5px;
			color: #555;
            font-size: 14px;
			border: 1px solid #e4e4eb;
			background: #fff;
			outline: none;
			border-radius: 3px;
			@include transition(all, .3s);
			&:focus, &.active{
				border: $input-border-focus;
				box-shadow: 0 0 5px #3bc570;
			}
			&#authcode{
				width: 90px;
				margin-left: 10px;
			}
			vertical-align: middle;
		}
		input[type="checkbox"]{
			vertical-align: middle;
		}
	}
	.login-btn{
		margin-top: 30px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		color: #fff;
		font-size: 21px;
		background: #1566d6;
		border: 1px solid #1566d6;
		border-radius: 5px;
		text-align: center;
		cursor: pointer;
		&:hover{
			background:#145dc4;
			border: 1px solid #145dc4;
		}
		@include transition(all, 0.4s);
		a{
			color: #fff;
		}
	}
	p{
		line-height: 55px;
		a{
			color: #1566d6;
			&.spec{
				color: #757982;
			}
		}
	}	
	.login-btn-others{
		margin-top: 20px;
		span{
			margin-left: -10px;
		}
		a{
			margin-left: 10px;
			padding-left: 36px;
			width: 123px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #a3a3a3;
			font-size: 14px;
			background: #fff url(../img/home/sinaUnact.png) no-repeat 32px 12px;
			&:hover{
				background: #fff url(../img/home/sina.png) no-repeat 32px 12px;
				color: #ff7f58;
				@include transition(all, .5s);
			}
			@include dib();
			border-radius: 5px;
			&.qq-login{
				background: #fff url(../img/home/qqUnact.png) no-repeat 38px 11px;
				&:hover{
					background: #fff url(../img/home/qq.png) no-repeat 38px 11px;
					color: #6f93da;
					@include transition(all, .5s);
				}
			}
		}
	}
}