@charset "UTF-8";

@import "../layout/global";
$h-font-color: #000;
$h-font-size: 18px;
$h-small-font-size: 14px;
$survey-con-font-color: #4C4D4D;
$survey-border-color: #f6f6f6;

.main-con-left{
	h1{
		height: 55px;
		line-height: 55px;
		font-size: 24px;
		color: $head-title-color;
		padding: 14px 0 12px 8px;
	}
	em{
		width: 24px;
		height: 26px;
		margin-right: 11px;
		background: url(../img/common/titIco.png) no-repeat 0 -1px;
		vertical-align: middle; 
		@include dib();
	}
	.title{
		font-size: 16px;
		font-weight: bold;
		height: 24px;
		@include ell();
		a{
			color: $list-tit-color;
			&:hover{
				color: $hover-color;
			}
		}
	}
	ul{
		width: 100%;
	}
	li{
		padding: 30px 20px 11px;
		position: relative;
		z-index: 1;
		&:hover, &.active{
			.survey-item{
				width: 86%;				
			}
		}
		span{
			vertical-align: top;
			@include dib();	
		}
	}
	li.vote-new{
		.vote-btn{
			width: 0;
			border: none;
			@include transition(all, 0.4s);
		}
		.countdown{
			width: 150px;
			height: 64px;
			overflow: hidden;
			@include transition(all, 0.4s);
		}
		&:hover, &.active{
			.vote-btn{
				width: 88px;
				border: 1px solid #FA3E00;
				display: inline-block;
			}
			.countdown{
				width: 0;
				height: 0;
				overflow: hidden;
			}
		}
	}
}
.survey .survey-item{
	width: 86%;
	li{
		float: left;
		width: 22%;	
		text-align: left;
		padding: 5px 10px 0 0;
		border: none;
		span,p{
			color: $weak-color;
			font-size: 13px;
			line-height: 24px;
		}
		p{
			color: $sub-con-color;
		}
		&.last{
			width: 12%;
			text-align: right;
			p{
				color: #e62200;
				margin-top: 10px;
				strong{
					font-size: 26px;
					vertical-align: -4px;
					margin-right: 3px;
				}
			}
		}
	}
}
.survey {
	padding-bottom: 40px;
	.survey-btn{
		width: 24%;
		cursor: default;
		position: absolute;
		right: -60px;
		top: 77px;
		a{
			color: #fff;
			width: 86px;
		    height: 32px;
		    line-height: 32px;
			text-align: center;
			font-size: 13px;
			@include btn();			
			@include dib();
		}
		.disabled{
			color: #fff;
			background: #a7a7a7;
			border: 1px solid #a7a7a7;
			border-radius: 3px;
			width: 112px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			font-size: 12px;
			@include dib();
		}
	}
	li{
		padding: 30px 30px 31px;
		border-bottom: 1px solid #E6EAEA;
		&:last-child{
			border: none;
		}
	}
	.title{
		font-size: 19px;
		height: 36px;
		color: $list-tit-color; 
	}
}
.vote .vote-btn{
	color: #fff;
	width: 86px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: absolute;
	z-index: 1000;
	top: 57px;
	right: 20px;
	font-size: 13px;
	cursor: pointer;
	@include btn();			
	@include dib();
}
.vote .voteDisabled{
	color: #fff;
	background: #a7a7a7;
	border: 1px solid #a7a7a7;
	border-radius: 3px;
	width: 90px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 12px;
	@include dib();
	&:hover:enabled, &:active:enabled{
		background: #a7a7a7;
		border: 1px solid #a7a7a7;
	}
}
.vote{
	li{
		padding: 30px 20px;
		&.vote-new{
			.vote-img{
				width: 15%;
			}
			.tips{
				position: absolute;
				z-index: 1000;
				top: 41px;
				right: 7px;
				span{ 
				    width: 13px;
				    height: 13px;
				    line-height: 13px;
				    border-radius: 50%;
				    background: #979797;
				    color: #fff;
				    text-align: center;
				    cursor: pointer;
				}
			}
			.tips-con{
				position: absolute;
				z-index: 1999;
				top: -40px;
				right: -3px;
				padding-bottom: 10px;
				width: 270px;
				display: none;
				p{
					padding-left: 8px;
					line-height: 32px;
					background: #fff;
					border: 1px solid #dedddc;
					border-radius: 3px;
					@include box-shadow(0px 2px 2px #a3a3a3);
				}
				b{
					position: absolute;
					z-index: 1999;
					bottom: 1px;
					right: 0;
					width: 9px;
					height: 10px;
					background: url(../img/common/icons_arrow.png) right bottom no-repeat;
					@include dib();
				}
			}
		}
	}
}
.vote-img{
	width: 15%;
}
.vote-txt{
	width: 62%;
	color: $survey-con-font-color;
	line-height: 22px;
	p{
		padding-left: 7px;
		margin-top: 7px;
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 4px;
		color: $sub-con-color;
	}
	.relate{
		margin-left: 3px;
		span{
			padding: 0 3px;
			color: $weak-color;
			span{
				color: $main-color;
			}
			&.vline{
				color: $block-line-color;
			}
		}
	}
}
$count-font-color: #914b11;
$count-font-size: 20px;
$count-border: 1px solid #dedddc;
$count-bg: #f5f5f5;
.countdown{
	color: $count-font-color;
	font-size: $count-font-size;
	position: absolute;
	z-index: 1000;
	top: 61px;
	right: 5px;
	height: 52px; 
	line-height: 52px;
	span{
		width: 33px;
		text-align: center;
		border: $count-border;
		background: $count-bg;
	}
	b{
		padding: 0 5px;
	}
}
.proSurPop{
	width: 240px;
	height: 245px;
	background: url(../img/questionnaire/profilePop.png) right bottom no-repeat;
	position: absolute;
	left: -230px;
	top: -17px;
}
.proText{
	width: 187px;
	height: 100px;
	margin: 115px 22px 0 22px;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 24px;
	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	&::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.3);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
	}
	.em{
		color: $main-color;
	}
}
.proClose{
	width: 37px;
	height: 37px;
	position: absolute; 
	right: 0;
	top: 0; 
	cursor: pointer;
}
