{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-会员服务协议{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/agreement.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div class="agreement">
  <section>
    <h2>积粒网会员协议</h2>
    <hr />
    <iframe src="{{ asset('other/agreementText.html')}}" frameborder="0" width="920" height="900"></iframe>
  </section>
</div>
{% endblock %}
 
 