  <form action="{{ path('_user_update',{'id':user.id}) }}" method="post">
    <h3>个人信息<a class="close">关闭</a><a class="open" style="display:none;">打开</a></h3>
    <div class="content info">
      <a class="edit"href="javascript:void(0);" id="change">修改 »</a>
      <ul>
        <li>
          <dd>登录账号：</dd>
          <dt>{{ user.email }}  </dt>
        </li>
        <li>
          <dd>昵  称：</dd>
          <dt>
             {{ user.nick }}
          </dt>
        </li>
        <li>
          <dd>性  别：</dd>
          <dt>
            <input name="sex" type="radio" {% if user.sex==0 %} checked='checked' {% endif %} value="0">
            男
            <input name="sex" type="radio" {% if user.sex==1 %} checked='checked' {% endif %} value="1">
            女</dt>
        </li>
        <li>
          <dd>手机号码：</dd>
          <dt>
            <input name="tel" type="text" value="{{ user.tel }}">
          </dt>
        </li>
       
        <li>
          <dd>&nbsp;</dd>
          <dt>
            <input name="保存" type="submit" value="保存">
          </dt>
        </li>
      </ul>
    </div>
</form>