{% if app.session.has('uid') %}
<div class="slider ">
    <div class="sliderMask">
        <ul class="sliderImg clearfix">
            {% for item in advertise_banner %}
            <li><a href="{{ item.adUrl }}" target="_blank"><img src="{{ asset(item.iconImage) }}" width="518" height="191" /></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="sliderBtns"><b class="active"></b><b></b><b></b><b></b><b></b></div>
</div>
{% else %}
<div class="loginBefore"><a href="#"><img src="{{ asset('images/loginBefore.jpg') }}" width="518" height="191" /></a></div>
{% endif %}