@charset "UTF-8";

@import "../../layout/common";
@import "../../layout/header";
@import "../../component/personal";
.main-personal-points{
	padding: 30px 40px;
	table{
		th,td{
			white-space: nowrap;
			padding: 14px!important;
		}
	}
}
@import "../../component/table";
@import "../../component/page";
@import "../../layout/footer";

@media only screen and (max-width: 767px){
	.main-personal-points {
	    padding: 10px 15px;
	}
}
