<div class="notice panel panel-default block-top-spacing">
	<div class="panel-heading">
		<h4>最新公告</h4>
	</div>
	<div class="panel-body">
		<ul>
			{% for item in callboard %}
			<li><em></em><a href="{{ path('_callboard_info',{'id':item.id}) }}">{{ item.title[:17] }}</a></li>
			{% endfor %}
		</ul>
	</div>
	
</div>
