{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} Test {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/callboard.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main">
	<div class="main-con w1000 clearfix">
			<div class="main-con-left newsInfo left">
				<article>
				    <h1>关于“上网流量包兑换”上线通知</h1>
				    <div class="artInfo"><time>2015-04-03</time>&nbsp;&nbsp;作者：<span class="media_name">积粒网运营中心</span></div>
				    <div class="content">
						<p>
							亲爱的用户：<br>

							兑换中心新上了“上网流量包”兑换，电信、联通1590米粒起兑，移动1660米粒起兑！<br>
							中国移动用户充流量说明：<br>

							•生效时间：充值成功，短信提示后，立即生效。<br>
							•使用范围：仅限北京移动用户，全国漫游。<br>
							•使用有效期：当月有效。<br>
							•充值次数限制：单个号码每月仅限充值10次。<br>
							•温馨提醒：月末最后一天建议不要充值。<br>

							2015/4/3<br>

							积粒网运营中心
						</p>
				    </div>
				</article>
			</div>
		</div>
</div>
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/header')}}"></script>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
