    <ul>
        <!--  {{ ts|date("Y-m-d H:i:s")  }}-->
        {% for breakerInfo  in breakersInfo %}
        <li>恭喜{{ breakerInfo.nick[:3]}}**砸到{{ breakerInfo.pointsAcquried }}米粒</li>
        {% endfor %}
    </ul>
