    <ul>
        <!--  {{ ts|date("Y-m-d H:i:s")  }}-->
        {% for breakerInfo  in breakersInfo %}
        <li>{{ breakerInfo.nick[:3]}}**刚刚砸了一个蛋，获得{{ breakerInfo.pointsAcquired }}米粒</li>
        {% endfor %}
    </ul>
