
<div class="survey" id="surveyHome">
	<h1 class="visibleDesktop hiddenPhone hiddenTablet">问卷列表<a class="more" href="{{ path('_survey_index') }}">更多<i class="fa fa-caret-right" aria-hidden="true"></i></a></h1>
	{% if html_survey_list|length > 0 %}
	<ul id="surveyList">
		{% for html_survey in html_survey_list %}
			<li class="col-t-12 col-m-12">{{ html_survey | raw }}</li>
		{% endfor %}
	</ul>
	{% else %}
	<h3>明天再来看看？商业问卷正在赶来的路上</h3>
	{% endif %}
</div>
