<div class="survey panel panel-default" id="surveyHome">
		<div class="panel-heading clearfix">
			{% if showTip %}
				<div class="alert alert-info fade in alert-dismissable">
					{#<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>#}
					<h4>亲爱的新会员，明天会有更多问卷等着你哦！</h4>
				</div>
			{% endif %}
			<h3 class="pull-left">问卷列表</h3>
			<a class="more pull-right" href="{{ path('_survey_index') }}">更多<i class="fa fa-caret-right" aria-hidden="true"></i></a>
		</div>
		<div class="panel-body">
			{% if html_survey_list|length > 0 %}
			<ul id="surveyList">
				{% for html_survey in html_survey_list %}
					<li>
						<div class="row">
							{{ html_survey | raw }}
						</div>
					</li>
					<hr>
				{% endfor %}
			</ul>
			{% else %}
			<div class="noSurvey">
				<img src="{{ asset('img/questionnaire/noSurvey.jpg') }}">
			</div>
			{% endif %}	
		</div>
	</div>
