<ul id="surveyList">
{% for vote in votes %}
    <li>
        <div class="survey-item">
            <div class="title">{{vote.title}}</div>
            <ul class="con clearfix">
                <li class="first">
                    <span>问卷编号</span>
                    <p>v{{vote.id}}</p>
                </li>
                <li>
                    <span>问卷类型</span>
                    <p title="每日参与快速问答，保持帐户活跃，以获得更多高积分问卷的机会">快速问答</p>
                </li>
                <li>
                    <span>回答期限</span>
                    <p>{{ vote.endTime | date('Y-m-d') }} </p>
                </li>
                <li class="last">
                    <span>积分数</span>
                    <p><strong>1</strong></p>
                </li>
            </ul>
        </div>
        <div class="survey-btn"><a href="{{ path('jili_frontend_vote_show',{'id':vote.id}) }}">可回答</a></div>
    </li>
{% endfor %}
</ul>