{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷列表：{{ parent() }} {% endblock %}
{% block meta %}
<meta name="keywords" content="问卷调查，回答问卷，问卷积分，问卷列表，商业问卷，属性问卷，问卷赚钱" />
<meta name="description" content="问卷列表展示了用户可回答的所有商业问卷、属性问卷等高积分问卷，点击可回答轻松赚取现金奖励。" />
<meta name="title" content="问卷列表:91问问调查网" />
{% endblock %}
{% block stylesheet %}
<link href="{{ asset('css/survey.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-con w1000 clearfix">
	<div class="main-con-left left">
		<div class="survey survey-sub">
			<h1>问卷列表</h1>
			{% if html_survey_list|length > 0 %}
				<ul id="surveyList">
					{% for html_survey in html_survey_list %}
						<li>{{ html_survey | raw }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<div id="noSurvey">
					<img src="{{asset('img/common/noSurvey.png')}}" alt="您没有新的问卷">
				</div>
			{% endif %}
		</div>
	</div>
	<div class="main-con-right right">
		<div class="weibo"><iframe width="230" height="580" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=580&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=1752291082&verifier=37e3a3a3&dpc=1"></iframe></div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

