@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "layout/footer";
.main{
	margin-top: 0;
	background: #f2f3f5;
	.main-error-con{
		margin: 0 auto;
		background: url(../img/404/errorbg.png) no-repeat center;
		.errorCon{
			width: 1000px;
			height: 436px;
			margin: 80px auto;
			position: relative;
			.errorText{
				width: 480px;
				position: absolute;
				top: 298px;
				left: 665px;
				padding: 15px;
				background: #f2f2f2;
				.txt{
					font-size: 14px;
					line-height: 24px;
					h2{
						font-size: 18px;
					}
				}
				.btn{
					margin-top: 31px;
					a{
						padding: 6px 15px;
						background: #f5f5f5;
						border: 1px solid #ccd1d2;
						margin-right: 10px;
						@include border-radius(3px);
					}
				}
			}
		}
	}
	// .errorBot{
	// 		height: 152px;
	// 		margin-top: 20px;
	// 		background: url(../img/404/wave.png) repeat-x;
	// }
}
.footer{
	display: none;
}
// body{
// 	background: #4b95d7;
// }