@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "layout/footer";
body{
	background: url(../img/common/seamless-noise-bg.png) repeat;
	background-color:rgba(255, 255, 255, 0.5);
}
.main{
	margin-top: 0;
	.main-error-con{
		margin: 0 auto;
		background: url(../img/404/errorbg.png) no-repeat center;
		.errorCon{
			width: 1000px;
			height: 436px;
			margin: 45px auto;
			.errorText{
				padding: 458px 230px;
				text-align: center; 
				margin: 0 auto;
				.txt{
					font-size: 14px;
					line-height: 24px;
					h2{
						font-size: 18px;
					}
				}
				.btn{
					margin-top: 31px;
					a{
						padding: 6px 15px;
						background: #f5f5f5;
						border: 1px solid #ccd1d2;
						margin-right: 10px;
						@include border-radius(3px);
					}
				}
			}
		}
	}
}
.footer{
	display: none;
}

//91问问正在改版维护中
.mtWrap{
	width: 894px;
    height: 407px;
    margin: 100px auto;
	background: url(../img/404/91wwInMt.png) no-repeat center;
	.text{
		width: 300px;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		padding: 187px 0 0 300px;
		b{
			color: #f57400;
		}
	}
}