@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/about";
.main-about-con{
	.aboutR{
		.rpaIntro{
			pre{
				padding: 10px;
			    margin: 10px 0;
			    font-weight: bold;
			    font-size: 15px;
			}
			.lh30{
				line-height: 30px;
			}
			.history{
				width: 100%;
				height: 1644px;
				position: relative; 
				background: url(../img/about/history.png) no-repeat 39px 18px;
				@include dib();
				p{
					width: 150px;
					position: absolute;
					text-align: left;
					line-height: 22px;
					font-size: 13px;
				}
				.hst1{
					left: 79px;
					top: 95px;
				}
				.hst2{
					right: 0;
					top: 219px;
				}
				.hst3{
					left: 79px;
					top: 365px;
				}
				.hst4{
					right: 0;
					top: 465px;
				}
				.hst5{
					left: 79px;
					top: 580px;
				}
				.hst6{
					right: 0;
					top: 730px;
				}
				.hst7{
					left: 79px;
					bottom: 672px;
				}
				.hst8{
					right: 0;
					bottom: 507px; 
				}
				.hst9{
					left: 79px;
					bottom: 345px;
				}
				.hst10{
					right: 0;
					bottom: 222px;
				}
				.hst11{
					left: 79px;
					bottom: 77px;
				}
			}
		}
		.wwIntro{
			p{
				margin: 16px 0;
				line-height: 23px;
			}
		}
		.rules{
			text-align: left;
			@at-root .font20{
				font-size: 20px;
			}
		}
		.sitemap{
			.box{
				h3{
					color: $list-tit-color;
				}
				ul{
					padding: 0 11px;
				}
				li{
					float: left;
				    padding-bottom: 10px;
				    padding-right: 10px;
				    width: 130px;
				    line-height: 24px;
				    .font16{
				    	font-size: 16px;
				    }
				    @include ell;
				}
				pre{
					padding: 10px;
					margin: 10px 0;
					font-weight: bold;
					font-size: 15px;
				}
			}

		}
		.friendLink{
			ul{
				margin-top: 20px;
			}
			li{
				padding: 20px 30px;
  				float: left;
  				border-right: 1px solid #f6f6f6;
  				border-bottom: 1px solid #f6f6f6;
			}
			.bordRN{
  				border-right: none;
  			}
  			.bordBN{
  				border-bottom: none;
  			}
  			.email{
  				padding: 0 10px;
  				b{
					width: 9px;
					height: 9px;
					background: url(../img/common/icons_common.png?v000011) no-repeat -21px 0;
					display: inline-block;
					margin-left: 5px;
  				}
  			}
  			pre{
  				padding: 10px;
  				margin: 10px 0;
  				font-weight: bold;
  				font-size: 15px;
  			}
		}
		.linkStep{
			margin-top: 46px;
			h3{
				margin-bottom: 8px;
			}
			div{
				dt,dd{
					line-height: 24px;
				    word-break: break-all;
					a{
					color: $list-tit-color;
					}
				}
			}
			.row{
				padding: 0 27px;
			}
		}
	}
}

// old help.scss
// .main-help-con{
// 	.helpL{
// 		font-size: 14px;
// 	}
// 	.tabNav{
// 		background: $block-bg-color;
// 		border: $block-border;
// 		li{
// 			height: 50px;
// 			width: 100%;
// 			line-height: 50px;
// 			text-align: center;
// 			border-bottom: $block-border;
// 			@include dib();
// 			cursor: pointer;
// 			&.active, &:hover{
// 				color: $orange-color;
// 				font-weight: bold;
// 				background: #ffefe3;
// 			}
// 		}
// 	}
// 	.feedback{ 
// 		margin-top: 35px;
// 		padding: 15px 0 15px 21px;
// 		background: $block-bg-color;
// 		border: $block-border;
// 	}
// 	.helpR{
// 		padding: 10px 30px 20px;
// 		background: $block-bg-color;
// 		border: $block-border;
// 		font-size: 14px;
// 		min-height: 645px;
// 		h2{
// 			height: 45px;
// 			line-height: 45px;
// 			color: #010101;
// 			font-size: 20px;
// 		}
// 	}
// 	.tabCon ul{
// 		padding: 10px 0 20px;
// 		display: none;
// 		li{
// 			font-size: 0;
// 			.title{
// 				font-size: 14px;
// 				padding-left: 20px;	
// 				height: 45px;
// 				line-height: 45px;	
// 				background-color: #f5f5f5;
// 				margin-bottom: 2px;
// 				cursor: pointer;
// 			}
// 			em{
// 				width: 8px;
// 				margin-right: 30px;
// 				float: left;
// 			}
// 			span{
// 				&.icons{
// 					float: right;
// 					margin-top: 15px;
// 					padding-right: 20px;
// 					width: 15px;
// 					height: 15px;
// 					background: url(../img/help/arrow.png) no-repeat 0 -35px;
// 				}
// 			}
// 			&:hover, &.active, &.on{
// 				.title{
// 					color: $orange-color;
// 					background-color: #ffefe3;
// 				}
// 				span{
// 					&.icons{
// 						padding-right: 23px;
// 						background: url(../img/help/arrow.png) no-repeat 0 -55px;
// 					}
// 				}
// 			}
// 			p{
// 				line-height: 30px;
// 				font-size: 13px;
// 				margin: 15px 0;
// 				padding-left: 21px;
// 				padding-right: 20px;
// 				display: none;
// 				strong{
// 					color: #eb411f;
// 					font-weight: normal;
// 				}
// 				a{
// 					color: $list-tit-color;
// 				}
// 			}
// 		}
// 	}
// }

// help/home css
.helpIcons{
	li{
		height: 276px;
		@include border-radius(3px);
		float: left;
		margin-bottom: 42px;
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
			background: #f0f5f5;
			p{
				width: 120px;
				text-align: center;
				&.hIco{
					width: 111px;
					height: 111px;
					margin: 54px auto 30px;
				}
				&.hIco1{
					background: url(../img/help/helpHomeIcons.png) no-repeat -8px -7px;
				}
				&.hIco2{
					background: url(../img/help/helpHomeIcons.png) no-repeat -131px -7px;
				}
				&.hIco3{
					background: url(../img/help/helpHomeIcons.png) no-repeat -254px -7px;
				}
				&.hTxt{
					width: 111px;
					text-align: center;
					margin: 0 auto;
					font-size: 18px;
				}
				&.hTxt1{
					color: #48c0eb;
				}
				&.hTxt2{
					color: #28bb98;
				}
				&.hTxt3{
					color: #92c25f;
				}
			}
		}
	}
}
@import "layout/footer";