@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/personal";
@import "component/form";
.main-personal-account{
	padding: 20px 45px 50px;
	color: #666;
	li{
		padding: 15px 0;
		line-height: 45px;
		border-bottom: 1px dashed #dedee0;
		.default_value{
			display: inline-block;
		}
		&.active{
			.default_value{
				display: none;
			}
		}
	}
	label{
		width: 105px;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		@include dib();
		vertical-align: top;
	}
	a{
		float: right;
		color: $main-title-color;
	}
	input[type='checkbox']{
		vertical-align: middle;
		margin-right: 5px;
	}
	.form{
		li{
			input[type='text'], input[type='password']{
				width: 200px;
				height: 30px;
				line-height: 30px;
				border-radius: 3px;
				background: transparent;
			}
			span{
				border-radius: 3px;
				margin-left: 5px;
				padding: 0 5px;
				line-height: 30px;
				&#curMobile{
					padding: 0;
					@include dib();
					vertical-align: top;
				}
				&#send_code{
					color: #fff;
					background: #ff8b3d;
					@include dib();
					vertical-align: top;
					cursor: pointer;
					&.disabled{
						color: $normal-color;
						background: $normal-bg-color;
						border: $normal-border;
					}
				}
				&.succeed, strong{
					border: none;
					background: transparent;
				}
			}
		}
		.backError{
			padding-left: 120px;
			color: $error-color;
		}
	}
	.con{
		padding: 15px 30px;
		display: none;
		li{
			margin-top: 10px;
			padding: 0;
			line-height: 30px;
			border-bottom: none;
			label{
				margin-right: 30px;
				width: 85px;
				text-align: right;
				font-size: 12px;
				font-weight: normal;
				color: #666;
			}
		}
		p{
			line-height: 24px;
		}
		em{
			margin-right: 5px;
		}
		.btn{
			padding:20px 0 0 120px;
			span{
				width: 74px;
				text-align: center;
				height: 36px;
				line-height: 36px;
				@include btn();
				@include dib();
				vertical-align: middle;
			}
		}
		&.bding{
			ul{
				margin-top: 20px;
				padding: 0;
				border-top: $block-inner-border;
			}
			span{
				margin-left: 40px;
				width: 110px;
				vertical-align: middle;
			}
			strong{
				margin-left: 20px;
				line-height: 45px;
				@include dib();
				vertical-align: middle;
			}
		}
		&.subscribe{
			label{
				margin-right: 10px;
			}
			p{
				padding-left: 100px;
			}
			.btn{
				padding:10px 0 0 100px;
			}
		}
		&.withdraw{
			span{
				@include dib();
				vertical-align: middle;
			}
			ul{
				&.tips{
					margin-top: 10px;
				}
				&.reason{
					padding: 10px 0;
					border: $block-inner-border;
				}
				&.reason-options span{
					width: 210px;
				}
				label{
					width: 110px;
				}
			}
			li{
				margin-top: 0;
				line-height: 24px;
			}
			.btn{
				padding:10px 0 0 0;
				span{
					width: 110px;
				}
			}
		}
	}
}
@import "layout/footer";