@charset "UTF-8";

@import "layout/common";
@import "layout/header";
.newsInfo{
    margin: 20px auto;
    article{
	    h1{
	    	color: $orange-color;
		    font-size: 22px;
		    font-weight: bold;
		    line-height: 200%;
		    text-align: center;
	    }
	    .artInfo {
		    border-bottom: 1px dotted #eee;
		    color: #ccc;
		    padding-bottom: 20px;
		    text-align: center;
		}
		.content {
		    font-size: 14px;
		    line-height: 200%;
		    padding: 20px;
		    text-align: left;
		}
	}
}
@import "layout/footer";