@charset "UTF-8";

@import "layout/common";
@import "layout/header";

body{ 
	font-family: $font-family!important;
}
a:hover{
	text-decoration: none;
}
#top-header{
	margin-bottom: 0;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	cursor: pointer!important;
	margin: initial!important;
	text-indent: initial!important;
	overflow: hidden!important;

}
.header{
	position: relative;
    z-index: 10;
    @include box-shadow(0 0 3px rgba(0,0,0,0.5));
}
.main{
	margin-top: 0;
}
.bannerWrap{
	background: url(../img/checkin/bannerbg.jpg) no-repeat #93ae4f center top;
	background-size: cover;
	padding-bottom: 3rem;
	padding-bottom: 50px\9;
	position: relative;
	z-index: 2;
	.bannerCon{
		margin-top: 54px;
	}
}
.contWrap{
	background: url(../img/checkin/grassBg.jpg) repeat;
	position: relative;
	z-index: 1;
	padding-bottom: 220px;
	.contBox{
		padding: 3rem;
		padding: 50px\9;
		background: #fff;
		@include border-radius(15px);
		h2{
			&.tit{
				font-size: 22px;
				color: #96ab61;
				margin-bottom: 20px;
		    }
			img.bug{
				margin-top: -3px;
				margin-right: 6px;
			}
			&.res{
				font-size: 22px;
				line-height: 40px;
			}
		}
		.step{
			.checkSuc{
				background: url(../img/checkin/successExp.gif) no-repeat left center;
			}
			.checkFail{
				background: url(../img/checkin/failExp.gif) no-repeat left center;
			}
			.checkWin{
				background: url(../img/checkin/winExp.gif) no-repeat left center;
			}
			.checkSuc,.checkFail,.checkWin{
				background-size: contain;
				min-height: 100px;
				min-height: 160px\0;
				*min-height: 160px;
				padding-left: 100px;
				padding-left: 150px\0;
				*padding-left: 150px;
				padding-top: 24px;
				padding-top: 54px\0;
				*padding-top: 54px;
				display: table;
			}
		}
		.checkBtn{
			background: #ff6e88;
			color: #fff;
			border: 1px solid #FF5C7A;
		    padding: 15px 58px;
		    margin-bottom: 36px;
			@include border-radius(34px);
			display: table;
		}
		.rule{
			padding: 0 0 0 20px;
			p{
				line-height: 26px;
				font-size: 15px;
			}
		}
		.proBar{
			position: relative;
			border-bottom: 2px dashed #d3d7d6;
			margin-bottom: 30px;
		}
	}
	.progress-bar{
		background-color: #27ae60;
	}
}

@media only screen and (max-width: 767px) {
	.bannerWrap{
		padding-bottom: 2rem;
	}
	.contWrap{
		.contBox{
			padding: 1.8rem;
			h2.tit{
				font-size: 1.6rem!important;	
			}
			h2.res{
				line-height: 29px;
				font-size: 1.3rem!important;
				margin-bottom: 10px;
			}
			.step{
				.checkSuc,.checkFail,.checkWin{
					padding-top: 0px;
				}
			}
			.rule{
				padding: 0; 
			}
		}
	}  
}

