@charset "UTF-8";

@import "layout/common";
@import "layout/header";
body{
	background: #fafafc;
}
.main-con{
	background: #fff;
	.gadgetBanner{
		height: 324px;
		background: #f08a39 url(../img/common/seamless-noise-bg.png) repeat;
		.bg{
			height: 351px;
			margin: 0 auto;
			background: url(../img/gadget/gadgetBgPic.png) no-repeat center;
			position: relative;
			z-index: 1;
		}
		.txt{
			position: absolute;
			z-index: 1000;
			left: 50%;
			top: 100px;
			margin-left: 70px;
		}
	}
	.gadgetBtn{
		margin-top: 63px;
		margin-bottom: 60px;
		li{
			width: 33.33333%;
			float: left;
			text-align: center;
			.btn{
				position: relative;
				z-index: 1;
				width: 117px;
				height: 79px;
				margin: 0 auto;
				padding-top: 38px;
				background: url(../img/gadget/gadgetIcon.png) no-repeat;
				cursor: pointer;
				&:hover, &.active{
					a{
						height: 0px;
					}
					a.hover{
						top: 35px;
						left: 35px;
						height: 42px;
					}
				}
				a{
					margin: 0 auto;
					background: url(../img/gadget/gadgetIcon.png) no-repeat;
					@include transition(all, 500ms);
					display: block;
				}
				a.hover{
					position: absolute;
					z-index: 1999;
					top: 0px;
					left: 35px;
					width: 42px;
					height: 0px;
					background-position: -123px 0px;
					@include transition(all, 1s);
				}
			}
			.deskIco{
				background-position: 0 -243px;
				a{
					width: 48px;
					height: 45px;
					background-position: 0 0;
				}	
			}
			.iPhoneIco{
				background-position: -117px -243px;	
				a{
					width: 30px;
					height: 48px;
					background-position: -49px 0;
				}
			}
			.AndroidIco{
				background-position: -234px -243px;	
				a{
					width: 42px;
					height: 45px;
					background-position: -80px 0;
				}
			}
			.txt{
				font-size: 20px;
				color: #707070;
				margin-top: 23px;
				display: inline-block;
			}
		}
	}
	.slideDown{
		height: 218px;
		background: url(../img/gadget/slideBgx.png) repeat-x;
		display: none;
		.slideCon{
			position: relative;	
			z-index: 1;
			height: 100%;
			.con{
				height: 100%;
			}
			.deskCon{
				.txtL{
					#divInstaller{
						margin-left: -75px;
	  					margin-top: 46px;
	  					a{
							margin-left: 130px;
							margin-bottom: 10px;
							display: inline-block;
						}
					}
				}
				.txtM{
					margin-top: 46px;
				    font-size: 14px;
				    line-height: 23px;
				    margin-left: 24px;
				    a{
				    	color: $main-title-color;
				    }
				}
				.txtR{
					width: 466px; 
					height: 125px;
					margin-top: 45px;
					background: url(../img/gadget/gadgetIcon.png) repeat-x 0 -367px;
					p{
						font-size: 14px;
						line-height: 22px;
						padding: 6px 0 0 48px;
					}
				}
			}
			.iPhoneCon, .AndroidCon{
				padding-top: 70px;
				text-align: center;
				.iPhoneBtn, .AndroidBtn{
					padding: 18px 68px;
					background: #1466d6;
					@include border-radius(5px);
					@include box-shadow(0 3px 0 #0650b8);
					color: #fff;
					font-size: 16px;
				}
				p{
					margin-top: 40px;
					font-size: 14px;
				}
			}
			.arrowUp{ 
				width: 15px;
				height: 16px;
				background: url(../img/gadget/gadgetIcon.png) repeat-x -101px -214px;
				position: absolute;
				z-index: 1000;
				left: 156px;
				top: -12px;
				@include transition(left, 1s);
				&.second{
					left: 492px;
				}
				&.third{
					left: 818px;
				}
			}
			.closeTag{
				width: 95px;
				height: 31px;
				background: url(../img/gadget/gadgetIcon.png) repeat-x 0 -196px;
				position: absolute;
				z-index: 1000;
				bottom: -16px;
				left: 45%;
			}
		}
	}
	.gadgetList{
		background: #efeef3;
		ul{
			padding-top: 70px;
			li{
				padding-left: 60px;
				margin-right: 20px;
				height: 177px;
				float: left;
				.icon{
					width: 61px;
					height: 66px;
					background: url(../img/gadget/gadgetIcon.png) repeat-x;
				}
				.i1{
					background-position: 0 -51px;
				}
				.i2{
					background-position: -68px -51px;
				}
				.i3{
					background-position: 0 -124px;
				}
				.i4{
					background-position: -75px -123px;
				}
				.text{
					width: 283px;
					padding-left: 40px;
					h2{
						font-size: 30px;
						line-height: 30px;
						margin-bottom: 18px;
					}
					p{
						font-size: 14px;
						line-height: 23px;
					}
				}
			}
		}
	}
}
.footer{
	margin-top: 0!important;
}
@import "layout/footer";