@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/slider";
@import "component/survey";
$slider-height: 305px;
.main-slider{
	height: $slider-height;
	background: url(../img/home/slideBgx.jpg) repeat-x;
	.mask{
		width: 1000px;
		height: $slider-height;
	}
	li{
		width: 1000px;
	}
	span{
		top: 50%;
		left: -41px;
		margin-top: -20px;
		width: 41px;
		height: 41px;
		cursor: pointer;
		background: url(../img/home/sliderbtnL.png) no-repeat;
		&.arrowR{
			left: auto;
			right: -41px;
			background: url(../img/home/sliderbtnR.png) no-repeat;
		}
		display: none;
	}
	.btn-group{
		bottom: 10px;
		left: 50%;
		margin-left: -20px;
		b{
			width: 9px;
			height: 9px;
			background: url(../img/home/sliderbtn.png) no-repeat;
			&:hover, &.active{
				background: url(../img/home/sliderbtnhover.png) no-repeat;
			}
		}
	}
}
.main-con-left{
	h1{
		color: #333;
		font-size: 22px;
		font-weight: normal;
		height: 55px;
		line-height: 55px;
		position: relative;
		border-bottom: 1px dotted #e2e2e2;
		padding-bottom: 10px;
		
		.more{
			position: absolute;
			right: 0;
			font-size: 12px;
			color: #666; 
		}
	}
	.vote li.vote-new .tips{
		top: 42px;	
		span{
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: #979797;
			color: #fff;
			text-align: center;
			cursor: pointer;
		}
	}
	.countdown{
		top: 42px;
		right: 20px;
	}
}
.main-con-right{
	.notice{
		ul{
			padding: 0 15px 15px;
		}
		li{
			line-height: 28px;
			@include ell();
			em{
				width: 5px;
				height: 5px;
				margin-right: 10px;
				background: #a3a3a3;
				@include dib();
			}
		}
	}
}

#mask{ 
	position: fixed; 
	width: 100%; 
	height: 100%; 
	left: 0; 
	top: 0; 
	background: #000; 
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity:0.7; 
	opacity: 0.7;
	z-index: 9999;
}
#newguideWrap {
	width: 1000px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 10000;
	.newguide1{
		width: 531px;
		height: 266px;
		position: absolute;
		background: url(../img/home/guide1.png) no-repeat 0 0;
		left: 232px;
		top: -400px;
	}
	.newguide2{
		width: 520px;
		height: 379px;
		position: absolute;
		background: url(../img/home/guide2.png) no-repeat 0 0;
		right: 58px;
	    top: -644px;
	}
	.newguide3{
		width: 493px;
		height: 369px;
		position: absolute;
		background: url(../img/home/guide3.png) no-repeat 0 0;
		right: -2px;
	    top: -641px;
	}
	.ngbtn{
		position: absolute;
		width: 120px;
	    height: 70px;
	    cursor: pointer;
	}
	.ngbtn1{
		right: 69px;
	    bottom: 11px;
	}
	.ngbtn2{
		right: 69px;
	    bottom: -3px;
	}
	.ngbtn3{
		right: 1px;
	    bottom: -3px;
	}
	.ngclose{
		position: absolute;
		width: 67px;
	    height: 34px;
	    cursor: pointer;
	}
	.ngclose1{
		right: -7px;
		bottom: 18px;
	}
	.ngclose2{
		right: 0;
	    bottom: -1px;
	}
}
#mask, #newguideWrap, #newguideWrap .newguide1, #newguideWrap .newguide2, #newguideWrap .newguide3{
	display: none;
}
.mainAdTop{
	width: 100%;
    height: 265px;
    background: #fff;
}
.mainAdTop ul{
	width: 1000px;
	margin: 0 auto;
}
.mainAdTop ul h2{
	font-size: 22px;
	color: #333;
	padding: 30px 0 20px;
}
.mainAdTop ul li{
	width: 165px;
	float: left;
	margin-right: 42px;
}
.mainAdTop ul li:last-child{
	margin-right: 0;
}
.mainAdTop ul li a{
	color: #999;
}
.mAdTit{
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}
.mPointNum{
	color: $main-color;
	font-weight: bold;
	font-size: 18px;
	vertical-align: -1px;
	margin-right: 3px;
}
@import "layout/footer";