@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/slider";
@import "component/survey";
$slider-height: 305px;
.main-slider{
	height: $slider-height;
	background: url(../img/home/slideBgx.jpg) repeat-x;
	.mask{
		width: 1000px;
		height: $slider-height;
	}
	li{
		width: 1000px;
	}
	span{
		top: 50%;
		left: -41px;
		margin-top: -20px;
		width: 41px;
		height: 41px;
		cursor: pointer;
		background: url(../img/home/sliderbtnL.png) no-repeat;
		&.arrowR{
			left: auto;
			right: -41px;
			background: url(../img/home/sliderbtnR.png) no-repeat;
		}
		display: none;
	}
	.btn-group{
		bottom: 10px;
		left: 50%;
		margin-left: -20px;
		b{
			width: 9px;
			height: 9px;
			background: url(../img/home/sliderbtn.png) no-repeat;
			&:hover, &.active{
				background: url(../img/home/sliderbtnhover.png) no-repeat;
			}
		}
	}
}
.main-con-left{
	h1{
		color: $h-font-color;
		font-size: $h-font-size;
		font-weight: bold;
		height: 55px;
		line-height: 55px;
		em{
			width: 12px;
			height: 12px;
			margin-right: 15px;
			background: url(../img/common/title_ico.png) no-repeat;
			vertical-align: middle;
			@include dib();
		}
	}
	.vote li.vote-new .tips{
		top: 42px;	
		span{
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: #979797;
			color: #fff;
			text-align: center;
			cursor: pointer;
		}
	}
	.countdown{
		top: 42px;
		right: 20px;
	}
}
.main-con-right{
	.notice{
		ul{
			padding: 15px;
		}
		li{
			line-height: 28px;
			@include ell();
			em{
				width: 5px;
				height: 5px;
				margin-right: 10px;
				background: #a3a3a3;
				@include dib();
			}
		}
	}
}

#mask{ 
	position: fixed; 
	width: 100%; 
	height: 100%; 
	left: 0; 
	top: 0; 
	background: #000; 
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity:0.7; 
	opacity: 0.7;
	z-index: 9999;
}
#newguideWrap {
	width: 1000px;
	min-height: 1000px;
	position: relative;
	margin: 0 auto;
	z-index: 10000;
	.newguide1{
		width: 881px;
		height: 407px;
		position: absolute;
		background: url(../img/home/guide1.png) no-repeat 0 0;
		left: 32px;
	    top: 433px;
	}
	.newguide2{
		width: 520px;
		height: 379px;
		position: absolute;
		background: url(../img/home/guide2.png) no-repeat 0 0;
		right: 58px;
	    top: 9px;
	}
	.newguide3{
		width: 493px;
		height: 369px;
		position: absolute;
		background: url(../img/home/guide3.png) no-repeat 0 0;
		right: -9px;
	    top: 10px;
	}
	.newguide1 div, .newguide2 div, .newguide3 div{
		width: 100%;
	    height: 100%;
		position: relative;
	}
	.ngbtn{
		position: absolute;
		width: 120px;
	    height: 70px;
	    cursor: pointer;
	}
	.ngbtn1{
		right: 69px;
	    bottom: 71px;
	}
	.ngbtn2{
		right: 69px;
	    bottom: -3px;
	}
	.ngbtn3{
		right: 1px;
	    bottom: -3px;
	}
	.ngclose{
		position: absolute;
		width: 67px;
	    height: 34px;
	    cursor: pointer;
	}
	.ngclose1{
		right: 0;
	    bottom: 78px;
	}
	.ngclose2{
		right: 0;
	    bottom: -1px;
	}
}
#mask, #newguideWrap, #newguideWrap .newguide1, #newguideWrap .newguide2, #newguideWrap .newguide3{
	display: none;
}
@import "layout/footer";