@charset "UTF-8";

@import "layout/global";
html,body{
	height: 100%;
	overflow: hidden;
	background: #262424;
}
@media only screen and (max-width: 667px) {
	html, body{
		overflow: auto!important;
		background: #3d5267!important;
	}
}
.main,#pagepiling,.sections,.section{
	height: 100%;
}
#pagepiling{
	display: none;
}
@keyframes fadeInUp{
      0% { 
          opacity: 0;
         transform: translateY(20px); 
      } 
      100% { 
          opacity: 1;
         transform: translateY(0); 
      }
}
.unlogin{
	background-color: transparent;
}
.navbar{
	.nav{
		.dropdown{
			i{
				font-size: 22px;
				color: #fff;
				background: #333;
				background: rgba(0, 0, 0, .3);
				@include border-radius(3px);
				padding: 8px 10px;
				margin-top: 15px;
				cursor: pointer;
				position: absolute;
				right: 0;
			}
			a{
				width: 100%;
				height: 40px;
				line-height: 40px;
				cursor: pointer;
				display: inline-block;
				text-align: center;
				padding: 0;
				&:hover{
					color: #ff781e;
				}
			}
			.dropdown-menu{
				min-width: 135px;
				top: 55px;
				.divider{
					margin: 0;
				}
			}
		}
	}
	.btn{
		color: #fff;
		background: #333;
		background: rgba(0, 0, 0, .3);
		border-radius: 3px;
		transition: all 500ms ease 50ms;
		@include dib();
		&:hover{
			background: rgba(0, 0, 0, .4);
			color: #fff;
		}
	}
}
/*-----------satic style------------*/
.sta{
	#section0{
		background-color: #231d1f;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}
/*-----------section style------------*/
.section{
	background-color: #231d1f;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.sectionCon{
	z-index: 2;
	text-align: center;
	*text-align: initial;
	&:before{
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0; 
	  background: url(../../img/common/bg-dot-pattern.png) repeat;
	  opacity: .3;
	}
	.btns{
		z-index: 3;
		width: 285px;
		margin-top: 90px;
		a{
			margin-top: 13px;
			width: 283px;
			text-align: center;
			height: 53px;
			line-height: 53px;
			display: inline-block;
			font-size: 16px;
			color: #2b2b2b;
			background: #fff;
			background: #ccc\9;
			border-radius: 3px;
			&[title="登录"]{
				color: #fff;
				background-color: rgba(255,255,255,0.25);
			}
			&.active{
				color: #fff;
				background: #17b5e5;
			}
		}
	}
}
#section0{
	background-image: url(../img/landingpage/1.jpg);
	color: #fff;
	h1{
		a{
			img.logo{
				display: none\9;
			}
		}
	}
	h2{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.btns{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.login-btn-others{
	    opacity: 1\9;
	    filter: alpha(opacity=100)\9;
	}
	&.active{
	 	h2{
	 	    opacity: 0;
	 	    @include animation2(0.5s, 1s, fadeInUp);
	 	}
	 	.btns{
	 	    opacity: 0;
	 	    @include animation2(1s, 1s, fadeInUp);
	 	}
	 	.login-btn-others{
	 	    opacity: 0;
	 	    @include animation2(1.5s, 1s, fadeInUp);
	 	}
  	}
}
#section1{
	color: #16b5b5;
	background-color: #fff;
	*display: none;
	.sectionCon{
		color: #fff;
		height: 80%;
		background: url(../img/landingpage/2.jpg) no-repeat top;
		background-size: cover;
		position: initial;
		&>.container{
			display: table;
			height: 100%;
			width: 100%;
		}
		.container-fluid{
			height: 100%;
		}
		.introTit{
			height: 100px;
		}
	}
	.introTit{
		display: table-cell;
		vertical-align: middle;
	}
	.sec1Intro{
		margin-top: 50px;
		font-size: 16px;
	}
	h2{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.sec1Intro{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	&.active{
	    h2{
	        opacity: 0;
	        @include animation2(0.5s, 2s, fadeInUp);
	    }
	    .sec1Intro{
	        opacity: 0;
	        @include animation2(1s, 2s, fadeInUp);
	    }
	}
	.refNum{
		height: 20%;
		font-size: 42px;
		b{
			font-family: "Arial";
			font-weight: normal;
			vertical-align: top;
		}
		em{
			font-size: 24px;
			vertical-align: top;
			line-height: 25px;
			margin-left: 3px;
			@include dib();
			&.chinese{
				font-size: 15px;
				font-weight: bold;
			}
			&.curnum{
				text-transform: uppercase;
			}
		}
		.num{
			margin-top: 2%;
		}
		.tit{
			margin-top: 10px;
			font-size: 16px;
			color: #26292e;
		}
	}
}
#section2{
	background-image: url(../img/landingpage/3.jpg);
	color: #fff;
	*display: none;
	.sectionCon{
		.container{
			position: relative;
			.pcImg{
				position: absolute;
				right: 100px;
				bottom: 100px;
			}
		}
	 }
}
#section3{
	color: #828282;
	background-image: url(../img/landingpage/4.jpg);
	*display: none;
	.voices{
		height: 80%;
		margin-top: 0\0;
		&>div{
			height: 100%;
		}
		.row{
			height: 15%;
			margin-top: 50px;
			img.item{
				max-width: 479px;
				display: inline;
			}
			.item1{
				margin-right: 10px;
			}
			.item2{
				margin-left: 10px;
			}
			.item3{
				margin-right: 10px;
			}
			.item4{
				margin-left: 10px;
			}
		}
	}
	h2{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.item{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	&.active{
		@keyframes fadeInUp{
		     0% { 
		     	opacity: 0;
    			transform: translateY(20px); 
    		 } 
		     100% { 
		     	opacity: 1;
    		    transform: translateY(0); 
    		 }
		}
		h2{
			opacity: 0;
			@include animation2(0.5s, 2s, fadeInUp);
		}
		.item1{
			opacity: 0;
			@include animation2(1s, 2s, fadeInUp);
		}
		.item2{
			opacity: 0;
			@include animation2(2s, 2s, fadeInUp);
		}
		.item3{
			opacity: 0;
			@include animation2(3s, 2s, fadeInUp);
		}
		.item4{
			opacity: 0;
			@include animation2(4s, 2s, fadeInUp);
		}
	}
}
#section4{
	background-image: url(../img/landingpage/5.jpg);
	*display: none;
	a{
		&.gray{
			color: #fff;
			background-color: #8c7155;
			background-color: rgba(27, 11, 3, .3);
		}
	}
	.btns{
		margin-top: 62px;
	}
	.briefIntro{
		margin-top: 45px;
		font-size: 16px;
		color:#fff;
	}
	h2{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.briefIntro{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	.btns{
		opacity: 1\9;
		filter: alpha(opacity=100)\9;
	}
	&.active{
		h2{
			opacity: 0;
			@include animation2(0.5s, 2s, fadeInUp);
		}
		@keyframes fadeIn5{
		    0% { margin-top: 28%; opacity: 0.5; } 
		    50% { margin-top: 26%; opacity: 0.6; }
		    100% { margin-top: 27%; opacity: 1; }
		}
		.briefIntro{
			opacity: 0;
			@include animation2(1s, 2s, fadeInUp);
		}
		.btns{
		    opacity: 0;
		    @include animation2(1.5s, 2s, fadeInUp);
		}
	}
}
#pages{
	position: fixed;
	z-index: 1000;
	right: 3%;
	top: 43%;
	list-style: none;
	li{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 0 0 10px 0;
		border: 3px solid #fff;
		cursor: pointer;
	    &.active{
	    	width: 12px;
	    	height: 12px;
	    	background: #fff;
	    }
	}
}

/* drop menu */
.dropMenu{
	position: fixed;
	top: 10px;
	right: 5%;
	z-index: 6;
}

// contact us
.contact{
	a{
		padding: 14px 12px;
		background: #272629;
		background-color: rgba(39,38,41,0.65);
		color: #fff;
		text-shadow: 0 0 4px #424242;
		-moz-text-shadow: 0 0 4px #424242;
		-webkit-text-shadow: 0 0 4px #424242;
		text-shadow: 0 0 4px #424242;
		font-size: 16px;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 6;
		border-top-left-radius: 13px;
		-webkit-top-left-border-radius: 13px;
		-moz-top-left-border-radius: 13px;
		-ms-top-left-border-radius: 13px;
		-o-top-left-border-radius: 13px;
		em{
			width: 18px;
			height: 21px;
			display: inline-block;
			background: url(../img/landingpage/contactIcon.png) no-repeat -1px 0;
			vertical-align: -6px;
			margin-right: 10px;
		}
		b{
			width: 8px;
			height: 13px;
			display: inline-block;
			background: url(../img/landingpage/contactIcon.png) no-repeat -27px -4px;
			vertical-align: -1px;
			margin-left: 20px;
		}
	}
}

/*-----------arrow style------------*/
.arrow{
	position: fixed;
	z-index: 6;
	*display: none;
}
.arrow-down{
	width:40px;
	height:40px;
	display:inline-block;
	position:fixed;
	bottom: 18px;
	left:50%;
	margin-left: -25px;
	background: #000 url("../img/landingpage/arrow.png") no-repeat center;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/landingpage/arrow.png",enabled=true,sizingMethod="crop");
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	opacity: 1; 
	cursor:pointer;
}
@keyframes xguide_down{
	0%,100%{
		transform:scale(0.0);
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		opacity: 0;
	}
	50%{
		transform:scale(1.0);
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		opacity: .5;
	}

}
@-webkit-keyframes xguide_down{
	0%,100%{
		-webkit-transform:scale(0.0);
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-webkit-transform:scale(1.0);
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity: .5
	}

}
@-moz-keyframes xguide_down{
	0%,100%{
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity:.5
	}

}
@-o-keyframes xguide_down{
	0%,100%{
		-o-transform:scale(0.0);
		-moz-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-o-transform:scale(1.0);
		-moz-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity:.5
	}

}
.arrow-down.trans{
	-webkit-animation:xguide_down 4.0s infinite ease-in-out;
	-moz-animation:xguide_down 4.0s infinite ease-in-out;
	-o-animation:xguide_down 4.0s infinite ease-in-out;
	animation:xguide_down 4.0s infinite ease-in-out
}
.arrow-down.arrow-1{
	animation-delay:-2.0s;
	-webkit-animation-delay:-2.0s;
	-moz-animation-delay:-2.0s;
	-o-animation-delay:-2.0s
}

/* Navigaton bullets styles
 * --------------------------------------- */
#pp-nav li, .pp-slidesNav li{
 	margin: 14px 7px!important;
 }
#pp-nav li .active span, .pp-slidesNav .active span{
    background: #fff!important;
}
#pp-nav span, .pp-slidesNav span {
	width: 17px!important;
	height: 17px!important;
    border-color: #fff!important;
    border-width: 3px!important;
}
.pp-tooltip{
	display: none!important;
}

.secHd{
	#section0, #section1, #section2, #section3, #section4, #section5{
		display: none!important;
	}
}

@media only screen and (max-width: 667px) { 
	// landing page
	#section0{
		background: url(../../img/landingpage/1_bg_phone.jpg) no-repeat!important;
		background-size: cover;
	}
	#pp-nav{
		display: none;
	}
	.sectionCon{
		top: 12px;
		.btns{
			margin-top: 57px;
		}
	}
}
