@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/form";
$main-ad-color: #eb7020;
.header{
	position: relative;
	z-index: 9998;
	height: 80px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
}
.main{
	margin-top: 80px;
}
.lpBr{
	height: 627px;
	overflow: hidden;
	background: url(../img/landingpage/lpBrBg.png) no-repeat center #1bb5e6;
 
}
.lpBrCon{
	width: 1000px;
	height: 100%;
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
.lpBrTit{
	color: #f4fafd;
	left: 26px;
	top: 145px;
	position: absolute;
	z-index: 3;
	h1{
		font-size: 51px;
		letter-spacing:2px;
		text-shadow: 0 1px 2px #3A99BF;
	}
	.digits{
		margin-top: 28px;
		.pst{
			font-size: 28px;
			vertical-align: -8px;
			text-shadow: 0 1px 2px #3A99BF;
		}
		img{
			vertical-align: middle;
		}
		span{
			margin-left: 4px;
			width: 24px;
			height: 32px;
			line-height: 30px;
			text-align: center;
			overflow: hidden;
			@include dib();
			vertical-align: middle;
			background-color: rgba(0,0,0,0.5);
			background: #21566c\0;
			@include border-radius(5px);
			@include box-shadow(0 1px 2px #4489A6);
		}
		b{
			width: 24px;
			height: 300px;
			background: url(../img/home/num.png) no-repeat 5px center;
			display: block;
		}
	}
}
.lpBrTxt{
	left: 97px;
	bottom: 46px;
	position: absolute;
	z-index: 3;
	color: #fff;
	text-shadow: 0 1px 2px #1484a7;
	font-size: 15px;
	line-height: 34px;
	.n1, .n2{
		color: #fdcc2b;
	}
	.n1{
		font-size: 21px;
	}
	.n2{
		font-size: 30px;
	}
}
.regWrapper{
	width: 405px;
	height: 521px;
	color: #757982;
	font-size: 16px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
    right: 0;
    top: 56px;
    h2{
    	height: 64px;
    	line-height: 64px;
    	color: #3F4146;
    	font-size: 24px;
    	padding: 12px 38px 24px;
    }
}
//form Start
.form li{
	margin-top: 14px;
	position: relative;
	width: 320px;
	margin: 0 auto 15px;
	div{
		font-size: 12px;
		display: inline-block;
	}
	.tip-con{
		position: absolute;
		z-index: 1999;
		top: 12px;
		right: -272px;
		padding-top: 10px;
		width: 280px;
		color: #333;
	}
	.regBtn{
		margin-top: 25px;
		width: 100%;
		line-height: 42px;
		color: #fff;
		font-size: 20px;
		font-family: "微软雅黑";
		background: #ff5d44;
		border: 1px solid #ff5d44;
		border-radius: 5px;
		text-align: center;
		display: block;
		cursor: pointer;
		&:hover{
			background:#ff3c1e;
			border: 1px solid #ff3c1e;
		}
		@include transition(all, 0.4s);
		a{
			color: #fff;
		}
	}
	.globIcon{
		width: 18px;
		height: 17px;
		background: url(../img/landingpage/lpIcoMs.png) no-repeat;
		position: absolute;
		left: 8px;
		top: 10px;
	}
	.iconName{
		background-position: -460px -40px;
	}
	.iconEmail{
		background-position: -491px -40px;
	}
	.iconPwd{
		background-position: -520px -40px;
	}
	.iconCapt{
		background-position: -550px -40px;
	}

	label{
		margin-right: 10px;
	}
}
.form input[type='text'], .form input[type='password'], .form input[name='captcha']{
	padding-left: 37px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	@include border-radius(3px);
	color: #6E6E6E;
}
.form input[type='text'], .form input[type='password']{
	width: 276px;
}
.form input[name='captcha']{
	width: 126px;
}
.form span{
	position: absolute;
	white-space: nowrap;
	right: 0;
	font-size: 12px;
}
.form span.error, .form span strong{
	border: none;
	padding: 0 10px;
	margin: 1px;
	height: 37px;
}
.subscribe{
	position: relative;
	z-index: 2;
	padding-top: 5px;
	margin-bottom: 5px;
	margin-right: 13px;
	.tips{
		&>b{   
			@include tips();
		}
	}
	.tips-con{
		position: absolute;
		z-index: 999999;
		top: 35px;
		right: -213px;
		padding: 10px;
		line-height: 20px;
		width: 199px;
		color: #333;
		background: #fff;
		border: 1px solid #ccc;
		display: none;
		p{
			padding: 5px;
			line-height: 20px;
			background: #fff;
			border: 1px solid #dedddc;
			border-radius: 3px;
			@include box-shadow(0px 2px 0px #f2f2f2);
		}
		b.arrow{
			position: absolute;
		    z-index: 1999;
		    top: -10px;
		    left: -1px;
		    width: 9px;
		    height: 10px;
			background: url(../img/common/icons_arrow.png) top left no-repeat;
			@include dib();
		}
	}
}
//form End

.topTit{
	margin: 74px 0;
	h1{
		font-size: 40px;
		color: #4D5151;
		display: inline;
	}
	span{
		font-size: 16px;
		color:#aaa;
		margin-left: 5px;
	}
}
.main-con-process{
	height: 586px;
	background: url(../img/landingpage/adProcess.png) no-repeat center 175px #EFEFEF;
	overflow: hidden;
	position: relative;
	padding-bottom: 30px;
}
.procDisc{
	width: 100%;
	margin-top: 86px;
	li{
		width: 33%;
		display: inline-block;
		text-align: center;
		position: relative;
		p{
			width: 208px;
			text-align: center;
		}
		.pdt{
			font-size: 22px;
			color: #333;
			margin-bottom: 14px;
			margin-top: 20px;
		}
		.pdc{
			font-size: 12px;
			color: #999;
			line-height: 20px;
		}
		.icon{
			width: 210px;
			height: 208px;
			background: url(../img/landingpage/lpIcoMs.png) no-repeat;
		}
	}
	li.first, li.second{
		&:after{
			content: '';
			width: 28px;
			height: 44px;
			background: url(../img/landingpage/lpIcoMs.png) no-repeat -420px -22px;
			position: absolute; 
			left: 305px;
			top: 100px;
		}
	}
	li.first{
		text-align: left;
		p{
			margin-left: 14px;
		}
		.icon{
			background-position: 0 -243px;
		}
	}
	li.second{
		p{
			margin-left: 90px;
		}
		.icon{
			background-position: -224px -243px;
		}
		&:after{
			left: 386px;
		}
	}
	li.third{
		p{
			margin-left: 159px;
		}
		.icon{
			background-position: -448px -243px;
		}
	}
}
.main-con-reward{
	background: #dedede;
	padding-bottom: 126px;
	padding-top: 20px;
	overflow: hidden;
	.topTit{
		margin-bottom: 80px;
	}
}
.rewardlist{
	display: inline-block;
	background: #fff;
	@include box-shadow(1px 2px 4px rgba(0,0,0,0.1));
	li{
		width: 310px;
		height: 380px;
		float: left;
		margin-right: 35px;
		position: relative;
		.rMes{
			width: 160px;
			margin: 74px auto 0;
			text-align: center;
			.rPic1{
				width: 66px;
				height: 98px;
				display: inline-block;
				background: url(../img/landingpage/lpIcoMs.png) no-repeat -98px 0;
				margin-bottom: -12px;
			}
			.rPic2{
				width: 112px;
				height: 86px;
				display: inline-block;
				background: url(../img/landingpage/lpIcoMs.png) no-repeat -176px 0;
			}
			.rPic3{
				width: 124px;
				height: 86px;
				display: inline-block;
				background: url(../img/landingpage/lpIcoMs.png) no-repeat -290px 0;
			}
			.rTit{
				font-size: 22px;
				color: #2e2e2e;
				margin-top: 63px;
				display: block;
			}
			.rBtn{
				padding: 10px 52px 11px;
				@include border-radius(3px);
				color: #545454;
				background: #e8e8e8;
				margin-top: 43px;
				display: inline-block;
				@include transition(all, 0.1s);
				&:hover{
					background: #ff5d44;
					color: #fff;
				}
			}
		}
		.rTag{
			width: 84px;
			height: 76px;
			position: absolute;
			padding-top: 22px;
			line-height: 19px;
			text-align: center;
			right: -38px;
			top: -14px;
			color: #fff;
			font-size: 12px;
			background: url(../img/landingpage/lpIcoMs.png) no-repeat -2px 0;

		}
		.rLine{
			width: 1px;
			height: 65%;
			position: absolute;
			right: -15px;
			top: 64px;
			border-right: 1px dashed #d4d4d4;

		}
	}
	li.last{
		margin-right: 0;
	}
}
.main-con-detail{
	background: #fff;
	padding-bottom: 60px;
	padding-top: 34px;
	overflow: hidden;
	.topTit{
		width: 1000px;
		margin: 81px auto 62px; 
	}
}
.heartfelt{
	li{
		width: 43%;
		margin-bottom: 106px;
		&:nth-of-type(odd){
			float: left;
		}
		&:nth-of-type(even){
			float: right;
		}
	}
	.hfL{
		width: 120px;
		height: 120px;
		background: url(../img/landingpage/lpIcoMs.png) no-repeat;
		float: left;
		margin-right: 30px;	
		margin-top: 30px;
	}
	.p1{
		background-position: -5px -100px;
	}
	.p2{
		background-position: -130px -100px;
	}
	.p3{
		background-position: -255px -100px;
	}
	.p4{
		background-position: -380px -100px;
	}
	.hfR{
		float: left;
		width: 261px;
		.tit{
			height: 80px;
			line-height: 80px;
			.name{
				font-size: 28px;
				color: #575A5B;
				margin-right: 10px;
			}
			.post{
				font-size: 14px;
				color: #B5B5B5;
			}
		}
		.text{
			font-size: 13px;
			line-height: 27px;
			color: #6E6E6E;
			text-align: justify;
			&:before, &:after{
				content: '';
				display: inline-block;
				width: 17px;
				height: 15px;
				margin-right: 5px;
				background: url(../img/landingpage/lpIcoMs.png) no-repeat
			}
			&:before{
				background-position: -460px -2px;
				vertical-align: 0px;
			}
			&:after{
				background-position: -480px -2px;
				vertical-align: -3px;
			}
		}
	}
}
.main-con-action{
	text-align: center;
	background: url(../img/home/actionBg.png) no-repeat center #2b2b2e;
	height: 200px;
	padding: 52px 0 0;
	h1{
	    font-size: 24px;
	    font-weight: bold;
	    color: #fff;
	    line-height: 46px;
	}
	p{
		color: #fff;
	    font-size: 12px;
	    line-height: 60px;
	}
	.button{
	    color: #fff;
	    background: #ff5d44;
	    border-radius: 5px;
	    cursor: pointer;
	    @include transition(all, 0.4s);
	    padding: 12px 35px;
	    display: inline-block;
	    &:hover, &:active{
	    	background:#ff3c1e;
	    	color: #fff;
        	border: 0;
        	padding: 16px 40px;
 			font-size: 16px;
	    }
	}
}
.footer{
	margin-top: 0!important;
}

@import "layout/footer";
