@charset "UTF-8";

body{
	background: url(../img/common/seamless-noise-bg.png) repeat;
}
.JLNotWrap{
	height: 772px;
	background: url(../img/404/oldJiliNotice.png) no-repeat center center;
	margin: 30px auto;
	.JLNotCon{
		width: 570px;
		height: 470px;
		padding: 146px 0 0 0;
		text-align: center;
		margin: 0 auto;
		.title{
			font-size: 34px;
		}
		.text1{
			font-size: 18px;
			color: #333;
			margin-top: 180px;
			em{
				color: #ff724f;
			}
		}
		.text2{
			color: #808080;
			text-align: left;
		    line-height: 22px;
		    margin-top: 25px;
		    font-size: 12px;
		}
		.link{
			width: 262px;
		    height: 100px;
		    text-align: center;
	        display: inline-block;
	        padding-top: 30px;
		}
	}
	
}