@charset "UTF-8";

@import "layout/common";
@import "layout/header";
body{
	background: #f5f5f7;
}
.header{
	height: 88px;
	@include box-shadow(0px 1px 5px #b3b3b3);
	.header-nav{
		height: 88px;
		line-height: 84px;
		.w1000{
			p{
				width: 209px;
				text-align: right;
				line-height: 22px;
				color: #a1a1a1;
				margin-top: 20px;
				a{
					color: $main-title-color;
				}
			}
		}
	}
}
.main{
	margin-top: 0;
	background: url(../img/questionnaire/questionnaireTopbgx.png) repeat-x 0;
	.qnWrap{
		width: 100%;
		min-height: 333px;
		position: relative;
		top: 0px;
		z-index: 1;
		background: url(../img/questionnaire/questionnaireBgtop.png) no-repeat top center;	
		.qnConBg{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 318px;
			z-index: 2;
			background: url(../img/questionnaire/questionnaireBgx.png) repeat-y center;
			.qnConBot{
				width: 1000px;
				height: 28px;
				text-align: center;
				position: absolute;
				left: 50%;
				margin-left: -500px;
				bottom: -23px;
				z-index: 2;
				background: url(../img/questionnaire/questionnaireBot.png) no-repeat bottom;
			}
			.bottom{
				position: absolute;
				bottom: -130px;
				width: 100%;
				text-align: center;
				margin-bottom: 40px;
				color: #666;
			}
		}
		.qnCon{
			position: absolute;
			z-index: 3; 
			top: 85px; 
			left: 50%;
			width: 940px;
			margin-left: -470px;
			.qnTxt{
				width: 796px;
				margin: 0 auto; 
				color: #4d4d4d;
				h2{
					font-size: 28px;
					font-weight: bold;
				}
				.subtit{
					line-height: 24px;
					font-size: 16px;
					margin: 20px 0;
					.point{
						color: $main-color;
					}
				}
				.prompt{
					width: 716px;
					padding: 15px 40px;
					background: #f2f2f5;
					color: #666;
					line-height: 22px;
				}
				.notice{
					margin: 37px 0 54px; 
					line-height: 22px;
				}
				.qnBtn{
					text-align: center;
					a{
						width: 230px;
						text-align: center;
						height: 60px;
						line-height: 60px;
						background: #1466d6;
						@include border-radius(5px);
						@include box-shadow(0 3px 0 #0650b8);
						color: #fff;
						font-size: 16px;
						text-align: center;
						@include dib();
					}
				}
				.tips{
					margin-top: 10px;
					text-align: center;
					line-height: 20px;
				}
			}
			.error-message{
				font-size: 16px;
				text-align: center;
				margin-top: 50px;
			}
		}
		.qnEnd{
			.qnEndTxt{
				margin: 150px 0 0 150px;
				.txt{
					font-size: 14px;
					line-height: 20px;
					margin-left: 31px;
					margin-top: 18px;
					h2{
						font-size: 20px;
						font-weight: bold;
						line-height: 30px;
						padding-bottom: 5px;
					}
				}
			}
		}
		.qnRecoEnd{
			.qnEndTxt{
				margin: 80px 0 0 170px;
			}
			.qnEndRecommend{
				margin-top: 170px;
				.tit{
					    height: 70px;
  						line-height: 40px;
						font-size: 30px;
						font-weight: normal;
						color: #757575;
						margin-top: 30px;	
				}
				.list{
					table{
						width: 100%;
						tr{
							border-bottom: 1px solid #f6f6f6;
							td{
								  height: 48px;
								  line-height: 48px;
								  font-size: 14px;
								  color: #333;
								a{
									color: $main-title-color;
								}
								&:nth-child(1){
									padding-left: 10px;
								}
								&:nth-child(4){
									text-align: right;
									padding-right: 10px;
								}
							}
						}
					}
				}
			}
		}
    }
}
