@charset "UTF-8";

@import "layout/common";
@import "layout/header";
.main{
    margin-top: 20px;
}
.main-con{
    background: $block-bg-color;
	border: $block-border;
}
.main-register-active{
	margin: 50px 80px 100px;
	color: #a3a3a3;
	.title{
		font-size: 20px;
		font-weight: bold;
		color: #333;
		line-height: 40px;
		text-align: center;
		b{
			color: #fe5718;
		}
	}
	.con{
		height: 130px;
		.text{
			background: url(../img/common/success_email.png) no-repeat center 2px;
		}
		a{
			margin-top: 10px;
			width: 118px;
			height: 27px;
			line-height: 27px;
			text-align: center;
			@include btn();
			@include dib();
		}
	}
	.finish{
		.title{
			line-height: 165px;
		    height: 75px;
		    text-align: center;
		    font-weight: normal;
		}
	}
	.profileWrap{
		padding: 34px 80px 46px;
		background: #eef2f2;
		color: #333;
		.row1{
			font-size: 16px;
			em{
				font-size: 22px;
			}
		}
		.row2{
			margin-top: 13px;
			line-height: 26px;
			list-style-type: circle;
			list-style-position: inside;
			font-size: 14px;
			li{
				display: list-item;
				b{
					color: $main-color;
				}
			}
		}
		.prBtn{
			margin-top: 20px;
			text-align: center;
			a{
				padding: 21px 86px 24px 57px;
				font-size: 20px;
				font-weight: bold;
				background: #1da18e;
				color: #fff;
				display: inline-block;
				text-align: right;
				@include border-radius(3px);
				em{
					font-size: 12px;
					font-weight: normal;
				}
				&>span{
					display: inline-block;
				}
				&.cancel{
					margin-left: 15px;
					background: #ced4d4;
					color: #333;
					.triangle:before {
						background: #808080;
					}
					.triangle:after {
						background: #808080;
					}
				}
				.triangle { 
			        position: relative;
			        display: inline-block;
					margin-left: 4px;
			    }
			    .triangle:before {
			        content: " ";
			        display: block;
			        width: 14px;
			        height: 4px;
			        background: #fff;
			        -webkit-transform: rotate(56deg);
			        -moz-transform: rotate(56deg);
			        -ms-transform: rotate(56deg);
			        transform: rotate(-45deg);
			        position: absolute;
			        top: -13px;
			        right: -34px;
			    }
			    .triangle:after {
			        content: " ";
			        display: block;
			        width: 14px;
			        height: 4px;
			        background: #fff;
			        -webkit-transform: rotate(-56deg);
			        -moz-transform: rotate(-56deg);
			        -ms-transform: rotate(-56deg);
			        transform: rotate(45deg);
			        position: absolute;
			        top: -21px;
			        left: 20px;
			    }
			}
		}
		.tips{
			display: none;
			p{
				margin-top: 20px;
				text-align: center;	
			}
		}
	}
}
@import "layout/footer";