@charset "UTF-8";

@import "layout/common";
@import "layout/header";
.main-con-left{
	.vote-sub{
		padding-bottom: 50px;
	}
	.survey-recomend{
		padding: 15px 40px 40px;
	}
}
.vote-sub{
 	.backLink{
 		display: inline-block;
 		color: #696767;
 		height: 54px;
 		line-height: 54px;
 		text-align: center;
 		width: 100%;
 		background: #fdf2e7;
 		margin-top: 54px;
 	}
 	.relate{
 		margin: 25px 10px 27px;
 		padding-left: 122px;
 		padding-right: 12px;
 		position: relative;
 		z-index: 1;
 		@include minHeight(90px);
 		img{
 			position: absolute;
 			z-index: 100;
 			top: 0;
 			left: 15px;
 		}
 	}
 	.relateText{
 		color: #9da1a8;
 		line-height: 20px;
 		h1{
 			font-size: 24px;
 			font-weight: bold;
 			color: #333;
 			text-indent: -10px;
 			line-height: 36px;
 		}
 		.description{
 			background: #f3f5f8;
 			border: 1px solid #e6e7eb;
 			padding: 13px 15px;
 			margin: 14px 0;
 			color: #333;
 			line-height: 23px;
 			.fst{
 				margin-bottom: 4px;
 			}
			.cor9{
				color: #999;
			}
 		}
 	}
 	.options{
 		padding-left: 130px;
 		padding-right: 20px;
 		li{
 			line-height: 41px;
 			span{
 				margin-left: 5px;
 			}
 			label{
 				cursor: pointer;
 				font-size: 14px; 
 			}
 		}
 		.btn{
 			padding:20px 0 0 0;
			.submit{
				width: 140px;
				text-align: center;
				height: 40px;
				line-height: 36px;
				font-size: 14px;
				font-weight: bold;
				@include btn();
				@include dib();
				vertical-align: middle;
				outline: none;
			}
			.loginTips{
				line-height: 35px;
			}
			a{
				&.result{
					float: right;
					margin-top: 11px;	
				}
				color: $main-title-color;
			}
 		}
 		dt{
 			margin-top: 25px;
 			font-size: 13px;
 			color: #404040;
 			font-weight: bold;
			line-height: 21px;
			width: 48%;
			@include dib();
			vertical-align: middle;
 		}
 		dd{
 			margin-top: 28px;
 			width: 50%;
 			height: 18px;
  		    @include dib();
  		    vertical-align: middle;
 		}
 		b, span.result{
 			float: right;
 			color: #9da1a8;
 		}
 		.progress{
 			width: 82%;
 			height: 18px;
 			background: #f2f2f2;
 			@include dib();
 			p{
 				width: 0%;
 				height: 18px;
 				background: #59ca4f;
 				@include transition(width, 2s);
 			}
 		}
 		.weiboshare{
 			margin-top: 40px;
 			display: block;
 		}
 	}
}
.exchange-dynamics{
	padding: 10px 20px;
	line-height: 24px;
	.mask{
		height: 335px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	ul{
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
	}
	h2{
		padding: 0;
	}
	li{
		padding: 12px 0;
		border-bottom: $block-inner-border;
		p{
			@include ell();
			.name{
				    width: 40px;
				    display: inline-block;
				    vertical-align: -7px;
				    text-overflow: ellipsis;
				    overflow: hidden;
			}
		}
		.date{
			color: #bfbfbf;
		}
	}
}
@import "layout/footer";