@charset "UTF-8";

@import "layout/common";
@import "layout/header";
@import "component/timeline";
.vote{
	.panel-heading{
		padding: 18px 22px;
		.more{
			color: #7F8390;
			i{
				margin-left: 5px;
			}
		}
	}
	.panel-body{
		padding-bottom: 28px;
		ul{
			hr{
				margin-top: 10px;
				margin-bottom: 10px;
				&:last-child{
					display: none;
				}
			}
		}
	}
	.vote-txt{
		.title{
			font-size: 16px;
			line-height: 28px;
			font-weight: bold;
			text-indent: -7px;    
			a{
				color: #475a70;
			}
		}
		.con{
			font-size: 13px;
			line-height: 21px;
		}
		.relate{
			span,div{
				color: #9296a1;
				font-size: 13px;
				line-height: 21px;
			}
		}
	}
	.votePoint{
		white-space: nowrap;
		i{
			font-size: 22px;
		    color: #f55e00;
		    margin-right: 4px;
		    vertical-align: -2px;
		    font-weight: bold;
		}
	}
	.vote-btn{
		color: #fff;
		width: 120px;
		height: 36px;
		line-height: 36px;
		line-height: 20px\9;
		*line-height: 33px;
		padding: initial;
		@include btn();			
	}
	.voteDisabled{
		color: #fff;
		background: #a7a7a7;
		border: 1px solid #a7a7a7;
		border-radius: 3px;
		width: 120px;
		height: 36px;
		line-height: 36px;
		line-height: 20px\9;
		*line-height: 33px;
		padding: initial;
	}
}
.vote-new{
	.countdown{
		color: #b08400;
		font-size: 16px;
		z-index: 1000;
		height: 25px; 
		line-height: 25px;
		margin-right: 20px;
		span{
			width: 20px;
			text-align: center;
		}
		b{
			padding: 0 5px;
		}
	}
	.tips{
		position: absolute;
		z-index: 1000;
		top: 4px;
		right: 17px;
		i{
			font-size: 14px;
			color: #b08400;
		}
		span{ 
		    width: 13px;
		    height: 13px;
		    line-height: 13px;
		    border-radius: 50%;
		    background: #979797;
		    color: #fff;
		    text-align: center;
		    cursor: pointer;
		}
		.tooltip-inner {
		    max-width: 150px;
		    width: 150px; 
		    text-align: left;
		}
	}
	// .tips-con{
	// 	position: absolute;
	// 	z-index: 1999;
	// 	top: -40px;
	// 	right: -3px;
	// 	padding-bottom: 10px;
	// 	width: 270px;
	// 	display: none;
	// 	p{
	// 		padding-left: 8px;
	// 		line-height: 32px;
	// 		background: #fff;
	// 		border: 1px solid #dedddc;
	// 		border-radius: 3px;
	// 		@include box-shadow(0px 2px 2px #a3a3a3);
	// 	}
	// 	b{
	// 		position: absolute;
	// 		z-index: 1999;
	// 		bottom: 1px;
	// 		right: 0;
	// 		width: 9px;
	// 		height: 10px;
	// 		background: url(../img/common/icons_arrow.png) right bottom no-repeat;
	// 		@include dib();
	// 	}
	// }
}
@media only screen and (max-width: 767px) { 
	.voteBW{
		margin-left: -72px;
	}
	.vote{
		.vote-btn,.voteDisabled{
			float: right;
		}
	} 
	.vote-info{
		margin-top: 13px;
	}
}
@media only screen and (min-width: 768px) { 
	.vote .panel-body li .row{
		padding: 0 15px;
	}
	.vote-info{
		float: left;
	}
	.vote .votePoint{
		text-align: left;
	}
}
@media only screen and (min-width: 992px) { 
	.vote .votePoint{
		width: 65px;
	    float: left;
	    margin-right: 45px;
	}
	.vote .panel-body li .row {
	    padding: 0 44px 0 25px;
	}
	.vote-info{
		white-space: nowrap;
	}
}
// @media only screen and (max-width: 970px) { 
// 	.vote .panel-body li .row{
// 		padding: 0 15px;
// 	}
// }
// .vote-sub{
//  	position: relative;
// 	z-index: 1;
// 	h1{
// 		font-size: 34px;
// 		margin: 10px 0 15px 14px; 
// 	}
// 	li{
// 		border-top: none;
// 		padding-bottom: 16px;
// 		&.vote-txt{
// 			width: 94%;
// 			.relate{
// 				margin-left: 0;
// 				margin-top: 10px;	
// 			}
// 		}
// 		&:after{
// 			width: 100%;
// 		}
// 	}
// 	.vote-btn{
// 		top: 64px;
// 	}
// 	.vote-txt{
// 		width: 62%;
// 		span{
// 			strong{
// 				font-weight: normal;
// 			}
// 		}
// 		.title{
// 			line-height: 20px;
// 			a{
// 				line-height: 20px;
// 				font-size: 16px;
// 				text-indent: -3px;
// 			}
// 		}
// 		.con{
// 			padding-left: 7px;
// 		    line-height: 23px;
// 		    font-size: 13px;
// 		}
// 		.relate{
// 			margin-top: 4px;
// 		    margin-left: 7px;	
// 		}
// 	}
// 	.countdown{
// 		top: 29px;
// 	}
// 	.vote-new{
// 		.tips{
// 			top: 24px!important;
// 		}
// 		.vote-btn{
// 			top: 64px!important;
// 		}
// 	}
// }

@import "component/page";
@import "layout/footer";