parameters:
# user related
    login.listener.class: Jili\ApiBundle\Services\UserLogin
    logout.service.class: Jili\ApiBundle\Services\UserLogout

    soap.mail.listener.class: Jili\ApiBundle\Services\Dmdelivery\Client
    webpower.91wenwen_signup.mailer.class: Jili\ApiBundle\Services\Dmdelivery\Client
    webpower.91wenwen.mailer.class: Jili\ApiBundle\Services\Dmdelivery\Client
 
    user_sign_up_route.class: Jili\ApiBundle\Services\UserSignUpTracer
    user_source.logger.class: Jili\ApiBundle\Services\Logger\UserSourceLogger
    monolog.logger.import_adw_cps.class: Jili\ApiBundle\Services\Logger\ImportAdwCpsLogger
    monolog.processor.session_request.class: Jili\ApiBundle\Services\Session\SessionRequestProcessor

    general_api.task_history.class: Jili\ApiBundle\EventListener\TaskHistory
    general_api.point_history.class: Jili\ApiBundle\EventListener\PointHistory
    points_manager.class: Jili\ApiBundle\Services\Points\Manager

    offerwow_api_return.logger.class: Jili\ApiBundle\EventListener\OfferwowApiLogger
    offerwow_request.validation.class: Jili\ApiBundle\EventListener\OfferwowRequestValidation
    offerwow_request.processor.class:  Jili\ApiBundle\EventListener\OfferwowRequestProcessor

    offer99_api_return.logger.class: Jili\ApiBundle\EventListener\Offer99ApiLogger
    offer99_request.validation.class: Jili\ApiBundle\EventListener\Offer99RequestValidation
    offer99_request.processor.class:  Jili\ApiBundle\EventListener\Offer99RequestProcessor

    bangwoya_api_return.logger.class: Jili\ApiBundle\Services\Bangwoya\BangwoyaApiLogger
    bangwoya_request.validation.class: Jili\ApiBundle\Services\Bangwoya\BangwoyaRequestValidation
    bangwoya_request.processor.class:  Jili\ApiBundle\Services\Bangwoya\BangwoyaRequestProcessor

    duomai_request.validation.class: Jili\ApiBundle\Services\Duomai\DuomaiRequestValidation
    duomai_request.processor.class:  Jili\ApiBundle\Services\Duomai\DuomaiRequestProcessor

    adw_admin.data_confirmed.processor.class: Jili\ApiBundle\Services\AdwAdmin\DataConfirmedProcessor

    rebate_activity.caculator.class: Jili\ApiBundle\EventListener\RebateActivity

    cps_access_history.logger.class: Jili\ApiBundle\EventListener\CpsAccessHistoryFactory
    cps_order.factory.class: Jili\ApiBundle\EventListener\CpsOrderFactory

    check_in.listener.class: Jili\ApiBundle\EventListener\CheckInListener


    point_manage.processor.class:  Jili\ApiBundle\EventListener\PointManageProcessor

    send_mail.class:  Jili\ApiBundle\Service\SendMail

    user_regist.class: Jili\ApiBundle\Services\UserRegist
    user_bind.class: Jili\ApiBundle\Services\UserBind
    user_login.class: Jili\ApiBundle\Services\Weibo\UserLogin
    user_qq_login.class: Jili\ApiBundle\Services\QQLogin
    user_weibo_login.class: Jili\ApiBundle\Services\WeiBoLogin

# session 
    session.task_list.class: Jili\ApiBundle\Services\Session\User\TaskList
    session.my_task_list.class: Jili\ApiBundle\Services\Session\User\MyTaskList
    session.points.class: Jili\ApiBundle\Services\Session\User\Points
    session.user_configs.class: Jili\ApiBundle\Services\Session\User\Configs

# form_handler:
    signup_activate.form_handler.class: Jili\ApiBundle\Form\Handler\SignupActivateHandler

#flow 流量
    flow_mobilevalidate.processor.class:  Jili\ApiBundle\Services\Flow\FlowMobileValidateApiProcessor
    flow_ordercreate.processor.class:  Jili\ApiBundle\Services\Flow\FlowOrderCreateApiProcessor
    flow_order_api_return.logger.class: Jili\ApiBundle\Services\Flow\FlowOrderApiLogger
    flow_order_request.processor.class:  Jili\ApiBundle\Services\Flow\FlowOrderRequestProcessor
# 兑换结果处理
    exchange.processor.class:  Jili\ApiBundle\Services\ExchangeProcess
#AlertToSlack
    alerttoslack.class:  Jili\ApiBundle\Services\AlertToSlack

services:
    login.listener:
        class: %login.listener.class%
        arguments: ["@doctrine.orm.entity_manager"]
        calls:
            - [setContainer, ["@service_container"]]
            - [setTaskList, [ @session.task_list ]]
            - [setUserConfig, [ @session.user_configs]]

    logout_service:
        class: %logout.service.class%
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setContainer, [ @service_container ] ]

    soap.mail.listener:
        class: %soap.mail.listener.class%
        arguments: [ %webpower_soap_uri%,%webpower_email_username%,%webpower_email_password% ]
        calls:
            - [setLogger, ["@logger"]]
            - [ setResultsEmail, [ %cron_alertTo_contacts% ] ]

    webpower.91wenwen.mailer:
        class: %webpower.91wenwen.mailer.class%
        arguments: [ %webpower.91wenwen.soap_uri% , %webpower.91wenwen.username%, %webpower.91wenwen.password% ]
        calls:
            - [setLogger, ["@logger"]]

    webpower.91wenwen_signup.mailer:
        class: %webpower.91wenwen_signup.mailer.class%
        arguments: [ %webpower.91wenwen_signup.soap_uri% , %webpower.91wenwen_signup.username%,%webpower.91wenwen_signup.password% ]
        calls:
            - [setLogger, ["@logger"]]

    user_sign_up_route.listener:
        class: %user_sign_up_route.class%
        arguments: []
        calls:
            - [ setLogger, [ @logger ] ]
            - [ setSession, [ @session ] ]
            - [ setUserSourceLogger, [ @monolog.logger.user_source ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]

    user_source.logger:
        class: %user_source.logger.class%
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger, channel: user_source }

    monolog.logger.import_adw_cps:
        class: %monolog.logger.import_adw_cps.class%
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger, channel: import_adw_cps }

    monolog.formatter.session_request:
        class: Monolog\Formatter\LineFormatter
        arguments:
            - "%%datetime%%\t%%extra.token%%\t%%channel%%\t%%level_name%%\t%%message%%\n"

    monolog.processor.session_request:
        class: %monolog.processor.session_request.class%
        arguments:  ["@session"]
        tags:
            - { name: monolog.processor, method: processRecord, channel: user_source }

    # rebate_activity.point_caculator
    rebate_point.caculator:
        class: %rebate_activity.caculator.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]
        calls:
            - [setContainer, ["@service_container"] ]

    general_api.task_history:
        class: %general_api.task_history.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    points_manager:
        class: %points_manager.class%
        calls:
            - [setLogger, ["@logger"]]
            - [setEntityManager, ["@doctrine.orm.entity_manager"] ]
            - [setPointHistory, ["@general_api.point_history"] ]
            - [setTaskHistory, ["@general_api.task_history"] ]

    general_api.point_history:
        class: %general_api.point_history.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    offerwow_api.init_log:
        class: %offerwow_api_return.logger.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    offerwow_request.validation:
        class: %offerwow_request.validation.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    offerwow_request.processor:
        class: %offerwow_request.processor.class%
        calls:
            - [setContainer, ["@service_container"] ]
            - [setTaskLogger, ["@general_api.task_history"] ]
            - [setPointLogger, ["@general_api.point_history"] ]
            - [setRebatePointCaculator, ["@rebate_point.caculator"] ]

        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    cps_access_history.logger:
        class: %cps_access_history.logger.class%
        calls:
            - [setLogger, ["@logger"] ]
            - [setEntityManager, ["@doctrine.orm.entity_manager"] ]
            - [setContainer, ["@service_container"] ]

    cps_order.factory:
        class: %cps_order.factory.class%
        calls:
            - [setLogger, ["@logger"] ]
            - [setEntityManager, ["@doctrine.orm.entity_manager"] ]
            - [setContainer, ["@service_container"] ]

    offer99_api.init_log:
        class: %offer99_api_return.logger.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    offer99_request.validation:
        class: %offer99_request.validation.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    offer99_request.processor:
        class: %offer99_request.processor.class%
        calls:
            - [setContainer, ["@service_container"] ]
            - [setTaskLogger, ["@general_api.task_history"] ]
            - [setPointLogger, ["@general_api.point_history"] ]
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    bangwoya_api.init_log:
        class: %bangwoya_api_return.logger.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    bangwoya_request.validation:
        class: %bangwoya_request.validation.class%
        arguments: [ %bangwoya_com% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]

    bangwoya_request.processor:
        class: %bangwoya_request.processor.class%
        arguments: [ %bangwoya_com% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ setSendMail, ["@send_mail"] ]

    duomai_request.validation:
        class: %duomai_request.validation.class%
        arguments: [ %duomai_com% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ setValidator, [ @validator ] ]

    duomai_request.processor:
        class: %duomai_request.processor.class%
        arguments: [ %duomai_com% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ setSendMail, ["@send_mail"] ]

    adw_admin.data_confirmed.processor: 
        class: %adw_admin.data_confirmed.processor.class% 
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]

    check_in.listener:
        class: %check_in.listener.class%
        calls:
            - [setContainer, ["@service_container"]]
        arguments: ["@doctrine.orm.entity_manager"]
    point_manage.processor:
        class: %point_manage.processor.class%
        calls:
            - [setContainer, ["@service_container"] ]
            - [setTaskLogger, ["@general_api.task_history"] ]
            - [setPointLogger, ["@general_api.point_history"] ]
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    session.task_list:
        class: %session.task_list.class%
        arguments: [ %cache_config.session.task_list.keys%,%cache_config.session.task_list.duration%  ]
        calls:
            - [ setContainer, [ @service_container ] ]
            - [ setLogger, [ @logger ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]
            - [ setCheckInListener , [ @check_in.listener ] ]

    session.my_task_list:
        class: %session.my_task_list.class%
        arguments: [ %cache_config.session.my_task_list.keys%,%cache_config.session.my_task_list.duration%  ]
        calls:
            - [ setContainer, [ @service_container ] ]
            - [ setLogger, [ @logger ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]

    session.points:
        class: %session.points.class%
        arguments: [ %cache_config.session.points.keys%,%cache_config.session.points.duration%  ]
        calls:
            - [ setLogger, [ @logger ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]

    session.user_configs:
        class: %session.user_configs.class%
        arguments: [ %cache_config.session.user_configs.keys%  ]
        calls:
            - [ setLogger, [ @logger ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]

    signup_activate.form_handler:
        class: %signup_activate.form_handler.class%
        calls:
            - [ setLogger, [ @logger ] ]
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]
            - [ setContainer, [ @service_container ] ]
            - [ setSoapMailListener, [ "@soap.mail.listener" ] ]
            - [ setLoginListener, [ "@login.listener" ] ]


    send_mail:
        class: %send_mail.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]
        calls:
            - [setContainer, ["@service_container"] ]
            - [setMailer, ["@mailer"] ]
            - [setSoapMail, ["@soap.mail.listener"] ]

    user_regist:
        class: %user_regist.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]

    user_bind:
        class: %user_bind.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]

    user_login:
        class: %user_login.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setSession, [ @session ] ]

    user_qq_login:
        class: %user_qq_login.class%
        
    user_weibo_login:
        class: %user_weibo_login.class%

    flow_mobilevalidate.processor:
        class: %flow_mobilevalidate.processor.class%
        arguments: [ %flow% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ alertToSlack, [ @alert_to_slack ] ]

    flow_ordercreate.processor:
        class: %flow_ordercreate.processor.class%
        arguments: [ %flow% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ alertToSlack, [ @alert_to_slack ] ]

    flow_order_api.init_log:
        class: %flow_order_api_return.logger.class%
        arguments: [ "@logger","@doctrine.orm.entity_manager" ]

    flow_order_request.processor:
        class: %flow_order_request.processor.class%
        arguments: [ %flow% ]
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ setSendMail, ["@send_mail"] ]
            - [ setExchange, [ @exchange.processor ] ]
            - [ alertToSlack, [ @alert_to_slack ] ]

    exchange.processor:
        class: %exchange.processor.class%
        calls:
            - [ setEntityManager, [ @doctrine.orm.entity_manager ] ]
            - [ setLogger, [ @logger ] ]
            - [ setContainer, [ @service_container ] ]

    alert_to_slack:
        class: %alerttoslack.class%
        calls:
            - [ setContainer, [ @service_container ] ]

    webpower.91wenwen.mailer:
        class: %webpower.91wenwen.mailer.class%
        arguments: [ %webpower.91wenwen.soap_uri% , %webpower.91wenwen.username%, %webpower.91wenwen.password% ]
        calls:
             - [ setLogger, ["@logger"] ]
             - [ setResultsEmail, [ %cron_alertTo_contacts% ] ]

    webpower.91wenwen_signup.mailer:
        class: %webpower.91wenwen_signup.mailer.class%
        arguments: [ %webpower.91wenwen_signup.soap_uri% , %webpower.91wenwen_signup.username%,%webpower.91wenwen_signup.password% ]
        calls:
             - [ setLogger, ["@logger"] ]
             - [ setResultsEmail, [ %cron_alertTo_contacts% ] ]

