<div class="main-con w1000">
	<div class="main-con-exchange">
		<div class="main-con-finished">
			<div class="con">
				<h2>我们已经收到您的支付宝现金兑换申请！</h2>
				<div class="prompt">
					<p><em>※</em>兑换会在<b>十个工作日内</b>完成支付宝充值（遇周末及节假日顺延），请关注您的<a href="{{ path('wenwen_frontend_personal_exchange') }}">兑换历史</a>，来及时了解兑换状态。<br><em>※</em>如果兑换失败，积分会自动返还到您的91问问帐户。</p>
				</div>
			</div>
    		<div class="tips">
    			<p><b>10s</b>后将为您自动跳转……</p>
    		</div>
    	</div>
	</div>
</div>