{% extends 'WenwenFrontendBundle:Exchange:base.html.twig' %}
{% block title %}{{ parent() }}支付宝兑换{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="main-con">
            	<div class="panel">
					<div class="main-con-exchange form">
						<div class="panel-heading">
							<h2>支付宝现金兑换</h2><br>
						</div>
						<div class="main-con-exchangeInfo panel-body">
							<p class="alipay-tips well"><em>●</em>您是第一次兑换积分，我们需要记录并保存您的身份证号码。<br><em>●</em>请您务必认真填写,该号码将在您兑换成功后自动绑定。</p>
							<div class="text-center">
								<form action="{{ path('_exchange_identityCardComfirm',{'type': type}) }}" method="post" id="form1">
								<ul>
									<li>
										<label for="idCard">您的身份证号：</label>
										<input type="text" id="idCard" name="idCard">
										<span id="idCard_succeed"></span>
										<span id="idCard_error"></span>
									</li>
								</ul>
								<div class="backError idCardError">{% if code is defined %}{{code}}{% endif %}</div>
								<div class="btn spec"><span id="alipay_save">下一步</span></div>
								<input type="hidden" value="{{ tokenKey }}" name="tokenKey" />
								<br><br>
					    		</form>
					    	</div>
				    	</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
