{% extends 'JiliApiBundle::header.html.twig' %}
{% block title %}积粒网-小鸡找米{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript">
	//MDN PolyFil for IE8 (This is not needed if you use the jQuery version)
	if (!Array.prototype.forEach){
		Array.prototype.forEach = function(fun /*, thisArg */){
		"use strict";
		if (this === void 0 || this === null || typeof fun !== "function") throw new TypeError();
		
		var
		t = Object(this),
		len = t.length >>> 0,
		thisArg = arguments.length >= 2 ? arguments[1] : void 0;

		for (var i = 0; i < len; i++)
		if (i in t)
			fun.call(thisArg, t[i], i, t);
		};
	}
</script>
{% endblock %}

{% block body %}
{% if code %}
<div style="text-align: center;padding: 100px 0;">
<img src="{{ asset('images/error_support.gif')}}">
</div>
{% else %}
<div style="margin: 20px auto 20px; text-align:center;">
<iframe frameborder="0" width="1000" height="3500" scrolling="no" src="{{ url | raw }}"></iframe> 
<script type="text/javascript" src="/js/iframeResizer.min.js"></script> 
<script type="text/javascript">
	iFrameResize({
		log                     : true,                  // Enable console logging
		enablePublicMethods     : true,                  // Enable methods within iframe hosted page 
		resizedCallback         : function(messageData){ // Callback fn when message is received
		}
	});
</script>
</div>
{% endif %}

{% endblock %}
