<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<title>{% block title %}91问问管理{% endblock %}</title>

{% block stylesheets %}
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>
{% endblock %}
</HEAD>

<BODY style="margin: 10px 50px 0px 10px;">
{% block body %}{% endblock %}
</body>
</html>


