<div class="main-con-right right">
    <div><a href="{{ path('jili_frontend_vote_suggest') }}"><img src="{{asset('images/vote/prize.jpg')}}" alt=""></a></div>
    <div class="exchange-dynamics">
        <h2>兑换动态</h2>
        {{ render(controller('JiliApiBundle:Top:event') ) }}
    </div>
</div>