{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷结束：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon qnEnd">
        <div class="qnEndTxt">
            <div class="txt"><h2>完成注销手续</h2>
            <div>亲爱的用户，感谢您一直以来参加91问问的调查。</div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}